{% extends "base.html" %}

{% block title %}Class Notes{% endblock %}

{% block content %}

  {% if request.user.type == 'T' %}

    <ul class="nav nav-tabs" role="tablist">
      <li {% block tab1 %}{%endblock%}><a href="{% url 'classnotes:classnotes_list' %}">Home</a></li>
      <li {% block tab2 %}{%endblock%} class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Reports <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="{% url 'classnotes:classnotes_single_trainee' %}">Class Notes Detail</a></li>
          <li><a href="{% url 'classnotes:classnotes_report' %}">Class Notes Reports</a></li>
        </ul>
      </li>
      <li {% block tab3 %}{%endblock%} class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Assign<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="{% url 'classnotes:classnotes_assign' %}">Assign Class Notes</a></li>
        </ul>
      </li>
    </ul>
  {% endif %}

  {% block classnotes_content %}{% endblock %}

{% endblock %}
