{% extends "classnotes/base_classnotes.html" %}

{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}Class Notes{% endblock %}

{% block classnotes_content %}

<form action="" method="post">
  <h3><b>{{classnotes.event.name}}</b> class on <b>{{classnotes.date}}</b></h3>
  {% if classnotes.approved == False %}
  {% csrf_token %}
  {% bootstrap_form form %}
  <button id="save" name="save" type="submit" class="btn btn-success">Save</button>
  <button id="summary_submit" name="submit" disabled="true" type="submit" class="btn btn-success">Submit</button>
  {% else %}
    {{classnotes.content}}
  {% endif %}
  <h4>
    <span class="badge alert-info">
      {{classnotes.date_submitted}}
    </span>
  </h4>
</form>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/Countable.js' %}"></script>
    <script src="{% static 'classnotes/js/summary-wordcount.js' %}"></script>
{% endblock %}