{% extends "classnotes/base_classnotes.html" %}

{% block no-notes %}No class notes to review. Praise the Lord!{% endblock %}


{% load staticfiles %}
{% load common_tags %}

{% block references %}
<link rel="stylesheet" href="{% static "classnotes/css/classnotes.css" %}" />
{% endblock %}

{% block tab1 %} class="active" {% endblock %}

{% block title %}Classnotes{% endblock %}

{% block classnotes_content %}

{% if user|is_trainee %}

<h1> Class Notes</h1>
{% if classnotes_pri|length <= 0 %}
  <div class="well">
    Congratulations, you have no life studies assigned currently!
  </div>
{% endif %}

<div class="panel-group" id="accordion">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">
				Class notes left: <b>{{ classnotes_pri|length }}</b>.
			</h2>
			<span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
		</div>
		<div class="panel-body">
			<ul class="list-group">
			{% for classnotes in classnotes_pri %}
			  <a href="{% url 'classnotes:classnotes_detail' classnotes.pk %}" class="list-group-item col-md-6">
			  	<div class="spacer5"></div>
			    <h3 class="no-top-margin">{{classnotes.event.name}} &mdash; {{classnotes.date}}</h3>
			    <p>{{classnotes.content|truncatechars:300 }}</p>
			    <div>
	          <span class="badge alert-info">{{classnotes.date_submitted}}</span>
	          {% if classnotes.approved %}
	         	<span class="badge alert-success">approved</span>
	          {% elif classnotes.pending %}
	          <span class="badge alert-warning">pending</span>
	          {% else %}
	           <span class="badge alert-danger">not approved</span>
	          {% endif %}
	          {% if classnotes.fellowship %}
	           <span class="badge alert-warning">marked for fellowship</span>
	          {% endif %}
	          <div class="pull-right">
	            {% if classnotes.approved == False %}
	            <form action="{% url 'classnotes:classnotes_detail' classnotes.pk %}" method="get">
	            	{% csrf_token %}
	              <button type="submit" class="btn btn-success btn-xs">Edit</button>
	            </form>
	            {% endif %}        
	          </div>
			    </div>
			  </a>
			  {% endfor %}
			</ul>
		</div>
	</div>
</div>

<div class="panel-group" id="accordion">
  <div class="panel panel-info">
    <div class="panel-heading">
			<h2 class="panel-title">
				Pending Class Notes: <b>{{ classnotes_pending|length }}</b>.
			</h2>
			<span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
		</div>
		<div class="panel-body">
			<ul class="list-group">
			{% for classnotes in classnotes_pending %}
				<a href="{% url 'classnotes:classnotes_detail' classnotes.pk %}" class="list-group-item col-md-6">
			  	<div class="spacer5"></div>
			    <h3 class="no-top-margin">{{classnotes.event.name}} &mdash; {{classnotes.date}}</h3>
			    <p>{{classnotes.content|truncatechars:300 }}</p>
			    <div>
		        <span class="badge alert-info">{{classnotes.date_submitted}}</span>
		        <span class="badge alert-warning">pending</span>
			    </div>
		    </a>
			  {% endfor %}
			</ul>
		</div>
  </div>
</div>

<div class="panel-group" id="accordion">
  <div class="panel panel-success">
    <div class="panel-heading">
			<h2 class="panel-title">
				Approved Class Notes: <b>{{ classnotes_approved|length }}</b>.
			</h2>
			<span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
		</div>
    <div class="panel-body">
			<ul class="list-group">
			{% for classnotes in classnotes_approved %}
			  <a href="{% url 'classnotes:classnotes_detail' classnotes.pk %}" class="list-group-item col-md-6">
			  	<div class="spacer5"></div>
			    <h3 class="no-top-margin">{{classnotes.event.name}} &mdash; {{classnotes.date}}</h3>
			    <p>{{classnotes.content|truncatechars:300 }}</p>
			    <div>
	          <span class="badge alert-info">{{classnotes.date_submitted}}</span>
	         	<span class="badge alert-success">approved</span>    
	        </div>
			  </a>
			  {% empty %}
			  <div class="alert alert-warning"><i>You have not completed any Class notes.</i></div>
			  {% endfor %}
			</ul>
		</div>
  </div>
</div>



{% elif user.type == 'T' %}
<div class="panel-group" id="accordion">
	<div class="panel panel-default">
		<div class="panel-heading">
  <h2> Class Notes TA View </h2>

  <form role="form" action="{% url 'classnotes:classnotes_list' %}" method="post">
    {% csrf_token %}

    <table class="table table-hover table-condensed" id="mytable">

      <thead>
        <tr>
          <th><input type="checkbox" id="checkall" /></th>
          <th> Edit </th>
          <th> Name </th>
          <th> Date Assigned </th>
          <th> Due Date </th>  
          <th> Unapproved</th>
          <th> Approved</th>
        </tr>
      </thead>

      <tbody>
        {% for classnotes in classnotes_list %}
        {% if classnotes.pending == True or classnotes.fellowship == True %}
        <tr>
          <td><input type="checkbox" name="selection" value="{{classnotes.pk}}"></input></td>
          <td>
            <a href="{% url 'classnotes:classnotes_approve' classnotes.pk %}" class="btn btn-primary btn-xs" role="button">
              <span class="glyphicon glyphicon-pencil"></span>
            </a>
          </td>
          <td>{{classnotes.trainee.firstname}} {{classnotes.trainee.lastname|slice:"1"}}.</td>
          <td>{{classnotes.date_assigned | date:"m/d/y"}}
            <td>{{classnotes.date_due | date:"m/d/y"}}</td>
            <td>
              {% if classnotes.approved == False %}
              <a href="{% url 'classnotes:classnotes_approve' classnotes.pk %}" class="tooltip-submit-date" data-toggle="tooltip" data-placement="top" title="{{classnotes.date_submitted | date:"m/d/y"}}">
                {% if classnotes.fellowship %}
                  <span class="glyphicon glyphicon-file text-warning"></span>
                {% else %}
                  <span class="glyphicon glyphicon-file"></span>
                {% endif %}
              </a>
              {% endif %}
            </td>
            <td>
              {% if classnotes.approved == True %}
              <a href="{% url 'classnotes:classnotes_approve' classnotes.pk %}" class="tooltip-submit-date" data-toggle="tooltip" data-placement="top" title="{{classnotes.date_submitted | date:"m/d/y"}}">
                  <span class="glyphicon glyphicon-file text-success"></span>
              </a>
              {% endif %}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>

      </table>
      <p class="col-lg-6 well legend">
        <b>N</b>o || <b>L</b>EGEND || <b>Y</b>ET
      </p>
      <div class="pull-right">
        <button type="submit" name="approve" class="btn btn-success">Approve Selected</button>
        <button type="submit" name="fellowship" class="btn btn-warning">Mark for Fellowship Selected</button>
        <button type="submit" name="delete" class="btn btn-danger">Delete Selected</button>
      </div>
    </form>
    {% endif %}
    {% endblock %}

    {% block scripts %}
    <script type="text/javascript" src="{% static "classnotes/js/collapse-panel.js" %}"></script>
    <script type="text/javascript" src="{% static "classnotes/js/click-all.js" %}"></script>
    <script type="text/javascript" src="{% static "classnotes/js/checkboxes.js" %}"></script>
    <script type="text/javascript" src="{% static "classnotes/js/tooltip-submit-date.js" %}"></script>
    <script type="text/javascript" src="{% static "classnotes/js/ajax-api-binding.js" %}"></script>

    {% endblock %}
