{% extends "classnotes/generic_list.html" %}

{% load bootstrap3 %}
{% load staticfiles %}

{% block classnotes_content %}
	Class Notes for
	{% bootstrap_label classdate %}

	{% bootstrap_label classname %}

	<form action="" method="post">
		{% bootstrap_form form %}
		{% csrf_token %}
		<button type="submit" disabled="true" id="summary_submit" name="" class="btn btn-success">Submit</button>
	</form>
{% endblock %}

{% block scripts %}
	<script src="{% static 'classnotes/js/summary-wordcount.js' %}"></script>
{% endblock %}
