{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load common_tags %}
{% bootstrap_messages %}
{% block title %}Bible Tracker{% endblock %}
{% block references %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'bible_tracker/css/style.css' %}" />

<style>
#first-year-prog {
  width: {{first_year_progress}}%;
}
#second-year-prog {
  width: {{second_year_progress}}%;
}

/* Fix hover bug on mobile */

label.btn-primary:hover, label.btn-primary:focus, label.btn-primary:active, label.btn-primary:visited {
  color: #fff;
  background-color: #337ab7 !important;
  border-color: #2e6da4 !important;
}

label.btn-primary.active:hover, label.btn-primary.active:focus, label.btn-primary.active:active,
label.btn-primary.active:visited {
  color: #fff;
  background-color: #286090 !important;
  border-color: #204d74 !important;
}

</style>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/bootstrap-tab-history.js' %}"></script>
<script type="text/javascript">
/****** START UP ******/
  //Util functions
  var is_TA = JSON.parse("{{user|is_TA|yesno:"true,false"}}")
  var is_trainee = JSON.parse("{{user|is_trainee|yesno:"true,false"}}")
  var first_year_progress = {{first_year_progress}};
  var second_year_progress = {{second_year_progress}};
  var first_day_term = "{{start_date}}";
  var weekly_status = "{{weekly_status}}";
  var second_year_checked_list = {{second_year_checked_list}};
  var first_year_checked_list = {{first_year_checked_list}};
  var finalized = "{{finalized}}";
  var index_url = "{% url 'bible_tracker:index' %}";
  var update_books_url = "{% url 'bible_tracker:updateBooks' %}";
  var change_week_url = "{% url 'bible_tracker:changeWeek' %}";
  var update_status_url = "{% url 'bible_tracker:updateStatus' %}";
  var finalize_status_url = "{% url 'bible_tracker:finalizeStatus' %}";
  var forced = "{{bible_tracker_forced}}";
  var weeks_in_term = 20;
  var current_week = {{current_week}};
  var users = {{ trainees_bb|safe }};
    var userNames = {};
    var userList = [];
    for (var i = 0; i < users.length; i++) {
      userList.push({
        value: users[i].firstname + ' ' + users[i].lastname,
        id: users[i].id
      });
    }

  function setWeeks(){
    var firstDayofWeek = moment(first_day_term, "YYYYMMDD");
    var lastDayofWeek = firstDayofWeek.clone().add(6,'days');
    for (i = 0; i <= current_week; i++) {
      $("#select_menu").append($("<option />").val("week-"+i).text("Week "+i+": "+firstDayofWeek.format("ddd MMM D")+" - "+lastDayofWeek.format("ddd MMM D")).attr('id',i));
      firstDayofWeek = lastDayofWeek.add(1,'day');
      lastDayofWeek = firstDayofWeek.clone().add(6,'days');
    }
  }

  function setDatesforWeek(week){
    enableButtons();
    var firstDay = moment(first_day_term, "YYYYMMDD");
    var firstDayofWeek = firstDay.add(week,'weeks');
    var WedofNextWeek = firstDayofWeek.clone().add(9, 'days');
    var lastDayofWeek = firstDayofWeek.clone().add(6, 'days');
    var currentDayofWeek = firstDayofWeek.clone();
    var now = moment();
    for (var i = 0; i < 7; i++) {
      $("#day-"+i).html(currentDayofWeek.format("ddd - MMM D"));
      currentDayofWeek.add(1,'days');
    }
    //finalize is disabled on Wednesday of next week (with HH:mm of 00:00) or before week is over (Sunday midnight+20 minutes)
    if (is_trainee && (now > WedofNextWeek || now < lastDayofWeek.clone().add(20, 'minutes'))){
      $("#finalize").prop('disabled', true);
    }
    //save button is disabled for more than this week's Bible reading
    if (is_trainee && lastDayofWeek >= now.clone().add(6, 'days')){
      $("#save").prop('disabled', true);
    }
  }

  function disableButtons(){
    $("#save").prop('disabled', true);
    $("#finalize").prop('disabled', true);
    $(".btn-group label").attr("disabled", true);
    $(".btn-group :input").attr("disabled", true);
  }

  function enableButtons(){
    $("#save").prop('disabled', false);
    $("#finalize").prop('disabled', false);
    $(".btn-group label").attr("disabled", false);
    $(".btn-group :input").attr("disabled", false);
  }

  function modify_boxes(classname){
    var x = document.getElementsByClassName(classname)[0];
    x.setAttribute("checked", "true");
  }

  function updateProgressBar(selector, data) {
    $(selector).css('width', data + '%');
    $(selector).html(data+"%");
    $(selector).attr("aria-valuenow", data);
  }

  /****** METHODS FOR DAILY BIBLE READING ******/
  /****** METHODS FOR FIRST AND SECOND YEAR BIBLE READING ******/
  function changeWeek() {
    var weekid = $("#select_menu").find('option:selected').attr('id');
    var userId = $("input#userId").val();
    var url = '/bible_tracker/?week=' + weekid
    history.pushState({urlPath: url},"", url)
     $('.btn.btn-primary.active').removeClass('active');

     $.ajax({
      type:"GET",
      url: change_week_url,
      dataType: 'json',
      data: {
        'week': weekid,
        csrfmiddlewaretoken:'{{ csrf_token }}',
        'userId': userId,
        'forced': forced,
      },
      success: function(data){
        var obj = JSON.parse(data);
        var status = obj.status;
        var finalized = obj.finalized;

        setDatesforWeek(parseInt(weekid));
        var res = status.split("");
        for (i = 0; i < res.length; i++) {
          $('#status-day-'+i).find("input#"+res[i]).parent().addClass("active");
        }
        if (finalized == "Y"){
          $("#unfinalize").prop('disabled', false);
          disableButtons();
        }
        if (finalized == "N"){
          $("#save").prop('disabled', false);
          $(".btn-group label").attr("disabled", false);
          $(".btn-group :input").attr("disabled", false);
          $("#unfinalize").prop('disabled', true);
        }

        if (forced == "True") {
          $("#finalize").prop('disabled', false);
        }
      },
    });
  }

  function updateStatus(finalize){
    var weekly_status = ''
    for (i = 0; i < 7; i++) {
      day_status = $('#status-day-'+ i +' label.active input').val();

      if (day_status == null){
        weekly_status += '_';
      }
      else{
        weekly_status += day_status;
      }
    }
    var week_id =  $('#select_menu').find(":selected").attr('id');
    var userId = $("input#userId").val();
    $.ajax({
      type:"POST",
      url: update_status_url,
      data: {
        'week_id':week_id,
        'weekly_status':weekly_status,
        csrfmiddlewaretoken: '{{ csrf_token }}',
        'userId':userId,
      },
      success: function(data){
        flashAjaxStatus('saved');
      },
    });
  }

  function finalizeStatus(){
    var confirmed = confirm("Are you sure you want to finalize bible reading for this week? You will not be able to edit afterwards.");
    if (confirmed) {
      var week_id =  $('#select_menu').find(":selected").attr('id');
      var userId = $("input#userId").val();
      $.ajax({
        type:"POST",
        url: finalize_status_url,
        data: {
          'week_id':week_id,
          csrfmiddlewaretoken: '{{ csrf_token }}',
          'action' : 'finalize',
          'userId': userId,
          'forced': forced,
        },
        success: function(data){
          flashAjaxStatus('finalized');
          disableButtons();
          $("#unfinalize").prop('disabled', false);
        },
        error: function(data) {
          alert("Cannot finalize at this time");
        }
      });
    } else {
      //makes sure button does not stay pressed
      $("#finalize").blur();
    }
  }

  function unfinalizeStatus(){
    var week_id =  $('#select_menu').find(":selected").attr('id');
    var userId = $("input#userId").val();
    $.ajax({
      type:"POST",
      url: finalize_status_url,
      data: {
        'week_id':week_id,
        csrfmiddlewaretoken: '{{ csrf_token }}',
        'action' : 'unfinalize',
        'userId': userId,
      },
      success: function(data){
        enableButtons();
        $("#unfinalize").prop('disabled', true);
      },// success
      error: function(data){
        alert("Sorry, there was an error processing this request."); // <- this should run if user is not activated
      } // error
    });
  }


  function toggleCheckbox(classname, id, year) {
    var checked = document.getElementsByClassName(classname)[0].checked;
    var userId = $("input#userId").val();
    $.ajax({
      type:"POST",
      url: update_books_url,
      data: {
        'book':id,
        'year': year,
        'checked': checked,
        csrfmiddlewaretoken: '{{ csrf_token }}',
        'userId': userId,
      },
      success: function(data){
        flashAjaxStatus(checked ? 'saved' : 'deleted');
        if(year==1) {
          updateProgressBar('#first-year-prog', data);
        } else if(year==2) {
          updateProgressBar('#second-year-prog', data);
        }
      }
    });
  }

  $( document ).ready(function() {
    var currentTrainee = "{{trainee.full_name}}";
    $("input#userName").val("{{trainee.full_name}}").trigger("change");
    $('#userId').val({{trainee.id}});
    $("#userName").autocomplete({
      lookup: userList,
      autoSelectFirst: true,
      onSelect: function(suggestion) {
        if (suggestion.value != currentTrainee) {
          $('#userId').val(suggestion.id);
          $('#switch-user-form').submit();
        }
      }
    });
    setWeeks();
    $("#select_menu option[id='{{ current_week }}']").attr("selected", "selected");
    setDatesforWeek({{ current_week }});

    for (var i = 0, len = weekly_status.length; i < len; i++) {
      $('#status-day-'+i).find("input#"+weekly_status[i]).parent().addClass("active");
    }

    for (var i = 0, len = first_year_checked_list.length; i < len; i++) {
    modify_boxes("first-year"+first_year_checked_list[i]);
    }

    for (var i = 0, len = second_year_checked_list.length; i < len; i++) {
      modify_boxes("second-year"+second_year_checked_list[i]);
    }

    $(document).on('change','#select_menu', changeWeek);
    $('#save').click(updateStatus);
    $('#unfinalize').click(unfinalizeStatus);

    $('#finalize').click(function(){
      finalizeStatus()
    });

    $('#first-year-bible-reading :checkbox').change(function() {
      toggleCheckbox($(this).attr('class'), $(this).attr("id"), 1);
    });

    $('#second-year-bible-reading :checkbox').change(function() {
      toggleCheckbox($(this).attr('class'), $(this).attr("id"), 2);
    });

    if (finalized == "Y") {
      disableButtons();
    }

    if (finalized == "N" && is_TA) {
      $("#finalize").prop('disabled', false);
      $("#unfinalize").prop('disabled', true);
    }

    //if url parameter for week is added(i.e. ?week=13), opens to that week
    var week = new URL(window.location.href).searchParams.get('week') || current_week;
    $("#select_menu option:selected").removeAttr("selected");
    $("#select_menu option[id='" + week + "']").attr("selected", "selected");
    setDatesforWeek(week);
    changeWeek();

    if (forced == "True") {
      alert('Please fill out and finalize the Bible Reading Tracker for week ' + week + ' before moving on to other tasks. Thanks!');
    }

  });
</script>
{% endblock %}

{% block content %}

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#daily-bible-reading" aria-controls="home" role="tab" data-toggle="tab">Daily</a></li>
  <li role="presentation"><a href="#first-year-bible-reading" aria-controls="profile" role="tab" data-toggle="tab">1st Year</a></li>
  <li role="presentation"><a href="#second-year-bible-reading" aria-controls="messages" role="tab" data-toggle="tab">2nd Year</a></li>
  {% if user|is_TA %}
    <li role="presentation"><a href="{% url 'bible_tracker:report' %}">Report</a></li>
  {% endif %}
</ul>

<!-- TAB PANES -->
<div class="tab-content">

  <!-- DAILY BIBLE READING -->
  <div id="daily-bible-reading" class="bible-reading tab-pane active" role="tabpanel" >
    <div class="col-sm-12">
      <div class="col-sm-6">
        {% if request.user.type == 'T' %}
          <form id="switch-user-form" method="get">
            {% csrf_token %}
            <label for="userName">Trainee</label>
            <input type="text" class="form-control" id="userName" maxlength="100"/>
            <input type="hidden" name="userId" id="userId">
          </form>
        {% endif %}
      </div>
    </div>
    <div class="col-sm-6">
      <!-- Pick a week of a term -->
       <b>Week:</b> <select id="select_menu" class="form-control" name="week" size="0" >
      </select>
      <br>
      <br>
      <!-- Bible Reading Table -->
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-highlight">
          {% for date in weekly_status%}
            <tr>
              <th id="day-{{ forloop.counter0 }}"></th>
              <td>
                <div class="btn-group" data-toggle="buttons" id="status-day-{{forloop.counter0}}">
                  <label class="btn btn-primary btn-status">
                    <input type="radio" name="options-{{forloop.counter0}}" id="C" value='C'>C
                  </label>
                  <label class="btn btn-primary btn-status" >
                    <input type="radio" name="options-{{forloop.counter0}}" id="M" value='M'>M
                  </label>
                  <label class="btn btn-primary btn-status">
                    <input type="radio" name="options-{{forloop.counter0}}" id="N" value='N'>N
                  </label>
                </div>
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
      <input class="btn btn-default" type="submit" name="save" Value="Save" id='save'>
      <input class="btn btn-default" type="submit" name="finalize" Value="Finalize" id='finalize'>
      {% if request.user.type == 'T' %}
      <input class="btn btn-default" type="submit" name="unfinalize" Value="Unfinalize" id='unfinalize'>
      {% endif %}
    </div>
    <br>
    <br>
    <!-- Description -->
    <div class ="col-sm-6">
      <p>Valid Statuses: <b><u>C</u></b>ompleted, <b><u>M</u></b>ake-up, <b><u>N</u></b>ot Read</p>
      <p>
        C: I <b>completed</b> 20 minutes of Bible reading for selected date. <br>
        M: I <b>made up</b> 20 minutes of Bible reading for selected date. <br>
        N: I did <b>not</b> complete 20 minutes of Bible reading for selected date.
      </p>
      <br>

    </div>
    <!-- Save and Finalize buttons -->
  </div>

  <!-- FIRST YEAR BIBLE READING PAGE -->
  <div id="first-year-bible-reading" class="bible-reading tab-pane" role="tabpanel">
    <div class="progress">
      <div id="first-year-prog" class="progress-bar" role="progressbar" aria-valuenow="{{ first_year_progress }}" aria-valuemin="0" aria-valuemax="100">{{first_year_progress}}%</div>
    </div>
    <div class="old-testament">
      <h4>Old Testament</h4>
      {% for choice in bible_books_list|slice:":39" %}
        <label>
          <input class="first-year{{ forloop.counter0 }}" type="checkbox"  name="book" id="{{ forloop.counter0 }}" value="{{ forloop.counter0 }}" /> {{ choice }}
        </label>
        <br>
      {% endfor %}
    </div>
    <div class="new-testament">
      <h4>New Testament</h4>
      {% for choice in bible_books_list|slice:"39:" %}
        <label>
          <input class="first-year{{ forloop.counter0|add:39 }}" type="checkbox" name="book" id="{{ forloop.counter0|add:39 }}" value="{{ forloop.counter0|add:39 }}" /> {{ choice }}
        </label>
        <br>
      {% endfor %}
    </div>
  </div>

  <!-- SECOND YEAR BIBLE READING PAGE -->
  <div id="second-year-bible-reading" class="bible-reading tab-pane" role="tabpanel">
    <div class="progress">
      <div id="second-year-prog" class="progress-bar progress-bar-second" role="progressbar" aria-valuenow="{{ second_year_progress }}" aria-valuemin="0" aria-valuemax="100">{{ second_year_progress }}%</div>
    </div>
    <div class = "new-testament">
      <h4>New Testament</h4>
      {% for choice in bible_books_list|slice:"39:" %}
        <label>
          <input class="second-year{{ forloop.counter0|add:39 }}" type="checkbox" name="book" id="{{ forloop.counter0|add:39}}" value="{{ forloop.counter0|add:39 }}" /> {{ choice }} (notes)
        </label>
        <br>
      {% endfor %}
    </div>
  </div>

</div>

{% endblock %}
