{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load common_tags %}
{% bootstrap_messages %}
{% block title %}Bible Tracker{% endblock %}
{% block references %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'bible_tracker/css/style.css' %}" />

<style>
#first-year-prog {
  width: {{first_year_progress}}%;
}
#second-year-prog {
  width: {{second_year_progress}}%;
}

/* Fix hover bug on mobile */

label.btn-primary:hover, label.btn-primary:focus, label.btn-primary:active, label.btn-primary:visited {
  color: #fff;
  background-color: #337ab7 !important;
  border-color: #2e6da4 !important;
}

label.btn-primary.active:hover, label.btn-primary.active:focus, label.btn-primary.active:active,
label.btn-primary.active:visited {
  color: #fff;
  background-color: #286090 !important;
  border-color: #204d74 !important;
}

</style>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/bootstrap-tab-history.js' %}"></script>
<script type="text/javascript" src="{% static 'bible_tracker/js/bible_reading.js' %}"></script>
<script type="text/javascript">
/****** START UP ******/

  // variables used in index and bible_tracker page
  var currentWeek = "{{current_week}}";
  var changeWeekUrl = "{% url 'bible_tracker:changeWeek' %}";
  var updateStatusUrl = "{% url 'bible_tracker:updateStatus' %}";
  var updateBooksUrl = "{% url 'bible_tracker:updateBooks' %}";
  var finalizeStatusUrl = "{% url 'bible_tracker:finalizeStatus' %}";
  var finalized = "{{finalized}}";
  var traineeId = "{{trainee.id}}";

  // variables exclusive for bible_tracker page
  var is_TA = JSON.parse("{{user|is_TA|yesno:"true,false"}}")
  var isTrainee = JSON.parse("{{user|is_trainee|yesno:"true,false"}}")
  var first_year_progress = '{{first_year_progress}}';
  var second_year_progress = '{{second_year_progress}}';
  var first_day_term = "{{start_date}}";
  var weekly_status = "{{weekly_status}}";
  var first_year_checked_list = {{first_year_checked_list}};
  var second_year_checked_list = {{second_year_checked_list}};
  var index_url = "{% url 'bible_tracker:index' %}";
  var forced = "{{bible_tracker_forced}}";
  var weeks_in_term = 20;
  var users = {{ trainees_bb|safe }};
    var userNames = {};
    var userList = [];
    for (var i = 0; i < users.length; i++) {
      userList.push({
        value: users[i].firstname + ' ' + users[i].lastname,
        id: users[i].id
      });
    }

  $(document).ready(function() {
    $('body').on('click', '.btn-group .btn[disabled="disabled"]', function(event) {
      return false;
    });
    $('body').on('click', '.btn-group .btn.active', function(e) {
       e.preventDefault();
       e.stopImmediatePropagation();
       $(this).find('input').removeAttr('checked');
       $(this).removeClass('active');
    });

    var currentTrainee = "{{trainee.full_name}}";
    $("input#userName").val("{{trainee.full_name}}").trigger("change");
    $('#userId').val({{trainee.id}});
    $("#userName").autocomplete({
      lookup: userList,
      autoSelectFirst: true,
      onSelect: function(suggestion) {
        if (suggestion.value != currentTrainee) {
          $('#userId').val(suggestion.id);
          $('#switch-user-form').submit();
        }
      }
    });
    setWeeks();
    $("#week_select option[id='{{ current_week }}']").attr("selected", "selected");
    setDatesforWeek({{ currentWeek }});

    for (var i = 0, len = weekly_status.length; i < len; i++) {
      $('#status-day-'+i).find("input#"+weekly_status[i]).parent().addClass("active");
    }

    for (var i = 0, len = first_year_checked_list.length; i < len; i++) {
    modifyBoxes("first-year"+first_year_checked_list[i]);
    }

    for (var i = 0, len = second_year_checked_list.length; i < len; i++) {
      modifyBoxes("second-year"+second_year_checked_list[i]);
    }

    $(document).on('change','#week_select', changeWeek);
    $('#save').click(function() {
      updateStatus(false);
    });

    $('#unfinalize').click(unfinalizeStatus);

    $('#finalize').click(function(){
      if (getStatus().indexOf('_') >= 0) {
        new Notification(Notification.ERROR, "Please fill out this week completely before finalizing.").show();
        return;
      }
      updateStatus(true);
    });

    $('#first-year-bible-reading :checkbox').change(function() {
      toggleCheckbox($(this).attr('class'), $(this).attr("id"), 1);
    });

    $('#second-year-bible-reading :checkbox').change(function() {
      toggleCheckbox($(this).attr('class'), $(this).attr("id"), 2);
    });

    if (finalized == "Y") {
      disableButtons();
    }

    if (finalized == "N" && is_TA) {
      $("#finalize").prop('disabled', false);
      $("#unfinalize").prop('disabled', true);
    }

    //if url parameter for week is added(i.e. ?week=13), opens to that week
    var week = new URL(window.location.href).searchParams.get('week') || currentWeek;
    $("#week_select option:selected").removeAttr("selected");
    $("#week_select option[id='" + week + "']").attr("selected", "selected");
    setDatesforWeek(week);
    changeWeek();

    if (forced == "True") {
      new Notification(Notification.ERROR, 'Please fill out and finalize the Bible Reading Tracker for week ' + week + ' before moving on to other tasks. Thanks!').show();
    }

  });
</script>
{% endblock %}

{% block content %}

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#daily-bible-reading" aria-controls="home" role="tab" data-toggle="tab">Daily</a></li>
  <li role="presentation"><a href="#first-year-bible-reading" aria-controls="profile" role="tab" data-toggle="tab">1st Year</a></li>
  <li role="presentation"><a href="#second-year-bible-reading" aria-controls="messages" role="tab" data-toggle="tab">2nd Year</a></li>
  {% if user|is_TA %}
    <li role="presentation"><a href="{% url 'bible_tracker:report' %}">Report</a></li>
  {% endif %}
</ul>

<!-- TAB PANES -->
<div class="tab-content">

  <!-- DAILY BIBLE READING -->
  <div id="daily-bible-reading" class="bible-reading tab-pane active" role="tabpanel" >
    <div class="col-sm-12">
      <div class="col-sm-6">
        {% if request.user.type == 'T' %}
          <form id="switch-user-form" method="get">
            {% csrf_token %}
            <label for="userName">Trainee</label>
            <input type="text" class="form-control" id="userName" maxlength="100"/>
            <input type="hidden" name="userId" id="userId">
          </form>
        {% endif %}
      </div>
    </div>
    <div class="col-sm-6">
      <!-- Pick a week of a term -->
       <b>Week:</b> <select id="week_select" class="form-control" name="week" size="0" >
      </select>
      <br>
      <br>
      <!-- Bible Reading Table -->
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-highlight">
          {% for date in weekly_status%}
            <tr>
              <th id="day-{{ forloop.counter0 }}"></th>
              <td>
                <div class="btn-group" data-toggle="buttons" id="status-day-{{forloop.counter0}}">
                  <label class="btn btn-primary btn-status">
                    <input type="radio" name="options-{{forloop.counter0}}" id="C" value='C'>C
                  </label>
                  <label class="btn btn-primary btn-status" >
                    <input type="radio" name="options-{{forloop.counter0}}" id="M" value='M'>M
                  </label>
                  <label class="btn btn-primary btn-status">
                    <input type="radio" name="options-{{forloop.counter0}}" id="N" value='N'>N
                  </label>
                </div>
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
      <input class="btn btn-default" type="submit" name="save" Value="Save" id='save'>
      <input class="btn btn-default" type="submit" name="finalize" Value="Finalize" id='finalize'>
      {% if request.user.type == 'T' %}
      <input class="btn btn-default" type="submit" name="unfinalize" Value="Unfinalize" id='unfinalize'>
      {% endif %}
    </div>
    <br>
    <br>
    <!-- Description -->
    <div class ="col-sm-6">
      <p>Valid Statuses: <b><u>C</u></b>ompleted, <b><u>M</u></b>ake-up, <b><u>N</u></b>ot Read</p>
      <p>
        C: I <b>completed</b> 20 minutes of Bible reading for selected date. <br>
        M: I <b>made up</b> 20 minutes of Bible reading for selected date. <br>
        N: I did <b>not</b> complete 20 minutes of Bible reading for selected date.
      </p>
      <br>

    </div>
    <!-- Save and Finalize buttons -->
  </div>

  <!-- FIRST YEAR BIBLE READING PAGE -->
  <div id="first-year-bible-reading" class="bible-reading tab-pane" role="tabpanel">
    <div class="progress">
      <div id="first-year-prog" class="progress-bar" role="progressbar" aria-valuenow="{{ first_year_progress }}" aria-valuemin="0" aria-valuemax="100">{{first_year_progress}}%</div>
    </div>
    <div class="old-testament">
      <h4>Old Testament</h4>
      {% for choice in bible_books_list|slice:":39" %}
        <label>
          <input class="first-year{{ forloop.counter0 }}" type="checkbox"  name="book" id="{{ forloop.counter0 }}" value="{{ forloop.counter0 }}" /> {{ choice }}
        </label>
        <br>
      {% endfor %}
    </div>
    <div class="new-testament">
      <h4>New Testament</h4>
      {% for choice in bible_books_list|slice:"39:" %}
        <label>
          <input class="first-year{{ forloop.counter0|add:39 }}" type="checkbox" name="book" id="{{ forloop.counter0|add:39 }}" value="{{ forloop.counter0|add:39 }}" /> {{ choice }}
        </label>
        <br>
      {% endfor %}
    </div>
  </div>

  <!-- SECOND YEAR BIBLE READING PAGE -->
  <div id="second-year-bible-reading" class="bible-reading tab-pane" role="tabpanel">
    <div class="progress">
      <div id="second-year-prog" class="progress-bar progress-bar-second" role="progressbar" aria-valuenow="{{ second_year_progress }}" aria-valuemin="0" aria-valuemax="100">{{ second_year_progress }}%</div>
    </div>
    <div class = "new-testament">
      <h4>New Testament</h4>
      {% for choice in bible_books_list|slice:"39:" %}
        <label>
          <input class="second-year{{ forloop.counter0|add:39 }}" type="checkbox" name="book" id="{{ forloop.counter0|add:39}}" value="{{ forloop.counter0|add:39 }}" /> {{ choice }} (notes)
        </label>
        <br>
      {% endfor %}
    </div>
  </div>

</div>

{% endblock %}
