{% load bootstrap3 %}

<head>
  <script>
    $(document).ready(function() {
      {% if popups %}
      $('#announcement_popup').modal('show');
      {% endif %}

      var checks = $('.mark-read');
      $('#mark-all').click(function() {
        checks.each(function(index, elem) {
          $.get(elem.href, function(data) {
            if (index === checks.length - 1) {
              // last one
              location.reload(true);
            }
          });
        });
      });
    });

  </script>
</head>

<body>
    <div id="announcement_popup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="in_class_popup" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">You have unread announcement(s)</h4>
                </div>
                <div class="modal-body">
                  {% for popup in popups %}
                    {% include 'popups/announcement_item.html' %}
                  {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Dismiss</button>
                    <button type="button" class="btn btn-primary" id="mark-all">Mark all as read</button>
                </div>
            </div>
        </div>
    </div>
</body>
