{% load bootstrap3 %}

<head>

  <script type="text/javascript" src="/static/js/worker_select.js"></script>

</head>

{% comment %}
This script is included from TraineeSelect2MultipleInput in accounts/widgets.py.
Because that widget can be used anywhere, we don't have a way to place this modal
in the top level in the document body, outside any other forms, etc. (Can't have
a form within a form). So we use javascript instead to append this string.
(see trainee_select.js)
{% endcomment %}

<script>
var TRAINEE_SELECT_MODAL_HTML = `
  <!-- add the display: none to fix the modal blocking the page -->
  <!-- necessary because Django Suit uses an outdated Bootstrap version -->
  <div id="trainee_select" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="trainee_select_form" aria-hidden="true" style="display: none">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="trainee_select_form_label">Add Trainee Group</h4>
        </div>
        <div class="modal-body">
          <form id="trainee_select_form" action="" method="post">
            {% bootstrap_form trainee_select_form %}
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary" id="add_trainees" form="trainee_select_form">Add Workers</button>
        </div>
      </div>
    </div>
  </div>
`
</script>
