<script>
  var Events = {{ events_bb|safe }};
  var GroupEvents = {{ groupevents_bb|safe }};
  var Rolls = {{ rolls_bb|safe}};
  var IndividualSlips = {{ individualslips_bb|safe }};
  var GroupSlips = {{ groupslips_bb|safe }};
  var Trainee = {{ trainee_bb|safe }};
  var Trainees = {{ trainees_bb|safe }};
  var TAs = {{ TAs_bb|safe }};
  var Term = {{ term_bb|safe }};
  var AM_GROUPS = {{ am_groups|safe }};
  {% if show %}
    var Show = '{{show}}';
  {% endif %}
  {% if disablePeriodSelect %}
    var DisablePeriodSelect = {{ disablePeriodSelect }};
  {% endif %}
  {% if Today %}
    var Today = moment('{{Today}}', 'MM/DD/YYYY');
  {% endif %}
  {% if SelectedEvents %}
    var SelectedEvents = {{ SelectedEvents|safe }};
  {% endif %}
  {% if actual_user %}
    var User = {{ actual_user | safe }};
  {% else %}
    var User = null;
  {% endif %}
  {% if isTAView %}
    var isTAView = {{ isTAView }};
  {% else %}
    var isTAView = false;
  {% endif %}

  // form fields
  {% if id %}
    var Id = {{ id }};
  {% endif %}
  {% if groupslip_trainees %}
    var GroupSlipTrainees = JSON.parse('{{ groupslip_trainees|safe }}');
  {% endif %}
  {% if slip_type %}
    var SlipType = '{{ slip_type }}';
  {% endif %}
  {% if description %}
    var Description = '{{ description }}';
  {% endif %}
  {% if ta_comments %}
    var TAComments = '{{ ta_comments }}';
  {% endif %}
  {% if ta_informed %}
    var TAInformed = JSON.parse('{{ ta_informed|safe }}');
  {% endif %}
  {% if texted %}
    var Texted = {{ texted }};
  {% endif %}
  {% if ta_assigned %}
    var TAAssigned = JSON.parse('{{ ta_assigned|safe }}');
  {% endif %}
  {% if private_comments %}
    var PrivateComments = '{{ private_comments }}';
  {% endif %}

  // ta leaveslip detail view
  {% if next_ls_id %}
    var NextLsId = {{ next_ls_id }};
  {% endif %}

</script>
