{% extends 'base.html' %}
{% load jsonify %}
{% load staticfiles %}
{% load render_bundle from webpack_loader %}
{% load bootstrap3 %}
{% bootstrap_messages %}

{% block references %}
  {% render_bundle 'attendance' 'css' %}
{% endblock %}

{% block scripts %}
  {{ block.super }}
  {% include 'attendance/_attendance_data.html' %}
{% endblock %}

{% block title %}
  Personal Attendance
{% endblock %}

{% block content %}
<div id="react-attendance-root"></div>
  {% render_bundle 'attendance' 'js' %}
{% endblock %}
