{% extends 'base.html' %}
{% load common_tags %}

{% block subnav %}
  <div class="navbar-header">
    <button type="button" class="navbar-toggle glyphicon glyphicon-chevron-down visible-xs" data-toggle="collapse" data-target="#navbar-collapse-2"></button>
  </div>

  <div class="collapse navbar-collapse" id="navbar-collapse-2">

    <div class="submenu">
      <div {% if current_url == 'attendance-submit' %}class=active{% endif %}><a href="{% url 'attendance:attendance-submit' %}">Personal Attendance</a></div>

      {% ifusergroup administration|attendance_monitors %}
        <div {% if current_url == 'class-rolls' %}class=active{% endif %}><a href="{% url 'attendance:class-rolls' %}">Class and Study Roll</a></div>
        <div {% if current_url == 'meal-rolls' %}class=active{% endif %}><a href="{% url 'attendance:meal-rolls' %}">Meal</a></div>
      {% endifusergroup %}

      {% ifusergroup attendance_monitors|HC %}
        <div {% if current_url == 'house-rolls' %}class=active{% endif %}><a href="{% url 'attendance:house-rolls' %}">House</a></div>
      {% endifusergroup %}

      {% ifusergroup attendance_monitors %}
        <div {% if current_url == 'class-table-rolls' %}class=active{% endif %}><a href="{% url 'attendance:class-table-rolls' %}">Class Table</a></div>
      {% endifusergroup %}

      {% ifusergroup attendance_monitors|team_monitors %}
        <div {% if current_url == 'team-rolls' %}class=active{% endif %}><a href="{% url 'attendance:team-rolls' %}">Team</a></div>
      {% endifusergroup %}

      {% ifusergroup attendance_monitors|ypc_monitors %}
        <div {% if current_url == "ypc-rolls" %}class=active{% endif %}><a href="{% url 'attendance:ypc-rolls' %}">YPC</a></div>
      {% endifusergroup %}

      {% ifusergroup attendance_monitors %}
        <div {% if current_url == "audit-rolls" %}class=active{% endif %}><a href="{% url 'attendance:audit-rolls' %}">Audit All</a></div>
      {% endifusergroup %}

    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="tab-content">
  {% block rolls_content %}{% endblock %}
  </div>
{% endblock %}
