{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Class Roll{% endblock %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static 'seating/js/grid.js' %}"></script>
<script type="text/javascript" src="{% static 'attendance/js/seating-controller.js' %}"></script>

<script>
  const date = '{{date|date:"Y-m-d"}}';
  let current_week = parseInt('{{week}}');
  let current_day = '{{day}}';
  let seat_controller;

  $(document).ready(() => {
    // Preselect current day of the week
    $('#selectRollModal').on('show.bs.modal', event => {
      const d = new Date(date);
      const n = d.getDay();
      $("a[data-day='" + (n) + "']").tab('show');
    });

    $("#gender_toggle").bootstrapToggle({
      on: "Brothers",
      off: "Sisters",
      onstyle: "primary",
      offstyle: "warning"
    })

    // Roll Select view
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      // API call to get the list of events for current day
      current_day = $(e.target).data("day");
      get_events();
    });

    // Seat Controller
    {% if chart %}
      /*
       * Variables for seat map
       */
      const event = {{ event_bb|safe }};
      current_event = event; // Keep this in case we want to display more than one event with the same time
      const trainees = {{ trainees_bb|safe }};
      const chart = {{ chart_bb|safe }};
      const seatsJSON = {{ seats_bb|safe }};
      const sections = {{ partial_bb|safe }};
      const rolls = {{ attendance_bb|safe }};
      const individualslips = {{ individualslips_bb|safe }};
      const groupslips = {{ trainee_groupslip_bb|safe }};
      seat_controller = new SeatController({}, trainees, chart, seatsJSON, sections, current_event, date, rolls, individualslips, groupslips);
      $("#gender_toggle").change(e => {
        seat_controller.toggle_gender(e);
      })
      $("#button_finalize").click(e => seat_controller.onclick_finalize(e));
      $("#button_unfinalize").click(e => seat_controller.onclick_unfinalize(e));
    {% endif %}

    //Week selector
    $("#week_prev").click(e => {
      set_week(false);
    });
    $("#week_next").click(e => {
      set_week(true);
    });

    {% if user.gender == "S" %}
    $("#gender_toggle").bootstrapToggle("off");
    {% endif %}
  });

  const get_events = () => {
    $.ajax({
      type: "GET",
      url: "/api/allevents/",
      data: {
        weekday: current_day,
        week: current_week,
        monitor: "AM"
      },
      success: response => {
        let content = $("#roll_day"+current_day).find(".content").first();
        let m = "";
        response.forEach(event => {
          m += "<div class='radio'><label><input type='radio' name='events' value='"+event.id+"'/> "+event.name + " ("+event.start+")</label></div>";
        })
        content.html(m);
        new Notification(Notification.SUCCESS, 'Saved').show();
      }
    });
  };

  const set_week = next => {
    if (next) {
      current_week = ((current_week+1) > 19)?19:(current_week+1);
    } else {
      current_week = ((current_week-1) < 0)?0:(current_week-1);
    }
    $("#display_week").text(current_week);
    $("#week_event").val(current_week);
    get_events(); //Update event
  };
</script>
{% endblock %}

{% block references %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'seating/css/seating.css' %}" />
<style>
  .tab-pane:not(.active) {
    display: none;
  }
  #buttons_section {
    display: inline-block;
  }
  div.radio {
    line-height: 25px;
  }
</style>
{% endblock %}


{% block content %}
  <!-- Popup code for class roll selection
  -->
  <div class="modal fade" id="selectRollModal" tabindex="-1" role="dialog" aria-labelledby="selectRollModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="selectRollModalLabel">
            {% if week > 0 %}
            <a id="week_prev" href="#"><span class="glyphicon glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>
            {% endif %}
            Week <span id="display_week">{{week}}</span>
            <a id ="week_next" href="#"><span class="glyphicon glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
          </h4>
        </div>
        <div class="modal-body">
          <ul class="nav nav-tabs" role="tablist" style="margin-bottom: 20px;">
            {% for d in weekdays %}
            <li role="presentation"><a href="#roll_day{{d.0}}" data-day="{{d.0}}" role="tab" data-toggle="tab">{{d.1}}</a></li>
            {% endfor %}
          </ul>
          <div class="tab-content">
            <form id="roll_select" method="post">
              {% csrf_token %}
              <input type="hidden" id="week_event" name="week" value="{{week}}" />
              {% for d in weekdays %}
              <div id="roll_day{{d.0}}" class="tab-pane" role="tabpanel" >
                <div class="row">
                  <div class="content col-md-12">
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Select Roll</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        {% if event %}
        <label> Week {{ week }} - {{event.name}} ({{event.start|date:"g:i a"}} {{date|date:"l"}}, {{date|date:"Y-m-d"}})
        </label>
        {% else %}
        No roll for this time
        {% endif %}
        &nbsp;
        <button id="button_select_roll" class="btn btn-success" data-toggle="modal" data-target="#selectRollModal">Select roll</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        &nbsp;
      </div>
    </div>
    <div class="row">
      {% if chart %}
      <div class="form-inline">
        <div id class="col-md-12">
          <input id="gender_toggle" type="checkbox" checked=true/>
          &nbsp;
          <div id="buttons_section">
            <b>Sections:</b>
          </div>
          <!--
          &nbsp;
          <button id="button_present" class="btn btn-success">Set Present</button>
          &nbsp; --> &nbsp;
          <button id="button_finalize" class="btn btn-danger">Finalize</button>
          &nbsp;
          <button id="button_unfinalize" class="btn">Un-Finalize</button>
        </div>
      </div>
      {% else %}
      <!-- TODO : UI for classes with no seating chart -->
      <div> No seating chart present for this event</div>
      {% endif %}
    </div>
    <div class="row">
      <div class="col-md-12">
        &nbsp;
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="seat-map"></div>
      </div>
    </div>
  </div>
{% endblock %}
