{% extends 'attendance/base_rolls.html' %}
{% load staticfiles %}

{% block scripts %}
    <script type="text/javascript" src="{% static "datatables/js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "datatables/js/jquery.dataTables.js" %}"></script>
    <script type="text/javascript" src="{% static "datatables/js/dataTables.bootstrap.js" %}"></script>
    <script type="text/javascript" src="{% static "datatables/js/dataTables.tableTools.js" %}"></script>
  <script type="text/javascript" src="/static/js/moment.min.js"></script>
    <script>
      //select all text in a contenteditable element
      jQuery.fn.selectText = function(){
       var doc = document;
       var element = this[0];
       if (doc.body.createTextRange) {
           var range = document.body.createTextRange();
           range.moveToElementText(element);
           range.select();
       } else if (window.getSelection) {
           var selection = window.getSelection();
           var range = document.createRange();
           range.selectNodeContents(element);
           selection.removeAllRanges();
           selection.addRange(range);
       }
    };
    $.ajaxSetup({
          headers: { "X-CSRFToken": getCookie("csrftoken") }
      });
    </script>
{% endblock %}
{% block references %}
  	<link rel="stylesheet" href="{% static 'seating/css/seating.css' %}" />
    <link rel="stylesheet" href="{% static "datatables/css/jquery.dataTables.css" %}" />
    <link rel="stylesheet" href="{% static "datatables/css/jquery-ui.css" %}" />
    <link rel="stylesheet" href="{% static "datatables/css/bootstrap.css" %}" />
    <link rel="stylesheet" href="{% static "datatables/css/dataTables.bootstrap.css" %}" />
  <style>
  .tab-pane:not(.active) {
      display: none;
  }
  </style>
{% endblock %}


{% block rolls_content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <label>
          Week:
          <form method="post">
            {% csrf_token %}
            <select id="select_menu" name="week" size="0" ></select>
          </form>
        </label>
        &nbsp;
        <label>
          <input type="checkbox" id="filter_f" checked>1st Year</input>
        </label>
        <label>
          <input type="checkbox" id="filter_s" checked>2nd Year</input>
        </label>
        <label>
          <input type="checkbox" id="filter_g_b" checked>Brothers</input>
        </label>
        <label>
          <input type="checkbox" id="filter_g_s" checked>Sisters</input>
        </label>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        &nbsp;
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div>
        {% if event_list %}
          <table id="display_roll" class="table table-condensed table-hover table-bordered table-striped">
            <thead>
              <tr>
                <th class="date">Date</th>
                <td></td>
                <td></td>
              {% for event in event_list %}
                <th class="date">{{event.start_datetime|date:"D (m/d)"}}</th>
              {% endfor %}
              </tr>
              <tr>
                <th>Roll</th>
                <td></td>
                <td></td>
              {% for event in event_list %}
                <th title="{{event.name}}">{{event.code}}</th>
              {% endfor %}
              </tr>
              <tr>
                <th>Time</th>
                <td></td>
                <td></td>
              {% for event in event_list %}
                <th>{{event.start_datetime|date:"P"}}</th>
              {% endfor %}
              </tr>
              <tr>
                <th>Set all</th>
                <td></td>
                <td></td>
              {% for event in event_list %}
                <th><select class="set_all" data-col='{{event.id}}'>
                  <option val=""></option>
                  <option val="P">P</option>
                  <option val="A">A</option>
                  <option val="U">U</option>
                  <option val="T">T</option>
                </select></th>
              {% endfor %}
              </tr>

              {% if event_type == 'RF' %}
              <tr>
                <th>Roll Finalization</th>
                <td></td>
                <td></td>

                {% for event in event_list %}
                  <th>
                    <button id="tardy-btn" class="btn btn-default" data-index="{{ forloop.counter0 }}">Remove Tardies</button>
                    <button id="finalize-btn" class="btn btn-danger" data-index="{{ forloop.counter0 }}">Mark Empty as Absent</button>
                  </th>
                {% endfor %}
              </tr>
              {% endif %}

            </thead>
            <tbody>
              {% for t in trainees %}
                <tr>
                  <th data-row='{{t.id}}' data-term='{{t.current_term}}' data-gender='{{t.gender}}'>{{t.full_name}}</th>
                  <td>{{t.current_term}}</td>
                  <td>{{t.gender}}</td>
                  {% for event in event_list %}
                    {% with events=trainees_event_list|get_item:t %}
                      {% if event in events %}
                        {% with evt=events|lookup:event %}
                          {% with t_gs=event_groupslip_tbl|get_item:evt %}
                          <td contenteditable class='sectionInputs {% if evt.roll %}{% if evt.roll.leaveslip %}leaveslip{% endif %}{% endif %} {% if t in t_gs %}leaveslip{% endif %}' data-row='{{t.id}}' data-col='{{evt.id}}' data-date='{{ evt.start_datetime.date|date:"c"}}'>
                            {% if evt.roll %}{{evt.roll.status}}{% endif %}
                          </td>
                        {% endwith %}
                        {% endwith %}
                      {% else %}
                        <td class="roll-disabled"></td>
                      {% endif %}
                    {% endwith %}
                  {% endfor %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
            No rolls for this week
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <script>
    var ATTENDANCE_TYPE = ['', 'P','A','T','U','L'];
    var table;
    var first_day_term = "{{term_start_date}}";
    function setWeeks(){
      var firstDayofWeek = moment(first_day_term, "YYYYMMDD");
      var lastDayofWeek = firstDayofWeek.clone().add(6,'days');
      for (i = 0; i < 20; i++) {
        $("#select_menu").append($("<option />").val(i).text("Week "+i+": "+firstDayofWeek.format("ddd MMM D")+" - "+lastDayofWeek.format("ddd MMM D")).attr('id',"week_"+i));
        firstDayofWeek = lastDayofWeek.add(1,'day');
        lastDayofWeek = firstDayofWeek.clone().add(6,'days');
      }
    }
    function setDatesforWeek(week){
      var firstDay = moment(first_day_term, "YYYYMMDD");
      var firstDayofWeek = firstDay.add(week,'weeks');
      for (var i = 0; i < 7; i++) {
        $("#day-"+i).html(firstDayofWeek.format("ddd - MMM D"));
        firstDayofWeek.add(1,'days');
      }
    }
    //If next cell is the same text merge cells
    function collapse_date_header(){
      var colspan = 1;
      var previous_text = "";
      $('#display_roll thead th.date').each(function() {
        var cell = $(this);
        var txt = $(this).text();
        if (previous_text === txt) {
          colspan++;
          cell.prev().attr('colspan', colspan);
          cell.remove();
        } else {
          colspan = 1;
        }
        previous_text = txt;
      });
    }
    $(function (){
      setWeeks();
      $("#select_menu option[id='week_{{ current_week }}']").attr("selected", "selected");
      setDatesforWeek({{ current_week }});
      collapse_date_header();
      table = $("#display_roll").DataTable({
        "ordering": false,
        "columnDefs": [
          {
            "targets": [ 1 ],
            "visible": false
          },
          {
            "targets": [ 2 ],
            "visible": false
          }
        ],
        "aLengthMenu": [
          [25, 50, 100, -1],
          [25, 50, 100, "All"]
        ],
        iDisplayLength: -1
      });

      function getParamsForColumn(index) {
        var selects = $('.set_all');
        var select = selects[index];
        var event_id = select.getAttribute('data-col');
        var cell = $('.sectionInputs[data-col=' + event_id + ']')[0]
        var event_date = cell.getAttribute('data-date');
        return event_id + '/' + event_date;
      }

      var attendanceApiEndpoint = '/attendance/api/rolls/';
      $('body').on('click', '#finalize-btn', function(e) {
        var params = getParamsForColumn(this.getAttribute('data-index'));
        $.get(attendanceApiEndpoint + "rfid-finalize/" + params, function(data) {
          location.reload();
        });
      }).on('click', '#tardy-btn', function(e) {
        var params = getParamsForColumn(this.getAttribute('data-index'));
        $.get(attendanceApiEndpoint + "rfid-tardy/" + params, function(data) {
          location.reload();
        });
      }).on('focus', '.sectionInputs', function (e){
        var button = $(e.currentTarget);
        button.removeClass('danger');
        button.selectText();
      }).on('blur', '.sectionInputs', function(e) {
        //Content edit
        var button = $(e.currentTarget);
        button.removeClass('danger');
        var row = button.data('row');
        var col = button.data('col');
        var date = button.data('date');
        var status = button.text().trim().toUpperCase();
        var data = {};
        //check if user input is valid
        if($.inArray(status, ATTENDANCE_TYPE) < 0){
          button.addClass('danger');
          return;
        } else if(status == "") {
          return;
        }
        data.event = col;
        data.trainee = row;
        data.status = status;
        data.date = date;
        $.ajax({
          type: "POST",
          url: "/api/rolls/",
          data: data,
          success: function (response){
            $("td[data-row="+response.trainee+"][data-col="+response.event+"]").text(response.status);
          },
        });
      }).on('change', '.set_all', function(e){
        var select = $(e.currentTarget);
        var col = select.data("col");
        $("td[data-col='"+col+"'").text(select.val().trim()).blur();
      }).on('click', '#filter_f, #filter_s, #filter_g_b, #filter_g_s', function(e){
        var q_term = {};
        var q_gender = {};
        var r_term = "";
        var r_gender = "";
        if($("#filter_f").is(':checked')){
          q_term["1"] = true;
          q_term["2"] = true;
        }
        if($("#filter_s").is(':checked')){
          q_term["3"] = true;
          q_term["4"] = true;
        }
        // If both 1st and 2nd year is unchecked
        if(!($("#filter_s").is(':checked') || $("#filter_s").is(':checked'))){
        	q_term["0"] = true;
        }
        if($("#filter_g_b").is(':checked')){
          q_gender.b = true;
        }
        if($("#filter_g_s").is(':checked')){
          q_gender.s = true;
        }
        //Collapse queries into regex
        for(k in q_term){
          r_term += k+"|";
        }
        for(k in q_gender){
          r_gender += k+"|";
        }
        if(r_term != "")
          r_term = "("+r_term.substring(0, r_term.length-1)+")";
        if(r_gender != "")
          r_gender = "("+r_gender.substring(0, r_gender.length-1)+")";
        table.column(1).search(r_term, true, false);
        table.draw();
        table.column(2).search(r_gender, true, false);
        table.draw();
      });
      $("#select_menu").on("change", function(e){
        $(e.currentTarget).closest("form").submit();
      })
    });
  </script>
{% endblock %}
