{% extends 'attendance/base_rolls.html' %}
{% load staticfiles %}

{% block tab2 %} class="active" {% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static "datatables/js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "datatables/js/jquery.dataTables.js" %}"></script>
    <script type="text/javascript" src="{% static "datatables/js/dataTables.bootstrap.js" %}"></script>
    <script type="text/javascript" src="{% static "datatables/js/dataTables.tableTools.js" %}"></script>
{% endblock %}
{% block references %}
    <link rel="stylesheet" href="{% static "datatables/css/jquery.dataTables.css" %}" />
    <link rel="stylesheet" href="{% static "datatables/css/jquery-ui.css" %}" />
    <link rel="stylesheet" href="{% static "datatables/css/bootstrap.css" %}" />
    <link rel="stylesheet" href="{% static "datatables/css/dataTables.bootstrap.css" %}" />
  <style>
  .tab-pane:not(.active) {
      display: none;
  }
  </style>
{% endblock %}


{% block rolls_content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<label>
					Period 1:
					<select>
						<option>1 (2/22 - 3/13)</option>
					</select>
				</label>
				&nbsp;
			    	<input type="checkbox" id="filter_f_b"> 1st Year Brothers
			    	<input type="checkbox" id="filter_s_b"> 2nd Year Brothers
			    	<input type="checkbox" id="filter_f_s"> 1st Year Sisters
			    	<input type="checkbox" id="filter_s_s"> 2nd Year Sisters
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				&nbsp;
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="table-responsive">
					<table id="display_roll" class="table table-condensed table-hover table-bordered table-striped">
						<thead>
							<tr>
								<th>Date</th>
								<th>Mon (5/24)</th>
								<th colspan="2">Tue (5/25)</th>
								<th colspan="2">Wed (5/26)</th>
							</tr>
							<tr>
								<th>Roll</th>
								<th>Din</th>
								<th>BF</th>
								<th>Din</th>
								<th>BF</th>
								<th>Din</th>
							</tr>
							<tr>
								<th>Time</th>
								<th>05:45</th>
								<th>07:30</th>
								<th>05:45</th>
								<th>07:30</th>
								<th>05:45</th>
							</tr>
							<tr>
								<th>Set all</th>
								<th><select><option></option><option>A</option></select></th>
								<th><select><option></option><option>A</option></select></th>
								<th><select><option></option><option>A</option></select></th>
								<th><select><option></option><option>A</option></select></th>
								<th><select><option></option><option>A</option></select></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>Trainee T</th>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<th>Trainee T</th>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<th>Trainee T</th>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<th>Trainee T</th>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<th>Trainee T</th>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<th>Trainee T</th>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<th>Trainee T</th>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<th>Trainee T</th>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<th>Trainee T</th>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<th>Trainee T</th>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<th>Trainee T</th>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<th>Trainee T</th>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<th>Trainee T</th>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<th>Trainee T</th>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<th>Trainee T</th>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{{events}}
	<script>
		var first_day_term = "{{start_date}}";
	</script>
{% endblock %}