*.pyc
.DS_Store
key.pub
.project
ap/.project
.pydevproject
ap/.pydevproject
venv
*.sublime-project
*.sublime-workspace
ap/media/
*.log
migrations/
node_modules/
ap/services/debug/data.js
.eslintrc.json
ap/static/bundles/
webpack-stats.json
import.log*
selenium/automation/reports/