{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load common_tags %}

{% block title %}{{ page_title }}{% endblock %}

{% block scripts %}
<style>
	#submit{
		display: inline-block;
		float: left;
	}

	#add_row{
		display: inline-block;
		float: right;
	}

</style>

{% endblock %}

{% block content %}
<h2>{{ page_title }}</h2>

<p>Instructions: Pray and consider before the Lord concerning your recommendations. Complete your evaluation of the recommended trainees by using a scale from 1 to 5 (5 = best; 1 = worst). Although only the first two rows indicate your choices, please fill in the form for EACH non-HC in your house. Please also note anything that the Training should be aware of that is outside the scope of the given criteria. Keep this form confidential.</p>

<p>Please note that in addition to your recommendation there are many other factors that are taken into account when the training assigns house coordinators. The trainees you choose may very likely not become house coordinators, at least not for your house. Therefore, we ask that you wait until final assignments have been made before mentioning these recommendations to anyone in your house.</p>

House: {{house}} <br>
House Coordinator: {{hc}}  

<br><br>

<form action="" method="post">
	{% csrf_token %}
	<table class="table table-bordered" id="table">
		<tr>
			<th>Name</th>
			<th>Exercise of the Spirit</th>
			<th>Tidiness</th>
			<th>Punctuality</th>
			<th>Even tempered</th>
			<th>Ability to shepherd others</th>
			<th>Responsible</th>
			<th>Attitude toward the training</th>
			<th>Physical endurance/strength</th>
			<th>Notes</th>
		</tr>
		<tr id="row0">
			<td>{{form.choice}}</td>
			<td>{{form.exercise_of_the_spirit}}</td>
			<td>{{form.tidiness}}</td>
			<td>{{form.punctuality}}</td>
			<td>{{form.even_tempered}}</td>
			<td>{{form.ability_to_shepherd}}</td>
			<td>{{form.responsible}}</td>
			<td>{{form.attitude}}</td>
			<td>{{form.physical_endurance}}</td>
			<td>{{form.recommendation}}</td>
		</tr>
	</table> 

	<button type="submit" class="btn btn-primary btn-save" id="submit">{{button_label|safe}}</button>
	<button class="btn btn-primary" id="add_row">Add</button>
</form>
{% endblock %}
