{% extends "lifestudies/base_lifestudies.html" %}

{% load staticfiles %}

{% block title %}Life-study{% endblock %}

{% block lifestudies_content %}

  <div>
    {{discipline.trainee.full_name}}
    <div class="pull-right">
      <form action="" method="post">
        {% csrf_token %}
        <label for="penalty_num">Increase/Decrease by:</label><br>
        <input name="penalty_num" value="1">
        <button type="submit" name="increase_penalty" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-plus-sign"></span> Increase Penalty
        </button>
        <button type="submit" name="decrease_penalty" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-plus-sign"></span> Decrease Penalty
        </button>
      </form>
    </div>
  </div>
  <p>
    Infraction: {{discipline.get_infraction_display}}<br>
    {% if discipline.infraction == 'MS' %}
    Missed Service: {{discipline.missed_service}}<br>
    {% endif %}
    Summaries Due: <strong>{{discipline.get_num_summary_due}}</strong>
  <p>

  {% for summary in discipline.summary_set.all %}
  <div class="container">
    <div class="col-md-12">
      <h3>{{summary.book.name}} &mdash; {{summary.chapter}}</h3>
      <p>{{summary.content}}</p>
      <div>
        <span class="badge alert-info">{{summary.date_submitted}}</span>
        {% if summary.approved %}
        <span class="badge alert-success">approved</span>
        {% else %}
        <span class="badge alert-danger">not approved</span>
        {% endif %}
        {% if summary.fellowship %}
          <span class="badge alert-warning">fellowship</span>
        {% endif %}
        <div class="pull-right">
          <form action="" method="post">
            <input type="text" value="{{summary.pk}}" hidden="true" name="summary_pk" />
            {% csrf_token %}
            {% if summary.approved == False %}
              {% if not summary.fellowship %}
                <button name="fellowship" type="submit" class="btn btn-warning btn-sm">Fellowship</button>
              {% else %}
                <button name="unfellowship" type="submit" class="btn btn-warning btn-sm">Remove Fellowship</button>
              {% endif %}
              <button type="submit" name="approve" class="btn btn-success btn-sm">Approve</button>
            {% else %}
              <button name="unapprove" type="submit" class="btn btn-danger btn-sm">Un-Approve</button>
            {% endif %}
          </form>
        </div>
      </div>
    </div>
  </div>
  {% empty %}
  <div class="col-md-12">
    <h4>No Summary Submitted</h4>
  </div>
  {% endfor %}

{% endblock %}
