{% extends "lifestudies/base_lifestudies.html" %}

{% load staticfiles %}

{% block references %}
<link rel="stylesheet" href="{% static "lifestudies/css/lifestudies.css" %}" />
{% endblock %}

{% block tab1 %} class="active" {% endblock %}

{% block title %}Life Study{% endblock %}

{% block lifestudies_content %}

  <h2> Life Study TA View </h2>

  <form role="form" action="{% url 'lifestudies:discipline_list' %}" method="post">
    {% csrf_token %}

    <table class="table table-hover table-condensed" id="mytable">

      <thead>
        <tr>
          <th><input type="checkbox" id="checkall" /></th>
          <th> Edit </th>
          <th> Name </th>
          <th> Reason </th>
          <th> Type </th>
          <th> Quantity </th>
          <th> Still Due </th>
          <th> Date Assigned </th>
          <th> Due Date </th>  
          <th> Unapproved Submission</th>
        </tr>
      </thead>

      <tbody>
        {% for discipline in disciplines %}
        {% if discipline.is_completed == False %}
        <tr>
          <td><input type="checkbox" name="selection" value="{{discipline.pk}}"></input></td>
          <td>
            <a href="{% url 'lifestudies:discipline_detail' discipline.pk %}" class="btn btn-primary btn-xs" role="button">
              <span class="glyphicon glyphicon-pencil"></span>
            </a>
          </td>
          <td>{{discipline.trainee.account.firstname}} {{discipline.trainee.account.lastname|slice:"1"}}.</td>
          <td class="text-danger">{{discipline.infraction}}</td>
          <td>{{discipline.offense}}</td>
          <td>{{discipline.quantity}}</td>
          <td><b>{{discipline.get_num_summary_due}}</b></td>
          <td>{{discipline.date_assigned | date:"m/d/y"}}
            <td>{{discipline.due | date:"m/d/y"}}</td>
            <td>
              {% for summary in discipline.summary_set.all %}
              {% if summary.approved == False %}
              <a href="{% url 'lifestudies:summary_approve' summary.pk %}" class="tooltip-submit-date" data-toggle="tooltip" data-placement="top" title="{{summary.date_submitted | date:"m/d/y"}}">
                <span class="glyphicon glyphicon-file"></span>
              </a>
              {% endif %}
              {% endfor %}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>

      </table>
      <p class="col-lg-6 well legend">
        <b>AT</b>tendance || <b>C</b>ell Phone & <b>I</b>nternet || <b>M</b>issed <b>S</b>ervice || <b>S</b>peeding || <b>A</b>larm <b>N</b>oise || <b>G</b>uard || <b>C</b>urfew || <b>M</b>isplaced Item || <b>H</b>ouse <b>I</b>nspection || <b>L</b>ibrary || <b>MISC</b>
      </p>
      <div class="pull-right">
        <button type="submit" name="approve" class="btn btn-success">Approve Selected</button>
        <button type="submit" name="delete" class="btn btn-danger">Delete Selected</button>
      </div>
    </form>


    {% endblock %}

    {% block scripts %}
    <script type="text/javascript" src="{% static "lifestudies/js/collapse-panel.js" %}"></script>
    <script type="text/javascript" src="{% static "lifestudies/js/click-all.js" %}"></script>
    <script type="text/javascript" src="{% static "lifestudies/js/checkboxes.js" %}"></script>
    <script type="text/javascript" src="{% static "lifestudies/js/tooltip-submit-date.js" %}"></script>
    <script type="text/javascript" src="{% static "lifestudies/js/ajax-api-binding.js" %}"></script>

    {% endblock %}

