{% extends "lifestudies/base_lifestudies.html" %}

{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}Life-study{% endblock %}

{% block scripts %}
  <script src="{% static 'lifestudies/js/summary-wordcount.js' %}"></script>
  <script>
    $(document).ready(() => {
      if ($("#id_submitting_paper_copy").prop("checked")) {
        $("#id_content").prop("disabled", true);
      }

      $("#id_submitting_paper_copy").on('click', function(ev) {
        if ($("#id_content").prop("disabled")) {
          $("#id_content").prop("disabled", false)
        } else {
          $("#id_content").prop("disabled", true)
        }
      });
    });
  </script>
{% endblock %}

{% block lifestudies_content %}

  <h3> Summary </h3>

  <form action="" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <h4>
      <span class="badge alert-info">
        "{{summary.book.name}}" Ch. {{summary.chapter}}
      </span>
    </h4>
    <h4>
      <span class="badge alert-info">
        {{summary.date_submitted}}
      </span>
    </h4>
    {% if summary.approved == False %}
    <button id="summary_submit" disabled="true" type="submit" class="btn btn-success">Update</button>
    {% endif %}
  </form>

{% endblock %}
