{% extends "lifestudies/base_lifestudies.html" %}

{% block title %}Approve Life-study{% endblock %}

{% block lifestudies_content %}

  <div class="container">
    <div class="col-md-8">
      <h2>
        {{summary.book.name}} &mdash; {{summary.chapter}}
        <div class="pull-right">
          {% if prev_summary != -1 %}
            <a href="{% url 'lifestudies:summary_approve' prev_summary %}" class="btn btn-primary" role="button">Prev</a>
          {% endif %}
          {% if next_summary != -1 %}
            <a href="{% url 'lifestudies:summary_approve' next_summary %}" class="btn btn-primary" role="button">Next</a>
          {% endif %}
        </div>
        {{summary.get_next_by_discipline}}
      </h2>
      <p>{{summary.content}}</p>
      <div>
        <span class="badge alert-info">{{ summary.date_submitted }}</span>
        {% if not summary.submitting_paper_copy %}
          <span class="badge alert-info">{{ summary_wc }} words</span>
        {% else %}
          <span class="badge alert-info">submitted paper copy</span>
        {% endif %}
        {% if summary.approved %}
        <span class="badge alert-success">approved</span>
        {% else %}
        <span class="badge alert-danger">not approved</span>
        {% endif %}
        {% if summary.fellowship %}
          <span class="badge alert-warning">fellowship</span>
        {% endif %}

        <div class="pull-right">
          {% if summary.approved == False %}
            <form action="" method="post">
              {% csrf_token %}
              {% if not summary.fellowship %}
                <button name="fellowship" type="submit" class="btn btn-warning btn-sm">Fellowship</button>
              {% else %}
                <button name="unfellowship" type="submit" class="btn btn-warning btn-sm">Remove Fellowship</button>
              {% endif %}
              <button name="approve" type="submit" class="btn btn-success btn-sm">Approve</button>
            </form>
          {% else %}
            <form action="" method="post">
              {% csrf_token %}
              <button name="unapprove" type="submit" class="btn btn-danger btn-sm">Un-Approve</button>
            </form>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}
