{% extends "lifestudies/base_lifestudies.html" %}

{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}Submit Life-study{% endblock %}

{% block scripts %}
  <script src="{% static 'lifestudies/js/summary-wordcount.js' %}"></script>
  <script>
  $(document).ready(() => {
    var books = {},
        bookSelect = $('#id_book'),
        chapterSelect = $('#id_chapter'),
        // Save initial state
        initialBook = bookSelect.val(),
        initialChapter = chapterSelect.val();

    // Auto-change min/max of chapterSelect when book changes
    bookSelect.on('change', function(ev) {
      // Add min, max-limit from rest api
      var newBook = $(ev.currentTarget).val();
      if (!(newBook in books)) {
        return;
      }
      chapterSelect.attr('min', 1);
      chapterSelect.attr('max', books[newBook].chapterSelects);
      // Update to original values if select original book
      if (newBook == initialBook) {
        chapterSelect.val(initialChapter);
      } else {
        chapterSelect.val(1);
      }
    });

    if ($("#id_submitting_paper_copy").prop("checked")) {
      $("#id_content").prop("disabled", true);
    }

    $("#id_submitting_paper_copy").on('click', function(ev) {
      if ($("#id_content").prop("disabled")) {
        $("#id_content").prop("disabled", false)
      } else {
        $("#id_content").prop("disabled", true)
      }
    });
  });
  </script>
{% endblock %}

{% block lifestudies_content %}
  <h1>Submit Summary</h1>
  <form action="" method="post">
    {% bootstrap_form form %}
    {% csrf_token %}
    <em>A minimum of 250 words are needed to submit class notes. Or you may submit as a paper copy.<br></em>
    <button type="submit" disabled="true" id="summary_submit" name="attendance_assign" class="btn btn-success">Submit</button>
  </form>
{% endblock %}
