{% extends 'base.html' %}

{# template is from "fobi/generic/_base.html" #}
{% load common_tags %}
{% load i18n static %}

{% block references %}
  {% block stylesheets %}{% endblock stylesheets %}
  {% block extra-stylesheets %}{% endblock extra-stylesheets %}
{% endblock %}

{% block scripts %}
  {% block head-javascripts %}{% endblock head-javascripts %}
  {% block extra-head-javascripts %}{% endblock extra-head-javascripts %}
  {% block extrahead %}{% endblock extrahead %}
  {% block javascripts %}{% endblock javascripts %}
    <script>
    $(document).ready(() => {

      // For some reason submit button on FormAcessEdit isn't working, so... :)
      let url_path = window.location.href;
      if (url_path.includes('edit') || url_path.includes('add')) {
        $( ".btn.btn-primary" ).click((e) => {
          if (e.target.innerHTML === "Submit" || e.target.innerHTML === 'Add') {
            $('form#form_element_entry_form').submit();
          }
        });
        if ($('#id_trainees').attr('multiple') === 'multiple') {
          $('#id_trainees').select2();
        }
      }
      
    });
  </script>
{% endblock %}

{% block content %}
  {% block before-main-wrapper %}{% endblock %}

  {% block main-wrapper %}
    {% block main-content-wrapper %}
      {% block messages-wrapper %}
          {% include fobi_theme.messages_snippet_template_name %}
      {% endblock messages-wrapper %}
      {% block main-content %}
        {% block content-wrapper %}
          <!-- Content goes here -->
        {% endblock content-wrapper %}
      {% endblock main-content %}
    {% endblock main-content-wrapper %}
  {% endblock main-wrapper %}
{% endblock %}
