{% extends 'base.html' %}

{# template is from "fobi/generic/_base.html" #}
{% load common_tags %}
{% load i18n static %}

{% block references %}
  {% block stylesheets %}{% endblock stylesheets %}
  {% block extra-stylesheets %}{% endblock extra-stylesheets %}
{% endblock %}

{% block scripts %}
  {% block head-javascripts %}{% endblock head-javascripts %}
  {% block extra-head-javascripts %}{% endblock extra-head-javascripts %}
  {% block extrahead %}{% endblock extrahead %}
  {% block javascripts %}{% endblock javascripts %}
    <script>
    $(document).ready(() => {

      // For some reason submit button on FormAcessEdit isn't working, so...
      if (window.location.href.includes('edit')) {

        $( ".btn.btn-primary" ).click((e) => {
          if (e.target.innerHTML === "Submit") {
            $('form#form_element_entry_form').submit();
          }
        });
      }
      
      /*
      if ($('#id_initial').attr('multiple') === 'multiple') {
        $('#id_initial').select2();
      }
      if ($('#id_Access').attr('readonly') === 'readonly') {
        $('#id_Access').attr('style', "visibility:hidden;");
        $('label[for=id_Access]').attr('style', "visibility:hidden;");
      }*/
    });
  </script>
{% endblock %}

{% block content %}
  {% block before-main-wrapper %}{% endblock %}

  {% block main-wrapper %}
    {% block main-content-wrapper %}
      {% block messages-wrapper %}
          {% include fobi_theme.messages_snippet_template_name %}
      {% endblock messages-wrapper %}
      {% block main-content %}
        {% block content-wrapper %}
          <!-- Content goes here -->
        {% endblock content-wrapper %}
      {% endblock main-content %}
    {% endblock main-content-wrapper %}
  {% endblock main-wrapper %}
{% endblock %}
