<div class="instructions">
  <p>A substitute is a trainee substituting for another trainee based off of a previous conversation or arrangement. If you are a substitute, (1) cross off the name of the originally scheduled trainee, (2) write your name beside it, and (3) check the box.</p>

  <p>A volunteer is a trainee volunteering to meet a need for a service, but not for a specific trainee. If you are a volunteer, write your name on one of the volunteer lines. If a volunteer line is not available, write your name on the side and mark yourself as a volunteer.</p>
</div>
