{% load staticfiles %}
{% load bootstrap3 %}
{% load render_bundle from webpack_loader %}
{% render_bundle 'jquery_bootstrap' %}

{% block scripts%}
<script type="text/javascript">
var day_start = new Date(Date.parse("{{wkstart}}"));
day_start.setDate(day_start.getDate() + 1)

var day_end = new Date(day_start);
</script>
<script type="text/javascript" src="{% static 'services/js/loadserviceschedule.js' %}"></script>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'services/css/loadserviceschedule.css' %}" />
<style type="text/css">
@media print {
    footer {page-break-after: always;}
}
</style>
{% endblock %}

{% block content %}
  {% include 'services/_report.html' %}
{% endblock %}
