{% load common_tags %}
  <div>
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Delete</th>
        {% endif %}
      </tr>
      </thead>
      <tbody>
        {% for ex in exceptions %}
        <tr>
          <td><a href='{{ex.get_update_url}}'>{{ex.name}}</a></td>
          <td>{{ex.desc}}</td>
          <td>
            <a href='{{ex.get_delete_url}}'>
              <button class="btn btn-danger delete_request_button" type="submit"title="Delete"/>
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </a>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{% endif %}