{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load common_tags %}

{% block title %}{{ page_title }}{% endblock %}

{% block scripts %}
{{ form.media }}
<script type="text/javascript">
  $(document).ready(() => {
    $("#id_category_id").djangoSelect2({width: '100%'})
      .on("select2:select", (e) => {
        $('form').attr("action",$("form").attr("action")+'/'+$("#id_category_id").val());
        $('form').submit();
      });
  });
</script>
{% endblock %}

{% block content %}
<h1>{{page_title}}</h1>
<form action="{% url 'services:service_category_analyzer' %}" method="post">
  {% csrf_token %}
  <h3>{{category.name}}</h3>
  <div class="panel">
    <div class="row">
      <div class="col-md-4">
        {{form.category_id}}
      </div>
    </div>
  </div>
</form>

<p>{{category.name}}</p>
{% endblock %}
