{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}
Service Scheduling
{% endblock %}

{% block references %}
{{ block.super }}
  <style>
    /* style for workers workload page */

    .worker-addon {
      width: 180px;
      text-align: left;
      max-width: 180px;
    }
    .input-group .worker-input {
      width: 50px;
    }

    /* Style for Service Slots edit page */

    .table.no-border>tbody>tr>td {
      border-top: none;
      /*width: 130px;*/
      padding-right: 10px;
      padding: 5px 10px 0px 0px;
      margin: 0px;
    }

    .table.no-border>tbody>tr {
      border: none;
    }

    .table>tbody>tr.no-padding {
      padding: 0px;
    }

    .table>tbody>tr>td.heading {
      width: 90px;
      padding: 6px 13px;
      text-align: right;
    }

    input.integer-input {
      width: 28px;
      padding: 0px 4px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }

    .active-input {
      width: 20px;
    }

    /* assign page */
    .pin-input {
      white-space:nowrap;
    }

    .shrink {
      width: 20px;
      white-space:nowrap;
    }

    .table-assign {
      margin-bottom: 0px;
    }

    .table-assign th {
      border: none;
    }

    .text-brothers {
      color: inherit;
      border-bottom: 1px solid #337ab7;
      border-bottom: 2px solid #cddae6;
    }

    .text-sisters {
      color: inherit;
      border-bottom: 1px solid #a94442;
      border-bottom: 2px solid #e2a7a5;
    }

    .no-show {
      display: none;
    }

    #calendar {
      max-width: 900px;
      margin: 0 auto;
    }

  </style>
{% endblock %}

{% block scripts %}
{{ block.super }}
  <script>
    $(document).ready(function() {
      $(".shorten").shorten();
    });
  </script>
{% endblock %}

{% block subnav %}
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#assign" aria-controls="assign" role="tab" data-toggle="tab">Assign</a></li>
    <li role="presentation"><a href="#workers" aria-controls="workers" role="tab" data-toggle="tab">Workers</a></li>
    <li role="presentation"><a href="#services" aria-controls="services" role="tab" data-toggle="tab">Services</a></li>
    <li role="presentation"><a href="#exceptions" aria-controls="review" role="tab" data-toggle="tab">Exceptions</a></li>
    <li role="presentation"><a href="#review" aria-controls="review" role="tab" data-toggle="tab">Review</a></li>
    <li role="presentation"><a href="#graph" aria-controls="review" role="tab" data-toggle="tab">Graph</a></li>
    <li role="presentation"><a href="#servicescalendar" aria-controls="review" role="tab" data-toggle="tab">View Service Calendar</a></li>
    <li role="presentation"><a href="#assignments" aria-controls="review" role="tab" data-toggle="tab">Designated Service Assignments</a></li>
    <li role="presentation"><a href="#reports" aria-controls="review" role="tab" data-toggle="tab">Printouts</a></li>
  </ul>
{% endblock %}

{% block content %}
  <div class="pull-right" role="group">
    <div class="btn-group">
      <a href="{% url 'services:services_generate_leaveslips' %}?week_schedule={{current_week}}" class="btn btn-primary">Generate Leave Slips</a>
    </div>
    &nbsp;
    <div class="btn-group">
      <a href="{% url 'services:services_assign_view' %}?week_schedule={{current_week}}" class="btn btn-success">Make Schedule</a>
    </div>
  </div>

  <h3 class="no-top-margin">
    <a class="btn btn-primary" href="?week_schedule={{prev_week}}"><i class="fas fa-angle-double-left"> < </i></a>
    Services Scheduling ({{ cws }})
    <a class="btn btn-primary" href="?week_schedule={{next_week}}"><i class="fas fa-angle-double-right"> > </i></a>
  </h3>

  <!-- Tab panes -->
  <div class="tab-content">
  <!-- Assign Tab -->
    <div role="tabpanel" class="tab-pane active" id="assign">
      {% if status == 'INFEASIBLE' %}
      <br/>
        <div class="alert alert-danger" role="alert">
          Parameters are too constrained to solve assignment problem. Please give workers <a class="fake-tab-link" href ="#workers">more capacity</a> or <a class="fake-tab-link" href="#services">lower workers required</a> for services. You can also take a look at the <a class="fake-tab-link" href="#graph">graph</a> to see if there are too many exceptions blocking out workers from services. Finally, you have the option of going into <a href="#" class="manual-mode">Manual Mode</a>.
        </div>
      {% endif %}
      {% for category in categories %}
        <h3>{{ category }}</h3>
        {% for service in category.services.all %}
          <table class="table table-condensed table-assign">
            <thead>
              <tr>
                <th colspan="4">
                  <a href="{% url 'admin:services_service_change' service.id %}" target="_blank">
                  {% if category.name == "Designated Services" %}
                    {{ service.name }}
                  {% else %}
                    {{ service.weekday|weekday_name }}
                  {% endif %}
                  </a>
                </th>
                <th>
                  <span class="glyphicon glyphicon-pushpin"></span>
                </th>
              </tr>
            </thead>
            <tbody>
              {% for slot in service.serviceslot_set.all %}
                {% if slot.workers_required > 0 %}
                  <tr class="{% if slot.workers_count < slot.workers_required %}warning incomplete-assignment{% endif %}">
                    <td class="shrink">{{ slot.name }}</td>
                    <td class="shrink worker-count">{{ slot.workers_count }}/{{ slot.workers_required }}</td>
                    {% for a in slot.assignments.all %}
                      <td>
                        <div class="worker-text" data-workers="{{ a.workers.all|input_workerID_list }}" data-max="{{ slot.workers_required }}">
                        {% for w in a.workers.all %}
                          <span class="{% if w.trainee.gender == 'B' %}text-brothers{% else %}text-sisters{% endif %}">{{ w.trainee.full_name }}</span>,
                        {% endfor %}
                        </div>
                        <div class="worker-input no-show">
                          <input data-assignment="{{ a.id }}" data-slot="{{ slot.id }}" data-service="{{ service.id }}" type="text" placeholder="Workers for this service..." class="demo-default worker-select" value="">
                        </div>
                      </td>
                      <td class="shrink">
                        <a href="#" class="edit-workers no-show" title="Edit Workers">
                          <span class="glyphicon glyphicon-pencil text-muted"></span>
                        </a>
                        <a href="#" class="save-workers no-show" title="Edit Workers">
                          <span class="glyphicon glyphicon-ok text-success"></span>
                        </a>
                        <a href="#" class="cancel-workers no-show" title="Edit Workers">
                          <span class="glyphicon glyphicon-remove text-danger"></span>
                        </a>
                      </td>
                      <td class="shrink">
                        <input type="checkbox" class="pin-input" data-id="{{ a.id }}" {% if a.pin %}checked{% endif %}>
                      </td>
                    {% endfor %}
                  </tr>
                {% endif %}
                {% empty %}
              {% endfor %}
              <!-- This is for unfilled service slots -->
              {% for slot in service.unassigned_slots %}
                {% if slot.workers_required > 0 %}
                  <tr class="danger">
                    <td class="shrink">{{ slot.name }}</td>
                    <td class="shrink worker-count">0/{{ slot.workers_required }}</td>
                    <td>
                      <div class="worker-text" data-max="{{ slot.workers_required }}">
                        <i>No Workers Assigned.</i>
                      </div>
                      <div class="worker-input no-show">
                        <input data-slot="{{ slot.id }}" data-service="{{ service.id }}" type="text" placeholder="Workers for this service..." class="demo-default worker-select" value="">
                      </div>
                    </td>
                    <td class="shrink">
                      <a href="#" class="edit-workers no-show" title="Edit Workers">
                        <span class="glyphicon glyphicon-pencil text-muted"></span>
                      </a>
                      <a href="#" class="save-workers no-show" title="Edit Workers">
                        <span class="glyphicon glyphicon-ok text-success"></span>
                      </a>
                      <a href="#" class="cancel-workers no-show" title="Edit Workers">
                        <span class="glyphicon glyphicon-remove text-danger"></span>
                      </a>
                    </td>
                    <td class="shrink">
                      <input type="checkbox" class="pin-input" data-id="">
                    </td>
                  </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        {% endfor %}
      {% endfor %}
    <hr />
  </div>
  <!-- End Assign Tab -->

  <!-- Workers Tab -->
  <div role="tabpanel" class="tab-pane" id="workers">
    <h4 class="pull-left" style="line-height: 30px; margin-bottom: 5px; width:100%">
      <div class="pull-left">
        Workers:
      </div>
      <div class="col-xs-6 pull-left" style="width: 318px;">
        <a href="{% url 'admin:services_worker_changelist' %}" class="btn btn-default">Edit Workers</a>
      </div>

      <div class="pull-right">
      <div class="btn-group">
        <a href="#" class="btn btn-default" readonly>Global Services Needed: </a>
        <a href="#" class="minus btn btn-default">
          <span class="glyphicon glyphicon-minus"></span>
        </a>
        <a href="#" class="plus btn btn-default">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
      </div>
    </h4>
    <hr class="thin-hr clearfix">
    {% for worker in workers %}
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="padding: 0px;">
        <div class="input-group worker-group" data-id="{{ worker.id }}">
          <div class="input-group-addon worker-addon">{{ worker }}</div>
          <input type="text" name="cap-{{ worker.id }}" class=" form-control worker-input cap-input" placeholder="0" required="" value="{{ worker.services_cap }}"/>
          <input type="text" name="health-{{ worker.id }}" class=" form-control worker-input health-input" placeholder="0" required="" value="{{ worker.health }}"/>
        </div>
      </div>
    {% endfor %}
    <hr class="col-xs-12 clearfix" />
    <div class="col-xs-12 clearfix">
      <a href="#" class="btn btn-success clearfix" id="save-workers">Save Worker Settings</a>
    </div>
  </div>
  <!-- End Workers Tab -->

  <!-- Services Tab -->
  <div role="tabpanel" class="tab-pane" id="services">
    {% for category in service_categories %}
      <h3>{{ category }}</h3>
      <table class="table table-condensed no-border">
        {% for service in category.services.all %}
          <tr>
            <td class="active-input">
              <input type="checkbox" class="service-active-input" data-id="{{ service.id }}" {% if service.active %}checked{% endif %} />
            </td>
            <td class="heading">
              <a href="{% url 'admin:services_service_change' service.id %}" target="_blank">{{ service.weekday|weekday_name }}</a>
            </td>
            {% for slot in service.serviceslot_set.all %}
              <td class="pull-left">
                <input type="integer" class="integer-input serviceslot-input" data-id="{{ slot.id }}" value="{{ slot.workers_required }}" placeholder="# Workers Required" />
                {{ slot.name }}
              </td>
              {% empty %}
              <td></td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
    {% endfor %}
    <hr class="col-xs-12 clearfix" />
    <div class="col-xs-12 clearfix">
      <a href="#" class="btn btn-success save-workloads">Save Service Workloads</a>
    </div>
  </div>
  <!-- End Services Tab -->

  <!-- Exceptions Tab -->
  <div role="tabpanel" class="tab-pane" id="exceptions">
    <h3>Exceptions</h3>
    <div class="btn-group">
      <a href="{% url 'services:services-exception-add' %}" class="btn btn-primary">Add Exception</a>
    </div>

    <div class="data-table-container">
      <table class="table table-striped table-bordered data-table" id="table_exceptions">
        <thead>
          <tr>
            <td></td>
            <td>Name</td>
            <td>Tags</td>
            <td>Start</td>
            <td>End</td>
            <td>Count</td>
            <td>Workload</td>
            <td>Trainees</td>
            <td>Schedule</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
        {% for exception in exceptions %}
          <tr>
            <td class="active-input">
              <input type="checkbox" class="exception-active-input" data-id="{{ exception.id }}" {% if exception.active %}checked{% endif %} />
            </td>
            <td>{{exception.name}}</td>
            <td>{{exception.tag}}</td>
            <td>{{exception.start|date:"Y-m-d"}}</td>
            <td>{{exception.end|date:"Y-m-d"}}</td>
            <td>{{exception.workers.count}}</td>
            <td>{{exception.workload}}</td>
            <td class="shorten">{{exception.get_worker_list}}</td>
            <td>{{exception.schedule}}</td>
            <td><a href="{{exception.get_update_url}}" target="_blank">Edit</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <!-- End Exceptions Tab -->

  <!-- Review Tab -->
  <div role="tabpanel" class="tab-pane" id="review">
    <h3>Current Assignments Report</h3>
    <div class="data-table-container">
      <table class="table table-striped table-bordered data-table" id="results">
        <thead>
          <tr>
            <th class="category-info">Workers</th>
            {% for category in categories %}
              <th class="category-info">{{ category.name }}</th>
            {% endfor %}
           </tr>
        </thead>
        <tbody>
        {% for worker in report_assignments %}
          <tr>
            <td>
              {{ worker.trainee.full_name }}
            </td>
            {% for category in categories %}
              {% if category in worker.services %}
                <td>
                {% with services=worker.services|get_item:category %}
                  {% for s, role in services %}
                    {{ s.weekday|weekday_code }}
                    {% if role == '*' %}*{% endif %}
                    {% if not forloop.last %}, {% endif %}
                  {% endfor %}
                {% endwith %}
                </td>
              {% else %}
                <td></td>
              {% endif %}
            {% endfor %}
           </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <!--End Review Tab -->

  <!--Graph Tab -->
  <div role="tabpanel" class="tab-pane" id="graph">
    <h3>Compiled Graph</h3>

    <div class="data-table-container">
      <table class="table table-striped table-bordered" id="graph">
        <thead>
          <tr>
            <th class="category-info">Services</th>
            <th class="category-info">Slot</th>
            <th class="category-info">Count</th>
            <th class="category-info">Pool</th>
           </tr>
        </thead>
        <tbody>
        {% for service, workers in graph %}
          {% with s=service.0 slot=service.1 %}
            {% if slot.workers_required > 0 %}
              <tr>
                <td>
                  {{ s.name }}
                </td>
                <td>
                  {{ slot.name }}
                </td>
                <td>
                  {{ slot.workers_required }}
                </td>
                <td class="shorten">
                  {{ workers|worker_list }}
                </td>
               </tr>
            {% endif %}
          {% endwith %}
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <!-- End Graph Tab -->

  <!-- Calendar Tab -->
  <div role="tabpanel" class="tab-pane" id="servicescalendar">
    <h3>Weekly Services</h3>
    <div id="calendar"></div>
  </div>
  <!-- End Calendar Tab -->

  <!-- Assignments Tab -->
  <div role="tabpanel" class="tab-pane" id="assignments">
    <div class="clear">&nbsp;</div>
    <div class="alert alert-info" role="alert">
      Note - # of trainees for designated services are automatically calculated based on trainees selected in worker group
    </div>
    {% for category in designated_categories %}
      <h3>{{ category }}</h3>
      <table class="table table-condensed no-border">
        {% for service in category.services.all %}
          <tr>
            <td class="active-input">
              <input type="checkbox" class="service-active-input" data-id="{{ service.id }}" {% if service.active %}checked{% endif %} />
            </td>
            <td>
              <a href="{% url 'admin:services_service_change' service.id %}" target="_blank">{{ service.name }}</a>
            </td>
            {% for slot in service.serviceslot_set.all %}
              <td class="pull-left">
                <input type="integer" class="integer-input serviceslot-input" data-id="{{ slot.id }}" value="{{ slot.workers_required }}" placeholder="# Workers Required" disabled="true" />
                {{ slot.name }}
              </td>
            {% empty %}
              <td></td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
    {% endfor %}
    <hr class="col-xs-12 clearfix" />
    <div class="col-xs-12 clearfix">
      <a href="#" class="btn btn-success save-workloads">Save Designated Service Workloads</a>
    </div>
  </div>
  <!-- End Assignments Tab -->

  <!-- Printouts Tab -->
  <div role="tabpanel" class="tab-pane" id="reports">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          Line for this week:<br>
          <textarea id=encouragement rows="4" cols="60" placeholder="insert encouragement">{{cws.encouragement}}</textarea>
          <br>
          <button type="button" class="btn btn-primary" id="save_encouragement">Save</button>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-3">
          <a href="{% url 'services:services_schedule'%}" target="_blank" class="btn btn-primary">all trainees</a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <a href="{% url 'services:services_schedule_house'%}" target="_blank" class="btn btn-primary">by house</a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <a href="{% url 'services:kservices_signin' %}" target="_blank" class="btn btn-primary">kitchen sign-in sheets</a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <a href="{% url 'services:rservices_signin' %}" target="_blank" class="btn btn-primary">restroom sign-in sheets</a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <a href="{% url 'services:oservices_signin' %}" target="_blank" class="btn btn-primary">all other sign-in sheets</a>
        </div>
      </div>
    </div>
  </div>
  <!-- End Printouts Tab -->

<script>
  var worker_update_url = "/api/update-workers/";
  var slots_update_url = "/api/update-workloads/";
  var services_update_url = "/api/update-active-services/";
  var services_update_time_url = "/api/update-time-services/";
  var assignment_workers_url = "/api/service-assignments/";
  var assignment_pin_url = "/api/service-assignments-pin/";
  var exception_active_url = "/api/update-exception-active/";
  var services_admin_url = "{% url 'admin:services_service_changelist' %}";

  var week_schedule_id = {{ cws.id }};

  function sendBulkAjax(url, data) {
    $.ajax({
      contentType: 'application/json',
      dataType: 'json',
      type: 'PATCH',
      url: url,
      data: JSON.stringify(data),
      success: function(response) {
        console.log(response);
        new Notification(Notification.SUCCESS, 'Saved').show();
      }
    })
  }

  var workers = {{ workers_bb|safe }};

  var workers_id_tb = {};

  for (var i=0; i<workers.length; i++) {
    var key = workers[i].id.toString();
    var val = workers[i].full_name;
    workers_id_tb[key] = val;
  }

  $(document).ready(function() {
    $('.manual-mode').click(function(e) {
      var show = window.confirm('Are you sure you want to turn on Manual-Mode? Validation will be turned off and you will be allowed to make illegal assignments');

      if (show) {
        $('.edit-workers').toggle();
      }
    });

    $('.fake-tab-link').click(function(e) {
      var elem = $(this);
      var href = elem.attr('href');
      $('a[href="' + href + '"]').tab('show');

      return false;
    });

    function intializeSelectize(elem$, max) {
      var new_workers = $.extend(true, [], workers);
      console.log('workers', workers, new_workers)
      return elem$.selectize({
        delimiter: ',',
        plugins: ['remove_button'],
        // maxItems: max,
        valueField: 'id',
        labelField: 'full_name',
        searchField: 'full_name',
        options: workers,
        create: false,
        onBlur: function() {
          // saveDB();
        },
      });
    }

    function toggleEditWorkers(elem, destroyInput) {
      var tr = elem.parent().parent();

      tr.find('.worker-text').toggle();
      tr.find('.worker-input').toggle();

      elem.parent().find('.edit-workers').toggle();
      elem.parent().find('.save-workers').toggle();
      elem.parent().find('.cancel-workers').toggle();
    }

    function convertIDsToWorkers(IDList) {
      var workers = [];
      for (var i=0; i<IDList.length; i++) {
        workers.push(workers_id_tb[IDList[i]]);
      }

      return workers;
    }

    $('.save-workers').click(function(e) {
      e.stopPropagation();
      var elem = $(this);

      var tr = elem.parent().parent();
      var textDiv = tr.find('.worker-text');
      var input = tr.find('.worker-select');
      var assignment = input.data('assignment');

      var ajax_type = assignment ? 'PATCH' : 'POST';

      var input_val = input.val().toString();

      console.log('input_val', input_val, assignment, input, textDiv);

      var workers = JSON.parse('[' + input_val + ']');

      var worker_count = workers.length;
      var max = textDiv.data('max');

      var row_class = '';

      if (worker_count == 0) {
        // none
        row_class = 'danger';
      } else if (worker_count < max) {
        // partially filled
        row_class = 'warning';
      } else if (worker_count == max) {
        // full
        row_class = '';
      }

      var data = {
        workers: workers,
        service_slot: input.data('slot'),
        service: input.data('service'),
        week_schedule: week_schedule_id
      };

      if (assignment) {
        data['id'] = assignment;
      }

      console.log('ajaxing out', data, ajax_type);

      $.ajax({
        contentType: 'application/json',
        dataType: 'json',
        type: ajax_type,
        url: assignment_workers_url,
        data: JSON.stringify([data]),
        success: function(response) {

          if (!assignment) {
            var id = response[0].id;
            input.data('assignment', id);
            tr.find('.pin-input').data('id', id);
          }

          console.log(response);

          tr.attr('class', row_class);

          console.log('worker count', worker_count, max);

          // update worker count
          tr.find('.worker-count').html(worker_count + '/' + max);

          var nworkers = convertIDsToWorkers(input_val.split(','));
          var text = nworkers.join(', ');
          text = text == '' ? '<i>No Workers Assigned</i>' : text;

          textDiv.html(text);
          textDiv.data('workers', input_val);

          console.log('saving data', input_val);

          toggleEditWorkers(elem, true);

          new Notification(Notification.SUCCESS, 'Saved').show();
        }
      })


      return false;

    });

    $('.cancel-workers').click(function(e) {
      e.stopPropagation();
      var elem = $(this);
      toggleEditWorkers(elem, true);

      return false;
    });


    $('.edit-workers').click(function(e) {
      e.stopPropagation();

      var elem = $(this);
      var tr = elem.parent().parent();
      var textDiv = tr.find('.worker-text');

      toggleEditWorkers(elem);

      var input = tr.find('.worker-select');
      console.log('elem', input);
      var initValues = textDiv.data('workers') ? textDiv.data('workers').toString() : '';
      var max = textDiv.data('max');
      if (!input.hasClass('selectize-control')) {
        if (initValues && initValues != '') {
          input.attr('value', initValues);
          input.val(initValues);
        }
        console.log('setting input to', initValues, input.val());
        console.log(input.attr('value'));
        var selectized = intializeSelectize(input, max);
        console.log(input.attr('value'));
        input.data('selectize', selectized)
        $(input.next()[0]).find('input').click();
      } else {
        // update object
        var obj = input.data('selectize')[0].selectize;
        obj.clear();
        if (initValues && initValues != '') {
          var initValues = initValues.split(',');
          obj.setValue(initValues);
        }
        console.log('finisehe');
      }

      return false;
    });

    $('.pin-input').click(function(e) {
      var data = [];
      var inputgroups = $('.pin-input');
      var id, ig, val
      for (var i = 0; i < inputgroups.length; i++) {
        val = inputgroups[i].checked;
        ig = $(inputgroups[i]);
        id = ig.data('id');
        if (!id || id == '') {
          continue;
        }
        data.push({
          id: id,
          pin: val,
        });
      }
      sendBulkAjax(assignment_pin_url, data);
    });

    $('.exception-active-input').click((e) => {
      let data = {
        id: $(e.currentTarget).data('id'),
        active: e.currentTarget.checked,
      };
      sendBulkAjax(exception_active_url, [data]);
    });

    /////////////////// Workers Cap + Health ///////////////////

    $('#save-workers').click(function(e) {
      var data = [];
      var inputgroups = $('.worker-group');
      var id, ig, cap, health;
      for (var i = 0; i < inputgroups.length; i++) {
        ig = $(inputgroups[i]);
        id = ig.data('id');

        cap = parseInt(ig.find('.cap-input').val());
        health = parseInt(ig.find('.health-input').val());

        data.push({
          id: id,
          services_cap: cap,
          health: health
        });
      }

      sendBulkAjax(worker_update_url, data);

      return false;
    });


    /////////////////// Service Workloads ///////////////////

    $('.save-workloads').click(function(e) {
      var data = [];
      var inputgroups = $('.serviceslot-input');

      var id, ig, val
      for (var i = 0; i < inputgroups.length; i++) {
        ig = $(inputgroups[i]);
        id = ig.data('id');
        val = parseInt(ig.val());

        data.push({
          id: id,
          workers_required: val
        });
      }

      sendBulkAjax(slots_update_url, data);

      data = [];

      var checkboxgroups = $('.service-active-input');
      var id, ig, val
      for (var i = 0; i < checkboxgroups.length; i++) {
        val = checkboxgroups[i].checked;
        ig = $(checkboxgroups[i]);
        id = ig.data('id');

        console.log('val', val, id);

        data.push({
          id: id,
          active: val
        });
      }

      sendBulkAjax(services_update_url, data);

      return false;
    });

    function incrementCap(increase) {
      var inputs = $('.cap-input');
      var elem, val, new_val;
      for (var i = 0 ; i < inputs.length; i++) {
        elem = $(inputs[i]);
        val = parseInt(elem.val());
        new_val = increase ? val + 1 : val - 1;
        $(elem).attr('value', new_val);
      }
    }

    $('.plus').click(function(e) {
      incrementCap(true);
      return false;
    });

    $('.minus').click(function(e) {
      incrementCap(false);
      return false;
    });

    var options = [];

    function initializeDataTable(elem) {
      elem.DataTable({
        paging: false,
        columnDefs: [
          {
            targets: 'no-sort',
            orderable: false,
          },
          {
            targets: options, visible: true
          },
          {
            targets: 'category-info',
            visible: true
          },
          {
            targets: '_all',
            visible: true
          }
        ],
        dom: '<"row"<"col-sm-6"Bl><"col-sm-6"f>>' +
          '<"row"<"col-sm-12"<"table-responsive"tr>>>' +
          '<"row"<"col-sm-5"i><"col-sm-7"p>>',
        buttons: {
          buttons: [
            {
              extend: 'csvHtml5',
              text: 'CSV',
              filename: 'Service Schedule Report',
              title: 'Service Schedule Report',
              exportOptions: {
                columns: ':visible'
              },
            },
            {
              extend: 'colvis',
              text: 'Show/Hide Columns',
              columns: ':gt(0)',
            },
          ],
          dom: {
            container: {
              className: 'dt-buttons'
            },
            button: {
              className: 'btn btn-default'
            }
          }
        }
      });
    }

    /////////////////// Reports ///////////////////
    initializeDataTable($('#results'));
    initializeDataTable($('#table_exceptions'));

    $("#save_encouragement").click(function() {
      var encour = $("#encouragement").val();
      $.ajax({
        type: "POST",
        url: "{% url 'services:services_schedule' %}",
        data: {
          encouragement: encour
        },
        success: function(response) {
          new Notification(Notification.SUCCESS, 'Saved').show();
        },
      });
    });
  })
</script>

<script>
  var services = {{ services_bb|safe }};

  var color_list = [];
  var base_color = xolor('darkslateblue');
  var NUM_OF_COLORS = {{categories.count}};

  for (var i=0; i<NUM_OF_COLORS+1; i++) {
    var color = base_color.gradient('yellowgreen', i / NUM_OF_COLORS).hex;
    color_list.push(color);
  }
  var color_dict = {};
  for (var i=0; i<services.length; i++) {
    var c = services[i].category
    if (!(c in color_dict)) {
      color_dict[c] = color_list.pop();
    }
    services[i]['color'] = color_dict[c];
  }
    var event_tab;


  $(document).ready(function() {

   $('#makepdf').click(function(){
    var qtyhouse = $('#house').val()
    var qtycc = $('#candc').val()
    var qtyall = $('#all').val()
    var instruc = $('#instruction_line').val()

    $.ajax({
      type: "GET",
      url: "{% url 'services:services_schedule' %}",
      data:{
        csrfmiddlewaretoken: '{{ csrf_token }}'},
        house: qtyhouse,
        cc: qtycc,
        all: qtyall,
        line: instruc,
      success: function(response){

      },
    })


   })

   $('.quantity-right-plus').click(function(e){

        // Stop acting like a button
        e.preventDefault();

        // Get the field name
        var numfield = "#" + $(this).closest("div").css("class", "input-group").children("input").attr('id');
        var quantity = parseInt($(numfield).val());

        // If is not undefined
            $(numfield).val(quantity + 1);
    });

    $('.quantity-left-minus').click(function(e){
        // Stop acting like a button
        e.preventDefault();

        // Get the field name
        var numfield = "#" + $(this).closest("div").css("class", "input-group").children("input").attr('id');
        var quantity = parseInt($(numfield).val());

        if(quantity>0){
          $(numfield).val(quantity - 1);
        }
    });

    var today = moment();
    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      firstDay: 2,  // Set first day to Tuesday
      defaultDate: today,
      defaultView: 'agendaWeek',
      editable: true,
      droppable: true, // this allows things to be dropped onto the calendar
      eventLimit: true, // allow "more" link when too many events
      selectable: true,
      selectHelper: true,
      eventClick: function(event, jsEvent, view){
        if(!event_tab || event_tab.closed){
          event_tab = window.open(services_admin_url+event.id, "_blank");
        } else {
          event_tab.location = services_admin_url+event.id;
          event_tab.focus();
        }
      },
      select: function(start, end) {
        var title = prompt("Enter Service Name");
        var obj = {
          name: title,
          start: start.format('HH:mm:ss'),
          end: end.format('HH:mm:ss'),
          weekday: (start.format('E')-1)
        };
        var str = "";
        for (var key in obj) {
            if (str != "") {
                str += "&";
            }
            str += key + "=" + encodeURIComponent(obj[key]);
        }
        // console.log(services_admin_url+"add/?"+str);
        window.open(services_admin_url+"add/?"+str, "_blank");
      },
      eventResize: updateServiceTimeSlot,
      eventDrop: updateServiceTimeSlot,
      eventSources: [
      {
        events: services
      }]
    });

    function updateServiceTimeSlot(event, delta, revertFunc){
      // console.log(event, delta, revertFunc, services_update_time_url);
      data = [];
      data.push({
        id: event.id,
        name: event.title,
        start: event.start.format('h:mm:ss a'),
        end: event.end.format('h:mm:ss a'),
        weekday: (event.start.format('E')-1)
      });
      // console.log(data);
      sendBulkAjax(services_update_time_url, data);
    }

    $('a[data-toggle="tab"][href="#servicescalendar"]').on('shown.bs.tab', function(e){
      $('#calendar').fullCalendar('today');
    })
  });

</script>
<style>
  #calendar {
    max-width: 900px;
    margin: 0 auto;
  }
</style>

<link rel="stylesheet" type="text/css" href="{% static 'services/css/vertical-tabs.css' %}">

{% endblock %}
