{% extends "services/base_services.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block tab1 %}class="active"{% endblock %}

{% block references %}
<!--     <link rel="stylesheet" href="{% static "datatables/css/jquery.dataTables.css" %}" /> -->
<!--     <link rel="stylesheet" href="{% static "datatables/css/jquery-ui.css" %}" />
    <link rel="stylesheet" href="{% static "datatables/css/bootstrap.css" %}" /> -->
<!--     <link rel="stylesheet" href="{% static "datatables/css/dataTables.bootstrap.css" %}" /> -->

    <link rel="stylesheet" type="text/css" href="{% static "bible_tracker/css/datatables.css" %}"/>
    <style>

      .worker-addon {
        width: 180px;
        text-align: left;
        max-width: 180px;
      }
      .input-group .worker-input {
        width: 50px;
      }
    </style>
{% endblock %}

{% block scripts %}
<!--     <script type="text/javascript" src="{% static "datatables/js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "datatables/js/jquery.dataTables.js" %}"></script>
    <script type="text/javascript" src="{% static "datatables/js/dataTables.bootstrap.js" %}"></script>
    <script type="text/javascript" src="{% static "datatables/js/dataTables.tableTools.js" %}"></script> -->
    <script type="text/javascript" src="{% static "badges/js/badgeDataTable.js" %}"></script>
    <script type="text/javascript" src="{% static "js/moment.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bible_tracker/js/datatables.js" %}"></script>
    <script type="text/javascript">
/* lazyload.js (c) Lorenzo Giuliani
 * MIT License (http://www.opensource.org/licenses/mit-license.html)
 *
 * expects a list of:
 * `<img src="blank.gif" data-src="my_image.png" width="600" height="400" class="lazy">`
 */
$(window).ready(function() {
    var window = this;
  var $q = function(q, res){
        if (document.querySelectorAll) {
          res = document.querySelectorAll(q);
        } else {
          var d=document
            , a=d.styleSheets[0] || d.createStyleSheet();
          a.addRule(q,'f:b');
          for(var l=d.all,b=0,c=[],f=l.length;b<f;b++)
            l[b].currentStyle.f && c.push(l[b]);

          a.removeRule(0);
          res = c;
        }
        return res;
      }
    , addEventListener = function(evt, fn){
        window.addEventListener
          ? this.addEventListener(evt, fn, false)
          : (window.attachEvent)
            ? this.attachEvent('on' + evt, fn)
            : this['on' + evt] = fn;
      }
    , _has = function(obj, key) {
        return Object.prototype.hasOwnProperty.call(obj, key);
      }
    ;

  function loadImage (el, fn) {
    var img = new Image()
      , src = el.getAttribute('data-src');
    img.onload = function() {
      if (!! el.parent)
        el.parent.replaceChild(img, el)
      else
        el.src = src;

      fn? fn() : null;
    }
    img.src = src;
  }

  function elementInViewport(el) {
    var rect = el.getBoundingClientRect()

    return (
       rect.top    >= 0
    && rect.left   >= 0
    && rect.top <= (window.innerHeight || document.documentElement.clientHeight)
    )
  }

    var images = new Array()
      , query = $q('img.lazy')
      , processScroll = function(){
          for (var i = 0; i < images.length; i++) {
            if (elementInViewport(images[i])) {
              loadImage(images[i], function () {
                images.splice(i, i);
              });
            }
          };
        }
      ;
    // Array.prototype.slice.call is not callable under our lovely IE8
    for (var i = 0; i < query.length; i++) {
      images.push(query[i]);
    };

    processScroll();
    addEventListener('scroll',processScroll);

});

    </script>
{% endblock %}

{% block services_content %}

 <!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#assign" aria-controls="assign" role="tab" data-toggle="tab">Assign</a></li>
  <li role="presentation"><a href="#workers" aria-controls="workers" role="tab" data-toggle="tab">Workers</a></li>
  <li role="presentation"><a href="#services" aria-controls="services" role="tab" data-toggle="tab">Services</a></li>
  <li role="presentation"><a href="#review" aria-controls="review" role="tab" data-toggle="tab">Review</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane" id="assign">
    <form id="table" role="form" action="{% url 'badges:badges_print_all_inclusive_front' %}" method="post">
    {% csrf_token %}
      <table class="table table-bordered display compact cell-border" id="badges-table" cellspacing="0" width="100%" height=auto>
        <thead>
            <tr>
                <th>Service</th>
                <th>Role</th>
                <th>Pool</th>
                <th>Worker</th>
                <th>Workload</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
          {% for service, worker in assignments %}
            {% with service=service.0 serviceSlot=service.1 %}
            {# <p>{{ service }} : {{ serviceSlot }} => {{ worker }}</p> #}

              <tr>
                  <td>{{ service }}</td>
                  <td>{{ serviceSlot }}</td>
                  <td>{{ serviceSlot.worker_group.get_worker_list }}</td>
                  <td>{{ worker }}</td>
                  <td>{{ serviceSlot.workload }}</td>
                  <td>
                    <button class="btn btn-primary">Reassign</button>
                    <button class="btn btn-default">Pin</button>
                  </td>
              </tr>
              {% endwith %}
          {% endfor %}
        </tbody>
      </table>

      {# <table id="badges-table"></table> #}


        <input type="submit" class="btn btn-primary" value="Print All" />
        <button type="button" class="btn btn-default print-selected" onclick="printBadges()">Print Selected (0)</button>

    </form>
  </div>
  <div role="tabpanel" class="tab-pane" id="workers">
    <h4 class="pull-left" style="line-height: 30px; margin-bottom: 5px; width:100%">
      <div class="pull-left">
        Edit Workers:
      </div>
      <div class="col-xs-6 pull-left" style="width: 318px;">
        <div class="input-group">
        <div class="input-group-addon">Name</div>
        <input type="text" class=" form-control" placeholder="Services Needed" style="width: 136px"  />
        <input type="text" class=" form-control" placeholder="Health" required="" style="width: 80px;" />
        </div>
      </div>

      <div class="pull-right">
      <div class="btn-group">
        <a href="#" class="btn btn-default" disabled="disabled">Global Services Needed: </a>
        <a href="#" class="minus btn btn-default">
          <span class="glyphicon glyphicon-minus"></span>
        </a>
        <a href="#" class="plus btn btn-default">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
      </div>
    </h4>
    <hr class="thin-hr clearfix">
    {% for worker in workers %}
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="padding: 0px;">
      <div class="input-group worker-group" data-id="{{ worker.id }}">
        <div class="input-group-addon worker-addon">{{ worker }}</div>
        <input type="text" name="cap-{{ worker.id }}" class=" form-control worker-input cap-input" placeholder="0" required="" value="{{ worker.services_cap }}"/>
        <input type="text" name="health-{{ worker.id }}" class=" form-control worker-input health-input" placeholder="0" required="" value="{{ worker.health }}"/>
      </div>
    </div>
    {% endfor %}
    <hr class="col-xs-12 clearfix" />
    <div class="col-xs-12 clearfix">
      <a href="#" class="btn btn-success clearfix" id="save-workers">Save Worker Settings</a>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="services">
    Services
    {% for category in categories %}
    <div class="col-md-12">
      <h3>{{ category }}</h3>
      <ul>
        {% for service in category.services.all %}
        <li>
        {{ service.name }}
        {% for slot in service.serviceslot_set.all %}
          {{ slot.name }}
          <input type="integer" class="serviceslot-input" data-id="{{ slot.id }}" value="{{ slot.workers_required }}" placeholder="# Workers Required">
        {% endfor %}
        </li>

        {% endfor %}
      </ul>
    </div>

    {% endfor %}


    <hr class="col-xs-12 clearfix" />
    <div class="col-xs-12 clearfix">
      <a href="#" class="btn btn-success" id="save-workloads">Save Service Workloads</a>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane active" id="review">
    Review

    <div class="data-table-container">

  <table class="table table-striped table-bordered" id="results">
    <thead>
      <tr>
        <th class="category-info">Workers</th>
        {% for category in categories %}
        <th class="category-info">{{ category.name }}</th>
        {% endfor %}
       </tr>
    </thead>
    <tbody>
    {% for worker in report_assignments %}
      <tr>
        <td>
          {{ worker.trainee.full_name }}
        </td>
        {% for category in categories %}
          {% if category in worker.services %}
            <td>
            {% with services=worker.services|get_item:category %}
              {% for s in services %}
                {{ s.weekday|weekday_code }},
              {% endfor %}
            {% endwith %}
            </td>
          {% else %}
          <td></td>
          {% endif %}
        {% endfor %}
       </tr>
    {% endfor %}
    </tbody>
  </table>
  </div>


  </div>
</div>


<script>
  var worker_update_url = "/api/update-workers";
  var slots_update_url = "/api/update-workloads"

  $.ajaxSetup({
    headers: { "X-CSRFToken": getCookie("csrftoken") }
  });

  function flashAjaxStatus(status) {
    var bar = $('#' + status);
    bar.show();
    bar.fadeOut(2000);
  }

  function sendBulkAjax(url, data) {
    $.ajax({
      contentType: 'application/json',
      dataType: 'json',
      type: 'PATCH',
      url: url,
      data: JSON.stringify(data),
      success: function(response) {
        console.log(response);
        flashAjaxStatus('saved');
      }
    })
  }

  $(document).ready(function() {
    /////////////////// Workers Cap + Health ///////////////////

    $('#save-workers').click(function(e) {
      var data = [];
      var inputgroups = $('.worker-group');
      var id, ig, cap, health;
      for (var i = 0; i < inputgroups.length; i++) {
        ig = $(inputgroups[i]);
        id = ig.data('id');

        cap = parseInt(ig.find('.cap-input').val());
        health = parseInt(ig.find('.health-input').val());

        data.push({
          id: id,
          services_cap: cap,
          health: health
        });
      }

      sendBulkAjax(worker_update_url, data);

      return false;
    });

    /////////////////// Service Workloads ///////////////////

    $('#save-workloads').click(function(e) {
      var data = [];
      var inputgroups = $('.serviceslot-input');

      var id, ig, val
      for (var i = 0; i < inputgroups.length; i++) {
        ig = $(inputgroups[i]);
        id = ig.data('id');
        val = parseInt(ig.val());

        data.push({
          id: id,
          workers_required: val
        });
      }

      sendBulkAjax(slots_update_url, data);

      return false;
    });

    function incrementCap(increase) {
      var inputs = $('.cap-input');
      var elem, val, new_val;
      for (var i = 0 ; i < inputs.length; i++) {
        elem = $(inputs[i]);
        val = parseInt(elem.val());
        new_val = increase ? val + 1 : val - 1;
        $(elem).val(new_val);
      }
    }

    $('.plus').click(function(e) {
      incrementCap(true);
      return false;
    });

    $('.minus').click(function(e) {
      incrementCap(false);
      return false;
    });

    var options = [];

    /////////////////// Reports ///////////////////
    $('#results').DataTable({
      paging: false,
      columnDefs: [{
      targets: 'no-sort',
      orderable: false,
      },
      {targets: options, visible: true},
      {targets: 'category-info' ,visible: true},
      {targets: '_all' ,visible: false}
      ],
      dom: '<"row"<"col-sm-6"Bl><"col-sm-6"f>>' +
      '<"row"<"col-sm-12"<"table-responsive"tr>>>' +
      '<"row"<"col-sm-5"i><"col-sm-7"p>>',
      // fixedHeader: {
      // header: true
      // },
      buttons: {
      buttons: [{
        extend: 'pdfHtml5',
        text: 'PDF',
        filename: 'Service Schedule Report',
        title: 'Service Schedule Report',
        download: 'open',
        exportOptions: {
        columns: ':visible'
        },
        },{
        extend: 'csvHtml5',
        text: 'CSV',
        filename: 'Service Schedule Report',
        title: 'Service Schedule Report',
        exportOptions: {
        columns: ':visible'
        },
        }, {
        extend: 'colvis',
        text: 'Show/Hide Columns',
        columns: ':gt(1)',
      },],
      dom: {
        container: {
        className: 'dt-buttons'
        },
        button: {
        className: 'btn btn-default'
        }
      }
      }
    });
  })
</script>



{% endblock %}

{% block post_container %}
  <div id="saved" class="alert alert-success ajax-status">Saved</div>
  <div id="deleted" class="alert alert-danger ajax-status">Deleted</div>
{% endblock %}