{% load staticfiles %}

{% block styles %}
<link rel="stylesheet" href="{% static 'services/css/restroom.css' %}" />
{% endblock %}


{% block content %}

{% for gen in restroom %}

<div id="header">
  <h1>{% if gen.0.service_slot.gender == 'B' %}Brothers{% elif gen.0.service_slot.gender == 'S' %}Sisters{% endif %}
  Restroom Cleaning Sign-In</h1>
  As of {{wkstart}}
</div>

<table>
  {% regroup gen by service as gen_bydays %}
  {% for day in gen_bydays %}

  <tr>
    <td><b>{{day.0}}</b></td>
  </tr>


  <tr class="header">
    <td><b>{{day.grouper.calculated_date}}</b></td>
    <td class="listings"><b>Substitute</b></td>
    <td class="listings"><b>Time Started</b></td>
    <td class="listings"><b>Time Finished</b></td>
  </tr>

  {% for a in day.1|dictsort:"service_slot.role"|merge_assigns %}
    {% include 'services/_signin.html' with num_blanks=3 %}
  {% endfor %}
  <tr class="empty"><td>&nbsp;</td></tr>
  {% endfor %}
</table>

<footer></footer>
{% endfor %}

{% endblock %}
