{% load staticfiles %}

{% block styles %}
<link rel="stylesheet" href="{% static 'services/css/two_column.css' %}" />
<link rel="stylesheet" href="{% static 'services/css/signin.css' %}" />
{% endblock %}


{% block content %}

{% for cats in others%}

<div id="header">
  <h1> {{cats.0.service.category}} Sign-In</h1>
  As of {{wkstart}}
</div>

{% regroup cats by service as cats_bydays %}

<div id="content">
  {% for day in cats_bydays %}
  <table class="shift">
    <tr>
      <td><b>{{day.0}}</b></td>
    </tr>
    <tr>
      <td><b>{{day.grouper.calculated_date}}</b></td>
      <td class="listings"><b>Substitute</b></td>
    </tr>

  {% for a in day.1|dictsort:"service_slot.role"|merge_assigns %}
    {% include 'services/_signin.html' with num_blanks=1 %}
  {% endfor %}
  </table>
  {% endfor %}
</div>


<footer></footer>
{% endfor %}
{% endblock %}
