{% load staticfiles %}

<link rel="stylesheet" href="{% static 'services/css/two_column.css' %}" />
<link rel="stylesheet" href="{% static 'services/css/two_column_header.css' %}" />
<link rel="stylesheet" href="{% static 'services/css/signin.css' %}" />

{% for a, b, c, d in kitchen %}
  <div class="header header-two-column">
    <h1>Kitchen Teams Sign-In</h1>
    <p class="week-start">As of {{wkstart}}</p>
    {% include "services/_instructions.html" %}
  </div>
  <div class="content">
    {% include "services/_signinsheetsk.html" with a=a %}
    {% include "services/_signinsheetsk.html" with a=b %}
    {% include "services/_signinsheetsk.html" with a=c %}
    {% include "services/_signinsheetsk.html" with a=d %}
  </div>
  <footer></footer>
{% endfor %}
