$icon-font-path: "../fonts/";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap" ;
@import "./arrow-icon";

.no-margin {
    margin: 0;
}

.no-border {
    border: 0;
}

.no-border:hover {
    background-color: white;
}

.no-padding {
    padding: 0px;
}

.bottom-margin {
    margin-bottom: 10px;
}

.border-top {
    border-top: solid thin #ccc;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

input {
    cursor: pointer;
}

label {
    cursor: pointer;
}

textarea {
    resize: vertical;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.toggle-title {
    font-size: 17px;
    margin-bottom: 8px;
}

.details {
    font-size: 14px;
}

.schedule-event {
    opacity: 0.9;
    position: absolute;
    width: 97%;
    text-align: center;
    font-size: 10px;
    color: #000000;
    background-color: #F6F1E8;
    display: flex;
    align-items: center; 
    justify-content: center;
    border-radius: 2px;
    border: solid thin #ccc;
    cursor: pointer;
}

.selected-event {
    display: inline-block;
    padding: 7px;
    background-color: #fafafa;
    margin: 0px 5px 10px;
    // opacity: 1.0;
    // border: 1px solid #000000;
}

.present {
    background-color: #F6F1E8;
    // border: 1px solid #8e8e8e;
}

.absent {
    background-color: rgba(217,83,79, 0.75);
    // border: 1px solid #d43f3a;
    // color: #a94442;
}

.tardy, .uniform, .left-class {
    background-color: rgba(240, 173, 78, 0.75);
    // border: 1px solid #eea236;
    // color: #8a6d3b;
}

.slip {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0 3px;
    border-radius: 2px;
}

.approved {
    background-color: rgba(135, 211, 124, 1);
    // color: rgba(135, 211, 124, 1);
}

.pending {
    background-color: rgba(210, 215, 211, 1);
}

.fellowship {
    background-color: rgba(34, 167, 240, 1);
}

.denied {
    background-color: black;
    color: white;
}

/* Leave slip styles */

#submit-leaveslip textarea {
    height: 80px;
}

#leaveslip-alert {
    display: none;
    background-color: #fbeed5;
    border: 1px solid #C5BCAD;
}

.form-body {
    border: solid thin #ccc;
    margin-top: 10px;
}

.form-section {
    margin: 10px 0 0 0;
    padding: 0px 15px 10px;
    position: relative;
}

.reason-container {
    margin-bottom: 6px;
}

.roll-input {
    display: inline-block;
    width: 33%;
    text-align: left;
    font-weight: normal;
}

.notification-only {
    display: inline-block;
    text-align: left;
    font-weight: normal;
    margin-top: 9px;
    margin-bottom: 10px;
}

.checkbox-container {
    cursor: pointer;
}

.leaveslip-checkbox {
    border-top: solid thin #ccc;
    border-right: solid thin #ccc;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 7px;
}

.bottom-border {
    border-bottom: solid thin #ccc;
}

.remove-all {
    position: absolute;
    right: 6px;
    top: -3px;
}

.comments-textarea {
    width: 100%;
    height: 100px;
    border: solid thin #ccc;
}

.dropdown-toggle {
    height: 34px;
}

.slip-event-status {
    font-style: italic;
}

.event-grid {
    margin-top: 25px;
}

.days-row {
    border-bottom: solid thin #cccccc;
    padding-top: 5px;
    color: gray;
    text-align: center;
    position: relative;
    top: -22px;
    left: -1px;
    font-size: 12px;
    cursor: pointer;
}

.schedule-header {
    text-align: center;
}

.today {
    background-color: #dff0d8;
    border-radius: 2px;
}

.today-text {
    color: gray;
    position: absolute;
    top: -30px;
    right: 24px;
    font-size: 12px;
}

.timebar {
    border-right: solid thin #cccccc;
}

.hour {
    height: 40px;
    /*border-bottom: dotted thin #cccccc;*/
    font-size: 10px;
    text-align: center;
    color: gray;
}

.week-bar {
    margin-bottom: 17.5px;
    padding-bottom: 17.5px;
    border-bottom: 1px solid #f1f1f1;
}