$icon-font-path: "../fonts/";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "./arrow-icon";

.no-margin {
    margin: 0;
}

.no-border {
    border: 0;
}

.no-border:hover {
    background-color: white;
}

.no-padding {
    padding: 0px;
}

.bottom-margin-10 {
    margin-bottom: 10px;
}

.bottom-border {
    border-bottom: solid thin #ccc;
}

.bottom-padding-25 {
    padding-bottom: 25px;
}

.top-border {
    border-top: solid thin #ccc;
}

.bold {
    font-weight: bold;
}

.position-container {
    position: relative;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

input {
    cursor: pointer;
}

label {
    cursor: pointer;
}

textarea {
    resize: vertical;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.toggle-title {
    font-size: 17px;
    margin-bottom: 8px;

}

.toggle-title-text {
    margin-right: 5px;
}

.toggle-title-mid {
    font-size: 15px;
}

.details {
    font-size: 14px;
}

.schedule-event {
    opacity: 0.9;
    position: absolute;
    width: 97%;
    text-align: center;
    font-size: 10px;
    color: #000000;
    background-color: #F6F1E8;
    display: flex;
    align-items: center; 
    justify-content: center;
    border-radius: 2px;
    border: solid thin #ccc;
    cursor: pointer;
}

.selected-event {
    display: inline-block;
    padding: 7px;
    background-color: #fafafa;
    margin: 0px 5px 10px;
    // opacity: 1.0;
    // border: 1px solid #000000;
}

.present {
    background-color: #F6F1E8;
    // border: 1px solid #8e8e8e;
}

.absent {
    background-color: rgba(217,83,79, 0.75);
    // border: 1px solid #d43f3a;
    // color: #a94442;
}

.tardy, .uniform, .left-class {
    background-color: rgba(240, 173, 78, 0.75);
    // border: 1px solid #eea236;
    // color: #8a6d3b;
}

.slip {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0 3px;
    line-height: normal;
}

.approved {
    background-color: rgba(135, 211, 124, 1);
    // color: rgba(135, 211, 124, 1);
}

.pending {
    background-color: rgba(210, 215, 211, 1);
}

.fellowship {
    background-color: rgba(52, 152, 219, 1);
}

.denied {
    background-color: black;
    color: white;
}

/* Leave slip styles */

#submit-leaveslip textarea {
    height: 80px;
}

.action-button {
    margin-right: 8px;
}

#leaveslip-alert {
    display: none;
    background-color: #fbeed5;
    border: 1px solid #C5BCAD;
}

.form-body {
    border: solid thin #ccc;
    margin-top: 10px;
}

.form-together {
    border-top: 0px;
    margin-top: 0px;
}

.form-section {
    padding: 10px 15px 10px;
    position: relative;
}

.form-buttons {
    position: absolute;
    bottom: 7px;
    right: 6px;
}

.form-error {
    color: #a94442;
    border-color: #a94442;
}

.slip-section {
    padding-bottom: 35px;
}

.reason-container {
    margin-bottom: 6px;
}

.radio-input {
    display: inline-block;
    width: 33%;
    text-align: left;
    font-weight: normal;
}

.select-caret {
    position: absolute;
    top: 15px;
    right: 10px;
}

.ta-names {
    margin-top: 10px;
}

.notification-only {
    display: inline-block;
    text-align: left;
    font-weight: normal;
    margin-top: 9px;
    margin-bottom: 10px;
}

.select-inform-status {
    -webkit-appearance: none;
}

.checkbox-container {
    cursor: pointer;
}

.leaveslip-checkbox {
    border-top: solid thin #ccc;
    border-right: solid thin #ccc;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 7px;
}

.remove-all {
    position: absolute;
    right: 6px;
    top: 6px;
}

.comments-textarea {
    width: 100%;
    height: 100px;
    border: solid thin #ccc;
}

.dropdown-toggle {
    height: 34px;
}

.slip-event-status {
    font-style: italic;
}

.event-grid {
    margin-top: 25px;
}

.days-row {
    border-bottom: solid thin #cccccc;
    padding-top: 5px;
    color: gray;
    text-align: center;
    position: relative;
    top: -22px;
    left: -1px;
    font-size: 12px;
    cursor: pointer;
}

.schedule-header {
    text-align: center;
}

.today {
    background-color: #dff0d8;
    border-radius: 2px;
}

.today-text {
    color: gray;
    position: absolute;
    top: -30px;
    right: 24px;
    font-size: 12px;
}

.timebar {
    border-right: solid thin #cccccc;
}

.hour {
    height: 40px;
    /*border-bottom: dotted thin #cccccc;*/
    font-size: 10px;
    text-align: center;
    color: gray;
}

.period {
    float: right;
    font-size: 22px;
    font-weight: 100;
    padding-right: 10px;
}

.week-bar-container {
    margin-bottom: 17.5px;
    overflow: hidden;
    border-bottom: 1px solid #f1f1f1;
}

.week-bar {
    float: right;
    margin-bottom: 17.5px;
}

.leaveslip-detail {
    &.pending {
        // background-color: #f3df80;
        background-color: rgba(210, 215, 211, 1);
    }
    &.fellowship {
        background-color: rgba(41, 128, 185,1.0);   
    }
    &.denied {
        border: solid thin black;
    }
    &.approved {
        // background-color: #6cda7c;
        background-color: rgba(135, 211, 124, 1);
    }

    .center-arrow {
        position: absolute;
        right: 10px;
        top: 25%;

        .fa {
            margin-right: 7px;
        }
    }
    border: solid thin #ccc;
    padding: 10px;
    font-size: 0.77em;
}

.leaveslip-comments {
    width: 90%;
}

.delete-button {
    position: absolute;
    bottom: 7px;
    left: 6px;
}

/* Attendance CSS customizations */

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  cursor: auto;
  opacity: 0.65;
  filter: alpha(opacity=65);
  box-shadow: none;
}

button.date-range {
    width: 110px;
}

.date-range[disabled], .date-range[disabled]:hover {
  background-color: #FFEBCD;
  cursor: auto;
}