{% extends "admin/change_list.html" %}
{% load i18n admin_static admin_list admin_urls suit_list suit_tags %}

{% block object-tools %}
	{% if has_add_permission %}
	  <div class="object-tools">
	    {% block object-tools-items %}
	    	<a href="{{ request.path }}import_trainees/" class="btn btn-default">Import All Trainees as Workers</a>
	      	<a href="{% url cl.opts|admin_urlname:'add' %}{% if is_popup %}?_popup=1{% endif %}" class="btn btn-success">
	        <i class="icon-plus-sign icon-white"></i>&nbsp;
	        {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
	      </a>
	    {% endblock %}
	  </div>
	{% endif %}
{% endblock %}