<table class="table">
  <tr><td>Status:</td>
    <td>{{ object.get_status_display }}</td></tr>
  <tr><td>Location:</td>
    <td>{{ object.location }}</td></tr>
  <tr><td>Frame:</td>
    <td>{{ object.frame }}</td></tr>
  <tr><td>House:</td>
    <td>{{ object.house }}</td></tr>
  <tr><td>Date submitted:</td>
    <td>{{ object.get_date_created }}</td></tr>
  <tr><td>Approved:</td>
    <td>{{ object.approved }}</td></tr>
  <tr><td>Frame there already:</td>
    <td>{{ object.frame_already_there }}</td></tr>
  <tr><td>TA Comment:</td>
    <td>{{ object.TA_comments }}</td></tr>
</table>
