/*.badge {
  width: 330px;
  height: 190px;
  border: transparent 1px;
}

.secondfreshcolumn {
  width: 330px;
  height: 190px;
  border: transparent 1px;
  position: absolute;
  float: left;
  left: 426px;
}

.banner {
  position: relative;
  width: 330px;
  height: 46px;
  text-align: center;
  background: #181CCE;
  color: white;
  font-size: 16pt;
  font-family: Times;
  line-height: 1.2;
}

.badge:nth-last-child(2), .secondfreshcolumn:nth-last-child(2), .badge:last-child,  .secondfreshcolumn:last-child {
  border-bottom: solid 1px;
}

@media all {
  .page-break { display: none; }
}

@media print {
  .page-break { display: block; page-break-before: always; }
}*/

.banner {
  background: #191CFA;
  background: {{ banner_color }};
}
