{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load common_tags %}
{% bootstrap_messages %}

{% block title %}{{ view.model|model_verbose_name|title }} Form{% endblock %}

{% block references %}
<style type="text/css">
  .grid {
    display: grid;
    grid-template-columns: 270px 120px 525px;
    grid-template-rows: 30px repeat(3, 35px 35px 20px);
    grid-template-areas:
      ". . ."
      "question1 . ldescription"
      "input1 . description"
      ". . description"
      "question2 . description"
      "input2 . description"
      ". . description"
      "question3 . description"
      "input3 . description"
      ". . .";
    align-items: end;
  }

  label[for=id_house] {
    grid-area: question1;
  }

  #id_house {
    grid-area: input1;
  }

  label[for=id_description] {
    grid-area: ldescription;
  }

  #id_description {
    grid-area: description;
  }

  label[for=id_room] {
    grid-area: question2;
  }

  #id_room {
    grid-area: input2;
  }

  label[for=id_request_type] {
    grid-area: question3;
  }

  #id_request_type {
    grid-area: input3;
  }
</style>
{% endblock %}

{% block scripts %}
  {{ form.media }}
  <script>
    var rooms = {{ rooms|safe }};
    $(document).ready(() => {
      let room_elem = $('#id_room');
      room_elem.empty();
      $("#id_house").on("change", e => {
        room_elem.empty();
        let house_id = parseInt(e.target.value);
        let new_room_options = rooms.filter(r => r.fields.house == house_id);
        new_room_options.forEach(o => {
          let option = $('<option></option>').attr('value', o.pk)
            .text($("#id_house :selected").text() + ' ' + o.fields.type);
          room_elem.append(option);
        });
        if (['MCC', 'TC'].includes($(e.currentTarget).find('option:selected').text())) {
          room_elem.attr("disabled", true);
        } else {
          room_elem.attr("disabled", false);
        }
      });
    });
  </script>
{% endblock %}

{% block content %}
  <h2>{{ view.model|model_verbose_name|title}} Form</h2>

  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#maintenance-request" aria-controls="home" role="tab" data-toggle="tab">Request</a></li>
    <li role="presentation"><a href="#maintenance-request-history" aria-controls="profile" role="tab" data-toggle="tab">History</a></li>
  </ul>

  <div class="tab-content">

    <div id="maintenance-request" class="tab-pane active" role="tabpanel" >
      <div class="request-form">
        <form action="" method="post">
          {% csrf_token %}

          <div class="grid">
            {{ form.house.label_tag }}
            {{ form.house }}

            {{ form.room.label_tag }}
            {{ form.room }}

            {{ form.request_type.label_tag }}
            {{ form.request_type }}

            {{ form.description.label_tag }}
            {{ form.description }}
          </div>

          {{ form.urgent }} Urgent

          {% buttons %}
            {% if not read_only %}
            <button type="submit" class="submit btn btn-primary">
              Submit
            </button>
            {% endif%}
          {% endbuttons %}
        </form>
      </div>

      <div class="alert alert-warning">
        <p>Please note that routine maintenance requests are usually serviced on Saturdays.</p>
        <p>
          For an emergency, please call:
          <ul>
            <li>John Blatz (714) 493-0037</li>
            <li>Solomon Leung (714) 863-5082</li>
            <li>Vu Tran (714) 270-3064</li>
          </ul>
        </p>
      </div>
    </div>

    <div id="maintenance-request-history" class="tab-pane" role="tabpanel" >
      Test
    </div>
  </div>

{% endblock %}
