{% block scripts %}
<script type="text/javascript">

  let req;

  function editrequest(bt, pk, comment = " "){
    $.ajax({
      type: "POST",
      url: "{% url 'house_requests:maintenance-report' %}",
      data: {
        command: bt,
        pk: pk,
        c: comment,
      },
      success: function(response){
        flashAjaxStatus()
        if (bt == 'delete'){
          req.row($("#"+pk).parent('tr')).remove().draw();
        } else if (bt == 'completed'){
        req.cell(req.row($("#"+pk).parent('tr')), 0).data("Completed").draw()
        } else if (bt == 'mark for fellowship'){
        req.cell(req.row($("#"+pk).parent('tr')), 0).data("Marked for Fellowship").draw()
        }

      },
    });
    makelist();
  };

  function makelist(){
    $("button.btn").click(function(){
      bt = this.title
      pk = $(this).parent().attr('id')
      if (bt == "edit"){
        var $this = $(this).parent().parent().children().eq(5)
        var $input = $('<input>', {
          value: $this.text(),
          type: 'text',
          blur: function() {
            $this.text(this.value);
            console.log(this.value)
            editrequest(bt, pk, this.value);
          },
          keyup: function(e) {
            if (e.which === 13) $input.blur();
          }
        }).appendTo( $this.empty() ).focus()

      }else{
        editrequest(bt, pk)
      }

    });
  };

  $(document).ready(function() {
    req = $("#house_requests").DataTable({
      info: false,
      paging: false,
      order: [[1, "desc"]],
      dom: '<"row"<"col-sm-6"Bl><"col-sm-6"f>>' +
      '<"row"<"col-sm-12"<"table-responsive"tr>>>' +
      '<"row"<"col-sm-5"i><"col-sm-7"p>>',
      buttons: [
      {
        extend: 'print',
        text: 'Print',
        autoPrint: true,
        exportOptions:{
          columns: ':visible',
        },
      },
      {
        extend: 'csvHtml5',
        text: 'CSV',
        exportOptions: {
          columns: ':visible'
        },
      },
      {
        extend: 'pdf',
        text: 'PDF',
        orientations: '',
        exportOptions:{
          columns: ':visible',          
        },
        orientation: 'landscape',
      },
      {
        extend: 'collection',
        buttons: 'columnsVisibility',
        text: 'Show/Hide Columns',
        columns: ':gt(1)',
      },
      ],
    });

    // default filter to pending for the house request table
    req.columns(0).search('Pending').draw();

    // onchange function for status change
    $("#request_status").on('change', function(){
      filter_val = this.value;
      if (filter_val == -1){
        req.columns(0).search('').draw();
      }else if (filter_val == 'C'){
        req.columns(0).search('Completed').draw();
      }else if (filter_val == 'P'){
        req.columns(0).search('Pending').draw();
      }else if (filter_val == 'F'){
        req.columns(0).search('Marked for Fellowship').draw();
      };
      makelist()
    });

    $('[data-toggle="tooltip"]').tooltip();

    makelist()

  });

</script>
{% endblock %}

{% block table %}
<div class="row">
  <div class="col-md-6">
    Filter by status:
    <select id="request_status">
      <option value=-1>All</option>
      {% for stat in request_status %}
      <option {% if stat.0 == 'P' %}selected="selected"{% endif %} value="{{stat.0}}">{{stat.1}}</option>
      {% endfor %}
    </select>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <table id="house_requests" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Status</th>
          <th>Date Requested</th>
          <th>Trainee Requested</th>
          <th>Trainee Phone</th>
          <th>Description</th>
          <th>Comments</th>
          <th>House</th>
          <th>Room</th>
          <th>Request Type</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for m in house_requests %}
        <tr>
          <td>{{m.get_status_display}}</td>
          <td>{{m.date_requested.date}}</td>
          <td>{{m.trainee_author.full_name}}</td>
          <td>{{m.trainee_author.meta.phone}}</td>
          <td><a href="#" data-toggle="tooltip" data-placement="left" title="{{m.description}}">{{m.description|truncatechars:300}}</a></td>
          <td>{{m.TA_comments}}</td>
          <td>{{m.house}}</td>
          <td>{{m.room}}</td>
          <td><a href="#" data-toggle="tooltip" data-placement="left" title="{{m.get_request_type_display}}">{{m.request_type}}</a></td>
          <td id="{{m.pk}}">
            <button class="btn btn-default" title="completed"><span class="glyphicon glyphicon-ok"></span></button>
            <button class="btn btn-default" title="delete"><span class="glyphicon glyphicon-trash"></span></button>
            <button class="btn btn-default" title="edit"><span class="glyphicon glyphicon-pencil"></span></button>
            <button class="btn btn-default" title="mark for fellowship"><span class="glyphicon glyphicon-exclamation-sign"></span></button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>
{% endblock %}
