  {% load staticfiles %}

  {% block content %}
  <style>
  #test {
       display: flex;
       flex-flow: row;
       justify-content: center;
       font-size:10px;
   }
   table {
       border:1px solid black;
       margin-right: 20px;
   }
   td, th{
   	border:1px solid black;
   	padding-right: 10px;
   	padding-left: 10px;
   	font-size:10px;
   }
  </style>
  <link rel="stylesheet" type="text/css" href="{% static "bible_tracker/css/datatables.css" %}"/>
  <script type="text/javascript" src="{% static "js/moment.min.js" %}"></script>
  <script type="text/javascript" src="{% static "bible_tracker/js/datatables.js" %}"></script>
  <h3> Meal Seating Chart</h3> {{startdate}} to {{enddate}}
  <div id="test">
    <table class ="to" id="table_info" >
      <thead>
        <tr>
          <th>Name</th>
          <th>Table</th>
        </tr>
      </thead>
      <tbody>
  {% for assignment in mydict|dictsort:"last_name"%} 
        <tr>
          <td>
  {{assignment.last_name|truncatechars:35}}, {{assignment.first_name|truncatechars:35}}
          </td>
          <td>Table {{assignment.table}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
      <table class ="td" id="table_info" >
      <thead>
        <tr>
          <th>Name</th>
          <th>Table</th>
        </tr>
      </thead>
      <tbody>
  {% for assignment in mydict|dictsort:"last_name" %} 
        <tr>
          <td>
  {{assignment.last_name}}, {{assignment.first_name}}
          </td>
          <td>Table {{assignment.table}}</td>  
        </tr>
      {% endfor %}
      </tbody>
    </table>
        <table class ="td" id="table_info" >
      <thead>
        <tr>
          <th>Name</th>
          <th>Table</th>
        </tr>
      </thead>
      <tbody>
  {% for assignment in mydict|dictsort:"last_name" %} 
        <tr>
          <td>
  {{assignment.last_name}}, {{assignment.first_name}}
          </td>
          <td>Table {{assignment.table}}</td>
    
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  {% endblock %}
