.material-icon {
  width: 15px;
  height: 15px;
  display: inline-block; }

.material-icon span,
.material-icon {
  transition: all 500ms ease; }

.material-icon span {
  background-color: black;
  display: block;
  top: 0;
  left: 0;
  width: 100%; }

span.right-arrow,
span.down-arrow {
  height: 3px;
  -webkit-transform: translateY(29px); }

.right-arrow.first,
.right-arrow.second {
  -webkit-transform: rotate(-45deg) translateX(1px) translateY(10px);
  width: 10px; }

.right-arrow.first {
  -webkit-transform: rotate(45deg) translateX(8px) translateY(-3px); }

.down-arrow.first,
.down-arrow.second {
  -webkit-transform: rotate(-45deg) translateY(11px) translateX(4px);
  width: 10px; }

.down-arrow.first {
  -webkit-transform: rotate(45deg) translateY(2px) translateX(10px); }

.no-margin {
  margin: 0; }

.no-border {
  border: 0; }

.no-border:hover {
  background-color: white; }

.no-padding {
  padding: 0px; }

.bottom-margin-10 {
  margin-bottom: 10px; }

.bottom-border {
  border-bottom: solid thin #ccc; }

.bottom-padding-25 {
  padding-bottom: 25px; }

.top-border {
  border-top: solid thin #ccc; }

.bold {
  font-weight: bold; }

.position-container {
  position: relative; }

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

input {
  cursor: pointer; }

label {
  cursor: pointer;
  font-weight: normal; }

textarea {
  resize: vertical; }

.tab-content {
  padding: 0; }

.legend {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 -5px; }
  .legend div {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    margin: 0 5px;
    font-size: 9px;
    text-align: center; }

.tardy {
  border-left: 3px solid orange;
  border-right: 3px solid orange; }

.absent {
  border-left: 3px solid red;
  border-right: 3px solid red; }

.tardy-ls {
  border-left: 3px dotted orange;
  border-right: 3px dotted orange; }

.absent-ls {
  border-left: 3px dotted red;
  border-right: 3px dotted red; }

.tardy-ap {
  border-left: 3px solid #fff4e0;
  border-right: 3px solid #fff4e0; }

.absent-ap {
  border-left: 3px solid #ffe0e0;
  border-right: 3px solid #ffe0e0; }

.weekbar__trainee {
  font-weight: 300;
  vertical-align: -webkit-baseline-middle; }

.weekbar__title {
  float: right;
  font-size: 22px;
  font-weight: 100;
  padding-right: 10px; }

.weekbar__controls {
  float: right;
  margin-bottom: 17.5px;
  margin-left: -5px; }

.weekbar__prev[disabled], .weekbar__prev[disabled]:hover, .weekbar__next[disabled], .weekbar__next[disabled]:hover {
  cursor: auto;
  color: #333;
  border: 1px solid #eee; }

.weekbar__date-range {
  width: 125px; }
  .weekbar__date-range[disabled], .weekbar__date-range[disabled]:hover {
    cursor: auto;
    color: #333;
    border: 1px solid #eee;
    background-color: #FFEBCD;
    z-index: -1; }

.roll__table tr {
  border-left: 3px solid white; }

.roll__table--tardy {
  border-left: 3px solid orange; }

.validation-error {
  display: block; }

.dt-actions__btn {
  margin-right: 8px; }

.dt-selected, .dt-roll, .dt-leaveslip {
  padding: 0 20px 20px;
  border: solid thin #ccc;
  margin: 0;
  margin-top: -1px; }
  .dt-selected__title, .dt-roll__title, .dt-leaveslip__title {
    font-size: 17px;
    margin-bottom: 8px; }
  .dt-selected__entries, .dt-roll__entries, .dt-leaveslip__entries {
    padding: 10px 15px 10px;
    position: relative; }
    .dt-selected__entries--top-border, .dt-roll__entries--top-border, .dt-leaveslip__entries--top-border {
      border-top: solid thin #eee; }
  .dt-selected__comments, .dt-roll__comments, .dt-leaveslip__comments {
    width: 100%;
    height: 100px;
    border: solid thin #ccc; }
  .dt-selected__ta-informed, .dt-roll__ta-informed, .dt-leaveslip__ta-informed {
    position: relative;
    margin-bottom: 8px; }
    .dt-selected__ta-informed li, .dt-roll__ta-informed li, .dt-leaveslip__ta-informed li {
      width: 100% !important; }
  .dt-selected__multi, .dt-roll__multi, .dt-leaveslip__multi {
    margin-bottom: 10px; }
  .dt-selected ul, .dt-roll ul, .dt-leaveslip ul {
    padding: 0; }
  .dt-selected .rw-selectlist .rw-list-option, .dt-roll .rw-selectlist .rw-list-option, .dt-leaveslip .rw-selectlist .rw-list-option {
    width: 33%;
    display: inline-block;
    list-style-type: none; }
    .dt-selected .rw-selectlist .rw-list-option:focus, .dt-roll .rw-selectlist .rw-list-option:focus, .dt-leaveslip .rw-selectlist .rw-list-option:focus {
      outline: none; }
    .dt-selected .rw-selectlist .rw-list-option:last-child, .dt-roll .rw-selectlist .rw-list-option:last-child, .dt-leaveslip .rw-selectlist .rw-list-option:last-child {
      clear: right; }
    .dt-selected .rw-selectlist .rw-list-option input[type='radio'], .dt-roll .rw-selectlist .rw-list-option input[type='radio'], .dt-leaveslip .rw-selectlist .rw-list-option input[type='radio'] {
      margin-right: 5px; }
    .dt-selected .rw-selectlist .rw-list-option label, .dt-roll .rw-selectlist .rw-list-option label, .dt-leaveslip .rw-selectlist .rw-list-option label {
      -webkit-touch-callout: none;
      /* iOS Safari */
      -webkit-user-select: none;
      /* Chrome/Safari/Opera */
      -khtml-user-select: none;
      /* Konqueror */
      -moz-user-select: none;
      /* Firefox */
      -ms-user-select: none;
      user-select: none; }

.dt-selected {
  margin-top: 10px; }

.dt-roll__show-leaveslip {
  border-top: solid thin #ccc;
  border-right: solid thin #ccc;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 7px; }

.dt-leaveslip__ta-informed, .dt-leaveslip__ta {
  margin: 5px 0; }

.dt-submit {
  position: relative;
  clear: both;
  margin-top: 10px; }
  .dt-submit__btn-row {
    position: absolute;
    bottom: 7px;
    right: 6px; }
  .dt-submit__btn--reset {
    margin-right: 3px; }

.dt__radio {
  display: inline-block;
  width: 33%;
  text-align: left;
  font-weight: normal; }
  .dt__radio--large {
    width: 66%; }

.dt__more-ckbx {
  cursor: pointer; }

.dt__pad {
  padding: 10px 15px 35px;
  position: relative; }

.cal-time {
  padding-top: 25px;
  float: left;
  display: inline-block;
  border-right: solid thin #cccccc;
  width: 9%; }
  .cal-time__hour {
    height: 40px;
    font-size: 10px;
    text-align: center;
    color: gray; }

.cal-daywrap {
  width: 100%; }

.cal-day {
  display: inline-block;
  float: left;
  width: 13%;
  position: relative; }
  .cal-day__title {
    height: 25px;
    text-align: center; }
  .cal-day__event {
    position: absolute;
    width: 100%;
    font-size: 10px;
    color: #000000;
    background-color: #F6F1E8;
    border: solid thin #ccc;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center; }

.toggle-title {
  font-size: 17px;
  margin-bottom: 8px; }

.toggle-title-text {
  margin-right: 5px; }

.toggle-title-mid {
  font-size: 15px; }

.details {
  font-size: 14px; }

.details-container.attendance {
  margin: 15px 0px 0px 10px; }

.details-container.leaveslips {
  margin: 0px 0px 40px 10px; }

.schedule-event {
  opacity: 0.9;
  position: absolute;
  width: 97%;
  text-align: center;
  font-size: 10px;
  color: #000000;
  background-color: #F6F1E8;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  border: solid thin #ccc;
  cursor: pointer; }

.selected-event {
  display: inline-block;
  padding: 7px;
  background-color: #fafafa;
  margin: 0px 5px 10px; }

.present {
  background-color: #F6F1E8; }

.absent {
  background-color: rgba(217, 83, 79, 0.75); }

.tardy, .uniform, .left-class {
  background-color: rgba(240, 173, 78, 0.75); }

.slip {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 3px;
  line-height: normal; }

.approved {
  background-color: #87d37c; }

.pending {
  background-color: #d2d7d3; }

.fellowship {
  background-color: #3498db; }

.denied {
  background-color: black;
  color: white; }

/* Leave slip styles */
#submit-leaveslip textarea {
  height: 80px; }

.action-button {
  margin-right: 8px; }

#leaveslip-alert {
  display: none;
  background-color: #fbeed5;
  border: 1px solid #C5BCAD; }

.form-body {
  margin-top: 10px; }

.form-together {
  border-top: 0px;
  margin-top: 0px; }

.form-section {
  padding: 10px 15px 10px;
  position: relative; }

.form-buttons {
  position: absolute;
  bottom: 7px;
  right: 6px; }

.form-error {
  color: #a94442;
  border-color: #a94442; }

.slip-section {
  padding-bottom: 35px; }

.reason-container {
  margin-bottom: 6px; }

.radio-input {
  display: inline-block;
  width: 33%;
  text-align: left;
  font-weight: normal; }

.select-caret {
  position: absolute;
  top: 15px;
  right: 10px; }

.ta-names {
  margin-top: 10px; }

.notification-only {
  display: inline-block;
  text-align: left;
  font-weight: normal;
  margin-top: 9px;
  margin-bottom: 10px; }

.select-inform-status {
  -webkit-appearance: none; }

.checkbox-container {
  cursor: pointer; }

.leaveslip-checkbox {
  border-top: solid thin #ccc;
  border-right: solid thin #ccc;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 7px; }

.remove-all {
  position: absolute;
  right: 6px;
  top: 6px; }

.comments-textarea {
  width: 100%;
  height: 100px;
  border: solid thin #ccc; }

.dropdown-toggle {
  height: 34px; }

.slip-event-status {
  font-style: italic; }

.events-container {
  display: inline-block;
  width: calc(100% - 35px);
  background-color: blue;
  height: auto;
  position: relative;
  vertical-align: top; }

.event-grid {
  margin-top: 25px; }

.event-col {
  width: 15%; }

.days-row {
  border-bottom: solid thin #cccccc;
  padding-top: 5px;
  color: gray;
  text-align: center;
  position: relative;
  top: -22px;
  left: -1px;
  font-size: 12px;
  cursor: pointer; }

.schedule-header {
  text-align: center; }

.today {
  background-color: #dff0d8;
  border-radius: 2px; }

.today-text {
  color: gray;
  position: absolute;
  top: -30px;
  right: 24px;
  font-size: 12px; }

.timebar {
  border-right: solid thin #cccccc;
  width: 35px; }

.hour {
  height: 40px;
  /*border-bottom: dotted thin #cccccc;*/
  font-size: 10px;
  text-align: center;
  color: gray; }

.period {
  float: right;
  font-size: 22px;
  font-weight: 100;
  padding-right: 10px; }

.week-bar-container {
  margin-bottom: 17.5px;
  overflow: hidden;
  border-bottom: 1px solid #f1f1f1; }

.week-bar {
  float: right;
  margin-bottom: 17.5px; }

.leaveslip-detail {
  border: solid thin #ccc;
  padding: 10px;
  font-size: 0.77em; }
  .leaveslip-detail.pending {
    background-color: #d2d7d3; }
  .leaveslip-detail.fellowship {
    background-color: #2980b9; }
  .leaveslip-detail.denied {
    border: solid thin black; }
  .leaveslip-detail.approved {
    background-color: #87d37c; }
  .leaveslip-detail .center-arrow {
    position: absolute;
    right: 10px;
    top: 25%; }
    .leaveslip-detail .center-arrow .fa {
      margin-right: 7px; }
  .leaveslip-detail .fa-user, .leaveslip-detail .fa-users {
    position: absolute;
    top: 10px; }
  .leaveslip-detail .details-container {
    margin-left: 20px; }

.leaveslip-comments {
  width: 90%; }

.delete-button {
  position: absolute;
  bottom: 7px;
  left: 6px; }

/* Attendance CSS customizations */
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  cursor: auto;
  opacity: 0.65;
  filter: alpha(opacity=65);
  box-shadow: none; }

button.date-range {
  width: 125px; }

.date-range[disabled], .date-range[disabled]:hover {
  background-color: #FFEBCD;
  cursor: auto;
  opacity: 1;
  font-weight: 400; }
