{% load bootstrap3 %}

<div class="container-fluid announce">
  {% if messages %}
    <div class="announce__header" data-toggle="collapse" data-target="#announcements_portal" aria-expanded="false" aria-controls="announcements_portal">
      <span class="badge">{{ messages|length }}<span class="caret"></span></span>
    </div>
    <div id="announcements_portal" class="collapse" aria-expanded="false">
      {% for message in messages %}
      <div class="row announce__row {{ message|bootstrap_message_classes }}">
        <div class="announce__title">{{message|safe}}</div>
      </div>
      {% endfor %}
    </div>
  {% endif %}
</div>
