{% load staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="">
    <title>FTTA | {% block title %}{% endblock %}</title>
    {% block media %}
      {# PLEASE SEE static/README.md for instructions on how to add libraries and modify front-end files #}
      {% bootstrap_css %}
      <link href="{% static 'libraries/bootflat-ftta/bootflat/css/bootflat.css' %}" rel="stylesheet">
      <link href="{% static 'css/base.css' %}" rel="stylesheet">
      <link href="{% static 'libraries/offcanvas/offcanvas.css' %}" rel="stylesheet">
      
      {% block references %}
        <!-- additional css/refs here -->
      {% endblock references %}
      <!-- boostrap, jquery, modernizr, offcanvas, fastclick -->
      {% bootstrap_javascript jquery=1 %}
      <script src="{% static 'js/django-jquery-init.js' %}"></script>
      <script src="{% static 'libraries/offcanvas/offcanvas.js' %}"></script>
      <script src="{% static 'libraries/modernizr/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
      <script type="application/javascript" src="{% static 'libraries/modernizr/modernizr-detect-touch.js' %}"></script>
      <script type="application/javascript" src="{% static 'bower_components/fastclick/lib/fastclick.js' %}"></script>
      <script>
      // Add fast click to remove click delay on mobile
      $(document).ready(function(){
      FastClick.attach(document.body);
      });
      if (Modernizr.touchevents) {
      console.log('touch');
      // supported
      } else {
      console.log('computer');
      // not-supported
      }
      </script>
      
      {% block scripts %}
        <!-- additional js here -->
      {% endblock scripts %}
    {% endblock %}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{% static 'bower_components/html5shiv/dist/html5shiv.min.js' %}"></script>
    <script src="{% static 'bower_components/respond/dest/respond.min.js' %}"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button class="navbar-toggle visible-xs" data-toggle="offcanvas" type="button" style="float: left; margin-left: 15px; margin-right: 0px">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <button type="button" class="navbar-toggle glyphicon glyphicon-chevron-down visible-xs" data-toggle="collapse" data-target="#navbar-collapse-1">
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">FTTA</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav">
            {% comment %}
            {% for nav in navbar.items() %}
              {% if nav[1] %}
                <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{nav}} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% for subnav in nav[1] %}
                  {% if subnav == '|' %}
                    <li role="separator" class="divider"></li>  
                  {% else %}
                    <li><a href="{{subnav.url}}">{{subnav}}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
              {% else %}
                <li><a href="#">{{nav}}</a></li>  
              {% endif %}
            {% endfor %}

          </ul>
          {% endcomment %}
          
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Attendance <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Personal/View Attendance</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Add Leaveslip</a></li>
                <li><a href="#">View Leaveslips</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Class & Study Roll</a></li>
                <li><a href="#">Meal Roll</a></li>
                <li><a href="#">Team Roll</a></li>
                <li><a href="#">House Roll</a></li>
                <li><a href="#">YPC Roll</a></li>
                <li><a href="#">Designated Service Roll </a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Requests <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">AV Request</a></li>
                <li><a href="#">Maintenance Request</a></li>
                <li><a href="#">Room Reservation</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">E-Shepherding Request</a></li>
                <li><a href="#">Web Access Request</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Service Portals <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Attendance Monitors</a></li>
                <li><a href="#">Badges</a></li>
                <li><a href="#">Absent Trainees</a></li>
                <li><a href="#">Exams</a></li>
                <li><a href="#">Maintenance</a></li>
                <li><a href="#">Grad Committee</a></li>
                <li><a href="#">House Inspectors</a></li>
                <li><a href="#">Facilities Maintenance</a></li>
                <li><a href="#">Frames & Linens</a></li>
                <li><a href="#">Bus Drivers</a></li>
                <li><a href="#">Piano Service</a></li>
                <li><a href="#">Books</a></li>
                <li><a href="#">Semi-Annual Testing</a></li>
                <li><a href="#">Service Scheduling</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Modules <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Announcements</a></li>
                <li><a href="#">Life Studies</a></li>
                <li><a href="#">Class Notes</a></li>
                <li><a href="#">Bible Reading</a></li>
                <li><a href="#">Gospel Stats</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Take Exams</a></li>
                <li><a href="#">Gospel Trip</a></li>
                <li><a href="#">Itero Schedule</a></li>
                <li><a href="#">Semi-Annual Testing Groups</a></li>
                <li><a href="#">Special Schedules</a></li>
                <li><a href="#">Interim Intention Forms</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Graduation</a></li>
              </ul>
            </li>
          </ul>
          
          <ul class="nav navbar-nav navbar-right">
            <form class="navbar-form navbar-left navbar--pad" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
            {% block navbar-right %}
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  Hi, {{user.full_name}}! <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li role="presentation" class="dropdown-header">Account Settings</li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'user_detail' user.id %}">Profile</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'email_change' user.id %}">Change Email</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'password_change' %}">Change Password</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'user_update' user.id %}">Update Account</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'switch_user' %}">Switch Identity</a></li>
                  <li role="presentation" class="divider"></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'logout' %}">Logout</a></li>
                </ul>
              </li>
            {% endblock %}
          </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>




      <!-- subnav -->
      <nav class="navbar navbar-static-top navbar--subnav">
          
        <div class="container-fluid announce">
          <div class="announce__header">
            Notifications <span class="badge">6</span>
          </div>
          <div class="row announce__row">
            <div class="announce__title">You have 4 life study assignments due on monday, July 14th at 12:30pm.</div>
            <a class="announce__link">Submit Life Studies</a>
          </div>
          <div class="row announce__row">
            <div class="announce__title">You are missing your bible reading from weeks 1, 2, 4, 5, 6, 12, 18, and 24. </div>
            <a class="announce__link">Submit Bible Reading</a>
          </div>
          <div class="row announce__row">
            <div class="announce__title">Exams module is now open. Please submit the BOC exam by Thursday, July 15th.</div>
            <a class="announce__link">Goto Exams Module</a>
          </div>
          <div class="row announce__row">
            <div class="announce__title">Please fill in your interim intention form by this Friday, July 10th.</div>
            <a class="announce__link">Submit Interim Intentions</a>
          </div>
        </div>
      </nav>
      <div class="container-fluid">
        <div class="row row-offcanvas row-offcanvas-left">
          {% block sidebar %}
            <!--SIDEBAR-->
            <div id="sidebar" class="col-xs-5 col-sm-3 col-lg-2 sidebar-offcanvas" role="navigation">
              <div class="list-group small">
                {% block sidelinks %}
                  <h5>Attendance</h5> {% block attendance_links %}
                    <a class="list-group-item" href="{% url 'schedules:schedule' %}">View Schedule</a>
                    <a class="list-group-item" href="{% url 'schedules:event-create' %}">Create Event</a>
                    <a class="list-group-item" href="{% url 'attendance:attendance-submit' %}">Personal Attendance</a>
                    <a class="list-group-item" href="{% url 'attendance:class-rolls' %}">Enter Roll</a>
                    <a class="list-group-item" href="/leaveslips">View Leaveslips</a>
                    <a class="list-group-item" href="/leaveslips/individual/create">Submit Individual Leaveslips</a>
                    <a class="list-group-item" href="/leaveslips/group/create">Submit Group Leaveslips</a>
                  {% endblock %}
                  <h5>Discipline</h5>
                  <a class="list-group-item" href="/lifestudies/">Life Studies</a></li>
                  <a class="list-group-item" href="#">Class Notes</a>
                  {% if exams_available or user.is_designated_grader %}
                    <h5>Take Exams</h5>
                    <a class="list-group-item" href="/exams/">List</a></li>
                    {% if user.is_designated_grader %}
                      <a class="list-group-item" href="/exams/new">Create New</a>
                    {% endif %}
                  {% endif %}
                  <h5>Requests</h5>
                  <a class="list-group-item" href="#">A/V Requests</a>
                  <a class="list-group-item" href="#">Maintenance Requests</a>
                  <a class="list-group-item" href="#">Room Reservations</a>
                  <a class="list-group-item" href="{% url 'web_access:web_access-list' %}">Web Access Requests</a>
                  <h5>Misc.</h5>
                  <a class="list-group-item" href="#">Announcements</a>
                  <a class="list-group-item" href="{% url 'badges:badges_list' %}">Badges</a>
                  <a class="list-group-item" href="{% url 'bible_tracker:index' %}">Bible Reading Tracker</a>
                  <a class="list-group-item" href="{% url 'absent_trainee_roster:absent_trainee_form' %}">Absent Trainee Roster</a>
                  <a class="list-group-item" href="{% url 'meal_seating.views.newseats' %}">Meal Seating</a>
                  <a class="list-group-item" href="{% url 'seating:chart_list' %}">Class Seating</a>
                {% endblock %}
              </ul>
            </div>
            </div><!--/sidebar-->
          {% endblock %}
          <!--CONTENT-->
          <div id="content" class="col-xs-12 col-sm-9 col-lg-10 content">
            {% block messages %}
              <div id="messages">
                {% if messages %}
                  {% for message in messages %}
                    {% bootstrap_messages message %}
                  {% endfor %}
                {% endif %}
              </div>
            {% endblock %}
            {% block content %}
              <!-- CONTENT OF PAGE GOES HERE -->
            {% endblock %}
            </div> <!--/CONTENT -->
            </div> <!-- /row -->
            </div> <!-- /container -->
            {% block post_container %}
              <!-- CONTENT OF POPUPs, STATUS UPDATES go here -->
            {% endblock %}
          </body>
        </html>


