{% load staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="">
    <title>FTTA | {% block title %}{% endblock %}</title>
    {% block media %}
      {# PLEASE SEE static/README.md for instructions on how to add libraries and modify front-end files #}
      {% bootstrap_css %}
      <link href="{% static 'libraries/bootflat-ftta/bootflat/css/bootflat.css' %}" rel="stylesheet">
      <link href="{% static 'css/base.css' %}" rel="stylesheet">
      <link href="{% static 'libraries/offcanvas/offcanvas.css' %}" rel="stylesheet">
      
      {% block references %}
        <!-- additional css/refs here -->
      {% endblock references %}
      <!-- boostrap, jquery, modernizr, offcanvas, fastclick -->
      {% bootstrap_javascript jquery=1 %}
      <script src="{% static 'js/django-jquery-init.js' %}"></script>
      <script src="{% static 'libraries/offcanvas/offcanvas.js' %}"></script>
      <script src="{% static 'libraries/modernizr/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
      <script type="application/javascript" src="{% static 'libraries/modernizr/modernizr-detect-touch.js' %}"></script>
      <script type="application/javascript" src="{% static 'bower_components/fastclick/lib/fastclick.js' %}"></script>
      <script>
      // Add fast click to remove click delay on mobile
      $(document).ready(function(){
      FastClick.attach(document.body);
      });
      if (Modernizr.touchevents) {
      console.log('touch');
      // supported
      } else {
      console.log('computer');
      // not-supported
      }
      </script>
      
      {% block scripts %}
        <!-- additional js here -->
      {% endblock scripts %}
    {% endblock %}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{% static 'bower_components/html5shiv/dist/html5shiv.min.js' %}"></script>
    <script src="{% static 'bower_components/respond/dest/respond.min.js' %}"></script>
    <![endif]-->
  </head>
  <body>
    {% include '_nav.html' %}
    <div class="container-fluid">
      <div class="row row-offcanvas row-offcanvas-left">
        <!--CONTENT-->
        <div id="content" class="col-xs-12 content">
          {% block messages %}
            <div id="messages">
              {% if messages %}
                {% for message in messages %}
                  {% bootstrap_messages message %}
                {% endfor %}
              {% endif %}
            </div>
          {% endblock %}
          {% block content %}
            <!-- CONTENT OF PAGE GOES HERE -->
          {% endblock %}
        </div> <!--/CONTENT -->
      </div> <!-- /row -->
    </div> <!-- /container -->
    {% block post_container %}
      <!-- CONTENT OF POPUPs, STATUS UPDATES go here -->
    {% endblock %}
  </body>
</html>