{% extends "base.html" %}

{% load staticfiles %}
{% load bootstrap3 %}
{% load panels %}

{% block title %}Home{% endblock %}

{% block scripts %}
<script>
  $(".dropdown-menu li a").click(function(){
    $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
    $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
  });

</script>
{% endblock %}

{% block references %}

<!-- Disable scaling to remove click delay on mobile for this page -->
<meta name="viewport" content="width=device-width, user-scalable=no">
<style type="text/css">
td{
  text-align: center;
}

.bible-indicator{
  font-weight: bold;
}

</style>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <h1 class="col-md-12"> Welcome, {{ user.firstname }}! </h1>
  </div>
  <div class="row">
    <!-- Panels -->
    <div class="col-md-4">
      <div id="panelsDiv" class="btn-group-vertical">
        {% generate_panels as panels %}
        {% for panel in panels %}
        <a class="btn btn-panel" href="{{ panel.url }}" >
          <span class="btn-txt"> {{ panel.name }} </span>
          {% if panel.num is not None %}
          {% if panel.num == '0' %}
          <span class=btn-num-nought> {{ panel.num }}</span>
          {% else %}
          <span class=btn-num> {{ panel.num }}</span>
          {% endif %}
          {% endif %}
        </a>
        {% endfor %}
      </div>
    </div>
    <!-- Weekly Summary -->
    <div class="col-md-8">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% for i, week in weeks %}
          {% if i == current_week %}
          {{week}}
          {% endif %}
          {% endfor %}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          {% for i, week in weeks %}
          <li class="{% if i == current_week %}disabled{% endif %}"><a href="#"> {{week}} </a> </li>
          {% endfor %}
        </ul>
      </div>
      <table class="table table-bordered-wkly-sum">
        <thead>
          <tr>
            <th scope="col" class="col-md-1"></th>
            {% for day in 6|get_weekday_codes %}
            <th scope="col" class="col-md-1">{{day}}</th>
            {% endfor %}
            <th scope="col" class="col-md-1"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>SERVICE</th>
            {% for i in "xxxxxxxx" %}
            <td></td>
            {% endfor %}
          </tr>
          <tr>
            <th>GOSPEL STATISTICS</th>
            {% for i in "xxxxxxx" %}
            <td></td>
            {% endfor %}
            <td><a href="#">Input Stats</a></td>
          </tr>
          <tr>
            <th rowspan="2">BIBLE READING PROGRESS</th>
            <div class="bible-indicator">
              {% for day in 6|get_weekday_codes %}
              <td>
                <div class="dropdown">
                  <button class="btn btn-bible-dropdown dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  </button>
                  <div class="dropdown-menu">
                    <li><a class="dropdown-item" href="#"> Completed </a></li>
                    <li><a class="dropdown-item" href="#"> Made Up </a></li>
                    <li><a class="dropdown-item" href="#"> Not Completed </a></li>
                  </div>
                </div>
              </td>
              {% endfor %}  
              
              <td><a href="#" >Finalize</a></td>
            </tr>
            <tr>
              <td colspan="7">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="{{bible_reading_progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{bible_reading_progress}}%"> {{bible_reading_progress}}
                  </div>
                </div>
              </td>
              <td><a href="#">Update</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  {% if schedule %}
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h5 class="panel-title">Today's Schedule</h5>
    </div>
    <div class="panel-body">
      <ul>
        {% for event in schedule.todays_events %}
        <li>{{ event.name }} @ {{ event.start }}</li>
        {% endfor %}
      </li>
    </div>
  </div>
  {% endif %}

  {% endblock %}

  {% block post_container %}
  {% include 'popups/announcement_popup.html' %}
  {% endblock %}
