{% extends "base.html" %} {% load staticfiles %} {% load bootstrap3 %} {% load panels %} {% load smart_cards %} {% load common_tags
%} {% block title %}Home{% endblock %} {% block scripts %}
<script type="text/javascript" src="{% static 'js/bootstrap-tab-history.js' %}"></script>
<script>

  var current_week = "{{current_week}}";
  var finalized = "{{finalized}}";
  var bibleReading_status = "{{weekly_status}}";
  var weekday_codes = {{ weekday_codes| safe}};
  var change_week_url = "{% url 'bible_tracker:changeWeek' %}";
  var update_status_url = "{% url 'bible_tracker:updateStatus' %}";
  var finalize_status_url = "{% url 'bible_tracker:finalizeStatus' %}";

  function checkBibleReadingStatus() {
    return (bibleReading_status.match(/_/g) ? true : false);
  }

  function disableButtons() {
    $("#bibleTrackerButton").prop('disabled', true);
    $(".bible-selector").prop('disabled', true);
  }

  function enableButtons() {
    $("#bibleTrackerButton").prop('disabled', false);
    $(".bible-selector").prop('disabled', false);
  }

  function changetoFinalize() {
    // check bible reading values
    if (!checkBibleReadingStatus()) {
      $('#bibleTrackerButton').val("Finalize");
    }
    else {
      $('#bibleTrackerButton').val("Save");
    }
  }

  function getWeeklyStatus() {
    var code = bibleReading_status.split('');

    for (let i = 0; i < 7; i++) {
      document.getElementById("bibleDropDown_" + weekday_codes[i]).value = code[i];
    }
  }

  function updateStatus(finalize) {
    var weekly_status = "";

    for (i = 0; i < 7; i++) {
      day_status = $('#bibleDropDown_' + weekday_codes[i]).val();

      // window.alert(weekday_codes[i] + " - " + day_status);
      if (day_status == " " || day_status == null) {
        weekly_status += "_";
      }
      else {
        weekly_status += day_status;
      }
    }
    bibleReading_status = weekly_status;

    $.ajax({
      type: "POST",
      url: update_status_url,
      data: {
        'week_id': current_week,
        'weekly_status': bibleReading_status,
      },
      success: function (data) {
        new Notification(Notification.SUCCESS, 'Saved').show();
      },
    });

    changetoFinalize();
  }

  function finalizeStatus() {
    var weekid = document.getElementById("week_select").value;
    var confirmed = confirm("Are you sure you want to finalize bible reading for this week? You will not be able to edit afterwards.");
    if (confirmed) {
      // var week_id = $('#select_menu').find(":selected").attr('id');
      // var userId = $("input#userId").val();
      // console.log(bibleReading_status, finalized)

      $.ajax({
        type: "POST",
        url: finalize_status_url,
        data: {
          'week_id': weekid,
          'action': 'finalize',
        },
        success: function (data) {
          new Notification(Notification.SUCCESS, 'Finalized').show();
          disableButtons();
        },
        error: function (data) {
          alert("Cannot finalize at this time");
        }
      });
    } else {
      //makes sure button does not stay pressed
      $("#bibleTrackerButton").blur();
    }
  }

  // Changing the week reloads the table to load the bible reading status of that week
  function changeWeek() {
    var weekid = document.getElementById("week_select").value;
    current_week = weekid;

    $.ajax({
      type: "GET",
      url: change_week_url,
      dataType: 'json',
      data: {
        'week': weekid,
      },
      success: function (data) {
        var obj = JSON.parse(data);
        bibleReading_status = obj.status;
        finalized = obj.finalized;

        getWeeklyStatus();
        changetoFinalize();

        if (finalized == "Y") {
          disableButtons();
        }
        else {
          enableButtons();
        }
      }
    });
  }

  $(document).ready(function () {
    $("#week_select option[value='{{current_week}}']").attr("selected", "selected");
    
    changetoFinalize();
    getWeeklyStatus();
    
    $("#week_select").on('change', changeWeek);

    $("#bibleTrackerButton").click(function (e) {
      e.preventDefault();
      if ($('#bibleTrackerButton').val() == "Finalize") {
        finalizeStatus();
      }
      else {
        updateStatus(finalized);
      }
    });

    $(".bible-selector").on('change', changetoFinalize);
  });
</script> {% endblock %} {% block references %}

<!-- Disable scaling to remove click delay on mobile for this page -->
<meta name="viewport" content="width=device-width, user-scalable=no">
<style type="text/css">
  .percent {
    padding: 0px;
    padding-left: 7px;
    width: 30px;
    line-height: 1;
  }

  .progress-style {
    padding-right: 0px;
  }

  label.btn-primary:hover,
  label.btn-primary:focus,
  label.btn-primary:active,
  label.btn-primary:visited {
    color: #fff;
    background-color: #337ab7 !important;
    border-color: #2e6da4 !important;
  }

  label.btn-primary.active:hover,
  label.btn-primary.active:focus,
  label.btn-primary.active:active,
  label.btn-primary.active:visited {
    color: #fff;
    background-color: #286090 !important;
    border-color: #204d74 !important;
  }

  .trainee-search-container {
    overflow: auto;
  }

  .trainee-search-container:hover {
    background-color: #FFF;
    color: #095F80;
    border-color: #A6C5D1;
    -webkit-box-shadow: 3px 2px #A6C5D1;
    -moz-box-shadow: 3px 2px #A6C5D1;
    box-shadow: 3px 2px #A6C5D1;
  }

  .trainee-search-input {
    border: none;
    float: left;
  }

  .trainee-search-input:focus {
    outline: none;
  }

  .trainee-search-box {
    background: #A6C5D1;
    padding: 0.25px 26px 0.2px 12px;
    margin-top: 3px;
    margin-left: 8px;
    margin-right: 0px;
    height: 1em;
    float: right;
  }
</style>
{% endblock %} {% block content %}
<div class="container">
  <div class="row">
    <h1 class="col-md-12"> Welcome, {{ user.firstname }}! </h1>
  </div>

  {% if user.type == 'T' %}
  <!-- Trainee Search Box for TAs -->
  <!--
  <div class="row">
    <div class="col-md-4">
      <div class="btn-group-vertical">
        <div class="btn btn-panel trainee-search-container">
          <input class="btn-txt trainee-search-input" type="text" placeholder="TRAINEE SEARCH"></input>
          <span class="trainee-search-box"></span>
        </div>
      </div>
    </div>
  </div> 
  -->

  {% elif user.type == 'R' %}

  <div class="row">
    <!-- Panels -->
    <div class="col-md-4">
      <div id="panelsDiv" class="btn-group-vertical">
        {% generate_panels as panels %} {% for panel in panels %}
        <a class="btn btn-panel" href="{{ panel.url }}">
          {# moved number first to fix firefox rendering issue #} {% if panel.num is not None %} {% if panel.num == 0 %}
          <span class="btn-num-nought"> {{ panel.num }}</span>
          {% else %}
          <span class="btn-num"> {{ panel.num }}</span>
          {% endif %} {% endif %}
          <span class="btn-txt"> {{ panel.name }} </span>
        </a>
        {% endfor %}
      </div>
    </div>

    <!-- Weekly Summary -->
    <div class="col-md-8 ml-auto">
      <div class="row">
        <form>
          <div class="col-sm-1">
            Week:
          </div>
          <div class="col-sm-4">
            <!-- Pick a week of a term -->
            <select id="week_select" class="form-control" name="week" size="0">
              {% for i, week in weeks %}
              <option value="{{i}}" {% if i > current_week %} disabled {% endif %}>{{week}}</option>
              {% endfor %}
            </select>
          </div>
        </form>
      </div>
      <br />

      <table class="table table-bordered-wkly-sum">
        <thead>
          <tr>
            <th scope="col" class="col-md-1"></th>
            {% for day in 0|get_weekday_codes %}
            <th scope="col" class="col-md-1">{{day}}</th>
            {% endfor %}
            <th scope="col" class="col-md-1"></th>
          </tr>
        </thead>
        <tbody>
          <!-- COMMENT OUT: SERVICE AND GOSPEL STATS ROWS --
          <tr>
            <th>SERVICE</th>
            {% for i in "xxxxxxxx" %}
            <td></td>
            {% endfor %}
          </tr>
          <tr>
            <th>GOSPEL STATISTICS</th>
            {% for i in "xxxxxxx" %}
            <td></td>
            {% endfor %}
            <td><a href="#">Input Stats</a></td>
          </tr>
          -->
          <tr>
            <form class="form-group bibleDropDown" id="bibleDropDown" method="post">
              <th rowspan="3">BIBLE READING PROGRESS</th>
              {% for day in 0|get_weekday_codes %}
              <td class="bibleReadingRow">
                <select class="bible-selector" id="bibleDropDown_{{day}}" data-day="{{day}}">
                  <option value="_"></option>
                  <br />
                  <option value="C">C</option>
                  <br />
                  <option value="M">M</option>
                  <br />
                  <option value="N">N</option>
                  <br />
                </select>
              </td>
              {% endfor %}
              <td>
                <input class="bibleTrackerButton" type="submit" name="save" Value="Save" id='bibleTrackerButton'></input>
              </td>
            </form>
          </tr>
          <tr>
            <td class="td-remove-indent" colspan="7">
              <div class="row">
                <div class="col-10 col-sm-6 col-md-10 progress-style">
                  <div class="homepage-progress">
                    <a href="{% url 'bible_tracker:index' %}">
                      <div class="homepage-progress-bar" role="progressbar" aria-valuenow="{{bible_reading_progress}}" aria-valuemin="0" aria-valuemax="100"
                        style="width: {{bible_reading_progress}}%">
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-2 col-md-2 percent">
                  {{bible_reading_progress}}%
                </div>
              </div>
            </td>
            <td>
              <a class="bibleTrackerUpdate" href="{% if user.current_term == 1 or user.current_term == 2%}
              {% url 'bible_tracker:index' %}#first-year-bible-reading
              {% elif user.current_term == 3 or user.current_term == 4 %}
              {% url 'bible_tracker:index' %}#second-year-bible-reading {% endif %}">Update</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}

  <!-- Cards -->
  {% spaceless %}
  <div class="row">
    <div class="row-md-12">
      <div class="card_container">
        {% generate_cards as cards %} {% for card in cards %} {% if card.condition %}
        <div class="card">
          <span class="card-header h3"> {{ card.header_title }} </span>
          <span class=card-content>
            {% for card_link in card.card_links %}
            <span class="card-item">
              <a href="{{ card_link.url }}" class="card-list">{{ card_link.title }}</a>
              {% if card_link.number is not None %} {% if card_link.number == 0 %}
              <div class="number-nought">0</div>
              {% else %}
              <div class="number-alert">{{ card_link.number }}</div>
              {% endif %} {% endif %}
            </span>
            {% endfor %}
          </span>
        </div>
        {% endif %} {% endfor %}
      </div>
    </div>
  </div>
  {% endspaceless %} {% if schedule %}
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h5 class="panel-title">Today's Schedule</h5>
    </div>
    <div class="panel-body">
      <ul>
        {% for event in schedule.todays_events %}
        <li>{{ event.name }} @ {{ event.start }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %} {% block post_container %} {% include 'popups/announcement_popup.html' %} {% endblock %}