{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load common_tags %}

{% block title %}{{ page_title }}{% endblock %}

{% block scripts %}
{{block.super}}
  <script type="text/javascript">

    var fields = ['testimony', 'consideration', 'website', 'outline', 'misc', 'remembrance', 'xb'];

    function hide_field(field){
      $('label[for="id_' + field + '_due_date"]').hide();
      $('#id_' + field + '_due_date').hide();
    }

    function show_field(field){
      $('label[for="id_' + field + '_due_date"]').show();
      $('#id_' + field + '_due_date').show();
    }

    function hide_or_show_all(){
      for (field of fields) {
        if ($('#id_' + field + '_show_status').find(":selected").val() === 'YES'){
          show_field(field);
        } else {
          hide_field(field);
        }
      }
    }

    function hide_or_show_element(el){
      field = fields[fields.findIndex(f => el.id.includes(f))];
      if (el.value === 'YES'){
        show_field(field);
      } else {
        hide_field(field);
      }
    }

    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })

    $( document ).ready(() => {

      $( ".btn.btn-primary" ).click((e) => {
        if (e.target.innerHTML === '{{button_label|safe}}') {
          $('form#id_grad_admin_form').submit();
        }
      });

      $('.datepicker').datepicker();

      if ($('#id_trainees').attr('multiple') === 'multiple') {
        $('#id_trainees').select2();
      }

      hide_or_show_all();
      $( "select" ).change((e) => hide_or_show_element(e.target));

      $('#id_xb_due_date').datepicker({
        changeMonth: true,
        changeYear: true,
        changeYear: true,
        dateFormat: "yy-mm-dd",
      });



    });
  </script>
{% endblock %}

{% block references %}
{{block.super}}
<style type="text/css">
  table { 
    table-layout:fixed
  }
</style>

{% endblock %}

{% block content %}
{% if form.errors %}
  <!-- Error messaging -->
    <div id="errors">
      <div class="inner">
        <p>There were some errors in the information you entered. Please correct the following:</p>
        {{ form.non_field_errors }}
        <ul>
          {% for field in form %}
            {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  <!-- /Error messaging -->
{% endif %}
  <h2>{{ page_title }}</h2>

  <p>Stats</p>
  {% for stat, v in stats.items %}
    <p>{{stat}}: {{v}} / {{4th_count}}</p>
  {% endfor %}
  <form id="id_grad_admin_form" action="" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-xs-12">
        <table class="table table-bordered" id="table">
          <tr>
            <th><label for="{{form.testimony_show_status.id_for_label}}" data-toggle="tooltip" data-placement="right" title="Report"><a href="{% url 'graduation:testimony-report' %}">{{form.testimony_show_status.label}}</a></label></th>
            <th>{{form.testimony_show_status}}</th>
            <th><label for="{{form.testimony_due_date.id_for_label}}" data-toggle="tooltip" data-placement="right" title="Trainee View"><a href="{% url 'graduation:testimony-view' %}">{{form.testimony_due_date.label}}</a></label></th>
            <th>{{form.testimony_due_date}}</th>
          </tr>
          <tr>
            <th><label for="{{form.consideration_show_status.id_for_label}}" data-toggle="tooltip" data-placement="right" title="Report"><a href="{% url 'graduation:consideration-report' %}">{{form.consideration_show_status.label}}</a></label></th>
            <th>{{form.consideration_show_status}}</th>
            <th><label for="{{form.consideration_due_date.id_for_label}}" data-toggle="tooltip" data-placement="right" title="Trainee View"><a href="{% url 'graduation:consideration-view' %}">{{form.consideration_due_date.label}}</a></label></th>
            <th>{{form.consideration_due_date}}</th>
          </tr>
           <tr> 
            <th><label for="{{form.website_show_status.id_for_label}}" data-toggle="tooltip" data-placement="right" title="Report"><a href="{% url 'graduation:website-report' % ">{{form.website_show_status.label}}</a></label></th>
            <th>{{form.website_show_status}}</th>  
            <th><label for="{{form.website_due_date.id_for_label}}" data-toggle="tooltip" data-placement="right" title="Trainee View"><a href="{% url 'graduation:website-view' %}">{{form.website_due_date.label}}</a></label></th> 
            <th>{{form.website_due_date}}</th> 
          </tr>
          <tr>
            <th><label for="{{form.outline_show_status.id_for_label}}" data-toggle="tooltip" data-placement="right" title="Report"><a href="{% url 'graduation:outline-report' %}">{{form.outline_show_status.label}}</a></label></th>
            <th>{{form.outline_show_status}}</th>
            <th><label for="{{form.outline_due_date.id_for_label}}" data-toggle="tooltip" data-placement="right" title="Trainee View"><a href="{% url 'graduation:outline-view' %}">{{form.outline_due_date.label}}</a></label></th>
            <th>{{form.outline_due_date}}</th>
          </tr>
          <tr>
            <th><label for="{{form.remembrance_show_status.id_for_label}}" data-toggle="tooltip" data-placement="right" title="Report"><a href="{% url 'graduation:rem-report' %}">{{form.remembrance_show_status.label}}</a></label></th>
            <th>{{form.remembrance_show_status}}</th>
            <th><label for="{{form.remembrance_due_date.id_for_label}}" data-toggle="tooltip" data-placement="right" title="Trainee View"><a href="{% url 'graduation:remembrance-view' %}">{{form.remembrance_due_date.label}}</a></label></th>
            <th>{{form.remembrance_due_date}}</th>
          </tr>
          <tr>
            <th><label for="{{form.misc_show_status.id_for_label}}" data-toggle="tooltip" data-placement="right" title="Report"><a href="{% url 'graduation:misc-report' %}">{{form.misc_show_status.label}}</a></label></th>
            <th>{{form.misc_show_status}}</th>
            <th><label for="{{form.misc_due_date.id_for_label}}" data-toggle="tooltip" data-placement="right" title="Trainee View"><a href="{% url 'graduation:misc-view' %}">{{form.misc_due_date.label}}</a></label></th>
            <th>{{form.misc_due_date}}</th>
          </tr>
          <tr>
            <th><label for="{{xb_form.xb_show_status.id_for_label}}" data-toggle="tooltip" data-placement="right" title="Report"><a href="{% url 'xb:xb-report' %}">{{xb_form.xb_show_status.label}}</a></label></th>
            <th>{{xb_form.xb_show_status}}</th>
            <th><label for="{{xb_form.xb_due_date.id_for_label}}" data-toggle="tooltip" data-placement="right" title="Trainee View"><a href="{% url 'xb:xb-application' %}">{{xb_form.xb_due_date.label}}</a></label></th>
            <th>{{xb_form.xb_due_date}}</th>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary btn-save">{{button_label|safe}}</button>
      </div>
    </div>
  </form>
{% endblock %}
