{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load common_tags %}

{% block title %}{{ page_title }}{% endblock %}

{% block scripts %}
{{ form.media }}

<script type="text/javascript">

  function setcost(){

    gradinvite_count = $("#id_grad_invitations").val()
    dvd_count = $("#id_grad_dvd").val()
    

    grad_cost = gradinvite_count * 2.5
    dvd_cost = dvd_count * 11

    $("#invite_cost").html("$"+grad_cost)
    $("#dvd_cost").html("$"+dvd_cost)

  }

  $( document ).ready(() => {
    {% if read_only %}
    $('#id_grad_form *').attr("disabled", true);
    {% endif %}

    setcost()

    $("input").on('change', function(){
      setcost()
    })

  });


</script>

{% endblock %}

{% block content %}
<h2>Graduation Invites & DVDs</h2>
<form id="id_grad_form" action="" method="post">
  {% csrf_token %}
  <div class="row"><div class="col-xs-12"><div class="panel">    
    <p>Please note that invitations come in bundles of 5, so your choice must be a multiple of 5 and represents the total number of invitations (not the number of sets). The average price will be $2.50 per set of 5 invitations. Envelopes included. Stamps not included.</p>
      <div class="row"><div class="col-xs-12">
        Number of invitations: {{form.grad_invitations}}
      </div></div>
      <div class="row"><div class="col-xs-12">
        Total cost:  <span id="invite_cost">$0.00</span>
      </div></div>
  </div></div></div>

  <div class="row"><div class="col-xs-12"><div class="panel">    
    <p>The price will be $11.00 per DVD. DVD case included.</p>
      <div class="row"><div class="col-xs-12">
        Number of DVD: {{form.grad_dvd}}
      </div></div>
      <div class="row"><div class="col-xs-12">
        Total cost:  <span id="dvd_cost">$0.00</span>
      </div></div>
  </div></div></div>

  <div class="row">
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary btn-save">{{button_label|safe}}</button>
      </div>
    </div>

  </form>
  {% endblock %}
