{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load common_tags %}

{% block title %}{{ page_title }}{% endblock %}

{% block scripts %}
{{ form.media }}

<script type="text/javascript">

  function setcost(){

    gradinvite_count = $("#id_grad_invitations").val()
    dvd_count = $("#id_grad_dvd").val()

    // trainee inputted value rounds up to nearest multiple of five upon saving so as to allow for no ambiguities.
    if (gradinvite_count % 5 != 0) {
      gradinvite_count = Math.ceil(gradinvite_count/5)*5
      $("#id_grad_invitations").val(gradinvite_count)
      $(".btn-save").submit()
    }

    grad_cost = gradinvite_count * 0.5
    dvd_cost = dvd_count * 11

    $("#invite_pack_amount").html(gradinvite_count/5 + " packs")
    $("#invite_cost").html("$"+grad_cost)
    $("#dvd_cost").html("$"+dvd_cost)

  }

  $( document ).ready(() => {
    {% if read_only %}
    $('#id_grad_form *').attr("disabled", true);
    {% endif %}

    setcost()
    $("#invite_cost").css("font-weight", "Bold");
    $("#dvd_cost").css("font-weight", "Bold");
    $("input").on('change', function(){
      setcost()
    })

  });


</script>

{% endblock %}

{% block content %}
<h2>{{ page_title }}</h2>
{% if object.due_date %}
  <h3>Due: {{ object.due_date }}</h3>
{% endif %}
<form id="id_grad_form" action="" method="post">
  {% csrf_token %}
  <div class="row"><div class="col-xs-12"><div class="panel">
    <p>Please note that invitations come in bundles of 5, so your choice must be a multiple of 5 and represents the total number of invitations (not the number of sets). The average price will be $2.50 per set of 5 invitations. Envelopes included. Stamps not included.</p>
      <div class="row"><div class="col-xs-12">
        <strong>Number of invitations</strong>: {{form.grad_invitations}}
      </div></div>
      <div class="row"><div class="col-xs-12">
        Number of packs: <span id="invite_pack_amount">0 packs</span><br>
        Total cost:  <span id="invite_cost">$0.00</span>
      </div></div>
  </div></div></div>

  <div class="row"><div class="col-xs-12"><div class="panel">
    <p>The price will be $11.00 per DVD. DVD case included.</p>
      <div class="row"><div class="col-xs-12">
        <strong>Number of DVD</strong>: {{form.grad_dvd}}
      </div></div>
      <div class="row"><div class="col-xs-12">
        Total cost:  <span id="dvd_cost">$0.00</span>
      </div></div>
  </div></div></div>

  <div class="row">
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary btn-save">{{button_label|safe}}</button>
      </div>
    </div>

  </form>
  {% endblock %}
