{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load common_tags %}

{% block title %}{{ page_title }}{% endblock %}

{% block scripts %}
{{ form.media }}

<script type="text/javascript">
  function updateCountdown_limitCount() {
    display = $(this).parent().children(".remaining_words")
    var word_count = 0

    if ($(this).val().trim()) {
      word_count = $(this).val().trim().split(" ").length;
    }
    $(display).text(word_count + ' words.');

    word_limit = parseInt($(this).prop('class').split(" ")[1])
    if (word_count > word_limit) {
      alert("You've hit the word limit!")
      $(this).val($(this).val().split(" ", word_limit).join(" ") + " ")
    }

  }

  $( document ).ready(() => {
    {% if read_only %}
    $('#id_grad_form *').attr("disabled", true);
    {% endif %}

    $('.word_count').each(updateCountdown_limitCount);
    $('.word_count').change(updateCountdown_limitCount);
    $('.word_count').keyup(updateCountdown_limitCount);

  });
</script>

{% endblock %}

{% block references %}
<style type="text/css">
  .remaining_words{
    display: inline;
  }
</style>

{% endblock %}

{% block content %}
<h2>{{ page_title }}</h2>

{% if object.due_date %}
<h3>Due: {{ object.due_date }}</h3>
{% endif %}

<form id="id_grad_form" action="" method="post">
  {% csrf_token %}
  <div class="row"><div class="col-xs-12"><div class="panel">
    <p>1. What was ONE of the top experiences you had/revelations you received in the Training?</p> Please consider writing along ONE of the following lines:
    <ul><li>A helpful practice</li>
      <li>A lesson learned</li>
      <li>A specific enjoyment</li>
      <li>A change in value</li>
      <li>An area of your being the Lord touched</li>
      <li>The overall benefit of the Training</li></ul>
      <div class="row"><div class="col-xs-12">
        {{form.top_experience}} <div class="remaining_words 300"></div> 300 maximum.
      </div></div>
  </div></div></div>

  <div class="row"><div class="col-xs-12"><div class="panel">
    <p>2. What fellowship would you like to pass on to subsequent terms for their encouragement</p>
      <div class="row"><div class="col-xs-12">
        {{form.encouragement}} <div class="remaining_words 300"></div> 300 maximum.
      </div></div>
  </div></div></div>

  <div class="row"><div class="col-xs-12"><div class="panel">
    <p>3. What were some of the overarching burdens expressed in the brothers' speaking throughout your training? </p>
      <div class="row"><div class="col-xs-12">
        {{form.overarching_burden}} <div class="remaining_words 250"></div> 250 maximum.
      </div></div>
  </div></div></div>

  <div class="row"><div class="col-xs-12"><div class="panel">
    <p>4. What were some major events, memorable moments, and/or highlights from your four terms of training?</p>
      <div class="row"><div class="col-xs-12">
        {{form.highlights}} <div class="remaining_words 150"></div> 150 maximum.
      </div></div>
  </div></div></div>


    <div class="row">
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary btn-save">{{button_label|safe}}</button>
      </div>
    </div>
  </form>
  {% endblock %}
