{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load common_tags %}

{% block title %}{{ page_title }}{% endblock %}

{% block scripts %}
{{ form.media }}

<script type="text/javascript">
  function updateCountdown() {
    // form_id = $(this).attr('id')
    display = $(this).parent().children(".remaining_chars")
    var remaining = 300 - jQuery(this).val().length;
    jQuery(display).text(remaining + ' char remaining.');
  }

  $( document ).ready(() => {
    {% if read_only %}
    $('#id_grad_form *').attr("disabled", true);
    {% endif %}

    $('.char_count').each(updateCountdown);
    $('.char_count').change(updateCountdown);
    $('.char_count').keyup(updateCountdown);

  });
</script>

{% endblock %}

{% block references %}
<style type="text/css">
  .remaining_chars{
    display: inline;
  }
</style>

{% endblock %}

{% block content %}
<h2>{{ page_title }}</h2>

{% if object.due_date %}
<h3>Due: {{ object.due_date }}</h3>
{% endif %}

<form id="id_grad_form" action="" method="post">
  {% csrf_token %}
  <div class="row"><div class="col-xs-12"><div class="panel">
    <p>1. What was ONE of the top experiences you had/revelations you received in the Training?</p> Please consider writing along ONE of the following lines:
    <ul><li>A helpful practice</li>
      <li>A lesson learned</li>
      <li>A specific enjoyment</li>
      <li>A change in value</li>
      <li>An area of your being the Lord touched</li>
      <li>The overall benefit of the Training</li></ul>
      <div class="row"><div class="col-xs-12">
        {{form.top_experience}} <div class="remaining_chars"></div>
      </div></div>
  </div></div></div>

  <div class="row"><div class="col-xs-12"><div class="panel">
    <p>2. What fellowship would you like to pass on to subsequent terms for their encouragement</p>
      <div class="row"><div class="col-xs-12">
        {{form.encouragement}} <div class="remaining_chars"></div>
      </div></div>
  </div></div></div>
  
  <div class="row"><div class="col-xs-12"><div class="panel">
    <p>3. What were some of the overarching burdens expressed in the brothers' speaking throughout your training? </p>
      <div class="row"><div class="col-xs-12">
        {{form.overarching_burden}} <div class="remaining_chars"></div>
      </div></div>
  </div></div></div>

  <div class="row"><div class="col-xs-12"><div class="panel">
    <p>4. What were some major events, memorable moments, and/or highlights from your four terms of training?</p>
      <div class="row"><div class="col-xs-12">
        {{form.highlights}} <div class="remaining_chars"></div>
      </div></div>
  </div></div></div>


    <div class="row">
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary btn-save">{{button_label|safe}}</button>
      </div>
    </div>
  </form>
  {% endblock %}
