{% extends "base.html" %}

{% block content %}
</br>

<a href="{% url 'syllabus:home-view' %}">Back to term list.</a>

<h1> Class List: </h1>

<!-- {% if list %}
  <ul>
  {% for syllabus in list %}
  <li> <a href="{{ syllabus.get_url_path }}" >{{ syllabus.class_syllabus }} </a> </li>
  {% endfor %}
  </ul>
{% else %}
  <p>No syllabus.</p>
{% endif %}


{% if list %}
  <ul>
  {% for syllabus in list %}
  <li> <a href="{{syllabus.get_id}}" > {{ syllabus.class_syllabus.code }} </a> </li>
  {% endfor %}
  </ul>
{% else %}
  <p>No syllabus.</p>
{% endif %} -->

{% if list %}
  <ul>
  {% for syllabus in list %}
  <table>
  <tr>
    <td><a href="{{syllabus.get_url}}{{syllabus.id}}" > {{ syllabus.class_syllabus.name }}: {{syllabus.class_syllabus.term.code }} </a> </td>
    <td><a href="delete/{{syllabus.id}}">Delete</a></td>
  </tr>
  </table>
  {% endfor %}
  </ul>
{% else %}
  <p>No syllabus.</p>
{% endif %}

<br>
<a href="{% url 'syllabus:add-syllabus' term=term %}"> {{syllabus.class_syllabus.term.code}} Add a Syllabus </a>
</br>
{% endblock %}
