/*custom css for exams*/

#exam_select {
  margin-bottom: 15px;
}

.exam-panel-title {
  padding: 10px;
}

.exam-panel-heading {
  padding: 0px;
}

.exam-panel-heading .btn-group {
  margin: 2px;
}

.statistics {
  width: 50%;
}

.exam-response {
  display: inline;
}

.score {
  display: inline;
  width: 235px;
}

.grader-comment {
  display:inline;
  width: 45%;
}

.grades-table {
  border-collapse: collapse;
}

.small-bottom {
  margin-bottom: 5px;
}

.no-bottom {
  margin-bottom: 0px;
}

.form-horizontal .right-push {
  margin-right: 0px;
}

#question-list {
  padding-left: 15px;
  margin-right: 15px;
}

div.question {
    clear:both;
    overflow:auto;
}

.MCCheckboxes li {
  display: block;
  width: 100%;
  padding-left: 1%;
}

.fitb_answer_div li {
  display: block;
  float: left;
  width: 100%;
}

.OptionMC {
  display:block;
}

span.select2-container {
  width: 100% !important;
}

.close.remove.question, .close.remove.section {
  background: red;
  background-color: red;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  opacity: .7;
}
