li.dropdown.open .triangle-up {
  width: 0;
  height: 0;
  position: absolute;
  left: calc(50% - 5px);
  top: calc(100% - 11px);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #095F80;
  z-index: 1;
}

@media (max-width: 767px) {
  li.dropdown.open .triangle-up {
    display: none;
  }
}

.triangle-left {
  width: 0;
	height: 0;
  position: absolute;
  right: 100%;
	border-right: 16px solid #fff;
	border-bottom: 10px solid transparent;
}

.triangle-left::before {
  content: " ";
  width: 0;
  height: 0;
  position: absolute;
  top: -1px;
  right: -16px;
  border-right: 19px solid #A6C5D1;
  border-bottom: 13px solid transparent;
  z-index: -1;
}

#subnav:empty {
  display: none;
}

.header-icon {
  top: 2px !important;
}

.spacer5 { height: 5px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer10 { height: 10px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer15 { height: 15px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer20 { height: 20px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer25 { height: 25px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer30 { height: 30px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer35 { height: 35px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer40 { height: 40px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer45 { height: 45px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer50 { height: 50px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer100 { height: 100px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer200 { height: 200px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }

.no-top-margin {
	margin-top: 0px;
}

.thin-hr {
	width: 100%;
	padding: 0px;
	margin: 5px 0px;
}

.notification {
  display: none;
  position: fixed;
  top: 20px;
  left: 50%;
  margin-left: -85px;
  width: 170px;
  z-index: 9999;
  text-align: center;
  padding: 5px;
}

.notification-dismiss {
  cursor: pointer;
  position: absolute;
  right: 10px;
}

#ajaxStatus {
  position: fixed;
  top: 0;
  z-index: 999999;
  display: none;
  margin: 0;
  border: 2px solid #A6C5D1;
  width: 0;
}

.welcome {
  color: #F69D74;
}
