{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load common_tags %}

{% block title %}{{ page_title }}{% endblock %}

{% block scripts %}
{{form.media}}
{% endblock %}

{% block references %}
<style type="text/css">
  #attendance_table{
    table-layout: auto;
    width: auto;
  }
  td{
    text-align: center;
    vertical-align: middle;
  }
</style>

{% endblock %}

{% block content %}
<h2>Semi-Annual Training {{ term }}</h2>
<h2>{{ page_title }}</h2>

<form id="id_attendance_form" action="" method="post">
  {% csrf_token %}
  {% bootstrap_field form.location %}
  <table id="attendance_table" class="table">
    <thead>
      <tr>
        {% for head in headers %}
        <th>{{head}}</th>
        {% endfor %}
      </tr>
    </thead>
  {% for field in form %}
    <tbody>
    {% if forloop.counter0 > 0 %}
    <tr>
    <th>{{field.label}}:</th>
    {% for c in field %}
      <td>{{c.tag}}</td>
    {% endfor %}
    </tr>
    {% endif %}
    </tbody>
  {% endfor %}
  </table>
  <button type="submit" class="btn btn-primary btn-save" id="submit">{{button_label|safe}}</button>
</form>
{% endblock %}
