{% load bootstrap3 %}
{% load common_tags %}

{% block content %}
<h3>Study Location Form</h3>

<p>
	<li>Indicate "Training Center" if you are burdened to study with FTTA trainees.</li>
	<li>Indicate "Ministry Conference Center" if you are burdened to study with the college students and young people.</li>
	<li>If you would like to request another location or have a conflict with this arrangement, indicate "Other" with the proposed location and submit a note to Jerome Keh’s mail slot for approval or denial indicating the reason for the request. <strong>First term trainees must study at the Training Center or Ministry Conference Center.</strong></li>
	<li>You must indicate your choice by <strong>{{ location_due_date|date:"l, M j" }}</strong>. Otherwise, you will study at the Training Center by default.</li>
	<hr/>
<strong>Regardless of where you are assigned, all trainees are required to report to the Training Center on the Tuesday morning of semi-annual training week for a corporate study and testing time.</strong> You may study at your assigned location starting the Wednesday morning of semi-annual training week.</p>

<form id="id_attendance_form" action="" method="post">{% csrf_token %}
	{% bootstrap_field form.location  %}
	<div class="panel panel-default" id="location_request_form">
		<div class="panel-heading">
			<h3>Study Location Request Form</h3>
			{% if form.ta_comments.value or user|is_TA %}
			  {% bootstrap_form form exclude='location' %}
			{% else %}
			  {% bootstrap_form form exclude='location, ta_comments' %}
			{% endif %}
		</div>
	</div>
	{% if not past_location_due_date %}
    <input type="submit" class="btn btn-primary btn-save" name="location_form" id="submit" value="{{button_label}}"></input>
    {% endif %}
</form>
{% endblock %}
