  {% for form in formset %}

      {% if forloop.first %}
        <div class="row hidden-xs" style ="name">
          {% for field in form %}
          <div class="col-sm-2"><strong>{{ field.label_tag }}</strong></div>
          {% endfor %}
        </div>
      {% endif %}
      <div class="row row-data entry {% if form.DELETE.value %}hidden{% endif %}" id="form-{{ form.instance.pk }}" style="form-top">
        {% for field in form %}
          <div class="hidden">
            {{ form.id }}{{ form.instance.pk }}
          </div>
          <div class="form-group col-xs-6 col-sm-2">
            {{ field.errors }}{{ field }}
          </div>
        {% endfor %}
      </div>

  {% endfor %}



      <div class="delete-input hidden">
        {% if form.instance.pk %}
          {{ form.DELETE }} {{ form.DELETE.value }}
        {% endif %}
      </div>
      <div class="col-sm-1 hidden-xs delete" style="padding:0;">
        <a data-formset-delete-button class="delete" href="#">
            <span class="glyphicon glyphicon-remove" style="margin-top:8px;"></span>
        </a>
      </div>

<div class="row" style="padding-left:15px; margin-top:10px">
  <a id="add" href="#">Add</a></p>
</div>