{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load common_tags %}

{% block title %}{{ page_title }}{% endblock %}

{% block scripts %}
  {{ form.media }}
{% endblock %}

{% block content %}
<h2>APPLICATION FOR THE FTTA EXTENSION IN BOSTON</h2>
<h3>For Spring 2018</h3>
<h4>STATEMENT OF PURPOSE </h4>

<p>FTTA-Extension in Boston (FTTA-XB) is a one-year program that supplements and extends training provided by the Full-time Training in Anaheim (FTTA). The burden of FTTA-XB is to produce full-time serving ones who are equipped to serve the Lord for an extended period of time. The primary aspects of this training are the learning of the basic lessons in service and the deeper development of the necessary experiences of life. A secondary but very important aspect of FTTA-XB is to train the young saints to study the truth and read the Bible properly to enable them to apprehend the depths of God’s revelation progressively over the full course of their serving life.</p>

<p>Graduates of FTTA-XB are currently laboring on college campuses in the United States and Europe, and both destinations are critical for the Lord's present move.</p>

<p>Application Deadline Oct 23, 2017</p>

<p>Note: Please fellowship with your elder for the Elder's Comments, which is downloadable through the link below.
You are responsible for making sure your elder submits the form to the FTTA Office by email: office@ftta.org OR fax to: 714-991-8537 OR mail to: ATTN:FTTA 2431 W La Palma Ave, Anaheim, CA 92801.
If you have any questions, please fellowship with the FTTA Office.
<a href=#>FTTA - XB Elders Comments</a> </p>
<form id="id_xb_form" action="" method="post">
  {% csrf_token %}

  {% for field in form %}
  <div class="row"><div class="col-xs-12"><div class="panel">
    <p>{{field.label}}</p>
      <div class="row"><div class="col-xs-12">
        {{field}}
      </div></div>
  </div></div></div>
  {% endfor %}
  
  <div class="row">
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary btn-save">{{button_label}}</button>
      </div>
    </div>


{% endblock %}
