{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load common_tags %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
<h2>HC Survey Admin</h2>
<div>
  {% for recommendations in hc_recommendations %}
  <h3>{{recommendations.house}}</h3>
  <p>Recommendations: {{recommendations.submitted}} / {{recommendations.expected}}</p>
  <table class="table table-bordered" id="recommendation_table">
    <tr>
      <th>Name</th>
      <th>Choice</th>
      <th>Recommendation</th>
    </tr>
    {% for hcr in recommendations.hcrs %}
    <tr>
      <td>{{hcr.recommended_hc}}</td>
      <td>{{hcr.choice}}</td>
      <td>{{hcr.recommendation}}</td>
    </tr>
    {% endfor %}
   </table>
  {% endfor %}
</div>
{% endblock %}
