{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load common_tags %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
<h2>HC Survey Admin</h2>
<div>
  <h3>Summary</h3>
  <table class="table table-bordered" id="summary_table">
    <thead>
      <tr>
        <th>Brothers Reported</th>
        <th>Sisters Reported</th>
        <th>Brothers Unreported</th>
        <th>Sisters Unreported</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          {% for h in bro_reported %}
          {{h}},
          {% endfor %}
        </td>
        <td>
          {% for h in sis_reported %}
          {{h}},
          {% endfor %}
        </td>
        <td>
          {% for h in bro_not_reported %}
          {{h}},
          {% endfor %}
        </td>
        <td>
          {% for h in sis_not_reported %}
          {{h}},
          {% endfor %}
        </td>
      </tr>
    </tbody>
  </table>

  {% for snc in surveys_and_comments %}
  <h3>{{snc.survey.house}}</h3>
  <table class="table table-bordered" id="survey_table">
    <thead>
      <tr>
        <th>Atmosphere</th>
        <th>Situations</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{snc.survey.atmosphere}}</td>
        <td>{{snc.survey.situations}}</td>
        <td>{{snc.survey.comment}}</td>
      </tr>
    </tbody>
  </table>

  <table class="table table-bordered" id="comments_table">
    <thead>
      <tr>
        <th>Trainee</th>
        <th>Comments</th>
      </tr>
    </thead>
    <tbody>
      {% for comments in snc.trainee_comments %}
      <tr>
        <td>{{comments.trainee}}</td>
        <td>{{comments.assessment}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endfor %}
</div>
{% endblock %}