{% load staticfiles %}

{% block title %}Meal Seating{% endblock %}

{% block content %}
  <style>
  #test {
  display: flex;
  flex-flow: row;
  font-size:10px;
  }
  table {
  border:1px solid black;
  margin-right: 10px;
  border-collapse: collapse;
  }
  td, th{
    padding-left: 5px;
  padding-right: 5px;
    font-size:10px;
  border:1px solid black;
  }
  }
  </style>
  </script>
  FTTA Meal Seating Chart ({{startdate}} to {{enddate}})
  <br>
  <div id="test">
    {% for cols in seating_list %}
      <table class ="td" id="table_info" >
        <thead>
          <tr>
            <th>Name</th>
            <th>#</th>
          </tr>
        </thead>
        <tbody>
          {% for row in cols|dictsort:"last_name" %}
            <tr>
              <td>
                {{row.last_name|truncatechars:20}}, {{row.first_name|truncatechars:15}}
              </td>
              <td>{{row.table}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endfor %}
  </div>
{% endblock %}