{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}Switch Identities{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function(e) {
      $("#id_user_id").select2('open');
    })
  </script>

{% endblock %}

{% block content %}
<h2>Switch Identities</h2>

<div class="row">
  <div class="col-md-6">
    <form method="post">
      {% csrf_token %}
      {{form.media}}
      {% bootstrap_form form %}
      <button type="submit" class="btn btn-default">Switch Identity</button>
    </form>
  </div>
</div>


{% endblock %}
