{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load common_tags %}

{% block title %}Switch User{% endblock %}

{% block references %}
  {{ form.media }}
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(() => {

      $("#id_user_id").djangoSelect2({width: '100%'})
      .select2('open')
      .on("select2:select", (e) => {
        $('form').submit();
      });
    });
  </script>
{% endblock %}

{% block content %}

{% ifusergroup dev|training_assistant %}
<h2>Switch Identities</h2>

<div class="row">
  <div class="col-md-6">
    <form method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
    </form>
  </div>
</div>
{% else %}
{% if user.is_superuser %}
<h2>Switch Identities</h2>

<div class="row">
  <div class="col-md-6">
    <form method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
    </form>
  </div>
</div>
{% endif %}

{% endifusergroup %}


{% endblock %}
