{% load staticfiles %}
{% load exam_extras %}
{% load common_tags %}

{% block content %}
<form id="exam_form" action="" method="post">
        {% csrf_token %}
        <ol id="question-list">
          <div id="question_count" value="{{ data|length }}"></div>
          {% for question, response in data %}
            <h5> {{ question }} </h5>
            <h5> {{ response }} </h5>
            <li>{{ question.prompt }}<b> (Points: {{ question.points }})</b></li>
            <br>
            <textarea class="form-control exam-response {% if role != 'Take' and role != 'Retake' %}disabled{% endif %}" id="response-{{ forloop.counter }}" cols="100" rows="10" placeholder="Type your response here." name="response" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 206px;" {% if role != 'Take' and role != 'Retake' %} disabled="disabled"{% endif %}>{{ response.response }}</textarea>
            <br><b>Word Count: </b><span id="count-{{ forloop.counter }}">0</span>

            <!-- store interesting values for packaging later -->
            <div id="question_{{forloop.counter}}" value='{{ question|safe }}'/>
            <div id="response_{{forloop.counter}}" value='{{ response|safe }}' />

            {% if role == 'Grade' %}
              <br><b>Score: </b>
              <input class="score form-control" id="score-{{forloop.counter}}" type="text" name="question-score" value="{{ response.score }}"><b> Comment: </b>
              <input class="grader-comment form-control" id="comment-{{forloop.counter}}" type="text" name="grader-comment" value="{{ response.comment }}">
              <hr/>
            {% endif %}

          {% empty %}
            <i>No exam questions to view.</i><br />
          {% endfor %}

        </ol>
        <div class="pull-right">
          <button name="Save" class="btn btn-success">Save</button>
          <button name="Submit" class="btn btn-primary">
            Finalize
          </button>
        </div>
      </form>
{% endblock %}