{% extends "exams/base_exams.html" %}

{% load staticfiles %}
{% load exam_extras %}
{% load common_tags %}

{% block title %}Exam{% endblock %}

{% block content %}
{% if user|is_trainee %}
    <div class="panel panel-default">
        <div class="panel-heading exam-panel-heading">
            <div class="btn-group pull-right">
                {% if role|is_taking_exam %}
                    <a href="{% url 'exams:list' %}">
                        <button type="button" class="btn btn-default">Back</button></a>
                {% else %}
                    <a href="{% url 'exams:grades' exam.id %}">
                        <button type="button" class="btn btn-default">Back</button></a>
                {% endif %}
            </div>
            <h3 class="panel-title exam-panel-title">{{ exam }}</h3>
        </div>
        <div class="panel-body">
        {% if exam_not_available %}
            <i>Sorry, this exam is unavailable to you at this time.</i>
        {% else %}
            <form id="exam_form" action="" method="post">
                {% csrf_token %}
                <ol id="question-list">
                    <!-- stored for packaging on save/submit.  TODO: There has got to be a better way to do this. -->
                    <div id="question_count" value="{{ data|length }}"></div>

                    {% for question, response in data %}
                        <script>
                            render_question('{{ question|safe }}', '{{ response|safe }}', '{{ role }}', '{{ forloop.counter }}')
                        </script>

                        <!-- store interesting values for packaging later -->
                        <div id="question_{{forloop.counter}}" value='{{ question|safe }}'/>
                        <div id="response_{{forloop.counter}}" value='{{ response|safe }}' />

                    {% empty %}
                        <i>No exam questions to view.</i><br />
                    {% endfor %}
                </ol>
                <button name="Save" class="btn btn-default" onclick="package_questions('{{ role }}');">Save</button>
                <button name="Submit" class="btn btn-default" onclick="package_questions('{{ role }}');">
                    {% if role|is_taking_exam %}
                        Submit
                    {% else %}
                        Finalize
                    {% endif %}
                </button>
            </form>
        {% endif %}

        </div>
    </div>
{% else %}
<i>Sorry, you cannot take the exam.</i>
{% endif %}

{% endblock %}

{% block scripts %}
    <script src="{% static 'exams/js/question-display.js' %}"></script>
    <script src="{% static 'js/Countable.js' %}"></script>
{% endblock %}
