{% extends "exams/base_exams.html" %}

{% load staticfiles %}
{% load bootstrap3 %}
{% block title %}Create exam{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static "exams/js/exam-create-save-post.js" %}"></script>
<script>
  /* Store global variables here
  */
  const SUCCESS_URL = "{{view.success_url}}";
</script>
<script>

  function addSection(e){
    var section_div = $("#exam_section_blank").clone();
    section_div.removeAttr("id");
    section_div.removeClass("hidden");
    $("#sections").append(section_div);
  }

  var tf_question_count = $('*[id*=tf_]:visible').length;

  function GetDynamicTextBox(value) {
    switch(value){
      case "E":
        return $('#essay-question-template-blank').html();
        break;
      case "MC":
        return $('#mc-question-template-blank').html();
        break;
      case "M":
        return $('#matching-question-template-blank').html();
        break;
      case "TF":
        tf_question_count += 2;
        return $('#tf-question-template-blank').html();
        break;
      case "FITB":
        return $('#fitb-question-template-blank').html();
        break;
      default:
        return "";
    }
  }

  function selectOnlyThis(id) {
    cur_id = '#' + id;
    var this_div = $(cur_id).closest("div");
    numeral = parseInt(id.match(/\d+/));
    if ((numeral % 2) === 0) {
        document.getElementById("tf_" + (numeral - 1).toString()).checked = false;
    } else {
      document.getElementById("tf_" + (numeral + 1).toString()).checked = false;
    }
    document.getElementById(id).checked = true;
  }

  function addQuestion(e) {
    //How to find correct section_type; there are multiple with the same name?
    var type = $(e.target).parent().parent().find("[name='section_type']").val()
    console.log(e, type);
    $(e.target).parent().parent().find(".QuestionsContainer").append(GetDynamicTextBox(type));
  }

  function addCheckbox(e) {
    var container = $(e.target).parent().parent().find("[id='MCCheckboxes']");
    var inputs = container.find('input');
    var id = inputs.length+1;
    list_node = '<li><input type="checkbox" name="' + id + '" value=""> <textarea name="question-option-' + id + '" class="question form-control" placeholder="Enter choice"></textarea></li>'
    container.append(list_node);
    //$('<input />', { type: 'checkbox', name: id }).appendTo(container);
    //$('<label />', { type: 'textarea', name:'question-option-'+id, class:'question form-control', placeholder:'Enter choice' }).appendTo(container);
  }

  function removeCheckbox(e) {
    var container = $(e.target).parent().parent().find("[id='MCCheckboxes']");
    var last_checkbox = container.children('li').length - 1;
    container.children('li')[last_checkbox].remove();
  }

  function addAnswer(e) {
    console.log('adding an answer...');
    var container = $(e.target).parent().parent().find("[name='fitb_answer_div']");
    var iDiv = document.createElement('div');
    iDiv.id = 'fitb-answer-textbox';
    iDiv.className = 'form-group no-bottom col-xs-3 col-sm-3 left-push';
    var input = document.createElement("textarea");
    var number_of_answers = container.children('div').length;
    input.name = "answer-text-" + (number_of_answers+1).toString();
    input.class = "question form-control"
    input.placeholder = "Answer to $" + (number_of_answers+1).toString();
    iDiv.appendChild(input);
    container.append(iDiv);
  }

  function removeAnswer(e) {
    var container = $(e.target).parent().parent().find("[name='fitb_answer_div']");
    var last_answer = container.children('div').length - 1;
    container.children('div')[last_answer].remove();
  }

  $(document).ready(function (e) {
    tf_question_count = $('*[id*=tf_]:visible').length;
    $("body").on("click", ".remove.section", function () {
      $(this).closest("div.section").remove();
    }).on("click", ".remove.question", function () {
      $(this).closest("div.question").remove();
    }).on("click", "#btnAddSection", function(e) {
      addSection(e);
    }).on("click", "#btnAddQuestion", function(e) {
      addQuestion(e);
    }).on("click", "#add_choice_button", function(e) {
      addCheckbox(e);
    }).on("click", "#remove_choice_button", function(e) {
      removeCheckbox(e);
    }).on("click", "#fitb-add-answer-button", function(e) {
      addAnswer(e);
    }).on("click", "#fitb-remove-answer-button", function(e) {
      removeAnswer(e);
    });
  });

</script>

{% endblock %}


{% block content %}
<form action="" id="surveyForm" method="post" class="form-horizontal">
  {% csrf_token %}
  <h3>{% if exam_not_available %}Create Exam{% else %}Edit Exam{% endif %} </h3>
  <hr>
  <div class="form-horizontal" name="exam_metadata">
    {% bootstrap_field form.training_class label_class="col-md-2" field_class="col-md-4" %}
    {% bootstrap_field form.term label_class="col-md-2" field_class="col-md-4" %}
    {% bootstrap_field form.description label_class="col-md-2" field_class="col-md-4" %}

    <!-- Is the exam open -->
    <div class="form-group">
      <label class="col-md-2 control-label" for="is_open">Is Open</label>
      <div class="col-md-4">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-default {% if not exam_not_available and is_open %}active{% endif %}">
            <input type="radio" autocomplete="off" name="is_open" id="radios-0" value="True" {% if not exam_not_available and is_open %}checked{% endif %}> Yes
          </label>
          <label class="btn btn-default {% if not exam_not_available and not is_open %}active{% endif %}">
            <input type="radio" autocomplete="off" name="is_open" id="radios-1" value="False" {% if not exam_not_available and not is_open %}checked{% endif %}> No
          </label>
        </div>
      </div>
    </div>

    <!-- Exam Category -->
    <div class="form-group">
      <label class="col-md-2 control-label" for="exam_category">Category</label>
      <div class="col-md-4">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-default {% if not exam_not_available and not is_final %}active{% endif %}">
            <input type="radio" autocomplete="off" name="exam_category" id="radios-0" value="M" {% if not exam_not_available and not is_final %}checked{% endif %}> Midterm
          </label>
          <label class="btn btn-default {% if not exam_not_available and is_final %}active{% endif %}">
            <input type="radio" autocomplete="off" name="exam_category" id="radios-1" value="F" {% if not exam_not_available and is_final %}checked{% endif %}> Final
          </label>
        </div>
      </div>
    </div>

    <!-- Exam duration-->
    {% bootstrap_field form.duration label_class="col-md-2" field_class="col-md-4" %}
  </div>

  <!-- Empty div for creating sections -->
  <h3>Sections
    <div class="pull-right">
      <input id="btnAddSection" class="btn btn-danger" type="button" value="Add Section" />
    </div>
  </h3>
  <hr>
  <div id="sections">
  <!--fix: for section in data (from utils get_edit_context_data) include each as an exam_section-->
    {% for section in data %}
     {% include 'exams/exam_section.html' %}
    {% endfor %}
  </div>

<!-- Hidden template section for copying and adding -->
{% include 'exams/exam_section.html' with id="id='exam_section_blank'" hidden='hidden' %}
{% include 'exams/mc_question.html' with attrs="class='hidden' id='mc-question-template-blank'" %}
{% include 'exams/essay_question.html' with attrs="class='hidden' id='essay-question-template-blank'" %}
{% include 'exams/matching_question.html' with attrs="class='hidden' id='matching-question-template-blank'" %}
{% include 'exams/tf_question.html' with attrs="class='hidden' id='tf-question-template-blank'" %}

<!-- Question form for Fill in the blank -->
<div class="question-form-container">
<div class="hidden" id="fitb-question-template-blank">
  <h7>
              Directions: Fill in the text area the provided text for the trainee and the blanks to be answered. Each blank should be labeled as $1, $2, $3, etc. for the number of answers to be provided. Then for the corresponding number of blanks, use 'Add Answer' button to provide the correct answer for that blank. Example: "1 Cor 6:17 But he who is $1 to the Lord is one $2". Then there will be two answer fields, in the first field will have the answer 'joined' and the second 'spirit'. Case is insensitive. Each blank will be worth (# of blanks) / (points for question). So in our example if the total for the question is 2 points, each blank will be 2 / 2 = 1 point.
            </h7>
  <div class="question well well-sm small-bottom clearfix ">
    <button type="button" class="close remove question" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="form-horizontal" name="exam_question">
    <input type="hidden" value="-1" name="question_id">
        <!-- <div class="spacer" style="float:left; height:20px; width:30px;"></div> -->
        <input type="hidden" value="-1" name="question_id">
          <div class="form-group col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <input type=hidden name="question-type" class="question form-control" value="fitb"/>
            <div>Fill in the Blank</div>
          </div>
          <div class="form-group right-push col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <div class="input-group">
                <div class="input-group-addon">Points</div>
                <input type="text" name="question-point" class="question form-control" value="1" required=""/>
            </div>
          </div>
        <!-- <div class="spacer" style="float:left; height:20px; width:30px;"></div> -->
        <div class="form-group no-bottom col-xs-12 col-sm-12">
            <textarea name="question-prompt" class="question form-control" placeholder="1 Cor 6:17 But he who is $1 to the Lord is one $2"></textarea>
        </div>
        <button type="button" id="fitb-add-answer-button">Add Answer</button>
        <button type="button" id="fitb-remove-answer-button">Remove Answer</button>
         <div id="fitb-answers" name="fitb_answer_div"></div>
      </div>
    </div>
  </div>
</div>

  <!-- Create Exam Button -->
 <button id="exam-submit" name="" class="btn btn-success">
    {% if exam_not_available %}
      Create Exam
    {% else %}
      Save Exam
    {% endif %}
  </button>
</form>

{% endblock %}

