{% extends "exams/base_exams.html" %}

{% load staticfiles %}
{% load exam_extras %}
{% load common_tags %}

{% block title %}Exam{% endblock %}

{% block content %}
{% if user|is_trainee %}
  <div class="panel panel-default">
    <div class="panel-heading exam-panel-heading">
      <div class="btn-group pull-right">
        {% if role|is_taking_exam %}
          <a href="{% url 'exams:list' %}">
            <button type="button" class="btn btn-default">Back</button></a>
        {% else %}
          <a href="{% url 'exams:grades' exam.id %}">
            <button type="button" class="btn btn-default">Back</button></a>
        {% endif %}
      </div>
      <h3 class="panel-title exam-panel-title">
        {% if role == 'Grade' %}
        {{ examinee.full_name }} -
        {% endif %}
        {{ exam }}
      </h3>
    </div>
    <div class="panel-body">
    {% if exam_not_available %}
      <i>Sorry, this exam is unavailable to you at this time.</i>
    {% else %}
      <form id="exam_form" action="" method="post">
        {% csrf_token %}
        <ol id="question-list">

          <div id="question_count" value="{{ data|length }}"></div>
          {% for section, response in data %}
            <h3> {% if section.type == 'essay' %} Essay {% elif section.type == 'mc' %} Multiple Choice {% elif section.type == 'matching' %} Matching {% elif section.type == 'tf' %} True False {% endif %} </h3>
            <h5> Instructions: {{ section.instructions }} </h5>
            <input type="hidden" value="{{ section.id }}" name="section_id">
            <input type="hidden" value="{{ section.type }}" name="section_type">
            {% for question in section.questions %}
              {% if question.type == 'essay' %}
                <li>{{ question.prompt }}</li>
                <br>
                <textarea class="form-control exam-response {% if role != 'Take' and role != 'Retake' %}disabled{% endif %}" id="response-{{ forloop.counter }}" cols="100" rows="10" placeholder="Type your response here." name="response" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 206px;" {% if role != 'Take' and role != 'Retake' %} disabled="disabled"{% endif %}>{{ response|get_item:forloop.counter0 }}</textarea>
                <br><b>Word Count: </b><span id="count-{{ forloop.counter }}">0</span>
                <p>&nbsp;</p>
              {% elif question.type == 'mc' %}
                <div class="form-horizontal" name="exam_question">
                  <li id='mc-{{ forloop.counter }}'>{{ question.prompt }}<b> (Points: {{ question.points }})</b></li>
                  <div class="form-group right-push col-xs-6 col-sm-6 col-md-6 col-lg-6" id="MCCheckboxes" name="mc_answer">
                    {% for option in question.options|split_string_list %}
                      <li><input type="checkbox" id="mc-{{ forloop.counter }}" name="{{ forloop.counter }}" {% if response|get_item:forloop.parentloop.counter0|str_contains:forloop.counter %} checked {% endif %} value="{{ forloop.parentloop.counter }}">{{ option }}</li>
                    {% endfor %}
                  </div>
                </div>
                <br>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
              {% elif question.type == 'matching' %}
                <div class="form-horizontal" name="exam_question">
                      <li id='matching-{{ forloop.counter }}' class="form-group"> {{ question.prompt }} </li>
                      <select class="form-group" name="matching_answer_field">
                        {% for item in section.matching_answers %}
                          <h5>{{ response|get_item:forloop.counter0 }}</h5>
                          <h5>{{ item }}</h5>
                          <option value="{{ item }}" {% if response|get_item:forloop.parentloop.counter0 == item %} selected {% endif %}>{{ item }}</option>
                        {% endfor %}
                      </select>
                </div>
              {% elif question.type == 'tf' %}
                <li>{{ question.prompt }}</li>
                <div class="form-group no-bottom col-xs-12 col-sm-12" id="tf_answer" name="tf_answer">
                  <input type='radio' id="tf_{{ forloop.counter|get_index_for_tf|split_string:';,0' }}" name="true{{ forloop.counter|get_index_for_tf|split_string:';,0' }}" {% if response|get_item:forloop.counter0 == 'true' %} checked {% endif %} onclick="selectOnlyThis(this.id)"> True <br>
                  <input type='radio' id="tf_{{ forloop.counter|get_index_for_tf|split_string:';,1' }}" name="false{{ forloop.counter|get_index_for_tf|split_string:';,1' }}" {% if response|get_item:forloop.counter0 == 'false' %} checked {% endif %}onclick="selectOnlyThis(this.id)"> False <br>
                </div>
                <br>
                <p>&nbsp;</p>
              {% elif question.type == 'fitb' %}
                <div name="fitb-prompt" style="float:left;">
                <li>{{ question.prompt|get_fill_in_the_blank_string }}</li><b> (Total Points: {{ question.points }})</b>
                </div>
                <br>
                <p>&nbsp;</p>
                <div name="fitb-answer-boxes" style="float:left;">
                {% for each in question.prompt|count_occurences_of_blanks %}
                  <div id="fitb-answer-{{ forloop.counter }}" class="form-group no-bottom col-xs-3 col-sm-3 left-push">
                    <textarea name='fitb-textarea-{{ forloop.counter }}' placeholder="answer to ({{ forloop.counter }})">{{ response|get_item:forloop.parentloop.counter0|split_string_list|get_index:forloop.counter0 }}</textarea>
                  </div>
                {% endfor %}
                </div>
                <br>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
              {% endif %}
            {% endfor %}

          {% empty %}
            <i>No exam questions to view.</i><br />
          {% endfor %}

        </ol>
        <div class="pull-right">
          <button id="save_button" name="Save" class="btn btn-success">Save</button>
          <button id="finalize_button" name="Submit" class="btn btn-primary">
            Finalize
          </button>
        </div>
      </form>
    {% endif %}

    </div>
  </div>
{% else %}
  {% include "exams/exam_grade.html" %}
  {% block essaygrade %}{% endblock %}
{% endif %}
{% endblock %}


{% block scripts %}
  <script src="{% static 'js/Countable.js' %}"></script>
  <script>
  function selectOnlyThis(id) {
    cur_id = '#' + id;
    var this_div = $(cur_id).closest("div");
    numeral = parseInt(id.match(/\d+/));
    if ((numeral % 2) === 0) {
        document.getElementById("tf_" + (numeral - 1).toString()).checked = false;
    } else {
      document.getElementById("tf_" + (numeral + 1).toString()).checked = false;
    }
    document.getElementById(id).checked = true;
  }

  function attach_counter(textarea, index) {
    Countable.live(textarea, function(counter){
      console.log('index', index);
      var span = $('#count-' + index);
      span.html(counter.words);
    });
  }

  $(document).ready(function(e) {
    var textareas = $('.exam-response');
    for (var i = 0; i < textareas.length; i++) {
      var textarea = textareas[i];
      var index = $(textarea).attr('id').split('-')[1];
      attach_counter(textarea, index);
    }

    $("#exam_form").on("click", '#save_button, #finalize_button', function (e){
      //console.log("TARGET: ", $(event.target).text());
      e.preventDefault();

      var form_data = $('#exam_form').serializeArray();
      console.log(form_data);
      //rtn_data = {SECTION_ID: {1:ANSWER1,2:ANSWER2,3:ANSWER3,...}, SECTION_ID: ...}
      var rtn_data = {};
      var current_ques_index = 1;
      var current_section_type = "none";
      var current_section_id;
      var current_fitb_index = 0;
      var r = /\d+/;
      for(var i=0; i < form_data.length; i++) {
        console.log(form_data[i]);
        if (form_data[i].name == "section_id") {
          current_ques_index = 1;
          current_section_id = form_data[i].value;
          rtn_data[form_data[i].value] = {}; //create new object for section_id
        }
        if (form_data[i].name == "section_type") {
          current_section_type = form_data[i].value;
        }
        if (current_section_type == "essay" && form_data[i].name == "response") {
          rtn_data[current_section_id][current_ques_index] = form_data[i].value;
          current_ques_index += 1;
        } else if (current_section_type == "mc") {
          if (/[0-9]+/.test(form_data[i].name)) {
            //value includes question number, name(s) are the answers student inputted
            if (rtn_data[current_section_id][form_data[i].value] != undefined) {
              rtn_data[current_section_id][form_data[i].value] = rtn_data[current_section_id][form_data[i].value].concat(';').concat(form_data[i].name);
            } else {
              rtn_data[current_section_id][form_data[i].value] = form_data[i].name;
            }
          }
        } else if (current_section_type == "matching" && form_data[i].name == "matching_answer_field") {
            //BUG: every third time or random time the trainee saves it seems like some of the trainee responses gets messed up
            rtn_data[current_section_id][current_ques_index] = form_data[i].value;
            current_ques_index += 1;
        } else if (current_section_type == "tf") {
          if (/true[0-9]+/.test(form_data[i].name)) {
            rtn_data[current_section_id][current_ques_index] = 'true';
            current_ques_index += 1;
          } else if (/false[0-9]+/.test(form_data[i].name)) {
            rtn_data[current_section_id][current_ques_index] = 'false';
            current_ques_index += 1;
          }
        } else if (current_section_type == "fitb") {
          //check if form data name is a an answer textbox with the name: fitb-textarea-x
          if (/fitb-textarea-[0-9]+/.test(form_data[i].name)) {
            /** fitb index is the integer x in 'fitb-textarea-x', if x is less than current_fitb_index then it indicates
            a new question is reached and the fitb-textarea-x resets x to 1*/
            if (current_fitb_index >= parseInt(form_data[i].name.match(r))) {
              current_ques_index += 1;
            }
            current_fitb_index = parseInt(form_data[i].name.match(r));
            console.log('current_ques_index: ' + current_ques_index.toString() + '; current_fitb_index: ' + current_fitb_index.toString() + '; current response is: ' + rtn_data[current_section_id][current_ques_index]);
            //if something in response of trainee already:
            if (rtn_data[current_section_id][current_ques_index] != undefined) {
              console.log('response is not undefined');
              rtn_data[current_section_id][current_ques_index] = rtn_data[current_section_id][current_ques_index].concat(';').concat(form_data[i].value)
              console.log('setting current ques index to ' + rtn_data[current_section_id][current_ques_index]);
            } else {
              console.log('response is undefined');
              console.log('setting current ques index to ' + form_data[i].value);
              rtn_data[current_section_id][current_ques_index] = form_data[i].value;
            }
          }
        }
      }
      console.log("TARGET: ", e.currentTarget.id);
      //rtn_data[e.target.name] ='true';
      if (e.currentTarget.id === "finalize_button") {
        rtn_data['Submit'] ='true';
      } else {
        rtn_data['Submit'] ='false';
      }
      console.log("RETURNED RESPONSE DATA: ");
      console.log(rtn_data);
      $.ajax({
            type: 'POST',
            data: JSON.stringify(rtn_data),
            success: function (data, status, jqXHR) {
            },
            error: function (jqXHR, textStatus, errorThrown ) {
              console.log('Exam response save post error!');
              console.log(jqXHR, textStatus, errorThrown);
            }
        })

    })
  })
  </script>
{% endblock %}
