{% extends "exams/base_exams.html" %}

{% load staticfiles %}

{% block title %}Create exam{% endblock %}

{% block scripts %}
<script>
  function GetDynamicTextBox(value) {
    return $('#question-template').html();
  }
  $(document).ready(function (e) {
    var iCnt = 0;
    $("#btnAdd").bind("click", function () {
      iCnt = iCnt + 1;
      var div = $('<div class="well well-sm small-bottom clearfix" />');
      div.html(GetDynamicTextBox(""));
      $("#QuestionsContainer").append(div);
    });

    $("body").on("click", ".remove", function () {
      $(this).closest("div").remove();
    });
  });

  function filterQuestion() {
    var questiontype = document.getElementById("questiontype").value;
    var essaytextarea = document.getElementById("question-prompt");
    if (questiontype === "essay") {
      essaytextarea.show();
    } else {
      essaytextarea.hide();
    }
  }

</script>

{% endblock %}


{% block content %}
<div class="well well-sm small-bottom clearfix hidden" id="question-template">
  <button type="button" class="close remove" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="form-horizontal">
    <div class="form-group right-push col-xs-12 col-sm-12 col-md-6 col-lg-4">
      <div class="input-group">
        <div class="input-group-addon">Points</div>
        <input type="text" name="question-point" class="question form-control" placeholder="0" required=""/>
      </div>
    </div>
    <!-- <div class="spacer" style="float:left; height:20px; width:30px;"></div> -->
    <div class="form-group right-push col-xs-12 col-sm-12 col-md-6 col-lg-4">
      <div class="input-group">
        <div class="input-group-addon" id="questiontypefilter" onchange="filterQuestion()">Type</div>
        <select name="question-type" class="question form-control">
          <option value="essay">Essay</option>
          <option value="multiplechoice">Multiple Choice</option>
          <option value="matching">Matching</option>
          <option value="truefalse">True/False</option>
        </select>
      </div>
    </div>
    <div class="form-group no-bottom col-xs-12 col-sm-12">
      <textarea name="question-prompt" class="question form-control" placeholder="Enter question prompt"></textarea>
    </div>
  </div>
</div>
<div class="hidden template2">
  <input class="form-control question" id="question-prompt" type="text" name="question-prompt">
  <input class="form-control point" type="text" name="question-point">
  <select class="form-control type" name="question-type">
    <option value="essay">Essay</option>
  </select>
  <input class="remove btn btn-info-outline" type="button" value="Remove question">
  <br>
  <br>
</div>

<form action="" id="surveyForm" method="post" class="form-horizontal">
  <fieldset>
    {% csrf_token %}

    <h3>{% if exam_not_available %}Create Exam{% else %}Edit Exam: {{ trainingclass }}{% endif %} - Settings <div class="pull-right">
      <a href="{% url 'exams:manage' %}"class="btn btn-default">
        Back
      </a>

      <button id="" name="" class="btn btn-success">
        {% if exam_not_available %}
        Create Exam
        {% else %}
        Save Exam
        {% endif %}
      </button>

    </div></h3>
    <hr>

    {% if exam_not_available %}
    <div class="form-group">
      <label class="col-md-2 control-label" for="selectclass">Select Class</label>
      <div class="col-md-4">
        <select id="selectclass" name="training-class" class="form-control">
          {% for class in classes %}
          <option value="{{ class.id }}">{{ class }}</option>
          {% empty %}
          <i>No classes to display.</i>
          {% endfor %}
        </select>
      </div>
    </div>
    {% endif %}

    <div class="form-horizontal">

    <div class="form-group">
      <label class="col-md-2 control-label" for="selectterm">Select Term</label>
      <div class="col-md-4">
        <select id="selectterm" name="term" class="form-control">
          {% for term in terms %}
          <option value="{{ term.id }}">{{ term }}</option>
          {% empty %}
          <i>No terms to display.</i>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label" for="textinput">Exam Description</label>
      <div class="col-md-4">
        <input id="textinput" name="exam_description" type="text" placeholder="" class="form-control input-md" required="" value="{{ exam_description }}">
      </div>
    </div>

    <!-- Is the exam open -->
    <div class="form-group">
      <label class="col-md-2 control-label" for="radios">Is exam open?</label>
      <div class="col-md-4">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-default {% if not exam_not_available and is_open %}active{% endif %}">
            <input type="radio" autocomplete="off" name="is-open" id="radios-0" value="True" {% if not exam_not_available and is_open %}checked{% endif %}> Yes
          </label>
          <label class="btn btn-default {% if not exam_not_available and not is_open %}active{% endif %}">
            <input type="radio" autocomplete="off" name="is-open" id="radios-1" value="False" {% if not exam_not_available and not is_open %}checked{% endif %}> No
          </label>
        </div>
      </div>
    </div>

    <!-- Exam Category -->
    <div class="form-group">
      <label class="col-md-2 control-label" for="radios">Category</label>
      <div class="col-md-4">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-default {% if not exam_not_available and not is_final %}active{% endif %}">
            <input type="radio" autocomplete="off" name="exam-category" id="radios-0" value="M" {% if not exam_not_available and not is_final %}checked{% endif %}> Midterm
          </label>
          <label class="btn btn-default {% if not exam_not_available and is_final %}active{% endif %}">
            <input type="radio" autocomplete="off" name="exam-category" id="radios-1" value="F" {% if not exam_not_available and is_final %}checked{% endif %}> Final
          </label>
        </div>
      </div>
    </div>

    <!-- Exam duration-->
    <div class="form-group">
      <label class="col-md-2 control-label" for="">Exam duration </label>
      <div class="col-md-4">
        <div class="input-group">
          <input id="" name="duration" type="text" placeholder="" class="form-control input-md" required="" value="{{ duration }}">
          <div class="input-group-addon">Minutes</div>
        </div>

      </div>
    </div>
<!--
    <div class="form-group">
      <label class="col-md-2 control-label" for="">Questions</label>
    </div> -->

  </div>

  <h3>Questions <div class="pull-right">
    <input id="btnAdd" class="btn btn-primary" type="button" value="Add Question" />
  </div></h3>
  <hr>

<!--         TODO Change to be able to add different types of questions -->
    <div id="qBox" >
      {% for question in data %}
      <div class="well well-sm small-bottom clearfix" id="question-template">
        <button type="button" class="close remove" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="form-horizontal">
          <div class="form-group right-push col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <div class="input-group">
              <div class="input-group-addon">Points</div>
              <input type="text" name="question-point" class="question form-control" placeholder="0" required="" value="{{ question.points }}"/>
            </div>
          </div>
          <!-- <div class="spacer" style="float:left; height:20px; width:30px;"></div> -->
          <div class="form-group right-push col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <div class="input-group">
              <div class="input-group-addon">Type</div>
              <select name="question-type" class="question form-control">
                <option value="essay">Essay</option>
                <option value="multiplechoice">Multiple Choice</option>
                <option value="matching">Matching</option>
                <option value="truefalse">True/False</option>
              </select>
            </div>
          </div>
          <div class="form-group no-bottom col-xs-12 col-sm-12">
            <textarea name="question-prompt" class="question form-control" placeholder="Enter question prompt">{{ question.prompt }}</textarea>
          </div>
        </div>
      </div>





        <script>
          //render_question_for_edit('{{ question|safe }}', '{{ forloop.counter }}')
        </script>
      {% empty %}
      {% endfor %}
    </div>


    <div id="QuestionsContainer">
      <!-- questions are added here -->
    </div>

    <!-- Create Exam Button -->
    <div class="form-group">
      <div class="col-md-4">
        <button id="" name="" class="btn btn-success">
          {% if exam_not_available %}
            Create Exam
          {% else %}
            Save Exam
          {% endif %}
        </button>
      </div>
    </div>
  </fieldset>
</form>

{% endblock %}
