<div data-original='true' class="section clearfix">
    <button type='button' class='close remove section' aria-label='Close'>&times;</span>
    </button>
    <div name='div_section' class='form-horizontal'>
        <div class='form-group'>
            <label class='col-md-2'>Section Type </label>
            <input type="hidden" value="{{ section.id }}" name="section_id">
            <select class='col-md-6' name='section_type'>
                <option value='MC' {% if section.type == 'mc' %} selected="selected" {% endif %}>Multiple Choice</option>
                <option value='E' {% if section.type == 'essay' %} selected="selected" {% endif %}>Essay</option>
                <option value='M' {% if section.type == 'matching' %} selected="selected" {% endif %}>Matching</option>
                <option value='TF' {% if section.type == 'tf' %} selected="selected" {% endif %}>True/False</option>
            </select>
        </div>
    </div>
    <div class='form-horizontal'>
        <div class='form-group'>
            <label class='col-md-2'>Instructions </label>
            <textarea class='col-md-10' name='section_instructions'>{{ section.instructions }}</textarea>
        </div>
    </div>
    <div class='pull-left'>
        <input id='btnAddQuestion' class='btn btn-primary' type='button' value='Add Question' />
    </div>
    <div class='QuestionsContainer'>
        {% for question in section.questions %}
         {% if section.type == 'mc' %}
          {% include 'exams/mc_question.html' %}
         {% elif section.type == 'essay' %}
          {% include 'exams/essay_question.html' %}
         {% elif section.type == 'matching' %}
          {% include 'exams/matching_question.html' %}
         {% elif section.type == 'tf' %}
          {% include 'exams/tf_question.html' %}
         {% endif %}
       {% endfor %}
    </div>
    <br>
    <hr>
</div>