{% extends "exams/base_exams.html" %}

{% load staticfiles %}
{% load exam_extras %}
{% load exam_filters %}
{% load common_tags %}

{% block title %}Exam{% endblock %}

{% block content %}
  <div class="panel panel-default">
    <div class="panel-heading exam-panel-heading">
      <div class="btn-group pull-right">
        <a href="
        {% if role == 'Take' %}
          {% url 'exams:list' %}
        {% else %}
          {% url 'exams:grades' exam.id %}
        {% endif %}">
          <button type="button" class="btn btn-default">Back</button>
        </a>
      </div>
      <h3 class="panel-title exam-panel-title">
        {% if role == 'Grade' %}
          {{ examinee.full_name }} -
        {% endif %}
        {{ exam }}
      </h3>
    </div>
    <div class="panel-body">
    {% if role == 'Take' %}
      {% if not exam_available %}
        <i>Sorry, this exam is unavailable to you at this time.</i>
      {% else %}
        <form id="exam_form" action="" method="post">
          {% csrf_token %}
          <ol id="question-list">
            {% for section, response, score, comments in data %}
              Instructions: {{ section.instructions }}. You must answer at least {{ section.required_number_to_submit }} questions for this section in order to submit the exam.
              <input type="hidden" value="{{ section.id }}" name="section_id">
              <input type="hidden" value="{{ section.type }}" name="section_type">
              {% for question in section.questions %}
                {% include section.template %}
              {% endfor %}
            {% empty %}
              <i>No exam questions to view.</i><br />
            {% endfor %}
          </ol>
          <div class="pull-right">
            <button id="save_button" name="Save" class="btn btn-success">Save</button>
            <button id="finalize_button" name="Submit" class="btn btn-primary">
              Finalize
            </button>
          </div>
        </form>
      {% endif %}
    {% else %}
      {% include "exams/exam_grade.html" %}
    {% endif %}
    </div>
  </div>
{% endblock %}


{% block scripts %}
  <script>
  const SUCCESS_URL = "{{view.get_success_url}}";

  function attach_counter(textarea, index) {
    Countable.live(textarea, function(counter){
      var span = $('#count-' + index);
      span.html(counter.words);
    });
  }

  $(document).ready(function(e) {
    // Attach Countable to essay questions
    var textareas = $('.exam-response');
    for (var i = 0; i < textareas.length; i++) {
      var textarea = textareas[i];
      var index = $(textarea).attr('id').split('-')[1];
      attach_counter(textarea, index);
    }

    $("#exam_form").on("click", '#save_button, #finalize_button', e => {
      e.preventDefault();

      const form_data = $('#exam_form').serializeArray();
      //rtn_data = {SECTION_ID: {1:ANSWER1,2:ANSWER2,3:ANSWER3,...}, SECTION_ID: ...}
      let rtn_data = {};
      let current_ques_index = 1;
      let current_section_type = '';
      let current_section_id = '-1';
      let current_fitb_index = 0;
      let current_section = {};
      let number_regex = /\d+/;
      let index = 0;
      let fitb_index = 0;
      // Iterate through each input in form
      // Each time we hit a new section_id, we start a new section
      // The next input will be section_type.
      // Followed by responses, depending on the type of section
      form_data.forEach((v, i) => {
        // Here we start a new section
        if (v.name === "section_id") {
          current_ques_index = 1;
          current_section_id = v.value;
          current_section = {};
          rtn_data[current_section_id] = current_section;
        }
        // On next loop we save the section type
        else if (v.name === "section_type") {
          current_section_type = v.value;
        }
        // Here we do different things based on section type
        else {
          index = current_ques_index;
          switch (current_section_type) {
            case "E":
            case "M":
            case "TF":
              current_ques_index++;
              break;
            case "MC":
              index = v.name;
              break;
            case "FB":
              /* fitb index is the integer x in 'fitb-textarea-x', if x is less than current_fitb_index then it indicates
              a new question is reached and the fitb-textarea-x resets x to 1*/
              fitb_index = parseInt(v.name.match(number_regex));
              if (current_fitb_index >= fitb_index) {
                current_ques_index++;
              }
              current_fitb_index = fitb_index;
              index = current_ques_index;
              break;
          }
          if (current_section[index] != undefined) {
            current_section[index] = current_section[index].concat(';').concat(v.value);
          } else {
            current_section[index] = v.value;
          }
        }
      });
      if (e.currentTarget.id === "finalize_button") {
        rtn_data['Submit'] ='true';
      } else {
        rtn_data['Submit'] ='false';
      }
      $.ajax({
        type: 'POST',
        url: window.location.pathname,
        data: JSON.stringify(rtn_data),
        success: function(data, status, jqXHR) {
          if (data.ok) {
            if (data.finalize) {
               window.location = SUCCESS_URL || window.location;
            } else {
              location.reload();
            }
          } else {
            alert('Error saving exam: ' + data.msg);
          }
        },
        error: function (jqXHR, textStatus, errorThrown ) {
          alert('Error saving exam');
        }
      });

    });
  });
  </script>
{% endblock %}
