{% extends "exams/base_exams.html" %}

{% block title %}Exam Overview{% endblock %}

{% block content %}
<h1>Exam Overview</h1>

<div class="panel panel-default">
    <div class="panel-heading exam-panel-heading">
        <div class="btn-group pull-right">
            <a href="{% url 'exams:exam_retake_list' exam.id %}">
                <button type="button" class="btn btn-default">Generate Retake PDF</button></a>
            <a href="{% url 'exams:list' %}">
                <button type="button" class="btn btn-default">Back</button></a>
        </div>
        <h3 class="panel-title exam-panel-title">{{ exam }}</h3>
    </div>
    {% if user.is_designated_grader or user.type == 'T' %}
    <div class="panel-body">

    <h4>General</h4>
    
    <table class="table table-condensed statistics">
        <tr><td>Average score </td><td>{{ exam_average }}</td></tr>
        <tr><td>Maximum score </td><td>{{ exam_max }}</td></tr>
        <tr><td>Minimum score </td><td>{{ exam_min }}</td></tr>
    </table>

    <table class="table table-striped">
        <th>Trainee</th>
        <th>Exam Grade</th>
        {% for session in sessions %}
            {% if exam.cutoff > session.grade %}
                <tr class="danger">
            {% else %}
                <tr>
            {% endif %}
                <td>{{ session.trainee }}</td>
                <td>{{ session.grade }}</td>
            </tr>
        {% empty %}
            <i>No exam grades to view.</i>
        {% endfor %}
    </table>

    </div>
    {% endif %}
</div>

{% endblock %}

{% block scripts %}
{% endblock %}