{% extends "exams/base_exams.html" %}

{% load bootstrap3 %}
{% load staticfiles %}
{% load common_tags %}

{% block scripts %}
  {{trainee_select_field.media}}
<script type="text/javascript">
  $(document).ready(function() {
    $("#exam-report-table").DataTable({
      info: false,
      paging: false,
      autoWidth: true,
      dom: '<"row"<"col-sm-6"Bl><"col-sm-6"f>>' +
      '<"row"<"col-sm-12"<"table-responsive"tr>>>' +
      '<"row"<"col-sm-5"i><"col-sm-7"p>>',
      fixedHeader: {
        header: true
      },
      buttons: [
      {
        extend: 'print',
        text: 'Print',
        autoPrint: true,
        exportOptions:{
          columns: ':visible'
        },
      },
      {
        extend: 'csvHtml5',
        text: 'CSV',
        exportOptions: {
          columns: ':visible'
        },
      },
      {
        extend: 'pdf',
        text: 'PDF',
        exportOptions:{
          columns: ':visible'
        },
      },
      {
        extend: 'collection',
        buttons: 'columnsVisibility',
        text: 'Show/Hide Columns',
        columns: ':gt(1)',
      },
      ],
    });

  });
</script>
{% endblock %}

{% block title %}Exam Grade Reports{% endblock %}

{% block content %}
<div class="col-md-12">

  <h3>Exam Grades</h3>
  <div class="panel panel-default">
    <div class="panel-heading exam-panel-heading">
      <div class="panel-title exam-panel-title clearfix">
        <form method="post">
          {% csrf_token %}
          {% bootstrap_form trainee_select_field %}
          <button class="btn btn-primary" type="submit">Filter Exams by Trainee(s)</button>
        </form>
      </div>
    </div>

    <div class="panel-body">
      <table id="exam-report-table" class="table table-striped">
      <thead>
        <th>Trainee</th>
        <th>Exam</th>
        <th>Exam Grade</th>
      </thead>
      <tbody>
        {% for session in sessions %}
          {% if exam.cutoff > session.grade %}
            <tr class="danger">
          {% else %}
            <tr>
          {% endif %}
            <td>{{ session.trainee.full_name2 }}</td>
            <td>{{ session.exam }}</td>
            <td>{{ session.grade }}</td>
          </tr>
        {% empty %}
          <tr><td colspan=100%><i>No exam grades to view.</i></td></tr>
        {% endfor %}
      </tbody>
      </table>
    </div>
  </div>
  
</div>

{% endblock %}
