<div class="question-form-container">
<div class="question" id="fitb-question-template">
  <div class="question well well-sm small-bottom clearfix ">
    <button type="button" class="close remove question" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="form-horizontal" name="exam_question">
    <input type="hidden" value="-1" name="question_id">
        <!-- <div class="spacer" style="float:left; height:20px; width:30px;"></div> -->
          <div class="form-group col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <input type=hidden name="question-type" class="question form-control" value="fitb"/>
            <div>Fill in the Blank</div>
            <!-- <blockquote>
              Directions: Fill in the text area the provided text for the trainee and the blanks to be answered. Each blank should be labeled as $1, $2, $3, etc. for the number of answers to be provided. Then for the corresponding number of blanks, use 'Add Answer' button to provide the correct answer for that blank. Example: "1 Cor 6:17 But he
              who is $1 to the Lord is one $2". Then there will be two answer fields, in the first field will have the answer 'joined'
              and the second 'spirit'. Case is insensitive.
            </blockquote> -->
          </div>
          <div class="form-group right-push col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <div class="input-group">
                <div class="input-group-addon">Points</div>
                <input type="text" name="question-point" class="question form-control" value="{{ question.points }}" required=""/>
            </div>
          </div>
        <!-- <div class="spacer" style="float:left; height:20px; width:30px;"></div> -->
        <div class="form-group no-bottom col-xs-12 col-sm-12">
            <textarea name="question-prompt" class="question form-control" placeholder="Enter question prompt">{{ question.prompt }}</textarea>
        </div>
        <button type="button" id="fitb-add-answer-button">Add Answer</button>
         <div id="fitb-answers" name="fitb_answer_div">
           {% for answer in question.answer|split_string_list %}
            <div id="fitb-answer-textbox-{{ forloop.counter }}" class="form-group no-bottom col-xs-3 col-sm-3 left-push">
              <textarea name='fitb-textarea-{{ forloop.counter }}'>{{ answer }}</textarea>
            </div>
           {% endfor %}
         </div>
      </div>
    </div>
  </div>
</div>