<div class="question-form-container">
  <div {{attrs}}>
    <div class="question well well-sm small-bottom clearfix" id="fitb-question-template">
      <button type="button" class="close remove question" data-dismiss="alert" aria-label="Close">
          <span>&times;</span>
      </button>
      <div class="form-horizontal" name="exam_question">
        <div>Fill in the Blank</div>
        <input type="hidden" value="{{ question.id|default:'-1' }}" name="question_id">
        <input type="hidden" name="question-type" class="question form-control" value="FITB"/>
        <div class="col-md-12">
          <blockquote>
            Directions: Fill in the text area the provided text for the trainee and the blanks to be answered. Each blank should be labeled as $1, $2, $3, etc. for the number of answers to be provided. Then for the corresponding number of blanks, use 'Add Answer' button to provide the correct answer for that blank. Example: "1 Cor 6:17 But he who is $1 to the Lord is one $2". Then there will be two answer fields, in the first field will have the answer 'joined' and the second 'spirit'. Case is insensitive. Each blank will be worth (# of blanks) / (points for question). So in our example if the total for the question is 2 points, each blank will be 2 / 2 = 1 point.
          </blockquote>
        </div>
        <div class="form-group right-push col-md-4">
          {% include "exams/widgets/points_input.html" %}
        </div>
        <div class="form-group col-md-1">
        </div>
        <div class="form-group col-md-6">
          <button type="button" id="fitb-add-answer-button" class="btn btn-success">Add Answer</button>
          <button type="button" id="fitb-remove-answer-button" class="btn btn-info">Remove Answer</button>
        </div>
        <div class="form-group col-md-8">
          <div class="input-group">
            <div class="input-group-addon">Prompt</div>
            <textarea name="question-prompt" class="question form-control" placeholder="1 Cor 6:17 But he who is $1 to the Lord is one $2">{{ question.prompt }}</textarea>
          </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="form-group right-push col-md-6" id="fitb_answer_div">
          {% if question.answer %}
            {% for answer in question.answer|split_string_list %}
              <li><textarea name='answer-text-{{ forloop.counter }}' class="question form-control">{{ answer }}</textarea></li>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
