<div>
  <li>{{ question.prompt|get_fill_in_the_blank_string }}</li><b> (Total Points: {{ question.points }})</b>
</div>
<div class="clearfix"></div>
<div class="row">
  {% for each in question.prompt|count_occurences_of_blanks %}
    <div id="fitb-answer-{{ forloop.counter }}" class="form-group no-bottom col-sm-2">
      {% with answer=response|get_item:forloop.parentloop.counter|split_string_list|get_index:forloop.counter0 %}
      <textarea name='fitb-textarea-{{ forloop.counter }}' placeholder="answer to ({{ forloop.counter }})">{{ answer }}</textarea>
      {% endwith %}
    </div>
  {% endfor %}
</div>
<div class="clearfix"></div>
