<div class="question-form-container">
  <div {{attrs}}>
    <div class="question well well-sm small-bottom clearfix" id="mc-question-template">
      <button type="button" class="close remove question" data-dismiss="alert" aria-label="Close">
        <span>&times;</span>
      </button>
      <div class="form-horizontal exam_question">
        <input type="hidden" value="{{ question.id|default:'-1' }}" name="question_id">
        <input type="hidden" name="question-type" class="question form-control" value="MC"/>
        <div class="form-group right-push col-md-4">
          {% include "exams/questions/points_input.html" %}
        </div>
        <div class="form-group col-md-1">
        </div>
        <div class="form-group col-md-6">
          <button type="button" class="add_checkbox btn btn-success add_choice_button">Add Choice</button>
          <button type="button" class="remove_checkbox btn btn-info remove_choice_button">Remove Choice</button>
        </div>
        <div class="form-group col-md-8">
          {% include "exams/questions/prompt.html" %}
        </div>
        <div class="clearfix"></div>
        <div class="form-group col-md-1">
        <div class="input-group-addon">Answer</div>
        </div>
        <div class="form-group col-md-6 MCCheckboxes">
          {% if question.options %}
            {% for option in question.options|split_string_list %}
            {% with count=forloop.counter|stringformat:"s" %}
              <li><input type="checkbox" name="{{ forloop.counter }}" {% if count in question.answer %}checked{% endif %} value="">
                <textarea name="question-option-{{ forloop.counter }}" class="question form-control">{{ option }}</textarea>
              </li>
            {% endwith %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
