<div class="question-form-container">
<div class="question">
<div class="well well-sm small-bottom clearfix" id="mc-question-template">
    <button type="button" class="close remove question" data-dismiss="alert" aria-label="Close">
        <span>&times;</span>
    </button>
    <div class="form-horizontal" name="exam_question">
    <input type="hidden" value="{{ question.id }}" name="question_id">
        <div class="form-group right-push col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <div class="input-group">
                <div class="input-group-addon">Points</div>
                <input type="text" name="question-point" class="question form-control" value="{{ question.points }}" required=""/>
            </div>
        </div>
        <div class="form-group col-xs-2 col-sm-2 col-md-2 col-lg-2">
             <input type=hidden name="question-type" class="question form-control" value="mc"/>
            <div>Multiple Choice</div>
        </div>
        <!-- <div class="spacer" style="float:left; height:20px; width:30px;"></div> -->
        <div class="form-group no-bottom col-xs-12 col-sm-12">
            <textarea name="question-prompt" class="question form-control">{{ question.prompt }}</textarea>
        </div>
        <div class="form-group right-push col-xs-6 col-sm-6 col-md-6 col-lg-6" id="MCCheckboxes">
            <li><input type="checkbox" name="A" value="" {% if question.answer|str_contains:'1' %} checked {% endif %}> <textarea name="question-option-a" class="question form-control">{{ question.options|split_string:';,0' }}</textarea></li>
             <li><input type="checkbox" name="B" value="" {% if question.answer|str_contains:'2'%} checked {% endif %}> <textarea name="question-option-b" class="question form-control">{{ question.options|split_string:';,1' }}</textarea></li>
             <li><input type="checkbox" name="C" value="" {% if question.answer|str_contains:'3' %} checked {% endif %}> <textarea name="question-option-c" class="question form-control">{{ question.options|split_string:';,2' }}</textarea></li>
             <li><input type="checkbox" name="D" value="" {% if question.answer|str_contains:'4' %} checked {% endif %}> <textarea name="question-option-d" class="question form-control">{{ question.options|split_string:';,3' }}</textarea></li>
             <li><input type="checkbox" name="E" value="" {% if question.answer|str_contains:'5' %} checked {% endif %}> <textarea name="question-option-e" class="question form-control">{{ question.options|split_string:';,4' }}</textarea></li>
        </div>

    </div>
</div>
</div>