<div class="form-horizontal exam_question">
  <li>{{ question.prompt }}<b> (Points: {{ question.points }})</b></li>
  <div class="form-group right-push col-md-12 MCCheckboxes">
  {% if question.options %}
  {% for option in question.options|get_letter_ordered_options %}
    <li class="OptionMC">
      <label>
      <input type="checkbox" name="{{ question.question_number }}" {% if option in response|get_item:question.question_number %}checked{% endif %} value="{{ option }}">
      {{ forloop.counter|get_letter_for_multiple_choice_index }}. {{ option|get_multiple_choice_option }}
      </label>
    </li>
  {% endfor %}
  {% endif %}
  </div>
</div>
<div class="clearfix"></div>
