{% extends "exams/base_exams.html" %}

{% load staticfiles %}
{% load exam_extras %}
{% load exam_filters %}

{% block title %}Exam Grades{% endblock %}

{% block scripts %}
  <script src="{% static 'exams/js/local-post.js' %}"></script>
  <script type="text/javascript">
  $(document).ready(function() {
    $("#exam-grades-table").DataTable({
      info: false,
      paging: false,
      autoWidth: true,
      dom: '<"row"<"col-sm-6"Bl><"col-sm-6"f>>' +
      '<"row"<"col-sm-12"<"table-responsive"tr>>>' +
      '<"row"<"col-sm-5"i><"col-sm-7"p>>',
      fixedHeader: {
        header: true
      },
      buttons: [
      {
        extend: 'print',
        text: 'Print',
        autoPrint: true,
        exportOptions:{
          columns: ':visible'
        },
      },
      {
        extend: 'csvHtml5',
        text: 'CSV',
        exportOptions: {
          columns: ':visible'
        },
      },
      {
        extend: 'pdf',
        text: 'PDF',
        exportOptions:{
          columns: ':visible'
        },
      },
      {
        extend: 'collection',
        buttons: 'columnsVisibility',
        text: 'Show/Hide Columns',
        columns: ':gt(1)',
      },
      ],
    });
  });
  </script>
{% endblock %}

{% block content %}
  <h1>
    Exam Grades
    <div class="pull-right">
      <a href="{% url 'exams:overview' exam.id %}" class="btn btn-primary">Overview</a>
    </div>
  </h1>

  <form action="" method="post">
    {% csrf_token %}
    <div class="panel panel-default">
      <div class="panel-heading exam-panel-heading">
        <div class="btn-group pull-right">
          <a class="btn btn-default" href="{% url 'exams:manage' %}">Back</a>
          <button type="submit" class="btn btn-success">Save grades</button>
        </div>
        <h3 class="panel-title exam-panel-title">Entering grades for {{ exam }}</h3>
      </div>
    </div>
  <table id="exam-grades-table" class="grades-table table-striped table table-condensed">
    <thead>
      <tr>
        <th>Trainee</th>
        <th>Responses</th>
        <th>Available Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for trainee in data %}
      {% with trainee.current_sessions as sessions %}
      <tr>
        <td>{{ trainee.full_name2 }}</td>
        <!-- The following code is identical for this td and the next.  There are four cases:
          (1) We have an exam for which grading has been finalized (exam grade inputed via input box or finalization on grading page), so display only the score.
          (2) We have an exam that was submitted online and can be graded online, so display a link to grade the exam.
          (3) The exam was not submitted online but has been graded, so display the score in a box.
          (4) The exam was not submitted online and has not yet been graded (i.e., we don't know about it yet), so display an empty box.

        The reason that (3) and (4) are separated is to reduce after-post processing on the views side.-->
        {% for session in sessions %}
          <td>
            {% if session.is_graded %}
              {{ session.grade }}
            {% elif session.is_submitted_online %}
              {{ session.grade }}
              <a href="{% url 'exams:grade' session.id %}">Grade Exam</a>
            {% else %}
              <input type="hidden" name="session-id" value="{{ session.id }}" />
              <input cols="20" name="session-id-grade" value="{{ session.grade }}" class="score form-control" />
            {% endif %}

            {% if session.is_graded %}
              | <a href="javascript:unfinalize_grade({{session.id}})">Unfinalize Exam</a>
            {% endif %}
          </td>
        {% empty %}
          <td>
            <input type="hidden" name="trainee-id" value="{{ trainee.id }}" />
            <input cols="20" name="new-grade" placeholder="Grade for paper response." value="" class="score form-control" />
          </td>
        {% endfor %}
        <td>
          {% if not trainee.has_makeup %}
            <a href="javascript:open_for_makeup({{ trainee.id }})">Open makeup</a>
          {% else %}
            <a href="javascript:close_for_makeup({{ trainee.id }})">Close makeup</a>
          {% endif %}
        </td>
      </tr>
    {% endwith %}
    {% empty %}
      <i>No exam grades to view.</i>
    {% endfor %}
    </tbody>
  </table>
  <br/>
  <button type="submit" value="Save" class="btn btn-success">Save grades</button>
  </form>

  <!-- hidden form for delete, unfinalize, and makeup -->
  <form action="" method="post" id="hidden-form">
    {% csrf_token %}
  </form>

{% endblock %}
