{% extends "exams/base_exams.html" %}

{% load staticfiles %}
{% load exam_extras %}

{% block title %}Exam Grades{% endblock %}

{% block content %}

<h1>Exam Grades</h1>

{% if user.is_designated_grader or user.type == 'T' %}
    <form action="" method="post">
        {% csrf_token %}
    <div class="panel panel-default">
        <div class="panel-heading exam-panel-heading">
            <div class="btn-group pull-right">
                <button type="submit" class="btn btn-default">Save grades</button>
                <a href="{% url 'exams:list' %}">
                    <button type="button" class="btn btn-default">Back</button></a>
            </div>
            <h3 class="panel-title exam-panel-title">Entering grades for {{ exam }}</h3>
        </div>
        <div class="panel-body">
            <table class="grades-table table-striped">
                <th class="grades-th">Trainee</th>
                <th class="grades-th">Exam 1</th>
                <th class="grades-th">Exam 2</th>
                <th class="grades-th">Available Actions</th>
                {% for trainee, session1, session2 in data %}
                    <tr>
                        <td class="grades-td" style="vertical-align:middle;">{{ trainee }}</td>
                        <td class="grades-td" style="vertical-align:middle;">
                            <!-- The following code is identical for this td and the next.  There are four cases:
                                (1) We have an exam for which grading has been finalized (exam grade inputed via input box or finalization on grading page), so display only the score.
                                (2) We have an exam that was submitted online and can be graded online, so display a link to grade the exam.
                                (3) The exam was not submitted online but has been graded, so display the score in a box.
                                (4) The exam was not submitted online and has not yet been graded (i.e., we don't know about it yet), so display an empty box.

                            The reason that (3) and (4) are separated is to reduce after-post processing on the views side.-->
                            {% if session1.is_graded %}
                                {{ session1.grade }}
                            {% elif session1 != None and session1.is_submitted_online %}
                                <a href="{% url 'exams:grade' session1.id %}">{{ session1|link_text }}</a>
                            {% elif session1 != None %}
                                <input type="hidden" name="session-id" value="{{ session1.id }}" />
                                <input cols="20" name="session-id-grade" value="{{ session1.grade }}" class="score form-control" />
                            {% else %}
                                <input type="hidden" name="trainee-id" value="{{ trainee.id }}" />
                                <input cols="20" name="new-grade" value="" class="score form-control" />
                            {% endif %}

                            {% if session1 != None and session1.is_graded %}
                                | <a href="javascript:unfinalize_grade({{session1.id}})">Unfinalize Exam</a>
                            {% endif %}

                            {% if session1 != None %}
                                | <a href="javascript:delete_exam({{session1.id}})">Delete Exam</a>
                            {% endif %}
                        </td>
                        <td class="grades-td" style="vertical-align:middle;">
                            {% if session2.is_graded %}
                                {{ session2.grade }}
                            {% elif session2 != None and session2.is_submitted_online %}
                                <a href="{% url 'exams:grade' session2.id %}">{{ session2|link_text }}</a>
                            {% elif session2 != None %}
                                <input type="hidden" name="session-id" value="{{ session2.id }}" />
                                <input cols="20" name="session-id-grade" value="{{ session2.grade }}" class="score form-control" />
                            {% else %}
                                <input type="hidden" name="trainee-id" value="{{ trainee.id }}" />
                                <input cols="20" name="new-grade" value="" class="score form-control" />
                            {% endif %}

                            {% if session2 != None and session2.is_graded %}
                                | <a href="javascript:unfinalize_grade({{session2.id}})">Unfinalize Exam</a>
                            {% endif %}

                            {% if session2 != None %}
                                | <a href="javascript:delete_exam({{session2.id}})">Delete Exam</a>
                            {% endif %}
                        </td>
                        <td class="grades-td" style="vertical-align:middle;">
                            {% if session2 == None %}
                                <a href="javascript:open_for_retake({{ trainee.id }})">Open for makeup/retake</a>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <i>No exam grades to view.</i>
                {% endfor %}
            </table>
            <button type="submit" value="Save" class="btn btn-default">Save</button>
        </div>
    </div>
    </form>

    <!-- hidden forms for delete, unfinalize, and retake -->
    <form action="" method="post" id="hidden-form">
        {% csrf_token %}
    </form>
{% else %}
<i>Sorry, you cannot view exam grades.</i>
{% endif %}

{% endblock %}

{% block scripts %}
    <script src="{% static 'exams/js/local-post.js' %}"></script>
{% endblock %}
