{% extends "base.html" %}

{% load staticfiles %}

{% block references %}
    <link rel="stylesheet" href="{% static "exams/css/exams.css" %}" />    
{% endblock %}

{% block title %}Exam Grades{% endblock %}

{% block content %}

<h1>Exam Grades</h1>

{% if user.trainee.is_designated_grader or user.trainingassistant %}
    <form action="" method="post">

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="btn-group pull-right">
                <button type="submit" class="btn btn-default">Save grades</button>
                <a href="{% url 'exams:exam_template_list' %}">
                    <button type="button" class="btn btn-default">Back</button></a>
            </div>
            <h3 class="panel-title">Entering grades for {{ exam_template }}</h3>
        </div>
        <div class="panel-body">
            {% csrf_token %}
            <table class="table table-striped">
                <th>Trainee</th>
                <th>Exam 1</th>
                <th>Exam 2</th>
                <th>Available Actions</th>
                {% for trainee, exam1, exam2 in data %}
                    <tr>
                        <td>{{ trainee }}</td>
                        <td>
                            {% if exam1.is_complete %}
                                {% if exam1.is_graded %}
                                    {{ exam1.grade }}<!-- TODO: UNFINALIZE/DELETE -->
                                {% else %}
                                    <!-- TODO: verify that taken online -->
                                    <a href="{% url 'exams:grade_exam' exam1.id %}">
                                        Grade exam
                                    </a>
                                {% endif %}
                            {% else %}
                                <input type="hidden" name="trainee-id" value="{{ trainee.id }}" />
                                <input cols="100" name="exam-grade" value="" class="form-control" />
                            {% endif %}
                        </td>
                        <td>
                            {% if exam2.is_complete %}
                                {% if exam2.is_graded %}
                                    {{ exam2.grade }} <!-- TODO: UNFINALIZE/DELETE -->
                                {% else %}
                                    <!-- TODO: verify that taken online -->
                                    <a href="{% url 'exams:grade_exam' exam2.id %}">
                                        Grade exam
                                    </a>
                                {% endif %}
                            {% else %}
                                <input type="hidden" name="trainee-id" value="{{ trainee.id }}" />
                                <input cols="100" name="exam-grade" value="" class="form-control" />
                            {% endif %}
                        </td>
                        <td>
                            <!-- Open for retake -->
                        </td>
                    </tr>
                {% empty %}
                    <i>No exam grades to view.</i>
                {% endfor %}
            </table>
            <button type="submit" value="Save" class="btn btn-default">Save</button>
        </div>
    </div>
    </form>

{% else %}
<i>Sorry, you cannot view exam grades.</i>
{% endif %}



{% endblock %}

{% block scripts %}
{% endblock %}