{% extends "base.html" %}

{% load staticfiles %}
{% load exam_extras %}

{% block references %}
    <link rel="stylesheet" href="{% static 'exams/css/exams.css' %}" />    
{% endblock %}

{% block title %}Take Exam{% endblock %}

{% block content %}

<h1>Taking Exam {{ exam }}</h1>

{% if user.trainee %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="btn-group pull-right">
                <!-- TODO(haileyl) the redirect link is different based on purpose -->
                <a href="{% url 'exams:exam_template_list' %}">
                    <button type="button" class="btn btn-default">Back</button></a>
            </div>
            <h3 class="panel-title">{{ exam_template }}</h3>
        </div>
        <div class="panel-body">
        <!-- TODO(haileyl): This also needs to change... -->
        {% if exam_not_available %}
            <i>Sorry, this exam is unavailable to you at this time.</i>
        {% else %}
            <form action="" method="post">
                {% csrf_token %}
                <ol>
                    {% for question, response, grader_extra, score in data %}
                        <li>{{ question }}</li><br />
                        <textarea {{ permissions|response_disabled}} class="exam-response" id="{{ forloop.counter }}" name="response" cols="100" rows="10" placeholder="Type your response here.">{{ response }}</textarea><br />
                        
                        <b>Word Count:</b> <span id="count{{ forloop.counter }}">0</span><br />

                        {% if visibility|scores_visible %}
                            <b>Score: </b><input {{ permissions|score_disabled }} class="score form-control" type="text" id="score{{ forloop.counter }}" value="{{ score }}" name="question-score"/>
                        {% endif %}

                        {% if visibility|comments_visible %}
                            <b>Comment: </b><input {{ permissions|comment_disabled }} class="grader-comment form-control" type="text" id="comment{{ forloop.counter }}" value="{{ grader_extra }}" name="grader-comment"/> <br />
                        {% endif %}
                    {% empty %}
                        <i>No exam questions to view.</i><br />
                    {% endfor %}
                </ol>
                <button type="submit" name="Save" class="btn btn-default">Save</button>
                <button type="submit" name="Submit" class="btn btn-default">Submit</button>
            </form>

        {% endif %}

        </div>
    </div>
{% else %}
<i>Sorry, you cannot take the exam.</i>
{% endif %}



{% endblock %}

{% block scripts %}
    <script src="{% static 'exams/js/word-count.js' %}"></script>
{% endblock %}