<div class="question-form-container">
  <div {{attrs}}>
    <div class="question well well-sm small-bottom clearfix" id="tf-question-template">
      <button type="button" class="close remove question" data-dismiss="alert" aria-label="Close">
        <span>&times;</span>
      </button>
      <div class="form-horizontal exam_question">
        <input type="hidden" value="{{ question.id|default:'-1' }}" name="question_id">
        <input type="hidden" name="question-type" class="question form-control" value="TF"/>
        <div class="form-group right-push col-md-4">
          {% include "exams/questions/points_input.html" %}
        </div>
        <div class="clearfix"></div>
        <div class="form-group no-bottom col-md-4">
          {% include "exams/questions/prompt.html" %}
        </div>
        <div class="form-group no-bottom col-xs-12 col-sm-12">
          <div class="btn-group input-group" data-toggle="buttons" id="tf_0">
            <div class="input-group-addon">Answer</div>
            <label class="btn btn-primary btn-status {% if question.answer == 'true' %} active {% endif %}">
              <input type='radio' name="tf_answer" value='true' /> True
            </label>
            <label class="btn btn-primary btn-status {% if question.answer == 'false' %} active {% endif %}">
              <input type='radio' name="tf_answer" value='false' /> False
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
