{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}


{% block title %}Gospel Statistics{% endblock %}
{% block references %}
<script>

const WEEKLY_STATISTICS = "{% url 'gospel_statistics:weekly-statistics' %}";

$(document).ready(function() {
  //Week 0-20 selector
  for (var week_num = 0; week_num < 21; week_num++){
    var each=$('<option></option>', {'value': week_num});
    each.text('Week '+week_num);
    if (week_num == {{week}}){
      console.log(week_num);
      console.log({{week}});
      each.selected = true;
    };
    $('#gospelWeek').append(each);
  };

  console.log('first');
  $.getJSON(WEEKLY_STATISTICS,
  (partners) => {
    for(var each=0; each < partners.length; each++)
    {
      console.log(partners[each]);
    }
  });
});
</script>
{% endblock %}

{% block content %}
<h2>{{ page_title }}</h2>

<!--Team and Week-->
<div>
  <table style="font-size:1.2em">
    <td>
      <b>Team:</b>
      {{team}}
    </td>
    <td>
      <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Week Of:</b>
      <select id="gospelWeek"/>
    </td>
  </table>
</div>

<!--Total stats-->
{% include "gospel_statistics/gospel_statistics_table.html" %}

<!--Current week stats-->
<div>
<table class="table table-bordered-wkly-sum">
  <thead>
    <tr>
      <th scope="col" class="col-md-1">Team Statistics - Week {{week}}</th>
      {% for each in cols %}
      <th scope="col" class="col-md-1">{{each}}</th>
      {% endfor %}
    </tr>
  </thead>

  <tbody>
    <tr>
      <th>
      {{gospel_partners}}
        <div>
          <a href="">
            <button class="btn btn-primary" title="Edit gospel pair">
              <span class="glyphicon glyphicon-pencil"></span>
            </button>
          </a>
          <a>
            <button class="btn btn-primary" title="Delete gospel pair">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </a>
        </div>
      </th>
      {% for day in cols %}
      <td>
        <input type="text" size="4">
      </td>
      {% endfor %}
    </tr>
  </tbody>
</table>
</div>
<div>
  <p>
    <a href="{% url 'gospel_statistics:new-pair' %}">
      <button class="btn btn-primary" title="Add a new gospel pair">Add new pair</button>
    </a>
  </p>
  <a>
    <button class="btn btn-primary" title="Save current statistics">Save</button>
  </a>
</div>
{% endblock %}
