{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}


{% block title %}Gospel Statistics{% endblock %}

{% block references %}
{% endblock %}

{% block content %}
<h2>{{ page_title }}</h2>

<div>
<table class="table table-bordered-wkly-sum">
  <thead>
    <tr>
      <th scope="col" class="col-md-1">Team Statistics</th>
      {% for day in cols %}
      <th scope="col" class="col-md-1">{{day}}</th>
      {% endfor %}
    </tr>
  </thead>

  <tbody>
    <tr>
      <th>{{gospel_partners}}</th>
        {% for day in cols %}
        <td>
          <input type="text" size="4">
        </td>
        {% endfor %}
    </tr>
  </tbody>
</table>
</div>
{% endblock %}
