{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load common_tags %}

{% block title %}{{ page_title }}{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $(document).ready(() => {
    $(document).ready(() => {
      $("#id_destination_select").select2()
      .on("select2:select", (e) => {
        $('#id_get_form').submit();
      });
      $("#id_choose_trainees").select2();
    });
  });

</script>
{% endblock scripts%}

{% block content %}
<h2>{{page_title}}</h2>
<div class="panel">
  <form action="" method="get" id="id_get_form">
    {% csrf_token %}

    <label for="id_destination_select">Destination</label>
    <select id="id_destination_select" name="destination">
    {% for dest in all_destinations %}
      <option
        value="{{ dest.id }}" {% if dest == destinit %} selected="selected" {% endif %}>{{ dest.name }}
      </option>
    {% endfor %}
    </select>
  </form>
</div>

<div class="panel">
  <form action="" method="post" id="id_post_form">
    {% csrf_token %}

    <label for="id_choose_trainees">Choose Trainees</label>
    <select id="id_choose_trainees" name="choose_trainees" multiple="multiple">
    {% for x in choose_from %}
      <option value="{{x.id}}" {% if x.id in chosen %} selected="selected" {% endif %} >{{x.firstname}} {{x.lastname}}</option>
    {% endfor %}
    </select>
    <button class="btn btn-primary btn-save" type="submit">Submit</button>
  </form>
</div>
{% endblock %}