{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load common_tags %}
{% load render_bundle from webpack_loader %} 

{% block title %}{{page_title}}{% endblock %}

{% block scripts %}
  {{form.media}}
{% endblock %}

{% block content %}
<h2>{{page_title}}</h2>
<div>
  <table class="table table-bordered" id="survey_table">
    <thead>
      <tr>
        <th>Gospel Trip</th>
        <th>Open Time</th>
        <th>Close Time</th>
        {# <th>Report</th> #}
      </tr>
    </thead>
    <tbody>
      {% for trip in gospel_trips %}
      <tr>
        <td><a href="{{ trip.get_update_url }}">{{trip.name}} (Click to Edit/Reopen)</a></td>
        <td>{{trip.open_time}}</td>
        <td>{{trip.close_time}}</td>
        {# <td><a href="{% url 'gospel_trips:hc-survey-ta-view' index=admin.index %}">Click Here</a></td> #}
      </tr>
    {% endfor %}
    </tbody>
    </table>
</div>
<form action="" method="post">
  {% csrf_token %}
  
  {% bootstrap_form form %}

  <div class="row">
    <div class="col-md-12">
      <button type="submit" class="btn btn-primary btn-save">Submit</button>
    </div>
  </div>
</form>
{% endblock %}
