{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load common_tags %}
{% load render_bundle from webpack_loader %} 

{% block title %}{{page_title}}{% endblock %}

{% block references %}
  {% render_bundle "tinymce" "css" %}
  <style type="text/css">
    .panel{
      background-color: #e0e0eb;
    }
    .panel textarea{
      background-color: #e0e0eb;
    }

    .panel input{
      background-color: #e0e0eb;
    }

    .pull-right {
      float: right !important;
    }

    .add-form-row{
      display: inline;
    }
  </style>
{% endblock %}


{% block scripts %}
  {% render_bundle "tinymce" "js" %}
  {{admin_form.media}}
  <script type='text/javascript'>
    $(document).on('click', '.add-form-row', function(e){
      e.preventDefault();
      cloneMore('.section_formset:last', 'section_set');
      return false;
    });

    function cloneMore(selector, prefix) {
      var newElement = $(selector).clone(true);
      var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
      newElement.find(':input:not(:button)').each(function() {
          var name = $(this).attr('name').replace('-' + (total-1) + '-', '-' + total + '-');
          var id = 'id_' + name;
          $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
      });
      total++;
      $('#id_' + prefix + '-TOTAL_FORMS').val(total);
      $(selector).after(newElement);
      var conditionRow = $('.section_formset:not(:last)');
      conditionRow.find('.btn.add-form-row')
      .removeClass('btn-success').addClass('btn-danger')
      .removeClass('add-form-row').addClass('remove-form-row')
      .html('<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>');
      return false;
  }
  </script>
{% endblock %}

{% block content %}
<h2>Gospel Trip Creator</h2>
<form action="" method="post">
  {% csrf_token %}
  
  {% bootstrap_form admin_form %}

{{ section_formset.management_form }}
{{ section_formset.non_form_errors }}

<div class="panel section_formset">
  <h3>Section</h3>
  {% for section_form in section_formset.forms %}

    {% bootstrap_form section_form %}

    {% for heading, nested_formset in section_form.nested.items %}
      <h3>{{heading}}</h3>
      {% if nested_formset %}
        {{ nested_formset.management_form }}
        {{ nested_formset.non_form_errors }}

        {% for nested_form in nested_formset.forms %}
          {% bootstrap_form nested_form %}
        {% endfor %}
      {% endif %}

    {% endfor %}

    {% if section_form.name.value and forloop.counter != last_form_counter %}
    {% else %}
      <span class="input-group-btn pull-right"><button type="button" class="btn btn-success add-form-row"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></span>
    {% endif %}

  {% endfor %}
</div>

  
  <div class="row">
    <div class="col-md-12">
      <button type="submit" class="btn btn-primary btn-save">Submit</button>
    </div>
  </div>
</form>
{% endblock %}
