{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load common_tags %}
{% load render_bundle from webpack_loader %} 

{% block title %}{{page_title}}{% endblock %}

{% block references %}
  {% render_bundle "tinymce" "css" %}
{% endblock %}


{% block scripts %}
  {% render_bundle "tinymce" "js" %}
  {{admin_form.media}}
{% endblock %}

{% block content %}
<h2>Gospel Trip Creator</h2>
<form action="" method="post">
  {% csrf_token %}
  
  {% bootstrap_form admin_form %}

{{ section_formset.management_form }}
{{ section_formset.non_form_errors }}

<h3>Section</h3>
{% for section_form in section_formset.forms %}

  {% bootstrap_form section_form %}

  {% for heading, nested_formset in section_form.nested.items %}
    <h3>{{heading}}</h3>
    {% if nested_formset %}
      {{ nested_formset.management_form }}
      {{ nested_formset.non_form_errors }}

      {% for nested_form in nested_formset.forms %}
        {% bootstrap_form nested_form %}
      {% endfor %}

    {% endif %}

  {% endfor %}

{% endfor %}

  
  <div class="row">
    <div class="col-md-12">
      <button type="submit" class="btn btn-primary btn-save">Submit</button>
    </div>
  </div>
</form>
{% endblock %}
