{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load common_tags %}
{% load render_bundle from webpack_loader %} 

{% block title %}{{page_title}}{% endblock %}

{% block references %}
  <style type="text/css">
  
    .new-form{
      background-color: #b3ffcc;
    }

    .new-form textarea{
      background-color: #b3ffcc;
    }

    .new-form input{
      background-color: #b3ffcc;
    }

  </style>
{% endblock %}

{% block scripts %}

{% endblock %}

{% block content %}
<h2>{{page_title}}</h2>
<form action="" method="post">
  {% csrf_token %}
  <div class="panel">
    {% for section in gospel_trip.section_set.all %}
      <h3>{{section.name}}</h3>
      {% for instruction in section.instruction_set.all %}
        <p>{{instruction.name}}</p>
        <p>{{instruction.instruction|safe}}</p>
      {% endfor %}
      {% for question in section.question_set.all %}
        <p>{{question.instruction|safe}}</p>
        {{answer_form.response.label_tag }}
        <textarea name="{{ question.id }}-{{ answer_form.response.name }}" rows="10" title="" required="" cols="40" id="id_{{ question.id }}-{{ answer_form.response.name }}" placeholder="{{ answer_form.response.label }}" class="form-control" style="overflow: hidden; overflow-wrap: break-word; resize: horizontal; height: 210px;"></textarea>
      {% endfor %}
    {% endfor%}
  </div>
  <div class="row">
    <div class="col-md-12">
      <button type="submit" class="btn btn-primary btn-save">Submit</button>
    </div>
  </div>
</form>
{% endblock %}
