{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load common_tags %}

{% block title %}Gospel Trip Creator{% endblock %}

{% block scripts %}
  <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script> 
{% include "gospel_trips/tinymce.html" %}
{% endblock %}

{% block content %}
<h2>Gospel Trip Creator</h2>
<form action="" method="post">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-4 col-xs-12">
      {# {% bootstrap_form gt_form %} #}

      {% for form in all_forms %}
        {% bootstrap_form form %}
      {% endfor %}

    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <button type="submit" class="btn btn-primary btn-save">{{button_label|safe}}</button>
    </div>
  </div>
</form>
{% endblock %}
