{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load common_tags %}

{% block content %}
<h2>Gospel Trip Non-Trainees</h2>
<p>Add non-trainee information.</p>
<form action="" method="post">
  {% csrf_token %}
  {% bootstrap_form nontrainee_form %}
  {% bootstrap_form application_form %}
  {% bootstrap_form passport_form %}
  {{ flight_formset.management_form }}
  {% for form in flight_formset %}
    {% bootstrap_form form %}
  {% endfor %}

  <div class="row">
    <div class="col-md-12">
      <button type="submit" class="btn btn-primary btn-save">Submit</button>
    </div>
  </div>
</form>
{% endblock %}
