{% if leaveslip.status == 'S'%}
  <span class="label label-info">{{leaveslip.get_status_display}}</span>
{% endif %}
{% if leaveslip.status == 'F'%}
  <span class="label label-warning">{{leaveslip.get_status_display}}</span>
{% endif %}
{% if leaveslip.texted %}
  <span class="label label-primary">Texted Attendance Number</span>
{% endif %}
{% if leaveslip.informed %}
  <span class="label label-default">Informed TA</span>
{% endif %}
{% if leaveslip.late == True %}
  <span class="label label-danger">Submitted Late</span>
{% endif %}
