{% if request.user.gender == "S" %}
  {% if detail %}
    <a href="{% url 'leaveslips:ta_sister_actions' leaveslip.classname 'I' leaveslip.id %}" class="ta-sister-actions">
      <button type="button" class="btn-lg btn-primary btn-save">Approve & Transfer</button>
    </a>
  {% else %}
    <a href="{% url 'leaveslips:ta_sister_actions' leaveslip.classname 'L' leaveslip.id %}" class="ta-sister-actions">
      <button type="button" class="btn-lg btn-primary btn-save">Approve & Transfer</button>
    </a>
    <a href="{% url 'leaveslips:ta_sister_actions' leaveslip.classname 'K' leaveslip.id %}" class="ta-sister-actions">
      <button type="button" class="btn-lg btn-primary btn-save">Transfer</button>
    </a>
  {% endif %}

{% else %}
  <a href="{% url 'leaveslips:modify-status' leaveslip.classname 'A' leaveslip.id %}" class="modify-status" data-status="A">
    <button type="button" title="Approve" class="btn-lg btn-success">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    </button>
  </a>
  <a href="{% url 'leaveslips:modify-status' leaveslip.classname 'D' leaveslip.id %}" class="modify-status" data-status="D">
    <button type="button" title="Deny" class="btn-lg btn-danger">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
  </a>
{% endif %}

{% if leaveslip.status != 'F'%}
  <a href="{% url 'leaveslips:modify-status' leaveslip.classname 'F' leaveslip.id %}" class="modify-status" data-status="F">
    <button type="button" title="Mark for fellowship" class="btn-lg btn-warning">
      <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
    </button>
  </a>
{% endif %}

<button type="button" title="Delete" class="btn-lg btn-danger delete-slip">
  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
</button>
