{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% block references %}
  <link rel="stylesheet" type="text/css" href="{% static 'leaveslips/style.css' %}" />
  {# Quick fix b/x select2 css refuses to load after 2nd page refresh #}
  <link rel="stylesheet" type="text/css" href="{% static 'django_select2/css/select2.css' %}" media="all">
{% endblock %}

{% block content %}

    <h2>Editing Group Leave Slip</h2>
    <h5> For
    {% for trainee in object.trainees.all %}
    	{% if forloop.last %}
    		{{ trainee }}
    	{% else %}
    		{{ trainee }},
    	{% endif %}
    {% endfor %}
   	</h5>
    <div class="leaveslip-form">
	    <form action="" method="post">{% csrf_token %}
	        {% bootstrap_form form %}

      {% buttons %}
        <button type="submit" class="btn btn-primary">
          Submit
        </button>
      {% endbuttons %}
    </form>
  </div>

{% endblock %}