{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% block references %}
<link rel="stylesheet" type="text/css" href="{% static 'leaveslips/style.css' %}" />
{% endblock %}

{% block content %}
    <h2>Individual {{ leaveslip.type }} Leave Slip<br>
    <small>Submitted on {{ leaveslip.submitted }} by {{ leaveslip.trainee }}</small>
    </h2>

    <table class="table">
		<tr><td>Type:</td>
            <td>{{ leaveslip.type }}</td></tr>
    	<tr><td>Status:</td>
            <td>{{ leaveslip.status }}</td></tr>
        <tr><td>Description:</td>
            <td>{{ leaveslip.description }}</td></tr>
        <tr><td>Comments:</td>
            <td>{{ leaveslip.comments }}</td></tr>
        <tr>
            <td>Texted the attendance number? </td>
            <td>{{ leaveslip.texted }}</td></tr>
        <tr>
            <td>Informed a TA? </td>
            <td>{{ leaveslip.informed }}</td></tr>
    </table>

    <script type="text/javascript">
        var events = JSON.parse('{{events_bb}}'.replace(/&#39;/g, "'").replace(/&quot;/g,'"'));
        
        clndr.options.constraints = {
            startDate: "{{ schedule.term.start | date:'Y-m-d' }}",
            endDate: "{{ schedule.term.end | date:'Y-m-d' }}"
        };

        var events = [
            {% for event in trainee.events %}
                {
                    id: "{{ event.id }}",
                    start: "{{ event.start_datetime | date:'c' }}",
                    end: "{{ event.end_datetime | date:'c' }}",
                    name: "{{ event.name }}",
                    code: "{{ event.code }}",
                    type: "{{ event.type }}",
                    slips: [],
                    status: "",
                },
            {% endfor %}];
    </script>   
{% endblock %}
