{% extends "base.html" %}

{% load staticfiles %}
{% load bootstrap3 %}
{% load render_bundle from webpack_loader %}

{% block title %}Update Leave Slip{% endblock %}

{% block scripts %}
  {% include 'attendance/_attendance_data.html' %}
{% endblock %}

{% block references %}
  {% render_bundle 'attendance' 'css' %}
{% endblock %}

{% block content %}
  <h2>Comment on {{leaveslip.classname|title}} Leave Slip</h2>
  <form action="{{leaveslip.get_ta_update_url}}" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-5 col-xs-12">
        {% bootstrap_form form %}
      </div>
      <div class="col-md-7 col-xs-12">
        <div id="react-calendar-root"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <button type="submit" class="btn btn-primary btn-save">Save</button>
      </div>
    </div>
  </form>

  <script>
    $(document).ready(function() {
      $("#id_TA option:not(:selected)").prop("disabled", true);
      $("#id_type option:not(:selected)").prop("disabled", true);
      $("#id_type").css("background-color", '#eee');
      $("#id_TA").css("background-color", '#eee');
    });
  </script>

  {% block leaveslip_script %}
  {% endblock %}

  {% render_bundle 'attendance' 'js' %}

{% endblock %}
