{% extends "base.html" %}

{% load staticfiles %}
{% load bootstrap3 %}
{% load render_bundle from webpack_loader %}
{% block title %}Update Leave Slip{% endblock %}

{% block scripts %}
  {{ block.super }}
  {% include 'attendance/_attendance_data.html' %}
  <script type="text/javascript">
    $(document).ready(() => {
      $("#id_TA").val(null);
      $('.hidden-input').hide();

      //rearrange form buttons
      if ("{{ sister }}" == "True") {
        $("#id_TA").val("{{ default_transfer_ta.id }}");
        var transferField = document.getElementById("id_TA").parentNode;
        var form = transferField.parentNode;
        if (document.getElementById("fellowship-ls")) {form.insertBefore(document.getElementById("fellowship-ls"), transferField);}
        if (document.getElementById("unfellowship-ls")) {form.insertBefore(document.getElementById("unfellowship-ls"), transferField);}
        if (document.getElementById("delete-ls")) {form.insertBefore(document.getElementById("delete-ls"), transferField);}
        if (document.getElementById("save-ls")) {form.insertBefore(document.getElementById("save-ls"), transferField);}
      }
    });
  </script>
  <style>
    .btn-lg {
      margin-bottom: 15px;
    }
  </style>
{% endblock %}

{% block references %}
  {% render_bundle 'attendance' 'css' %}
{% endblock %}

{% block content %}
    <h2>TA {{leaveslip.classname|title}} Slip View</h2>
    <div class="col-md-5 col-xs-12">
      <p>Leaveslip ID: <a id="ajax-redirect" {% block ls_link %}{% endblock %}>{{leaveslip.id}}</a></p>
      {% include "leaveslips/_ta_labels.html" %}
      <form id="leaveslip-form" action="{{leaveslip.get_ta_update_url}}" method="post">
        {% csrf_token %}
        {% block trainee_display %}{% endblock %}
        {% bootstrap_form form %}
        {% include 'leaveslips/_ta_actions.html' with trainee=leaveslip.trainee %}
        {% if sister %}
          <button type="button" id="save-ls" data-ls-id="{{leaveslip.id}}" data-ls-type="{{leaveslip.classname}}" data-ls-action="sister-save" class="ls-action btn-lg btn-primary btn-save">Save</button>
        {% else %}
          <button type="button" id="save-ls" data-ls-id="{{leaveslip.id}}" data-ls-type="{{leaveslip.classname}}" data-ls-action="brother-save" class="ls-action btn-lg btn-primary btn-save">Save</button>
        {% endif %}
      </form>
    </div>
    <div class="col-md-7 col-xs-12">
      <div id="react-calendar-root"></div>
    </div>


  {% block leaveslip_script %}
  {% endblock %}
  {% render_bundle 'attendance' 'js' %}

{% endblock %}
