{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Leave Slips{% endblock %}

{% block scripts%}
<script type="text/javascript">
  $(function (){
    table = $("#display_leaveslips").DataTable({
      "aaSorting": [],
      "aLengthMenu": [
        [25, 50, 100, -1],
        [25, 50, 100, "All"]
      ],
      iDisplayLength: 50,
    });

    $('#display_leaveslips tbody').on('click', 'tr', function () {
      if($(this).prop("type") == "button"){
        return;
      }
      if ($(this).hasClass('selected') ) {
        $(this).removeClass('selected');
        $(this).find("input.leaveslip_selected").prop('checked', false);
      }
      else {
        $(this).addClass('selected');
        $(this).find("input.leaveslip_selected").prop('checked', true);
      }
    });
    $("#leaveslip_ta_list").on('change', function(){
      $(this).closest("form").submit();
    });
    $("#leaveslip_status").on('change', function(){
      $(this).closest("form").submit();
    });
  });

  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })


</script>
{% endblock %}

{% block references %}
  <link rel="stylesheet" href="{% static 'seating/css/seating.css' %}" />
{% endblock %}

{% block content %}

<h1>TA Leave Slips List</h1>

<!-- Select box for view leave slips for TA -->
<div class="row">
  <div class="col-md-6">
    <form method="post">
      {% csrf_token %}
      View leave slips for:
      <select id="leaveslip_ta_list" name="leaveslip_ta_list">
        <option {% if ta == None %}selected="selected"{% endif %} value="-1">All TA's</option>
        {% for ta in TA_list %}
          <option {% if ta == selected_ta %}selected="selected"{% endif %} value="{{ta.id}}">{{ta.full_name}}</option>
        {% endfor %}
      </select>
      Filter by status:
      <select id="leaveslip_status" name="leaveslip_status">
        <option {% if selected_status == -1 %}selected="selected"{% endif %} value="-1">All</option>
        {% for choice in status_list %}
          <option {% if selected_status == choice.0 %}selected="selected"{% endif %} value="{{choice.0}}">{{choice.1}}</option>
        {% endfor %}
      </select>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table id="display_leaveslips" class="table table-condensed table-hover table-bordered table-striped">
      <thead>
        <tr>
          <th>Name(s)</th>
          <th>Reason</th>
          <th>Date</th>
          <th>Description</th>
          <th>Status</th>
          <th>Tags</th>
          <th>Actions</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for leaveslip in leaveslips %}
          <tr>
            {% if leaveslip.classname == "individual" %}
              <td>{{leaveslip.trainee.full_name}}</td>
            {% else %}
              <td>
                <i title="Group leave slip" class="fa fa-users fa-lg" aria-hidden="true"></i>&nbsp;
                {{ leaveslip.trainees.all|join:", " }}
              </td>
            {% endif %}
            <td><a href="#" data-toggle="tooltip" data-placement="left" title="{{leaveslip.get_type_display}}">{{leaveslip.type}}</a></td>
            <!-- <td>{{leaveslip.rolls.first.date|date:"N d"}}</td> -->
            <td>
            {% if leaveslip.rolls %}
              {{leaveslip.rolls.first.date|date:"N d"}}
            {% else %}
              {{leaveslip.start|date:"N d"}}
            {% endif %}
            </td>
            <td>{{leaveslip.description|truncatechars:100}}</td>
            <td>{{leaveslip.get_status_display}}</td>
            <td>
              {% if leaveslip.status == 'S'%}
                <span class="label label-info">{{leaveslip.get_status_display}}</span>
              {% endif %}
              {% if leaveslip.status == 'F'%}
                <span class="label label-warning">{{leaveslip.get_status_display}}</span>
              {% endif %}
              {% if leaveslip.texted %}
                <span class="label label-primary">Texted attendance number</span>
              {% endif %}
              {% if leaveslip.informed %}
                <span class="label label-default">Informed TA</span>
              {% endif %}
              {% if leaveslip.late == True %}
                <span class="label label-danger">Submitted Late</span>
              {% endif %}
            </td>
            <td>
              {% include 'leaveslips/_ta_actions.html' %}
            </td>
            <td>
              <a class="leaveslip_detail" href="{{leaveslip.get_ta_update_url}}">Details</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
