{% extends "base.html" %}
{% load staticfiles %}

{% block scripts %}
  <script type="text/javascript" src="{% static 'libraries/datatables/js/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'libraries/datatables/js/jquery.dataTables.js' %}"></script>
  <script type="text/javascript" src="{% static 'libraries/datatables/js/dataTables.bootstrap.js' %}"></script>
  <script type="text/javascript" src="{% static 'libraries/datatables/js/dataTables.tableTools.js' %}"></script>
  <script type="text/javascript" src="/static/js/moment.min.js"></script>
  <script>
    $.ajaxSetup({
      headers: { "X-CSRFToken": getCookie("csrftoken") }
    });
 </script>
 {% endblock %}
 {% block references %}
   <link rel="stylesheet" href="{% static 'seating/css/seating.css' %}" />
   <link rel="stylesheet" href="{% static 'libraries/datatables/css/jquery.dataTables.css' %}" />
   <link rel="stylesheet" href="{% static 'libraries/datatables/css/jquery-ui.css' %}" />
   <link rel="stylesheet" href="{% static 'libraries/datatables/css/dataTables.bootstrap.css' %}" />
   <style>
    .tab-pane:not(.active) {
      display: none;
    }
  </style>
{% endblock %}

{% block content %}

<h1>TA Leaveslip List</h1>

<div class="container-fluid">
<!-- Select box for view leaveslips for TA -->
  <div class="row">
    <div class="col-md-6">
      <form method="post">
        {% csrf_token %}
        View leaveslips for:
        <select id="leaveslip_ta_list" name="leaveslip_ta_list">
          <option value="-1">All TA's</option>
          {% for ta in TA_list %}
            <option {% if ta.id == selected_ta %}selected="selected"{% endif %} value="{{ta.id}}">{{ta.full_name}}</option>
          {% endfor %}
        </select>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table id="display_leaveslips" class="table table-condensed table-hover table-bordered table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Name(s)</th>
            <th>Approved by TA sister</th>
            <th>Marked Fellowship</th>
            <th>Texted</th>
            <th>Informed TA</th>
            <th>Reason</th>
            <th>Date Submitted</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for leaveslip in leaveslips %}
            <tr>
              <td><input data-row="{{leaveslip.id}}" class="leaveslip_selected" type="checkbox" /></td>
              {% if leaveslip.classname == "individual" %}
                <td>{{leaveslip.trainee.full_name}}</td>
              {% else %}
                <td>
                  {{ leaveslip.trainees.all|join:", " }}
                </td>
              {% endif %}
              <td>
                {% if leaveslip.status == 'S'%}
                  True
                {% endif %}
              </td>
              <td>
                {% if leaveslip.status == 'F'%}
                  <span class="label label-warning">
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span> Yes
                  </span>
                {% endif %}
              </td>
              <td>{{leaveslip.texted}}</td>
              <td>{{leaveslip.informed}}</td>
              <td>{{leaveslip.type}}</td>
              <td>{{leaveslip.submitted}}</td>
              <td>
                <button type="button" title="Approve" class="btn btn-success">
                  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </button>
                <button type="button" title="Deny" class="btn btn-danger">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
                {% if leaveslip.status != 'F'%}
                  <button type="button" title="Mark for fellowship" class="btn btn-warning">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  </button>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function (){
    table = $("#display_leaveslips").DataTable({
      "aLengthMenu": [
        [25, 50, 100, -1],
        [25, 50, 100, "All"]
      ],
      iDisplayLength: -1
    });

    $('#display_leaveslips tbody').on('click', 'tr', function () {
          console.log($(this).find("input.leaveslip_selected"));
        if ( $(this).hasClass('selected') ) {
            $(this).removeClass('selected');
            $(this).find("input.leaveslip_selected").prop('checked', false);
        }
        else {
            $(this).addClass('selected');
            $(this).find("input.leaveslip_selected").prop('checked', true);
        }
    });
    $("#leaveslip_ta_list").on('change', function(){
      $(this).closest("form").submit();
    });
  });
</script>
{% endblock %}