{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load interim_tags %}

{% block title %}{{ page_title }}{% endblock %}

{% block references %}

<style type="text/css">
	#special-table {
		/*overflow-x: scroll;*/
	  /*margin-left: 200px;*/
	  /*margin-top: 40px;*/
	}

	.headcol {
		position: -webkit-sticky;
	  position: sticky;
	  /*width: 201px;*/
	  left: 15px;
	  text-align: center;
	  background-color: inherit;
	  z-index: 2;
	}

	.headrow {
		z-index: 1;
		position: -webkit-sticky;
		position: sticky;
		top: 45px;
		/*margin-left: 200px;*/
	}

	td {
		text-align: left;
	}

</style>

{% endblock %}

{% block content %}
<h2>{{ page_title }}</h2>
{% if subtitle %}
	<h4>{{ subtitle }}</h4>

{% else %}

	<ul class="nav-tabs"></ul>

	<div id="special-table">
		<table class="table table-striped table-bordered">
				<tr class="headrow">
					<td class="headcol">Trainee</td>
					{% for date in date_list %}
						<td>{{date}}</td>
					{% endfor %}
				</tr>

			  {% for trainee in trainees %}
			    <tr>
			      <td class="headcol">{{trainee.name}}</td>
		      	{% if trainee.intention.interimitinerary_set.all %}
		      		{% for itin in trainee.intention.interimitinerary_set.all %}
		      			<td colspan="{{ itin.start|itinerary_length_in_days:itin.end }}">{{itin.comments}}</td>
		      		{% endfor %}
	      		{% else %}
	      			<td colspan="{{interim_length}}"><i>No itinerary specified</i></td>
		      	{% endif %}
		 			</tr>
			  {% endfor %}
		</table>
	</div>
{% endif %}

{% endblock %}