{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load interim_tags %}

{% block title %}{{ page_title }}{% endblock %}

{% block references %}

<style type="text/css">
	#special-table {
	  overflow-x: scroll;
	  margin-left: 15%;
	}

	.headcol {
	  position: absolute;
	  width: 15%;
	  left: 0;
	}

	td {
		text-align: left;
	}
</style>

{% endblock %}

{% block content %}
<h2>{{ page_title }}</h2>
{% if subtitle %}
	<h4>{{ subtitle }}</h4>

{% else %}
	<div id="special-table">
		<table id="id_interim_calendar_table" class="table table-striped table-bordered">
				<tr>
					<th class="headcol">Trainee</th>
					{% for date in date_list %}
						<td>{{date}}</th>
					{% endfor %}
				</tr>

			  {% for trainee in trainees %}
			    <tr>
			      <th class="headcol">{{trainee.name}}</td>
		      	{% if trainee.intention.interimitinerary_set.all %}
		      		{% for itin in trainee.intention.interimitinerary_set.all %}
		      			<td colspan="{{ itin.start|itinerary_length_in_days:itin.end }}">{{itin.comments}}</td>
		      		{% endfor %}
	      		{% else %}
	      			<td colspan="{{interim_length}}"><i>No itinerary specified</i></td>
		      	{% endif %}
		 			</tr>
			  {% endfor %}
		</table>
	</div>
{% endif %}

{% endblock %}