{% extends 'base.html' %}

{% load staticfiles %}
{% load bootstrap3 %}
{% load common_tags %}

{% block subnav %}
<div class="navbar-header">
<button type="button" class="navbar-toggle glyphicon glyphicon-chevron-down visible-xs" data-toggle="collapse" data-target="#navbar-collapse-2">
  </button>
  <a class="navbar-brand" href="{% url 'classes:index' %}">{{page_title}}</a>
</div>

<div class="collapse navbar-collapse" role="tablist" id="navbar-collapse-2">
  <ul class="nav nav-tabs" >

    <li {% if current_url == 'Greek' %}class=active{% endif %}><a href="{% url 'classes:classfiles' 'Greek' %}">Greek</a></li>
    <li {% if current_url == 'German' %}class=active{% endif %}><a href="{% url 'classes:classfiles' 'German' %}">German</a></li>
    <li {% if current_url == 'Character' %}class=active{% endif %}><a href="{% url 'classes:classfiles' 'Character' %}">Character</a></li>
    <li {% if current_url == 'PSRP' %}class=active{% endif %}><a href="{% url 'classes:classfiles' 'PSRP' %}">PSRP</a></li>


  </ul>
</div>
{% endblock %}

{% block title %}{{page_title}}{% endblock %}

{% block content %}
<h2>{{page_title}}</h2>
{% include "classes/file_list.html" %}
{% if form %}
<form method="post" enctype="multipart/form-data" action="{% url 'classes:upload'%}">
  {% csrf_token %}
  {% bootstrap_form form %}
  <button type="submit" class="btn btn-primary btn-save">Upload</button>
</form>
{% endif %}

{% endblock %}