{% extends "badges/base_badges.html" %}
{% load bootstrap3 %}

{% block title %}Badge{% endblock %}

{% block badges_content %}
<h2> {{badge.get_full_name}} </h2>
<form action="" method="post" enctype="multipart/form-data" class="form form-horizontal">

  {% bootstrap_form form layout='horizontal' %}
  {% csrf_token %}
  <div class="form-group col-md-6">
    <button type="submit" class="btn btn-success pull-right">Assign</button>
  </div>

  <input type="hidden" name="return_url" value="{{ request.META.HTTP_REFERER }}">

</form>
{% endblock %}
