{% extends "base.html" %}

{% block title %}Badges{% endblock %}

{% block content %}

<div class="btn-group pull-right" role="group">
  <div class="btn-group">
    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      New Badge <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="{% url 'badges:badge_create' %}">Create Badge</a></li>
      <!--<li class="divider"></li>-->
      <li><a href="{% url 'badges:badges_batch' %}">Create Badge in Batches</a></li>
      <!--/ulli class="divider"></li>-->
    </ul>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Print <span class="caret"></span>
    </button>
    <ul class="dropdown-menu pull-right">
      <li><a href="{% url 'badges:badges_print_term_massfront' %}">Mass-Print Front Badge for 1st Term</a></li>
      <li><a href="{% url 'badges:badges_print_general_back' %}">Print 8 Back Badge</a></li>
      <li><a href="{% url 'badges:badges_print_visitor' %}">Print Visitor Badges</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="{% url 'badges:badges_print_term_massbostonfront' %}">Mass-Print Front Badge for FTTA-XB 1st Term</a></li>
      <li><a href="{% url 'badges:badges_print_boston_back' %}">Print 8 Back Boston Badge</a></li>
      <li><a href="{% url 'badges:badges_print_visitor_xb' %}">Print FTTA-XB Visitor Badges</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="{% url 'badges:badges_print_shortterm' %}">Print 8 Short-Term Badges</a></li>
      <li><a href="{% url 'badges:badges_print_usher' %}">Print 8 Usher Badges</a></li>
      <li><a href="{% url 'badges:badges_print_office' %}">Print 8 Office Badges</a></li>
      <li><a href="{% url 'badges:badges_print_temp' %}">Print Temporary Badges</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="{% url 'badges:badges_print_term_facebook' %}">Print FTTA Facebook</a></li>
      <li><a href="{% url 'badges:badge_print_settings_update' %}">Printing Settings</a></li>
    </ul>
  </div>
</div>

{% block badges_content %}{% endblock %}

<br>
<div class="well">
  <i>
    Note: Remember to turn on "background graphics" when printing from Chrome!
  </i>
</div>

{% endblock %}
