{% extends "badges/base_badges.html" %}
{% load staticfiles %}

{% block tab5 %}class="active"{% endblock %}

{% block badges_content %}
  <div class="well">
    <h3>Badge Upload</h3>
    Please upload files in the format <b>LastnameMiddlenameFirstname.jpg (e.g. Jane Elizabeth Doe -> DoeElizabethJane.jpg)</b>. (If you stored all your filenames backwards, LastnameFirstname.jpg, ask an AP trainee to use flipper.py to flip all your file names) If a unique active trainee already exists in the system, we will automatically update their photo but if they are new the server will automatically create each badge with the correct first/last name to be in the latest current term. In any other cases, you will have to manually add the badges individually (i.e. duplicate names). Note: You will need to fill in locality and gender information for each later on.

    Every file you drop in is stored directly!
  </div>
  <!-- IMPORTANT enctype attribute! -->
  <form class="dropzone" action="{% url "badges:badges_batch" %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
  </form>
{% endblock %}
