{% load staticfiles %}
{% load bootstrap3 %}

<head style="margin-bottom:100px">
  {% bootstrap_css %}
</head>
<style type="text/css">

  @media screen {
    .badge-pic {
      width: 132px;
      height: auto;
    }
  }

  @media print {
    .badge-pic{
      width: 96px;
      height: auto;
    }
    hr {
      margin-bottom: 18px;
      margin-top: 18px;
    }
  }

</style>

{% block badges_content %}

<!-- Hallelujah Jesus is Lord! He has been resurrected and ascended! -->
<body>
  <div class="container-fluid">
    <h1 align="center"> {{current_term}} </h1>
    <h2 align="center">First-Term Brothers</h2>
    <hr style="border-top: dotted 1px">
    <div class="row">
      {% for badge in first_term_brothers %}

      <div class="col-lg-2 col-sm-2 col-xs-2">
          <img class="badge-pic" src="/media/{{badge.original}}">
        <div class="firstpictitle">
          <p style="line-height:1">{{badge.firstname}}<br>{{badge.lastname}}<br><b>{{badge.locality}}</b></p></font>
        </div>
      </div>
        {% if forloop.counter|divisibleby:"6" %}
        <p style="visibility: hidden; line-height:0">j</p> <!--Hack right here -->
          <hr style="border-top: dotted 1px">
        {% endif %}

        {% if forloop.counter|divisibleby:"24" %}
          <h1 style="page-break-before: always;visibility: hidden; line-height:0"> j </h1>
        {% endif %}

      {% endfor %}
    </div>
    <h1 align="center" style="page-break-before: always"> {{current_term}} </h1>
    <h2 align="center">First-Term Sisters</h2>
    <hr style="border-top: dotted 1px">
    <div class="row">
      {% for badge in first_term_sisters %}

      <div class="col-lg-2 col-sm-2 col-xs-2">
          <img class="badge-pic" src="/media/{{badge.original}}">
        <div class="firstpictitle">
          <p style="line-height:1">{{badge.firstname}}<br>{{badge.lastname}}<br><b>{{badge.locality}}</b></p>
        </div>
      </div>
        {% if forloop.counter|divisibleby:"6" %}
        <p style="visibility: hidden; line-height:0">j</p> <!--Hack right here -->
          <hr style="border-top: dotted 1px">
        {% endif %}

        {% if forloop.counter|divisibleby:"24" %}
          <h1 style="page-break-before: always;visibility: hidden; line-height:0"> j </h1>
        {% endif %}

      {% endfor %}
    </div>
    <h1 align="center" style="page-break-before: always"> {{current_term}} </h1>
    <h1 align="center">Second-Term Brothers</h1>
    <hr style="border-top: dotted 1px">
    <div class="row">
      {% for badge in second_term_brothers %}

      <div class="col-lg-2 col-sm-2 col-xs-2">
          <img class="badge-pic" src="/media/{{badge.original}}">
        <div class="firstpictitle">
          <p style="line-height:1">{{badge.firstname}}<br>{{badge.lastname}}<br><b>{{badge.locality}}</b></p>
        </div>
      </div>
        {% if forloop.counter|divisibleby:"6" %}
        <p style="visibility: hidden; line-height:0">j</p> <!--Hack right here -->
          <hr style="border-top: dotted 1px">
        {% endif %}

        {% if forloop.counter|divisibleby:"24" %}
          <h1 style="page-break-before: always;visibility: hidden; line-height:0"> j </h1>
        {% endif %}

      {% endfor %}
    </div>
    <h1 align="center" style="page-break-before: always"> {{current_term}} </h1>
    <h1 align="center">Second-Term Sisters</h1>
    <hr style="border-top: dotted 1px">
    <div class="row">
      {% for badge in second_term_sisters %}

      <div class="col-lg-2 col-sm-2 col-xs-2">
          <img class="badge-pic" src="/media/{{badge.original}}">
        <div class="firstpictitle">
          <p style="line-height:1">{{badge.firstname}}<br>{{badge.lastname}}<br><b>{{badge.locality}}</b></p></font>
        </div>
      </div>
        {% if forloop.counter|divisibleby:"6" %}
        <p style="visibility: hidden; line-height:0">j</p> <!--Hack right here -->
          <hr style="border-top: dotted 1px">
        {% endif %}

        {% if forloop.counter|divisibleby:"24" %}
          <h1 style="page-break-before: always;visibility: hidden; line-height:0"> j </h1>
        {% endif %}

      {% endfor %}
    </div>

  </div>
  {% bootstrap_javascript jquery=1 %}

</body>

{% endblock %}
