{% extends "badges/base_badges.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block references %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'badges/js/badgeDataTable.js' %}"></script>
    <script type="text/javascript">
/* lazyload.js (c) Lorenzo Giuliani
 * MIT License (http://www.opensource.org/licenses/mit-license.html)
 *
 * expects a list of:
 * `<img src="blank.gif" data-src="my_image.png" width="600" height="400" class="lazy">`
 */
$(window).ready(function() {
  var window = this;
  var $q = function(q, res){
    if (document.querySelectorAll) {
      res = document.querySelectorAll(q);
    } else {
      var d=document
          , a=d.styleSheets[0] || d.createStyleSheet();
      a.addRule(q,'f:b');
      for(var l=d.all,b=0,c=[],f=l.length;b<f;b++)
        l[b].currentStyle.f && c.push(l[b]);

        a.removeRule(0);
        res = c;
      }
      return res;
    }
  , addEventListener = function(evt, fn){
      window.addEventListener
        ? this.addEventListener(evt, fn, false)
        : (window.attachEvent)
          ? this.attachEvent('on' + evt, fn)
          : this['on' + evt] = fn;
    }
  , _has = function(obj, key) {
      return Object.prototype.hasOwnProperty.call(obj, key);
    };

  function loadImage (el, fn) {
    var img = new Image()
      , src = el.getAttribute('data-src');
    img.onload = function() {
      if (!! el.parent)
        el.parent.replaceChild(img, el)
      else
        el.src = src;

      fn? fn() : null;
    }
    img.src = src;
  }

  function elementInViewport(el) {
    var rect = el.getBoundingClientRect()

    return (
       rect.top    >= 0
    && rect.left   >= 0
    && rect.top <= (window.innerHeight || document.documentElement.clientHeight)
    )
  }

  var images = new Array()
    , query = $q('img.lazy')
    , processScroll = function(){
        for (var i = 0; i < images.length; i++) {
          if (elementInViewport(images[i])) {
            loadImage(images[i], function () {
              images.splice(i, i);
            });
          }
        };
      }
    ;
  // Array.prototype.slice.call is not callable under our lovely IE8
  for (var i = 0; i < query.length; i++) {
    images.push(query[i]);
  };

  processScroll();
  addEventListener('scroll',processScroll);

});

    </script>
{% endblock %}

{% block badges_content %}
  <form id="badge_form" action=
    {% if type == "1T" %}
    "{% url 'badges:badges_print_term_front' %}"
    {% elif type == "XB" %}
    "{% url 'badges:badges_print_term_bostonfront' %}"
    {% elif type == "S" %}
    "{% url 'badges:badges_print_staff' %}"
    {% elif type == "All" %}
    "{% url 'badges:badges_print_all_inclusive_front' %}"
    {% endif %}
  method="post">
  {% csrf_token %}
  <style>
  tfoot {
    display: table-row-group;
  }
  tfoot input{
    width: 100%;
  }
  </style>
    <table class="table table-striped table-bordered display compact cell-border" id="badges-table" cellspacing="0" width="100%" height=auto>
      <thead>
        <tr>
        <th>Avatar</th>
        <th>Type</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Term</th>
        <th>Locality</th>
        <th>Edit</th>
        <th>Delete</th>
        </tr>
      </thead>
      <tfoot>
      <tr>
        <th>Avatar</th>
        <th>Type</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Term</th>
        <th>Locality</th>
        <th></th>
        <th></th>
      </tr>
      </tfoot>
      <tbody>
        {% for badge in object_list %}
          <tr>
            <td><img id="{{ badge.pk }}" data-src='/{{badge.avatar}}'/></td>
            <td>{{badge.type}}</td>
            <td>{{badge.firstname}} {{badge.middlename}}</td>
            <td>{{badge.lastname}}</td>
            <td>{{badge.term_created}}</td>
            <td>{{badge.locality}}</td>
            <td><a href="{% url 'badges:badge_detail' badge.pk %}" class="list-group-item-active">Edit</td>
            <td><a href="{% url 'badges:badge_delete' badge.pk %}" class="list-group-item-active">Delete</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if type != 'All' %}
    <input type="submit" class="btn btn-primary" value="Print All" />
    {% endif %}
    <button type="button" class="btn btn-default print-selected" onclick="printBadges()">Print Selected (0)</button>

  </form>
{% endblock %}
