{% extends "base.html" %}

{% load staticfiles %}

{% block references %}
<link rel="stylesheet" href="{% static 'apimport/css/apimport.css' %}" />
{% endblock %}

{% block scripts %}
<script src="{%static 'apimport/js/csv-processing.js' %}"></script>
<script type="text/javascript">
  var TOTAL_ROWS = "{{row_count}}";
  function update_progress(complete, total){
    var percentage = Math.round(complete / total * 100);
    $("#progressbar").children().attr("aria-valuenow", percentage).css("width", percentage + "%").text(percentage + "% Complete");
  }

  function processRow(rowNumber){
    $.ajax({
      type: "POST",
      url: "{% url 'apimport:process-row' %}",
      data: {
        rowNumber: rowNumber,
        filePath: "{{file_path}}",
      },
      success: function(response){
        update_progress(rowNumber, TOTAL_ROWS);
        if (response.success){
          $(".processed-list").append( '<li>' + response.name + '</li>' );
        }
        else {
          $(".failed-list").append( '<li> Row: ' + response.rowNumber + ' -- ' +  response.error + '</li>' );
        }
      },
    })
  };

  $(document).ready(() => {
    for (var rowCount = 0; rowCount < TOTAL_ROWS; rowCount++){
      setTimeout(processRow, 400, rowCount);
    }
  });

</script>
{% endblock %}

{% block title %}Process CSV File{% endblock %}

{% block content %}

{% if not csv_passed %}
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#localities">Localities</a></li>
    <li><a data-toggle="tab" href="#teams">Teams</a></li>
    <li><a data-toggle="tab" href="#houses">Houses</a></li>
  </ul>

  <form action="" method="post" class="form-horizontal">
    {% csrf_token %}
    <div class="tab-content">
      <div id="localities" class="tab-pane fade in active">
        <br />
        {% for localityform in cityformset %}
          <div id="locality_{{forloop.counter0}}">
            {{ localityform.id }}
            {{ localityform.as_p }}
            <button type="button" onclick="post_locality('{{forloop.counter0}}'); return false;" class="btn btn-primary">Create Locality</button>
            <br />
            <br />
          </div>
        {% endfor %}
      </div>

      <div id="teams" class="tab-pane fade">
        <br />
        {% for teamform in teamformset %}
          <div id="team_{{forloop.counter0}}">
            {{ teamform.id }}
            {{ teamform.as_p }}
            <button type="button" onclick="post_team('{{forloop.counter0}}'); return false;" class="btn btn-primary">Create Team</button>
            <br />
            <br />
          </div>
        {% endfor %}
      </div>

      <div id="houses" class="tab-pane fade">
        <br />
        {% for houseform in houseformset %}
          <div id="house_{{forloop.counter0}}">
            {{ houseform.id }}
            {{ houseform.as_p }}
            <button type="button" onclick="post_house('{{forloop.counter0}}'); return false;" class="btn btn-primary">Create House</button>
            <br />
            <br />
          </div>
        {% endfor %}
      </div>
    </div>

    <button type="input" class="btn btn-success">Refresh</input>
  </form>
{% else %}
  <div class="progress" id="progressbar">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;">0%
  </div>
</div>
<div>
  <h4>Processed:</h4>
  <ol class="processed-list">
  </ol>
  <h4>Failed:</h4>
  <ol class="failed-list">
  </ol>
</div>
{% endif %}

{% endblock %}
