{% extends "base.html" %}

{% load staticfiles %}

{% block references %}
<link rel="stylesheet" href="{% static "apimport/css/apimport.css" %}" />
{% endblock %}

{% block title %}Term Details{% endblock %}

{% block content %}

<form action="" id="surveyForm" method="post" class="form-horizontal" enctype="multipart/form-data">
    <fieldset>
    	<h1>Start A New Term</h1>
        {% csrf_token %}
        <div class="form-group">
            <label class="col-md-2" for="textinput">Term Name:</label>  
            <div class="col-md-4">
            	{% with stryear=year|stringformat:"s" %}
            	{% with termname=season|add:"_"|add:stryear|safe %} 
                	<input id="termname" name="termname" type="text" placeholder="" class="form-control input-md" required="" value={{ termname }} readonly>
                {% endwith %}
                {% endwith %}
            </div>
            <label class="col-md-2" for="textinput">Import File:</label>  
            <div class="col-md-4">
            	{% with stryear=year|stringformat:"s" %}
            	{% with termname=season|add:"_"|add:stryear|safe %}
                	<input id="csvFile" name="csvFile" type="file" placeholder="Select Import File" class="form-control input-md" required="" value="">
                {% endwith %}
                {% endwith %}
            </div>
        </div>
        <h3>New Term Dates</h3>
        <div class="form-group">
            <label class="col-md-2" for="textinput">Start Date:</label>  
            <div class="col-md-4">
            	{% with start=start_date|stringformat:"s" %}
                	<input id="start_date" name="start_date" type="text" placeholder="" class="form-control input-md" required="" value={{ start }} readonly>
                {% endwith %}
            </div>
            <label class="col-md-2" for="textinput">End Date:</label>  
            <div class="col-md-4">
            	<input id="end_date" name="end_date" type="text" placeholder="" class="form-control input-md" required="" value="To be calculated" readonly>
            </div>
        </div>
        <h3>Creation of Periods</h3>
        <div class="form-group">
            <table class="table table-striped">
				<thead>
					<tr>
						<th class="col-md-3">ITEM</th>
						<th class="col-md-2">NUMBER</th>
						<th class="col-md-2">Start Date</th>
						<th class="col-md-2">End Date</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Number of "initial" weeks<br>(No attendance taken)</td>
						<td>
            				{% with weeks=initial_weeks|stringformat:"s" %}
							<input id="initial_weeks" name="initial_weeks" type="text" placeholder="" class="form-control input-md" required="" value={{ weeks }}>
							{% endwith %}
						</td>
						<td><input id="init_start" name="init_start" type="text" placeholder="" class="form-control input-md" required="" value="To be calculated" readonly></td>
						<td><input id="init_end" name="init_end" type="text" placeholder="" class="form-control input-md" required="" value="To be calculated" readonly></td>
					</tr>
					<tr>
						<td>Number of "grace" weeks<br>(Attendance taken only; NO discipline)</td>
						<td>
            				{% with weeks=grace_weeks|stringformat:"s" %}
							<input id="grace_weeks" name="grace_weeks" type="text" placeholder="" class="form-control input-md" required="" value={{ weeks }}>
							{% endwith %}
						</td>
						<td><input id="grace_start" name="grace_start" type="text" placeholder="" class="form-control input-md" required="" value="To be calculated" readonly></td>
						<td><input id="grace_end" name="grace_end" type="text" placeholder="" class="form-control input-md" required="" value="To be calculated" readonly></td>
					</tr>
					<tr>
						<td>Number of periods in the term<br>(Attendance taken; discipline)</td>
						<td><input id="periods" name="periods" type="text" placeholder="" class="form-control input-md" required="" value={{ periods }}></td>
						<td><input id="periods_start" name="periods_start" type="text" placeholder="" class="form-control input-md" required="" value="To be calculated" readonly></td>
						<td><input id="periods_end" name="periods_end" type="text" placeholder="" class="form-control input-md" required="" value="To be calculated" readonly></td>
					</tr>
				</tbody>
			</table>
        </div>
        	<button type="submit" class="col-md-offset-4 col-md-2 btn btn-default">Next</button>
    </fieldset>
</form>

{% if user.trainee %}
{% endif %}

{% endblock %}

{% block scripts %}
{% endblock %}