{% extends "lifestudies/discipline_list.html" %}

{% block ta_headers%}{% endblock %}

{% block lifestudies_content %}


<h1> Life Study Summaries</h1>
{% if user.get_outstanding_discipline|length <= 0 %}
  <div class="well">
    Congratulations, you have no life studies assigned currently!
  </div>
{% endif %}
  {% for discipline in user.get_outstanding_discipline %}
  {% if discipline.is_completed == False %}
  <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">
        <!-- Altered template to more clearly show reason for discipline assignment -->
        Discipline assigned for {{ discipline.get_infraction_display }}. Summaries left: <b>{{discipline.get_num_summary_due}}</b> 
      </h2>

      <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        {% for summary in discipline.summary_set.all %}
          {% if summary.approved == False %}
            <a href="{% url 'lifestudies:summary_detail' summary.pk %}" class="list-group-item col-md-12">
          {% else %}
            <a class="list-group-item disabled col-md-12">
          {% endif %}
              <div class="spacer5"></div>
              <button class="pull-right btn btn-xs btn-default icon-btn delete" id="delete-{{ summary.id }}"><span class="glyphicon glyphicon-remove text-danger"></span></button>
              <h3 class="no-top-margin">{{summary.book.name}}</h3>
              <p>{{summary.content|truncatechars:300 }}</p>
              <div>
                <span class="badge alert-info">{{summary.date_submitted}}</span>
                {% if summary.approved %}
                  <span class="badge alert-success">approved</span>
                {% else %}
                  <span class="badge alert-danger">not approved</span>
                {% endif %}
                <div class="pull-right">
                  {% if summary.approved == False %}
                    <form action="{% url 'lifestudies:summary_detail' summary.pk %}" method="get">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-success btn-xs">Edit</button>
                    </form>
                  {% endif %}        
                </div>
              </div>
          </a>
        {% empty %}
        <div class="alert alert-warning"><i>You have not completed any life studies for this discipline.</i></div>
        {% endfor %}
        </ul>
      </div>

    </div>

      {% if discipline.get_num_summary_due > 0 %}
        <form action="{% url 'lifestudies:summary_create' discipline.pk %}">
            <div class="spacer10"></div>
            <button class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> New Life-Study Summary </button>
        </form>
      {% endif %}
    {% endif %}
    </div>
    {% endfor %}


{% endblock %}


