{% if request.get_status_display == 'Approved' and not request.is_expired %}
  {% if not request.time_started %}
    <a href="{% url 'web_access:start-access' request.id %}">
      <button class="btn btn-success approve" title="Start internet access"><span class="glyphicon glyphicon-play"></span></button>
    </a>
  {% else %}
    <a href="{% url 'web_access:start-access' request.id %}">
      <button class="btn btn-success approve" title="Resume internet access"><span class="glyphicon glyphicon glyphicon-repeat"></span></button>
    </a>
  {% endif %}
{% endif %}
{% if request.get_status_display != 'Approved' and request.get_status_display != 'Denied' and not request.is_expired %}
  <a href ="{{ request.get_update_url }}">
    <button class="btn btn-primary" title="Edit details"><span class="glyphicon glyphicon-pencil"></span></button>
  </a>
{% endif %}

<a href="{{ request.get_delete_url }}">
  <button class="btn btn-danger delete_request_button" type="submit" title="Delete">
    <span class="glyphicon glyphicon-trash"></span>
  </button>
</a>
