{% regroup guest_access_requests by get_status_display as sorted %}
{% for requestGroups in sorted %}
  <h4>{{ requestGroups.grouper }}</h4>

  {% for request in requestGroups.list|dictsortreversed:"date_assigned" %}
    <div id="request-{{ request.id }}" class="panel
    {% if request.get_status_display == 'Approved' %}
      panel-success
    {% elif request.get_status_display == 'Pending' %}
      panel-default
    {% elif request.get_status_display == 'Denied'%}
      panel-danger
    {% elif request.get_status_display == 'Marked for Fellowship' %}
      panel-info
    {% endif %}">
      <div class="panel-heading">
        <h4 class="panel-title">{{ request.get_reason_display }}</h4>
        <div class="pull-right">
          {% include request.get_button_template %}
        </div>
      </div>
      <div class="panel-body">
        {% include "web_access/web_access_description.html" %}
      </div>
    </div>
  {% endfor %}
{% empty %}
  <h4><i>You have no web access requests.</i></h4>
{% endfor %}
