{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block content %}

    <h2>TA edit web access request<br>
    <small>Submitted on {{ web_access.date_assigned }} by {{ web_access.trainee }}</small>
    </h2>
    {% include "web_access/web_access_detail_table.html" %}
    <div class="webaccess-form">
        <form action="" method="post">{% csrf_token %}
            {% bootstrap_form form %}

            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    Submit
                </button>
            {% endbuttons %}
        </form>
    </div>

{% endblock %}
