{% if request.urgent == True and request.get_status_display = 'Pending' %}
    <font size="3" color="red">URGENT</font><br>
{% elif request.urgent == True and request.get_status_display != 'Pending' %}
	<font size="3" >URGENT</font><br>
{% endif %}
Minutes: {{ request.minutes }}<br>
Comment:
{% if request.comments|length > 0 %}
	{{ request.comments }}
{% else %}
    <i>None</i>
{% endif %}<br>
TA Comment:
{% if request.TA_comments|length > 0 %}
    {{ request.TA_comments }}
{% else %}
    <i>None</i>
{% endif %}<br>
Expires on: {{ request.date_expire }}<br>
{% if request.time_started %}
Time started: {{ request.time_started }}<br>
{% endif %}
Submitted on {{ request.date_assigned }}<br>
