{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block scripts %}
    {{ form.media }}
{% endblock %}

{% block content %}
    <h2>
      {% block heading %}
      {% endblock %}
    </h2>
    <div class="webaccess-form">
        <form action="" method="post">{% csrf_token %}
            {% bootstrap_form form %}

            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    Submit
                </button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}
