{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block references %}
    <!-- Get datepicker to work -->
    <link rel="stylesheet" href="{% static 'libraries/jquery-ui/themes/smoothness/jquery-ui.css' %}" />
{% endblock %}

{% block scripts %}
    <script src="{% static 'libraries/jquery-ui/js/jquery-ui.js' %}"></script>
    <script>
    $(document).ready(function() {
        $('.datepicker').datepicker();
    });
    </script>
{% endblock %}

{% block content %}
    <h2>Create Web Access Request</h2>
    <div class="webaccess-form">
        <form action="" method="post">{% csrf_token %}
            {% bootstrap_form form %}

            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    Submit
                </button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}
