{% extends "base.html" %}

{% load staticfiles %}
{% load bootstrap3 %}

{% block scripts %}
  {{ form.media }}
  <script src="https://cdn3.devexpress.com/jslib/17.1.5/js/dx.all.js"></script>
{% endblock %}
{% block references %}
  <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/17.1.5/css/dx.spa.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/17.1.5/css/dx.common.css" />
  <link rel="dx-theme" data-theme="generic.light" href="https://cdn3.devexpress.com/jslib/17.1.5/css/dx.light.css" />
{% endblock %}
    

{% block content %}
<h2>Room Reservation Request</h2>
  <form action="" method="post">
  {% csrf_token %}
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <h3>{{page_title|title}}</h3>
        {% bootstrap_form form %}
      </div>
      <div class="col-md-6 col-xs-12">
      <h3>Select a Room</h3>
      <div class="dx-viewport">
        <div class="demo-container">
          <div id="vector-map"></div>
        </div>
      </div>
        <h3>Submitted Requests</h3>
          <div id="request-table">
            <table class="table">
              <thead>
                <tr>
                  <th>Status</th>
                  <th>Group</th>
                  <th>Date</th>
                  <th>Start</th>
                  <th>End</th>
                  <th>Room</th>
                  <th>Group Size</th>
                  <th>Frequency</th>
                  <th>Reason</th>
              </tr>
            </thead>
          <tbody>
          {% for reservation in pending_reservations %}
            <tr>
              <td>
                {% if reservation.status == "P" %}
                <a href = "{{reservation.get_update_url}}">
                {{reservation.status|safe}}
                </a>
                {% else %}
                {{reservation.status|safe}}
                {% endif %}
              </td>
              <td>{{reservation.group|safe}}</td>
              <td>{{reservation.date|date}}</td>
              <td>{{reservation.start|time}}</td>
              <td>{{reservation.end|time}}</td>
              <td>{{reservation.room|safe}}</td>
              <td>{{reservation.group_size|safe}}</td>
              <td>{{reservation.frequency|safe}}</td>
              <td>{{reservation.reason|safe}}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button type="submit" class="btn btn-primary btn-save">{{button_label|safe}}</button>
    </div>
  </div>
</form>
<script>
  $(document).ready(function() {
    $("tr:even").css("background-color", "#F0F0F0");
  });
</script>
<script>
/* Vriables */
var approved_reservation_list = {{approved_reservations|safe}};
var rooms_list = {{rooms_list|safe}};
var coordinates_list = {{floor_coordinates|safe}};
var buildingData = {
    type: "FeatureCollection",
    features: [{
      type: "Feature",
      geometry: {
        type: "Polygon",
        coordinates: [
          coordinates_list
        ]
      }
    }]
};
var roomsData = {
    type: "FeatureCollection",
    features: [
      {% for data in rooms_data %}
      {{data|safe}}
      {% endfor %}
    ]
};
</script>
<script>
/*Vector Map*/
roomsData.features[0].properties.status = 'B';
$(generateMap());

function generateMap(){
  $("#vector-map").dxVectorMap({
    maxZoomFactor: 4,
    projection: DevExpress.viz.map.projection({
      to: function (coordinates) {
        return [coordinates[0] / 100, coordinates[1] / 100];
      },
      from: function (coordinates) {
        return [coordinates[0] * 100, coordinates[1] * 100];
      }
    }),
    layers: [{
      hoverEnabled: false,
      dataSource: buildingData,
      name: "building"
    }, {
      color: "#c6c2c2",
      borderWidth: 1,
      label: {
        enabled: true,
        dataField: "name"
      },
      dataSource: roomsData,
      name: "rooms",
      customize: function (elements) {
        $.each(elements, function (_, element) {
          console.log(element.attribute("status"))
          temp = element.attribute("status");
          if (!temp.localeCompare("O")){
            element.applySettings({
              color: "#18f754"
            });
          }
        });
      },
    }],
    tooltip: {
      enabled: true,
      customizeTooltip: function (arg) {
        if(arg.layer.name === "rooms")
          return { text: "Status: " + arg.attribute("status")};
      }
    }
  });
}
</script>
<script>
  /*Styling*/
  $(document).ready(function() {
    $("#vector-map").css("width", "100%");
    $("#vector-map").css("height", "400px");
    $("#vector-map").css("display", "block");
  });
</script>
{% endblock %}
