{% extends "base.html" %}

{% load staticfiles %}
{% load bootstrap3 %}

{% block scripts %}
  <script src="{% static 'js/datepicker.js' %}"></script>
{% endblock %}

{% block content %}
<h2>Room Reservation Request</h2>
  <form action="" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-4 col-xs-12">
	  <h3>Submit New Request</h3>
        {% bootstrap_form form %}
      </div>
      <div class="col-md-6 col-xs-12">
	    <h3>Submitted Requests</h3>
        <div id="request-table">
		  <table class="table">
		      <thead>
			<tr>
			  <th>Status</th>
			  <th>Group</th>
			  <th>Date</th>
			  <th>Start</th>
			  <th>End</th>
			  <th>Room</th>
			  <th>Group Size</th>
			  <th>Frequency</th>
			  <th>Reason</th>
			</tr>
		      </thead>
		      <tbody>
			{% for reservation in reservations %}
			  <tr>
			    <td>{{reservation.status|safe}}</td>
			    <td>{{reservation.group|safe}}</td>
			    <td>{{reservation.date}}</td>
			    <td>{{reservation.start|safe}}</td>
			    <td>{{reservation.end|safe}}</td>
			    <td>{{reservation.room|safe}}</td>
			    <td>{{reservation.group_size}}</td>
			    <td>{{reservation.frequency}}</td>
			    <td>{{reservation.reason}}</td>
			  </tr>
			{% endfor %}
		      </tbody>
		    </table>
	    </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary btn-save">Submit</button>
      </div>
    </div>
  </form>

<script>
  $(document).ready(function() {
    $('label[for="id_start_hour"]').parent().addClass('form-inline');
    $('label[for="id_end_hour"]').parent().addClass('form-inline');

  });
</script>
{% endblock %}
