{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load common_tags %}

{% block title %}Room Reservation{% endblock %}

{% block references %}
  <link rel="stylesheet" href="{% static 'room_reservations/css/style.css' %}" />
{% endblock %}

{% block scripts %}
{{ form.media }}
<script>
  function populateForm() {
    $("#id_date").val(selected_date.toLocaleDateString());

    time12h = times_list[data_table.cells({selected: true})[0][0].row];
    $("#id_start").val(moment(time12h, "hh:mma").format('HH:mm'));

    len = data_table.cells({selected: true})[0].length;
    time12h = times_list[data_table.cells({selected: true})[0][len - 1].row + 1];
    $("#id_end").val(moment(time12h, "hh:mma").format('HH:mm'));

    temp = rooms_list[data_table.cells({selected: true})[0][0].column - 1].pk;
    $("#id_room").val(temp);
  }
</script>
{% endblock %}

{% block content %}
<h2>{{ page_title }}</h2>

<form action="" method="post" onsubmit="return populateForm()">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-4 col-xs-12">
      {% bootstrap_form form %}
    </div>
  </div>
  {% include "room_reservations/schedule_partial.html" %}
  <div class="row">
    <div class="col-md-12">
      <button type="submit" class="btn btn-primary btn-save">{{button_label|safe}}</button>
    </div>
  </div>
  {% if not view.request.user|is_TA %}
  <div class="col-md-12">
    <h3>Submitted Requests</h3>
      <div id="request-table">
        <table class="table">
          <thead>
            <tr>
              <th>Status</th>
              <th>Group</th>
              <th>Date</th>
              <th>Start</th>
              <th>End</th>
              <th>Room</th>
              <th>Group Size</th>
              <th>Frequency</th>
              <th>Reason</th>
              <th>Update</th>
          </tr>
        </thead>
        <tbody>
        {% for reservation in requested_reservations %}
          <tr>
            <td>{{reservation.status}}</td>
            <td>{{reservation.group}}</td>
            <td>{{reservation.date|date}}</td>
            <td>{{reservation.start|time}}</td>
            <td>{{reservation.end|time}}</td>
            <td>{{reservation.room}}</td>
            <td>{{reservation.group_size}}</td>
            <td>{{reservation.frequency}}</td>
            <td>{{reservation.reason}}</td>
            {% if reservation.status == "P" %}
            <td>
              <a href="{{ reservation.get_update_url }}">
                <button type="button" title="Approve" class="btn btn-primary">
                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </button>
              </a>
            </td>
            {% endif %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}
</form>
{% endblock %}
