{% extends "base.html" %}

{% load staticfiles %}
{% load bootstrap3 %}

{% block scripts %}
  <script src="{% static 'js/datepicker.js' %}"></script>
{% endblock %}

{% block content %}
<h2>Room Reservation Request</h2>
  <form action="" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-4 col-xs-12">
	  <h3>Submit New Request</h3>
        {% bootstrap_form form %}
      </div>
      <div class="col-md-6 col-xs-12">
	    <h3>Submitted Requests</h3>
        <div id="request-table">
		  <table class="table">
		      <thead>
				<tr>
			    {% for k,v in reservations.0.items %}
				  <th>{{k}}</th>
				{% endfor %}
				</tr>
		      </thead>
		      <tbody>
				{% for reservation in reservations %}
				<tr>
				{% for k,v in reservation.items %}
		          <td>{{v}}</td>
				{% endfor %}
				</tr>
				{% endfor %}
		      </tbody>
		    </table>
	    </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary btn-save">Submit</button>
      </div>
    </div>
  </form>

<script>
  var reservations = {{reservations|safe}};
  $(document).ready(function() {
    $('label[for="id_start_hour"]').parent().addClass('form-inline');
    $('label[for="id_end_hour"]').parent().addClass('form-inline');

  });
</script>
{% endblock %}
