{% extends "base.html" %}

{% load staticfiles %}
{% load bootstrap3 %}

{% block content %}
<link rel="stylesheet" href="{% static 'room_reservations/css/style.css' %}" />

<h2>Room Reservation Schedule </h2>
<div>
  <label>Date &nbsp</label>
  <input class="datepicker" id="id_date" name="date" placeholder="Date" title="" type="text" />
  <label>Access Types: </label>
  <input type="checkbox" name="filter" value="Brothers"/>Brothers &nbsp 
  <input type="checkbox" name="filter" value="Sisters"/>Sisters &nbsp
</div>
<div class="row">
  <div id="schedule" class="col-md-12 col-xs-12">
    <table id="schedule-table"class="table">
      <thead>
        <tr id="head-row">
          <th>Time Slots</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>


<script>
var reservation_list = {{reservations|safe}};
var rooms_list = {{rooms_list|safe}};
var bro_rooms_list = {{bro_rooms_list|safe}};
var sis_rooms_list = {{sis_rooms_list|safe}};
var times_list = {{times_list|safe}};
var today = new Date();
var blank_cell = '<td>&nbsp</td>';
var blank_row = '';

$(document).ready(function() {
  checkboxes = $(":checkbox");
  checkboxes.change(function() {
    if(checkboxes[0].checked) {
      console.log(bro_rooms_list);
      //Do stuff
    }
    if(checkboxes[1].checked) {
      console.log(sis_rooms_list);
      //Do stuff
    }
  });

  createBlankSchedule();
  $('.datepicker').datepicker({
    changeMonth: true,
    changeYear: true,
    onSelect: function(selected) {
      updateScheduleTable(selected);
    }
  });
  $('.datepicker').datepicker('setDate', today);
  updateScheduleTable(today);

  /** FUNCTIONS **/
  function updateScheduleTable(value){
    clearSchedule();
    selected_date = moment(value.toString())._d.toLocaleDateString();
    
    for(i=0; i<reservation_list.length; i++){
      isReserverd = false;
      reservation = reservation_list[i];

      if(reservation.fields.frequency == "Term") isReserverd = true;
      else {
        reservation_date = moment(reservation.fields.date)._d.toLocaleDateString();
        if(reservation_date == selected_date) isReserverd = true;
      } 
      
      if(isReserverd){
        console.log(reservation.fields.room);
        /* Parsing start and end times to determing time slots */
        start_split = reservation.fields.start.split(':');
        end_split = reservation.fields.end.split(':');
        reservation_start = parseInt(start_split[0]);
        reservation_end = parseInt(end_split[0]);
        
        if (parseInt(start_split[1])) reservation_start += 0.5;
        if (parseInt(end_split[1])) reservation_end += 0.5;

        time_slots = (reservation_end - reservation_start)*2;
        /* End Parsing */
  
        /* Mapping Room code to cell column */
        column_index = 0;

        for(k=0; k<rooms_list.length; k++){
          if(reservation.fields.room == rooms_list[k].pk) column_index = k+1;
        }
        /* End Mapping */
        
        /* Populating cells with group name */
        for(j=0; j<time_slots; j++){
          $("tbody>tr")[reservation_start*2 + j].children[column_index].append(reservation.fields.group);
        }
        /* End Populating */
      }
    }
  }

  function createBlankSchedule(){
    /* create table for schedule */

    /* Populating first row with room codes */
    for(i=0; i<rooms_list.length; i++){
      $("#schedule-table>thead>tr").append("<th>"+rooms_list[i].pk+"</th>");
      blank_row += blank_cell;
    }
    /* End Populating */

  }

  function clearSchedule(){
    $("tbody").empty(); //clear all body rows

    /* Populating body rows with times and blanks */
    for(i=0; i<times_list.length-1; i++){
      $("tbody").append("<tr><td>"+times_list[i]+"-"+times_list[i+1]+"</td>"+blank_row+"</tr>");
    }
    /* End Populating */

    /* Styling schedule table */
    $("tr:even").css("background-color", "#F0F0F0");
    $("td").css("border-right", "1px solid black");
    /* End Styling */
  }

});
</script>

{% endblock %}

