{% extends "base.html" %}

{% load staticfiles %}
{% load bootstrap3 %}


{% block content %}
<h2>Room Reservation Requests</h2>
<a href="#" target="_blank" class="btn btn-primary">Check Schedule</a>
  <form action="" method="post" class="form-horizontal">
    {% csrf_token %}
    <div class="row">
      <div id="request-table" class="col-md-12 col-xs-12">
        <table class="table">
          <thead>
	    <tr>
	      <th>Group</th>
	      <th>Date</th>
	      <th>Start</th>
	      <th>End</th>
	      <th>Room</th>
	      <th>Group Size</th>
	      <th>Frequency</th>
	      <th>Reason</th>
		  <th>Respond</th>
	    </tr>
	  </thead>
	  <tbody>
            {% for reservation in reservations %}
	      <tr>
		<!--td class="cb"><input type="checkbox" value="yes"></td-->
	        <td>{{reservation.group|safe}}</td>
		<td>{{reservation.date|date}}</td>
		<td>{{reservation.start|time}}</td>
		<td>{{reservation.end|time}}</td>
		<td>{{reservation.room|safe}}</td>
		<td>{{reservation.group_size|safe}}</td>
		<td>{{reservation.frequency|safe}}</td>
		<td>{{reservation.reason|safe}}</td>
                <td>
		  <a href="{% url 'room_reservations:reservation-modify-status' 'A' reservation.id %}">
                    <button type="button" title="Approve" class="btn btn-success">
                      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                   </button>
                 </a>
	         <a href="{% url 'room_reservations:reservation-modify-status' 'D' reservation.id %}">
                   <button type="button" title="Deny" class="btn btn-danger">
                     <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                   </button>
                </a>
		<a href="{% url 'room_reservations:reservation-modify-status' 'F' reservation.id %}">
                 <button type="button" title="Mark for fellowship" class="btn btn-warning">
                   <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                 </button>
                </a>
	      </td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        
      </div>
    </div>
  </form>

<script>
  $(document).ready(function() {
    $("tr:even").css("background-color", "#F0F0F0");
  });
</script>
{% endblock %}
