@charset "UTF-8";

@import

  // Variables, Extends, Mixins
  "bootflat/global",

  //Custom css for DataTables
  "bootflat/table_datatable",

  // Base
  "bootflat/typography",
  "bootflat/layout",
  "bootflat/button",
  "bootflat/button_group",
  "bootflat/label_badge",
  "bootflat/tooltip",
  "bootflat/popover",
  "bootflat/progress",
  "bootflat/breadcrumb",
  "bootflat/pagination",
  "bootflat/pager",
  "bootflat/form",
  "bootflat/searchinput",
  "bootflat/stepper",
  "bootflat/selecter",
  "bootflat/checkbox_radio",
  "bootflat/toggle",
  "bootflat/calendar",
  "bootflat/alert",
  "bootflat/tab",
  "bootflat/pill",
  "bootflat/navbar",
  "bootflat/list",
  "bootflat/media_list",
  "bootflat/modal",
  "bootflat/well",
  "bootflat/thumbnail",
  "bootflat/jumbotron",
  "bootflat/panel",
  "bootflat/accordion",
  "bootflat/footer",
  "bootflat/table",
  "bootflat/dropdown",
  "bootflat/cards",
  "bootflat/weekly_sum",
  "bootflat/glyphicons",
  "bootflat/request_forms";
