// Global Variables
//------------------------------------------------------
$modules:                     () !default;

$experimental:                true !default;

// font directory
$font-directory:              '../../fonts/';

// prefix elements
$prefix-webkit:               true !global;
$prefix-moz:                  true !global;
$prefix-spec:                 true !global;

// color elements THAT WE USE
$white:                       #FFF !default;
$black:                       #102C38 !default;
$brown:                       #393A42 !default;
$grey:                        #939598 !default;
$grey-light:                  #eee;
$blue-dark:                   #102C38 !default;
$blue:                        #095F80 !default;
$blue-light:                  #A6C5D1 !default;
$tan:                         #C2B59B !default;
$tan-light:                   #E6E8E1 !default;
$yellow:                      #FFDB77 !default;
$red:                         #E85328 !default;
$red-light:                   #F69D74 !default;

$tint:                        rgba(255,255,255,.2);
$tint-lighter:                rgba(255,255,255,.08);
$tint-darker:                 rgba(0,0,0,.08);

$navbar-height: 40px;

// Global Mixins
//------------------------------------------------------

// We use this to loading scss files
@mixin exports($name) {
  @if index($modules, $name) {
  } @else {
  $modules: append($modules, $name) !global;
  @content;
  }
}

// We use this to set leaveslip borders for attendance react page
@mixin event_border($color, $width: 7px) {
  border-right: $width solid $color;
  border-left: $width solid $color;
}

// We use this to add diagnol select lines when we select an event in attendance
@mixin event_select_gradient($color1, $color2) {
  background: repeating-linear-gradient(135deg, $color1, $color2 3px, black 1px, gray 4px)
}

// We use this to do set opacity
@mixin opacity($opacity:50, $filter: true) {
  opacity: $opacity / 100;
  @if $filter {
    filter: alpha(opacity=$opacity);
  }
}

// We use this to ellipsis text
@mixin ellipsis($width: 100%) {
  display: inline-block;
  max-width: $width;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// We use this to add across browser prefixes
@mixin prefixer($property, $value, $prefixes: webkit moz spec) {
  @if $experimental {
    @each $prefix in $prefixes {
      @if $prefix != spec {
        @if $property == border-top-left-radius and $prefix == moz {
          @if $prefix-moz {
            -moz-border-radius-topleft: $value;
          }
        } @else if $property == border-top-right-radius and $prefix == moz {
          @if $prefix-moz {
            -moz-border-radius-topright: $value;
          }
        } @else if $property == border-bottom-right-radius and $prefix == moz {
          @if $prefix-moz {
            -moz-border-radius-bottomright: $value;
          }
        } @else if $property == border-bottom-left-radius and $prefix == moz {
          @if $prefix-moz {
            -moz-border-radius-bottomleft: $value;
          }
        } @else {
          @if $prefix == webkit {
            @if $prefix-webkit {
            -webkit-#{$property}: $value;
            }
          }
          @if $prefix == moz {
            @if $prefix-moz {
            -moz-#{$property}: $value;
            }
          }
        }
      } @else {
        @if $prefix-spec {
        #{$property}: $value;
        }
      }
    }
  }
}

// We use this to add box-sizing across browser prefixes
@mixin box-sizing($value: border-box) {
  @include prefixer($property: box-sizing, $value: $value, $prefixes: webkit moz spec);
}

// We use this to control border radius.
@mixin radius($type: border-radius, $value: $global-radius) {
  @include prefixer($property: $type, $value: $value, $prefixes: webkit moz spec);
}

// We use this to control box shadow.
@mixin box-shadow($value) {
  @include prefixer($property: box-shadow, $value: $value, $prefixes: webkit moz spec);
}
// We use this to creat animation effect.
// Examples:
// @include keyframes(move-the-object) {
//   0%   { left: 100px; }
//   100% { left: 200px; }
// }
// .object-to-animate {
//   @include animation(move-the-object .5s 1);
// }
@mixin animation ($value...) {
  @include prefixer($property: animation, $value: $value, $prefixes: webkit moz spec);
}
// Individual Animation Properties
@mixin animation-name ($value...) {
  @include prefixer($property: animation-name, $value: $value, $prefixes: webkit moz spec);
}
@mixin animation-duration ($value...) {
  @include prefixer($property: animation-duration, $value: $value, $prefixes: webkit moz spec);
}
@mixin animation-timing-function ($value...) {
  // ease | linear | ease-in | ease-out | ease-in-out
  @include prefixer($property: animation-timing-function, $value: $value, $prefixes: webkit moz spec);
}
@mixin animation-iteration-count ($value...) {
  // infinite | <number>
  @include prefixer($property: animation-iteration-count, $value: $value, $prefixes: webkit moz spec);
}
@mixin animation-direction ($value...) {
  @include prefixer($property: animation-direction, $value: $value, $prefixes: webkit moz spec);
}
@mixin animation-play-state ($value...) {
  // running | paused
  @include prefixer($property: animation-play-state, $value: $value, $prefixes: webkit moz spec);
}
@mixin animation-delay ($value...) {
  @include prefixer($property: animation-delay, $value: $value, $prefixes: webkit moz spec);
}
@mixin animation-fill-mode ($value...) {
  // none | forwards | backwards | both
  @include prefixer($property: animation-fill-mode, $value: $value, $prefixes: webkit moz spec);
}
@mixin keyframes($name) {
  $original-prefix-webkit:    $prefix-webkit;
  $original-prefix-moz:       $prefix-moz;
  $original-prefix-spec:      $prefix-spec;

  @if $original-prefix-webkit {
    @include disable-prefix();
    $prefix-webkit: true !global;
    @-webkit-keyframes #{$name} {
      @content;
    }
  }
  @if $original-prefix-moz {
    @include disable-prefix();
    $prefix-moz: true !global;
    @-moz-keyframes #{$name} {
      @content;
    }
  }
  @if $original-prefix-spec {
    @include disable-prefix();
    $prefix-spec: true !global;
    @keyframes #{$name} {
      @content;
    }
  }

  $prefix-webkit:       $original-prefix-webkit !global;
  $prefix-moz:          $original-prefix-moz !global;
  $prefix-spec:         $original-prefix-spec !global;
}

// We use this to set transform.
@mixin transform($value: none) {
  //  none | <transform-function>
  @include prefixer($property: transform, $value: $value, $prefixes: webkit moz spec);
}

@mixin transform-origin($value: 50%) {
  // x-axis - left | center | right  | length | %
  // y-axis - top  | center | bottom | length | %
  // z-axis -                          length
  @include prefixer($property: transform-origin, $value: $value, $prefixes: webkit moz spec);
}

@mixin transform-style ($value: flat) {
  @include prefixer($property: transform-style, $value: $value, $prefixes: webkit moz spec);
}

// We use this to set transition.
// example: @include transition (all 2s ease-in-out);
//          @include transition (opacity 1s ease-in 2s, width 2s ease-out);
//          @include transition-property (transform, opacity);

@mixin transition ($value...) {
  @if length($value) >= 1 {
  @include prefixer($property: transition, $value: $value, $prefixes: webkit moz spec);
  } @else {
  $value: all 0.15s ease-out 0s;
    @include prefixer($property: transition, $value: $value, $prefixes: webkit moz spec);
  }
}
