/* Small devices (tablets, 768px and up) */
@media (min-width: 768px)
{
  div[class^="container"]{padding-left:15px; padding-right:15px;}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px)
{
  div[class^="container"]{padding-left:90px; padding-right:90px;}
}
