@include exports("navbar") {
  // UNIVERSAL STYLES (padding & height adjustments for all navigation)
  .navbar {
    margin-bottom: 50px;

    &-default, &--subnav {
      min-height: $navbar-height;
      & .navbar-brand,
      & .navbar-link,
      & .btn-link {
        height: $navbar-height;
        padding: 10px 15px;
      }
      & .navbar-text,
      & .navbar-nav > li > a {
        padding-top:10px;
        padding-bottom:10px;
      }
      .navbar-toggle {
        padding: 5px;
        margin-top:7px;
      }
      @media (max-width: 767px) {
        & .navbar-nav {
          margin: 7px 10px;
          .navbar-form {
            border: 0;
            margin: 0;
            padding: 0 15px!important;
          }
        }
      }
    }
    &-form {
      padding: 0;
      margin-top:4px;
      margin-bottom:0;
    }
    &--pad {
      margin-right: 20px;
      @media (max-width: 767px) {
        margin-right: 0;
      }
    }
  }

  //FTTA main header
  .navbar-default {
    height: $navbar-height;
    margin-bottom:0;
    background-color: $blue-dark;
    border-color: $blue;
    position: sticky;
    top: 0;

    & .navbar-brand,
    & .navbar-link,
    & .btn-link {
      color: $white;
      font-family: 'Myriad Pro Regular';
    }
    & .navbar-brand:hover,
    & .navbar-brand:focus,
    & .navbar-link:hover,
    & .btn-link:hover,
    & .btn-link:focus {
      color: $white;
      background-color: transparent;
    }
    & .navbar-text,
    & .navbar-nav > li > a {
      color: $tan;
      text-transform: uppercase;
      font-size: 14px;
    }
    & .navbar-nav > li > a:hover,
    & .navbar-nav > li > a:focus {
      color: $tan-light;
    }
    & .navbar-nav > .active > a,
    & .navbar-nav > .active > a:hover,
    & .navbar-nav > .active > a:focus {
      color: $white;
      background-color: $blue;
    }
    & .btn-link[disabled]:hover,
    fieldset[disabled] & .btn-link:hover,
    & .btn-link[disabled]:focus,
    fieldset[disabled] & .btn-link:focus,
    & .navbar-nav > .disabled > a,
    & .navbar-nav > .disabled > a:hover,
    & .navbar-nav > .disabled > a:focus {
      color: darken($blue, 8%);
      background-color: transparent;
    }
    & .navbar-toggle {
      background-color: $tan;
      border-color: $tan;
    }
    & .navbar-toggle:hover,
    & .navbar-toggle:focus {
      border-color: darken($tan, 10%);
      background-color: darken($tan, 10%);
    }
    & .navbar-toggle .icon-bar {
      background-color: $blue;
    }
    & .navbar-collapse,
    & .navbar-form {
    }
    & .open {
      & .dropdown-menu {
        display: grid;
      }
    }
    & .dropdown-menu {
      margin-top: -1px !important;
      grid-auto-flow: column;
      grid-column-gap: 5%;
      grid-template-columns: repeat(1, minmax(0px, 1fr));
      background-color: $blue;
      font-size: 16px;
      padding: 10px 100px 10px 0;
      position: fixed;
      width: 100vw;
      top: $navbar-height;
      border-radius: 0;
      padding-bottom: 20px;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      & .spacer {
        grid-column-start: 1;
        grid-row-end: span 3;
      }
      & > li {
        margin-left: auto;
        text-align: left;
        & a {
           color: $grey-light;
          &:hover {
            color: $red-light;
          }
        }
      }
      .divider {
        background-color: #ddd;
      }
    }

    & .navbar-nav > .open > a,
    & .navbar-nav > .open > a:hover,
    & .navbar-nav > .open > a:focus {
      color: $red;
      background-color: $blue-dark;
    }

    //MOBILE VERSION
    @media (max-width: 767px) {
      & .navbar-collapse {
        background-color: $white;
        border: 0;
      }
      & .navbar-nav > li > a {
        color: #333;
      }
      & .navbar-nav > li > a:hover,
      & .navbar-nav > li > a:focus {
        color: $blue-light;
        background-color: $white;
      }
      & .navbar-nav > .open > a,
      & .navbar-nav > .open > a:hover,
      & .navbar-nav > .open > a:focus {
        color: $blue;
        background-color: $white;
      }
      & .navbar-nav .open .dropdown-menu > .divider {
        background-color: $white;
      }
      & .navbar-nav .open .dropdown-menu > li > a {
        color: $grey;
      }
      & .navbar-nav .open .dropdown-menu > li > a:hover,
      & .navbar-nav .open .dropdown-menu > li > a:focus,
      & .navbar-nav .open .dropdown-menu > .active > a,
      & .navbar-nav .open .dropdown-menu > .active > a:hover,
      & .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #333;
        background-color: $white;
      }
      & .navbar-nav .open .dropdown-menu > .dropdown-header {
        color: #333;
      }
      & .navbar-nav .open .dropdown-menu > .disabled > a,
      & .navbar-nav .open .dropdown-menu > .disabled > a:hover,
      & .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #333;
      }

      & .open {
        & .dropdown-menu {
          display: inline;
        }
      }
    }
  }
  // navbar--subnav goes here
  .navbar {
    &--subnav {
      height: auto;
      border-bottom: 0;
      background-color: $blue;
      z-index: 100;
      & .navbar-collapse {
        margin-top: -5px;
        padding-bottom: 3px;
        background-color: $blue;
      }
      & .navbar-brand,
      & .navbar-link,
      & .btn-link {
        color: $brown;
      }
      & .navbar-brand:hover,
      & .navbar-brand:focus,
      & .navbar-link:hover,
      & .btn-link:hover,
      & .btn-link:focus {
        color: $brown;
        background-color: transparent;
      }
      & .navbar-text,
      & .navbar-nav > li > a {
        color: $brown;
      }
      & .navbar-nav > li > a:hover,
      & .navbar-nav > li > a:focus {
        color: $brown;
      }
      & .navbar-nav > .active > a,
      & .navbar-nav > .active > a:hover,
      & .navbar-nav > .active > a:focus {
        color: $brown;
        background-color: $tint-darker;
      }
      & .btn-link[disabled]:hover,
      fieldset[disabled] & .btn-link:hover,
      & .btn-link[disabled]:focus,
      fieldset[disabled] & .btn-link:focus,
      & .navbar-nav > .disabled > a,
      & .navbar-nav > .disabled > a:hover,
      & .navbar-nav > .disabled > a:focus {
        color: darken($tan, 8%);
        background-color: transparent;
      }
      & .navbar-toggle {
        background-color: $tan;
      }
      & .navbar-toggle:hover,
      & .navbar-toggle:focus {
        border-color: darken($tan, 10%);
        background-color: darken($tan, 10%);
      }
      & .navbar-toggle .icon-bar {
        background-color: $tan;
      }
      & .navbar-form {
        border-color: $tan;
      }
      .dropdown-menu {
        .divider {
          background-color: $brown;
        }
        background-color: $tan;
        li > a {
          color: $brown;
        }
        li > a:hover {
          background-color: darken($tan, 8);
          color: $brown;
        }
      }

      & .navbar-nav > .open > a,
      & .navbar-nav > .open > a:hover,
      & .navbar-nav > .open > a:focus {
        color: $brown;
        background-color: $tan;
      }
      /* subnav announce module */
      .announce {
        display: block;
        position: relative;
        top: 15px;
        height: 80px;
        padding-bottom: 10px;
        &__header {
          cursor: pointer;
          padding: 8px 0;
          color: $black;
          width: 100px;
          &__badge {
            font-size: 24px;
            padding: 10px 13px;
            color: $white;
            &-background {
              position: absolute;
              height: 50px;
              z-index: -100;
              top: 0;
            }
          }
        }
        &__row {
          padding: 2px 15px;
          margin: 2px 10px 10px 10px;
        }
        &__portal {
          position: relative;
          top: -30px;
          left: 60px;
          width: 400px;
          background-color: $white;
          z-index: 1000;
          border: 1px solid $blue-light;
          & {
            .alert {
              background: $white;
              padding: 10px 0px 5px 0px;
              border-bottom: 1px solid $blue-light;
              margin-bottom: -1px;
            }
          }
        }
      }

      /* mobile experience for subnav */
      @media (max-width: 767px) {
        & .navbar-nav > li > a:hover,
        & .navbar-nav > li > a:focus {
          background-color: $tan;
        }
        & .navbar-nav .open .dropdown-menu > .divider {
          background-color: $tan;
        }
        & .navbar-nav .open .dropdown-menu > li > a {
          color: darken($brown, 15%);
        }
        & .navbar-nav .open .dropdown-menu > li > a:hover,
        & .navbar-nav .open .dropdown-menu > li > a:focus,
        & .navbar-nav .open .dropdown-menu > .active > a,
        & .navbar-nav .open .dropdown-menu > .active > a:hover,
        & .navbar-nav .open .dropdown-menu > .active > a:focus {
          color: $brown;
          background-color: $tan;
        }
        & .navbar-nav .open .dropdown-menu > .dropdown-header {
          color: darken($brown, 15%);
        }
        & .navbar-nav .open .dropdown-menu > .disabled > a,
        & .navbar-nav .open .dropdown-menu > .disabled > a:hover,
        & .navbar-nav .open .dropdown-menu > .disabled > a:focus {
          color: darken($brown, 10%);
        }
      }

    }
  }
}
