.submenu {
  & a {
    color: $grey-light;
  }
  & .active a {
    color: $red-light;
  }
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 5%;
  grid-auto-columns: 4fr auto auto auto;
  padding: 15px;
  &:first-child::before {
    grid-column-start: 1;
    grid-row-end: span 3;
    content: "";
  }
}
