// Variables
//------------------------------------------------------
$tab-background-color:                 $tan !default;
$tab-background-color-hover:           $tint !default;
$tab-radius:                           4px !default;

$tab-font-color:                       $blue !default;
$tab-font-color-acitve:                $white !default;

$tab-aside-width:                      74px !default;

$tab-border-color:                     $tint-darker !default;
// Exports
//------------------------------------------------------

@include exports("table") {

  /**
   * table
   * --------------------------------------------------
   */
  table {

  }

}