// Datatable Custom CSS
//------------------------------------------------------

@include exports("dataTables") {
  .dataTables_wrapper .dataTables_length {
    float: left;
  }
  .dt-buttons {
    float: left;
  }
  #content form {
    margin-top: 7px;
  }
  table.dataTable tbody > tr.selected {
    background-color: $tan !important;
  }
}
