

.menu {
	margin-top : 1px;
	margin-bottom : 1px;
}

.menu ul {
	display : inline;
	margin : 0;
	padding : 0;
}

.menu li {
	display : inline;
	margin : 0;
}

.menu li a {
	margin : 0;
	padding : 1px 5px;
	background : #eee;
	border : 1px solid #ccc;
	border-bottom : 1px solid #666;
	color : #66f;
	text-decoration : none;
}

.menu li a:hover {
	border-color : #aaa;
	color : #c03;
}

.menu li a.active {
	padding-bottom : 2px;
	border-color : #666;
	border-bottom : 0;
	color : blue;
}

#cal-container {
	margin : 0;
	padding : 5px;
	border : 1px solid #666;
	background : #eee;
}

.cal-date {
    cursor : pointer;
}

.cal-main {
	padding : 5px;
	background : white;
}

.cal-main h2 {
	margin-top : 0;
	font-size : 1em;
}

td.exempt {
	background : #ccc;
}


table.cal td {
	width : 65px;
	border : 1px solid #ccc;
}

table.cal tbody td,
table.cal tbody th {
	padding : 0;
	border-top : 1px solid #aaa;
}

table.cal div {
	box-sizing : border-box;
	-moz-box-sizing : border-box;
}

table.cal div.time {
	height : 30px; /* this will be set by PHP in table directly */
	padding : 0 3px;
	border-bottom : 1px solid #aaa;
	font-size : 9px;
}

table.cal td div {
	border-bottom : 1px solid #aaa;
	font-size : 9px;
	text-align : center;
}

.key .entry,
table.cal td div.entry {
	height : 15px; /* min-height, really, but it'll be set in PHP too */
	overflow : hidden;
	background-color : #ffc;
	cursor : default;
}

.key div.also_excused,
table.cal td div.also_excused {
    border-left: 4px solid #2E9650;
    border-right: 4px solid #2E9650;
}

.key div.also_tardy,
table.cal td div.also_tardy {
    border-left: 4px solid #fc6;
    border-right: 4px solid #fc6;
}

.key div.also_absent,
table.cal td div.also_absent {
    border-left: 4px solid #e55;
    border-right: 4px solid #e55;
}

.key .tardy,
table.cal td div.entry.tardy {
	background-color : #fc6;
}

.key .absent,
table.cal td div.entry.absent {
	background-color : #e55;
}

.key .excused,
table.cal td div.entry.excused,
.entryExcused,
tr.shadeRow td.entryExcused {
	color : white;
	background-color : #2E9650 !important;
}

.noRoll,
tr.shadeRow td.noRoll {
	color : white;
	background-color : #AAA !important;
}

/* Trainee Historical Report */
.key .range_0,
table.cal td div.entry.range_0 {
	background-color : #EEE
}

.key .range_1,
table.cal td div.entry.range_1 {
	background-color : #CCC
}

.key .range_2,
table.cal td div.entry.range_2 {
	background-color : #AAA
}

.key .range_3,
table.cal td div.entry.range_3 {
	background-color : #999
}

.key .range_4,
table.cal td div.entry.range_4 {
	background-color : #777
}

.key .range_5,
table.cal td div.entry.range_5 {
	background-color : #555
}

.key .range_6,
table.cal td div.entry.range_6 {
	background-color : #050
}

.key .range_7,
table.cal td div.entry.range_7 {
	background-color : #080
}

.key .range_8,
table.cal td div.entry.range_8 {
	background-color : #0A0
}

.key .range_9,
table.cal td div.entry.range_9 {
	background-color : #0F0
}

.key .range_A,
table.cal td div.entry.range_A {
	background-color : #005
}

.key .range_B,
table.cal td div.entry.range_B {
	background-color : #008
}

.key .range_C,
table.cal td div.entry.range_C {
	background-color : #00A
}

.key .range_D,
table.cal td div.entry.range_D {
	background-color : #00C
}

.key .range_E,
table.cal td div.entry.range_E {
	background-color : #00E
}

.key .range_F,
table.cal td div.entry.range_F {
	background-color : #00F
}


/* End of Trainee Historical Report */

.key {
	margin-bottom : 5px;
	font-size : 0.8em;
        line-height: 170%;
}

.key .tardy,
.key .absent,
.key .excused,
.key .entry  {
	border : 1px solid #666;
}

table.cal td div.entry input {
	display : none;
}

table.cal.selectable td div.entry {
	cursor : pointer;
}

table.cal.selectable td div.entry:hover {
	background-color : #eee;
}

table.cal.selectable td div.entry.tardy:hover {
	background-color : #fd6;
}

table.cal.selectable td div.entry.absent:hover {
	background-color : #f55;
}

table.cal.selectable td div.entry.excused:hover {
	background-color : #2Ea950;
}

table.cal.selectable td div.entry.selected {
	background-image : url(../img/cal-selected.gif);
}

table.cal td div.entry.selected {
	background-image : url(../img/cal-selected.gif);
}

table.cal.selectable td div.entry.excused.selected {
	background-image : url(../img/cal-selected2.gif);
}

table.cal td div.entry.excused.selected {
	background-image : url(../img/cal-selected2.gif);
}

table.cal {
	border-collapse : collapse;
}

.cal{
	font : 13px Lucida Grande, Arial, Helvetica, sans-serif;
	font-weight : inherit;
}

.current_date_highlight {
	background-color:#CAD9EA;
	border:1px solid #8498AE;
}