.sectionBoxBody
{
	padding: 10px 10px 10px 10px;
}
.editAssignmentsTable
{
	border-collapse: collapse;
	border-spacing: 0px 0px;
}
.editAssignmentsTable td
{
	padding: 0px 0px 0px 0px;
	vertical-align: middle;
}
.editAssignmentsTable .col1
{
	width: 85px;
}
.editAssignmentsTable .col1 input
{
	width: 75px;
}
.workerGrp
{
	margin-bottom: 25px;
}
#assignmentsTable a
{
	text-decoration: none;
}
#assignmentsTable td.firstCol
{
	white-space: nowrap;
}
