
#header { display: none; }
#nav { display: none; }
#Breadcrumbs { display: none; }
#FooterLine { display: none; }
#main { margin: 0px; }

.menu {
	margin-top : 1px;
	margin-bottom : 1px;
}

.menu ul {
	display : inline;
	margin : 0;
	padding : 0;
}

.menu li {
	display : inline;
	margin : 0;
}

.menu li a {
	margin : 0;
	padding : 1px 5px;
	background : #FFF;
	border : 1px solid #000;
	border-bottom : 1px solid #000;
	color : #000;
	text-decoration : none;
}

.menu li a:hover {
	border-color : #000;
	color : #000;
}

.menu li a.active {
	padding-bottom : 2px;
	border-color : #000;
	border-bottom : 0;
	color : blue;
}

#cal-container {
	margin : 0;
	padding : 5px;
	border : 1px solid #000;
	background : #FFF;
}

.cal-date {
    cursor : pointer;
}

.cal-main {
	padding : 5px;
	background : white;
}

.cal-main h2 {
	margin-top : 0;
	font-size : 1em;
}

td.exempt {
	background : #FFF;
}

table#weeks {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
}

table.cal td {
	width : 65px;
	border : 1px solid #000;
}

table.cal tbody td,
table.cal tbody th {
	padding : 0;
	border-top : 1px solid #000;
}

table.cal div {
	box-sizing : border-box;
	-moz-box-sizing : border-box;
}

table.cal div.time {
	height : 30px; /* this will be set by PHP in table directly */
	padding : 0 3px;
	border-bottom : 1px solid #000;
	font-size : 9px;
}

table.cal td div {
	border-bottom : 1px solid #000;
	font-size : 9px;
	text-align : center;
}

table.cal td div.entry {
	height : 15px; /* min-height, really, but it'll be set in PHP too */
	overflow : hidden;
	background-color : #FFF;
	cursor : default;
}

table.cal td div.entry, table.cal td div.empty {
	width: 120px;
}


/* End of Trainee Historical Report */

.key {
	margin-bottom : 5px;
	font-size : 0.8em;
}

.key .tardy,
.key .absent,
.key .excused {
	border : 1px solid #000;
}

table.cal td div.entry input {
	display : none;
}

table.cal.selectable td div.entry {
	cursor : pointer;
}

table.cal.selectable td div.entry.selected {
	background-image : url(../img/cal-selected.gif);
}

table.cal td div.entry.selected {
	background-image : url(../img/cal-selected.gif);
}

table.cal.selectable td div.entry.excused.selected {
	background-image : url(../img/cal-selected2.gif);
}

table.cal td div.entry.excused.selected {
	background-image : url(../img/cal-selected2.gif);
}

table.cal {
	border-collapse : collapse;
}

.cal{
	font : 13px Lucida Grande, Arial, Helvetica, sans-serif;
	font-weight : inherit;
}