/*****************************************************************************
 * Default Print Styles
 *****************************************************************************/

/*
#Header {
	margin : 0 0 10px 0;
	padding : 0;
	border-bottom : 1px solid;
	background : white;
}

#Header h1 {
	margin : 0;
	color : black;
	font-size : 1em;
}
*/

#Main {
	margin : 0;
}

#Breadcrumbs {
	text-align : right;
	display:none;
}

#Header,
#UserInfo,
#Nav,
#Footer, #FooterLine, .print_hide {
	display : none;
}

.traineeTable td {
	font: 6pt Verdana;
	border: thin solid #aaa;
}
.cut { page-break-before: always; }

.house_report {
    page-break-after: always;
}