/*****************************************************************************
 * Main Default
 *****************************************************************************/

html, body {
    margin : 0;
    background : white;
    max-width: 100%;
    min-width: 200px;
}

body, td, th, textarea {
    font : 13px Lucida Grande, Arial, Helvetica, sans-serif;
    font-weight : inherit;
}

a:link {
    color : #00d;
}

a:hover,
a:visited:hover {
    color : #d03;
}

a:visited {
    color : #66f;
}

form {
    margin : 0;
}

.left {
    text-align : left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

table.small th,
table.small td {
    font-size : 11px;
}

th {
    text-align: center;
}

th, td {
    vertical-align : top;
}

dl {
    margin-left : 0;
}

dt {
    margin-top : 0.25em;
    font-weight : bold;
}

dd {
    margin-left : 1.5em;
    margin-bottom : 0.2em;
}

dd.received-indented {
    margin-left : 26px;
    color : #999;
}

dd.received {
    color : #999;
}

.excused {
    color : #666;
}

.indented {
    margin-left : 10px;
}

#dev-info {
    display : none;
    text-align : left;
    font-size : 1.2em;
}

#bug-info { display : none; }

/*****************************************************************************
 * Layout
 *****************************************************************************/

#Header {
    margin-bottom : 10px;
    padding : 3px;
    border-bottom : 3px solid #eee;
    background : #C8D4E5 url(../img/header-bg.gif) bottom;
}

#Header h1 {
    margin : 0;
    padding : 5px;
    color : #333;
}

#Header h1 a {
    color : #224;
    padding-left : 40px;
    text-decoration : none;
    background : url(../img/internet-web-browser.png) 0px -1px no-repeat;
}

#Header h1 a:hover {
    text-decoration : underline;
}

#UserInfo {
    float : right;
    margin : 3px;
    font-size : 11px;
    text-align : right;
}

#UserInfo a {
    color : #00a;
    text-decoration : none;
}

#UserInfo a:hover {
    text-decoration : underline;
}

#Nav {
    float: left;
    width: 150px;
    font-size : 0.9em;
    vertical-align: top;
}

#Nav ul {
    margin : 0;
    padding-left : 27px;
    list-style : disc url(../img/bullet.gif);
}

#back-button {
    list-style : disc url(../img/bullet-back.gif);
}

#Nav li {
    margin-bottom : 2px;
}

#Nav ul a {
    text-decoration : none;
}

#Main {
    _width : 100%; /* rule for IE only */
    margin-left : 180px;
    margin-right : 30px;
}

#Canvas.no-nav #Main {
    margin-left : 30px;
}

#Breadcrumbs {
    margin-bottom : 10px;
    font-size : 11px;
}

#Content {
    min-height : 300px;
}

#Content h1 {
    border-bottom : 1px dotted #ddd;
    font-size : 1.5em;
}

#Content li {
    margin-bottom : 0.35em;
}

h2 {
    margin-bottom : 0.25em;
    font-size : 1.2em;
}

h3 {
    margin-bottom : 0.25em;
    font-size : 1.0em;
}

#FooterRight {
    margin-right : 10px;
    font-size : 0.75em;
    text-align : right;
}

#FooterLeft {
    margin-left : 10px;
    text-align : left;
}

#FooterLine {
    border-top : 1px solid #ddd;
    padding-top : 4px;
}

/*****************************************************************************
* Section Boxes
*****************************************************************************/

.section-box {
    margin-top : 0.5em;
    margin-bottom : 1.5em;
    border : 1px solid #aaa;
}

.section-box h2 {
    margin : 0;
    padding-left : 0.5em;
    border-bottom : 1px solid #aaa;
    background : #eee;
    font-size : 1em;
}

.section-box .content {
    margin : 12px;
    border-top : 0;
}

.section-box .under {
    padding-left : 30px;
    border-top : 0;
}

.section-box .content ul {
    margin : 0;
    padding-left : 2em;
}

.section-box .content li {
    margin-bottom : 0.25em;
}

/*****************************************************************************
 * Mobile devices responsive css
 *****************************************************************************/
span.fold {
    display: inline-block;
    width: 290px;
    max-width: 100%;
    min-width: 100px;
    vertical-align: top;
    margin-right: 15px;
}

span.fold span { vertical-align: baseline; }
span.fold input { vertical-align: baseline; }

/*****************************************************************************
 * Section Tables
 *****************************************************************************/

table.section-table {
    margin-bottom : 5px;
    border : 1px solid #aaa;
    border-collapse : collapse;
}

table.section-table thead th {
    border : 1px solid #aaa;
    padding : 0 3px;
    background : #eee;
    font-weight : bold;
    text-align : left;
}

table.section-table tbody td {
    border : 1px solid #aaa;
    padding : 0 3px;
}

/*****************************************************************************
 * Report Layout
 *****************************************************************************/
.weekCalander {
    float: right;
}

.weekCalander table {
    border-collapse: collapse;
}

.weekCalander td {
    font-size: 8pt;
    border: thin solid #aaa;
}

.headerNote {
    font-size: 9pt;
    margin-bottom: 1em;
}

table.traineeTable {
    border-collapse: collapse;
}

table.traineeTable.floating {
    position : absolute;
    background : white;
}

table.traineeTable input {
    width: 100%;
    border: none;
    background: transparent;
    font-size: 10px;
    text-align: center;
    text-transform : uppercase;
}

table.traineeTable input:focus {
    background : #FDAEA8 !important;
    color : black;
}

table.traineeTable th {
    background : #eee;
}

table.traineeTable th,
table.traineeTable td {
    font-size: 10px;
    border: thin solid #aaa;
}

table.traineeTable tr.current td {
    background : #c8d4e5;
}

div.saveReport {
    border: 1px #aaa;
    background : #eee;
    padding: 4px 6px 4px 6px;
    width: 200px;
    height: 45px;
}

/*****************************************************************************
 * Alert Boxes
 *****************************************************************************/

.alert,
.alert-warning,
.alert-yellow,
.alert-plain,
.alert-success {
    margin : 5px 0;
    padding : 5px 8px 5px 30px;
    border: 1px solid #A6C3E1;
    background : #F2F6FA url(../img/alert-info.gif) no-repeat 7px 5px;
    color : #333;
}

.alert hr,
.alert-warning hr,
.alert-yellow hr,
.alert-plain hr,
.alert-success hr { border: 1px solid transparent; border-top: 1px solid #A6C3E1 }

.alert-warning hr { border-top: 1px solid #FE4F59; }
.alert-warning {
    border-color : #FE4F59;
    background : #FDAEA8 url(../img/alert-warning.gif) no-repeat 5px 2px;
}

.alert-yellow hr { border-top: 1px solid #FFF000; }
.alert-yellow {
    border-color : #FFF000;
    background : #FFFF99 url(../img/alert-warning.gif) no-repeat 5px 2px;
}

.alert-plain hr { border-top: 1px solid #A6C3E1; }
.alert-plain {
    padding : 5px 8px;
    border-color: #A6C3E1;
    background : #F2F6FA;
    color : #333;
}

.alert-success hr { border-top: 1px solid #1ABB27; }
.alert-success {
    border-color : #1ABB27;
    background : #86E98F url(../img/alert-success.gif) no-repeat 7px 5px;
}

p.alert,
p.alert-warning,
p.alert-plain,
p.alert-success {
    margin : 1em 0;
}

.alert a { color : #00d; }

.alert-warning a { color : #a44; }

.alert-success a { color : #262; }

/*****************************************************************************
* Multi-check box group
*****************************************************************************/

.multi-check {
    margin : 3px 0;
    height : 6em;
    overflow : auto;
    border : 1px solid #aaa;
}

.multi-check.short {
    height : 3em;
}

.multi-check.tall {
    height : 18em;
}

.multi-check.auto {
    height : auto !important;
}

.multi-check label {
    display : block;
}

.multi-check label:hover {
    background : #eee;
}

/*****************************************************************************
* Worker Group
*****************************************************************************/

.worker-group {
    margin : 0 8px 8px 0;
    padding : 4px 4px 8px 4px;
    border-bottom : 1px solid #aaa;
}

/*****************************************************************************
* Throbbers
*****************************************************************************/

.throbber {
    padding : 2px 0 2px 20px;
    background : url(../img/indicator.white.gif) no-repeat;
    font-size : 12px;
}

.throbber-dark {
    padding : 2px 0 2px 20px;
    background : url(../img/indicator.black.gif) no-repeat;
    font-size : 12px;
}

span.throbber,
span.throbber-dark {
    margin-left : 5px;
    margin-right : 5px;
}

/*****************************************************************************
* Leave Slips
*****************************************************************************/

.leave-slip {
    margin-bottom : 4px;
    padding : 4px 6px;
    border : 1px solid #ccc;
    background : #fafafa;
}

div.leave-slip:hover {
    border-color : #777;
}

.leave-slip.fellowship {
    background : #CCCCFF;
}

.leave-slip.approved {
    background : #BAFFBA;
}

.leave-slip.denied {
    background : #FFE9D1;
}

.leave-slip small {
    color : #333;
}

.leave-slip .controls {
    float : right;
    font-size : 0.8em;
    line-height : 1.5;
    text-align : right;
}

.leave-slip a {
    color : #00d !important;
    text-decoration : none !important;
}

.leave-slip a:hover {
    text-decoration : underline !important;
}

.leave-slip .details {
    margin-left : 10px;
    margin-right : 100px;
}

.leave-slip .details strong {
    color : #222;
    font-weight : normal;
}

.leave-slip-form .title {
    font-weight : bold;
}

.leave-slip-form .field {
    margin-bottom : 5px;
    margin-left : 5px;
}

.field label {
    display: inline-block;
    width: 150px;
    vertical-align: top;
}

.leave-slip-form .week {
    width : 100%;
}

.leave-slip-form .trainee {
    width : 100%;
}

.leave-slip-form .category {
    width : 100%;
}

.leave-slip-form .remarks {
    width : 100%;
}

.leave-slip-form .taremarks {
    width : 100%;
}

.leave-slip-form span.side1 {
    display: inline-block;
    width : 49%;
    margin-top: 10px;
    vertical-align: top;
}

.leave-slip-form span.side2 {
    display: inline-block;
    width: 49%;
    margin-top: 10px;
    vertical-align: top;
}

/*****************************************************************************
* Slow loading
*****************************************************************************/

#slow-loading {
    margin : 15px 0;
    padding : 10px;
    border : 1px solid #ccc;
    background : #eee;
    font-size : 1.3em;
    font-weight : bold;
    color : #444;
    text-align : center;
}

/*****************************************************************************
* Grid styles
*****************************************************************************/

.roll-exempt,
tr.shadeRow td.roll-exempt {
    background : #999;
}

.roll-alternate,
.roll-alternate input {
    background : #aaf;
}

/*****************************************************************************
* Trainee Detail table
*****************************************************************************/

#weeks { width:100%; }

.detailReport td { height : 80px; }

.detailReport .entry strong {
    display : block;
    margin-left : 49px;
    margin-bottom : 4px;
    border-left : 1px solid #aaa;
    padding-left : 4px;
    font-weight : normal;
}

.detailReport .excusedentry strong {
    display : block;
    margin-left : 49px;
    margin-bottom : 4px;
    border-left : 1px solid #aaa;
    padding-left : 4px;
    font-weight : normal;
}

.detailReport .entry em {
    width : 45px;
    padding-right : 3px;
    float : left;
    color : #444;
    font-style : inherit;
    text-align : right;
}

.detailReport .excusedentry em {
    width : 45px;
    padding-right : 3px;
    float : left;
    color : #444;
    font-style : inherit;
    text-align : right;
    background-color:#00CC00;
}

.detailReport .entry.absent em {
    color : white;
    background-color : #e55;
}

.detailReport .entry.tardy em {
    background-color : #fc6;
}

.detailReport .entry.sick em {
    background-color : #0f0;
}

.detailReport .entry.removed {
    color : #666;
    text-decoration : line-through;
}

#trainee-detail-edit-link {
    position : absolute;
    display : none;
    width : 46px;
    border : 1px solid #aaa;
    background : #eef;
    font-size : 10px;
    text-align : center;
    text-decoration : none;
    border-radius : 3px 3px 3px 3px;
    -moz-border-radius : 3px;
    opacity : 0.9;
    -moz-opacity : 0.9;
}

#trainee-detail-edit-box {
    position : absolute;
    display : none;
    padding : 3px;
    border : 1px solid #aaa;
    background : #eef;
    font-size : 10px;
    text-decoration : none;
    border-radius : 3px 3px 3px 3px;
    -moz-border-radius : 3px;
    opacity : 0.9;
    -moz-opacity : 0.9;
}

#edit-box-loading {
}

#edit-box-form {
    display : none;
}

#trainee-detail-edit-box input {
    font-size : 10px;
}

/*****************************************************************************
* Roll Data Entry table
*****************************************************************************/
.shadeRow td {
    background : #eee;
}

/*****************************************************************************
* Home page stuff
*****************************************************************************/

#jumbo-tasks {  }

#jumbo-tasks .msg_list { vertical-align: top; }

#jumbo-tasks a {
    margin : 4px;
    display : block;
    width : 14em;
    _width : 18em;
    max-width: 100%;
    min-width: 200px;
    font-size : 1.2em;
    font-weight : bold;
    padding : 14px 16px 14px 44px;
    color : #336;
    background : #eee 5px 6px no-repeat;
    border : 2px solid #66f;
    -moz-border-radius : 4px;
    border-radius : 4px 4px 4px 4px;
    text-decoration : none;
}

/*added to give a different background color to buttons which have a drop down list - Allen Webb*/
#jumbo-tasks a.msg_head {
    color : #447;
    background : #fff 5px 6px no-repeat;
}

#jumbo-tasks a.msg_head:hover {
    background-color : #ccc;
}

#jumbo-tasks a:hover {
    background-color : rgb(200, 212, 229); 
    text-decoration : underline;
}

#jumbo-tasks #view-greek {
    background-image : url(../img/greek.png);
}

#jumbo-tasks #personal-leave-button {
    background-image : url(../img/format-justify-fill.png);
}

#jumbo-tasks #group-leave-button {
    background-image : url(../img/edit-copy.png);
}

#jumbo-tasks #view-leave-button {
    background-image : url(../img/edit-find.png);
}

#jumbo-tasks #absent-trainee-roster {
    background-image : url(../img/absentee-roster.png);
}

#jumbo-tasks #gospel-trip {
    background-image : url(../img/internet-web-browser2.png);
}

#jumbo-tasks #view-report {
    background-image : url(../img/text-html.png);
}

/*****************************************************************************
 * AV Request CSS
 *****************************************************************************/

#av-request-form .title {
    font-weight: bold;
}

#av-request-form .field {
    margin-bottom:5px;
    margin-left:5px;
}

#av-request-form span.side1 {
    float:left;
    width:300px;
}

#av-request-form span.side2 {
    float:none;
}


table.av-table {
    margin-bottom : 5px;
    border-collapse : collapse;
}

table.av-table thead th {
    border : 1px solid #aaa;
    padding : 0 3px;
    background : #eee;
    font-weight : bold;
    text-align : left;
    font-size: 10px;
}

table.av-table tbody td {
    padding : 1 3px;
    vertical-align: middle;
    text-align: center;
    font-size: 10px;
}

#comments_AVtd{
    padding : 1 3px;
    vertical-align: middle;
    text-align: left;
    font-size: 12px;
}

table.av-table tbody td.button {
    background-color:#CCCCCC;
}

.scroll { display: inline-block; overflow: auto; max-width: 100%; width: auto; height: auto; border: 2px inset #EEE; }
.scroll .section-box,
.scroll .section-table { margin: 0; }

/*CSS for masterSlaveTemplate and newRecord to color require fields*/
div.required{
    background-color: #F88;
    padding: 2px 4px 2px 4px;
}

/*CSS for surveys and grad pages */
.border { border: ridge #C8D4E5; padding: 5px; margin: 5px; }
table.intentions { border: none; border-collapse: collapse; margin: 0px; }
table.intentions tr {border: 0px;}
table.intentions td {border: 0px; text-align: right; vertical-align: middle;}
table.intentions tr td.header {border-left: 2px groove #C8D4E5; border-right: 2px groove #C8D4E5; text-align: left; padding-left: 3px; }
table.intentions .calendar td {border-top: 2px groove #C8D4E5; border-bottom: 2px groove #C8D4E5; }
table.intentions .calendar textarea { width: 100%; height: 100%; }
table.intentions input,
table.intentions span { vertical-align: middle; }
.border hr { border: 1px inset #C8D4E5; }

/** css for hcSurveyReport, generalized to be used elsewhere to make grouped reports more consistent */
div.report_group { border: 2px solid #999; padding: 10px; margin: 10px 0px; }

table.ilb,
div.ilb { display: inline-block; max-width: 100%; min-width: 200px; vertical-align: top; }
.ilb_pad { display: inline-block; width: 25px; }

/** MOBILE */
.w800 { width: 800px; min-width: 200px; max-width: 100%;}
@media only screen and (max-width: 600px), screen and (max-device-width: 600px) {
    .leave-slip-form span.side1,
    .leave-slip-form span.side2{
        width: 100%;
    }
}
@media only screen and (max-width: 480px), screen and (max-device-width: 480px) {
    .leave-slip-form span.side1,
    .leave-slip-form span.side2,
    .msg_list,
    .msg_list.ilb,
    #jumbo-tasks a,
    #Nav {
        float: none;
        display: block;
        width: auto;
    }
    #Canvas.no-nav #Main, #Main {
        margin-left: 5px;
        margin-right: 5px;
    }
}

.rotate90{
    overflow: visible;
    text-align: left;
    -webkit-transform-origin: top left;
    -webkit-transform: translateY(100%) rotate(-90deg);
    -moz-transform-origin: top left;
    -moz-transform: translateY(100%) rotate(-90deg);
    transform-origin: top left;
    transform: translateY(100%) rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    vertical-align: top;
}

ui-dialog { max-width: 100%; max-height: 100%; }