{% extends "requests/request_form.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_messages %}

{% block scripts %}
  {{ block.super }}
  <script>
  $(document).ready(function() {
    var typeWidget = $('#id_type');
    var hidden_fields = $('.hide-if-in-class').parent();
    if (typeWidget.val() == 'CLASS') {
    hidden_fields.hide();
    }
    typeWidget.change(function() {
    hidden_fields.fadeToggle();
    })
    var isPopupWidget = $('#id_is_popup');
    var hidden_if_popup = $('.hide-if-popup').parent();
    isPopupWidget.change(function() {
    if (isPopupWidget.is(':checked')) {
    } else {
      hidden_if_popup.fadeIn();
    }
    });
  });
  </script>
  {{ form.media }}
{% endblock %}

{% block buttons %}
<button type="submit" class="btn btn-primary">
  Submit
</button>
{% endblock %}

{% block extra_form_elements %}
  {% include 'popups/trainee_select_modal.html' %}
{% endblock %}
