{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block title %}
  {{ item_name|capfirst }} Requests
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    $(document).on('click', ".delete_request_button", function() {
      var accessID = +$(this).val();
      var csrf_token = "{% csrf_token %}";
      var item_name = "{{ item_name }}";
      $('#deleteModal .modal-title').html('Delete ' + item_name);
      $('#deleteModal .modal-body').html('<p>Are you sure you want to delete this ' + item_name + '?</p>');
      $('#deleteModal .modal-form').html('<form action="delete/' + accessID + '" method="post">' + csrf_token + '<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button><input class="btn btn-danger" type="submit" value="Delete"/></form>');
      $('#deleteModal').modal('show');
    });
  </script>
{% endblock %}

{% block content %}
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="Delete {{ item_name }} request" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3 class="modal-title">Title</h3>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <div class="modal-form"></div>
      </div>
    </div>
  </div>
</div>

<h1>{{ item_name|capfirst }} requests</h1>

<a href="{{ create_url }}">Create new {{ item_name }} request</a>

{% regroup object_list by get_status_display as sorted %}
  {% for requestGroups in sorted %}
    {% if requestGroups.grouper == 'Approved' %}
      <h4>{{ requestGroups.grouper }}</h4>
      <div class="panel panel-success">
    {% elif requestGroups.grouper == 'Pending' %}
      <h4>{{ requestGroups.grouper }}</h4>
      <div class="panel panel-default">
    {% elif requestGroups.grouper == 'Denied'%}
      <h4>{{ requestGroups.grouper }}</h4>
      <div class="panel panel-danger">
    {% elif 'Fellowship' in requestGroups.grouper %}
      <h4>{{ requestGroups.grouper }}</h4>
      <div class="panel panel-info">
    {% elif requestGroups.grouper == 'Expired' %}
      <h4>{{ requestGroups.grouper }}</h4>
      <div class="panel panel-danger">
    {% endif %}

    {% for request in requestGroups.list %}
       <a href="{{ request.get_absolute_url }}">
         <div class="panel-heading">
          <h4 class="panel-title">
            {{ request.get_type_display }}
            {% if is_TA %}
              <small>
                — submitted by
                 {{ request.trainee_author }}
                 on {{ request.date_requested }}
              </small>
            {% endif %}
          </h4>

          <div class="pull-right">
            {% include item_buttons %}
           </div>

        </div>
      </a>

      <div class="panel-body">
        {% include detail_template %}
      </div>
    {% endfor %}
    </div>
  {% empty %}
    <h4><i>You have no {{ item_name }} requests.</i></h4>
  {% endfor %}
{% endblock %}
