{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load common_tags %}
{% bootstrap_messages %}

{% block title %}
  {{ view.model|model_verbose_name|capfirst }}s
{% endblock %}

{% block content %}

<h1>{{ view.model|model_verbose_name|title }}s</h1>

<div><a href="{{ view.model.get_create_url }}">Create new {{ view.model|model_verbose_name }}</a></div>

{% block extra_links %}{% endblock %}

{% regroup object_list by get_status_display as sorted %}
  {% for requestGroups in sorted reversed %}
    <h4>{{ requestGroups.grouper }}</h4>

    {% for request in requestGroups.list %}
      {% if request.get_absolute_url %}
        <a href="{{ request.get_absolute_url }}">
      {% endif %}
      <div class="panel
        {% if requestGroups.grouper == 'Approved' or requestGroups.grouper == 'Completed' %}panel-success
        {% elif requestGroups.grouper == 'Pending' %}panel-default
        {% elif requestGroups.grouper == 'Denied' %}panel-danger
        {% elif 'Fellowship' in requestGroups.grouper %}panel-info{% endif %}
      ">
        <div class="panel-heading">
          <h4 class="panel-title">
            {{ request.get_category }}
            {% if view.request.user|is_TA %}
              <small>
                - submitted by {{ request.requester_name }}
                on {{ request.get_date_created }}
              </small>
            {% endif %}
          </h4>

          <div class="pull-right">
            {% if view.request.user|is_TA %}
              {% include request.get_ta_button_template %}
            {% else %}
              {% include request.get_button_template %}
            {% endif %}
          </div>
        </div>

        <div class="panel-body">
          {% include request.get_detail_template %}
        </div>
      </div>
      {% if request.get_absolute_url %}
        </a>
      {% endif %}
    {% endfor %}

  {% empty %}
    <h4><i>You have no {{ view.model|model_verbose_name }}s.</i></h4>
  {% endfor %}

  {% block tables %}{% endblock %}

{% endblock %}

{% block post_container %}
  {% include "popups/delete_modal.html" %}
{% endblock %}
