{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load common_tags %}
{% bootstrap_messages %}

{% block title %}{{ view.model|model_verbose_name|title }} Form{% endblock %}

{% block scripts %}
  {{ form.media }}
  <script type="text/javascript">
  $(document).ready(() => {
    $(".select-fk").select2({width: '100%'});
  });
</script>
{% endblock %}

{% block content %}
  <h2>{{ view.model|model_verbose_name|title}} Form</h2>
  <div class="request-form">
	  <form action="" method="post">{% csrf_token %}
	    {% bootstrap_form form %}

	    {% buttons %}
        {% if not read_only %}
  	    <button type="submit" class="btn btn-primary">
  	      Submit
  	    </button>
        {% endif%}
	    {% endbuttons %}
	  </form>
    {% block extra_form_elements %}
    {% endblock %}
	</div>

{% endblock %}
