{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load common_tags %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block title %}
  {{ view.model|model_verbose_name|capfirst }}s
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    $(document).on('click', ".delete_request_button", function(event) {
      event.preventDefault();
      var form = $(this).parent()[0];
      console.log(form);
      $('#deleteModal').modal('show');
      $(document).on('click', '.confirm-delete', function(event) {
        event.preventDefault();
        form.submit();
        return false;
      });
      return false;
    });
  </script>
{% endblock %}

{% block content %}
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="Delete {{ view.model|model_verbose_name }}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3 class="modal-title">Delete {{ view.model|model_verbose_name }}</h3>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this {{ view.model|model_verbose_name }}?</p>
      </div>
      <div class="modal-footer">
        <div class="modal-form">
          <form>
            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
            <button class="btn btn-danger confirm-delete" type="submit" value="Delete">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<h1>{{ view.model|model_verbose_name|capfirst }}s</h1>

<a href="{{ view.model.get_create_url }}">Create new {{ view.model|model_verbose_name }}</a>

{% regroup object_list by get_status_display as sorted %}
  {% for requestGroups in sorted %}
    <h4>{{ requestGroups.grouper }}</h4>
    {% if requestGroups.grouper == 'Approved' or requestGroups.grouper == 'Completed' %}
      <div class="panel panel-success">
    {% elif requestGroups.grouper == 'Pending' %}
      <div class="panel panel-default">
    {% elif requestGroups.grouper == 'Denied' or requestGroups.grouper == 'Expired' %}
      <div class="panel panel-danger">
    {% elif 'Fellowship' in requestGroups.grouper %}
      <div class="panel panel-info">
    {% endif %}

    {% for request in requestGroups.list %}
       <a href="{{ request.get_absolute_url }}">
         <div class="panel-heading">
          <h4 class="panel-title">
            {{ request.get_category }}
            {% if view.request.user|is_TA %}
              <small>
                — submitted by
                 {{ request.get_trainee_requester }}
                 on {{ request.get_date_created }}
              </small>
            {% endif %}
          </h4>

          <div class="pull-right">
            {% if view.request.user|is_TA %}
              {% include request.get_ta_button_template %}
            {% else %}
              {% include request.get_button_template %}
            {% endif %}
          </div>

        </div>
      </a>

      <div class="panel-body">
        {% include request.get_detail_template %}
      </div>
    {% endfor %}
    </div>
  {% empty %}
    <h4><i>You have no {{ view.model|model_verbose_name }}s.</i></h4>
  {% endfor %}
{% endblock %}
