{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block content %}

    <h2>TA edit {{ item_name }} request<br>
    <small>Submitted on {{ object.date_requested }} by {{ object.trainee }}</small>
    </h2>
    {% include detail_template %}
    <div>
        <form action="" method="post">{% csrf_token %}
            {% bootstrap_form form %}

            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    Submit
                </button>
            {% endbuttons %}
        </form>
    </div>

{% endblock %}
