{% extends "requests/request_list.html" %}
{% load common_tags %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript">
  $(document).ready(() => {
    $("#id_request_table").DataTable({
      info: false,
      paging: false,
      autoWidth: true,
      width: 100%,
      dom: '<"row"<"col-sm-6"Bl><"col-sm-6"f>>' +
      '<"row"<"col-sm-12"<"table-responsive"tr>>>' +
      '<"row"<"col-sm-5"i><"col-sm-7"p>>',
      columnDefs: [
        {
          "targets": 0,
          "visible": false,
          "searchable": false,
        }
      ]
    });
  });
</script>
{% endblock %}



{% block tables %}
{% ifusergroup facility_maintenance|training_assistant|frames|linens %}

  <div class="data-table-container">
    <table id="id_request_table" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Count</th>
          <th>Name</th>
          <th>Date Requested</th>
          <th>Status</th>
          <th>View</th>
        </tr>
      </thead>
      <tbody>
        {% for req in reqs %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{req.trainee_author.full_name}}</td>
          <td>{{req.date_requested}}</td>
          <td>{{req.status}}</td>
          <td><a href="{{ req.get_absolute_url }}">Detail</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endifusergroup %}
{% endblock %}
