{% extends "requests/request_list.html" %}
{% load common_tags %}

{% block scripts %}
{{ block.super }}
<script>
  $(document).ready(function() {
    var table = $('#id_datatable').DataTable({
      "serverSide": true,
      "searching": true,
      "processing": true,
      "ajax": "{{source_url}}?format=datatables",
      "stateSave": true,
      "autoWidth": true,
      "columns": [
          {% for c in cols %}
          {"data": "{{c}}"},
          {% endfor %}
      ]
    });
  });

  $(document).keypress(function(e) {
    if (e.keyCode == 13) {
      $('div.dataTables_filter input').focus()
    }
  });
</script>
{% endblock %}



{% block tables %}
{% ifusergroup facility_maintenance|training_assistant|frames|linens %}

  <div class="data-table-container">
    <table id="id_datatable" class="table table-striped table-bordered">
      <thead>
        <tr>
          {% for c in cols %}
          <th>{{c|title}}</th>
          {% endfor %}
        </tr>
      </thead>
    </table>
  </div>
{% endifusergroup %}
{% endblock %}
