{% extends "requests/request_list.html" %}
{% load common_tags %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript">
  $(document).ready(function() {
   var DATA_SOURCE = '{{source_url}}';
    var dt_table = $('#id_request_table').dataTable({
      order: [[ 0, "desc" ]],
      lengthMenu: [[25, 50, 100, 200], [25, 50, 100, 200]],
      columnDefs: [
          {orderable: true,
           searchable: true,
           className: "center",
           targets: {{targets_list | safe}}
          }
      ],
      searching: true,
      processing: true,
      serverSide: true,
      deferRender: true,
      stateSave: true,
      ajax: DATA_SOURCE,
    });
});
</script>
{% endblock %}



{% block tables %}
{% ifusergroup facility_maintenance|training_assistant|frames|linens %}

  <div class="data-table-container">
    <table id="id_request_table" class="table table-striped table-bordered">
      <thead>
      {% for h in header %}
      <th>{{h}}</th>
      {% endfor %}
    </thead>
  </div>
{% endifusergroup %}
{% endblock %}
