{% if request.get_status != 'Completed' %}
  <a href="{% url view.modify_status_url 'C' request.id %}">
    <button class="btn btn-success approve" title="Completed"><span class="glyphicon glyphicon-ok"></span></button>
  </a>
{% endif %}
{% if request.get_status != 'Fellowship' %}
  <a href="{% url view.modify_status_url 'F' request.id %}">
    <button class="btn btn-info fellowship" title="Mark for Fellowship"><span class="glyphicon glyphicon-exclamation-sign"></span></button>
  </a>
{% endif %}
<a href="{% url view.ta_comment_url request.id %}">
  <button class="btn btn-info comment" title="Comment"><span class="glyphicon glyphicon-comment"></span></button>
</a>
