<head>
<style>
.audio-item {
  cursor: pointer;
}

.audio-item .panel-heading-date {
  color: #939598;
}
</style>

<script>
$(document).ready(() => {
  let player = new AudioPlayer();
  let audioList = new AudioList();
  audioList.audioItems.on('click', (e) => {
    let panel = e.currentTarget;
    player.playAudio(panel.getAttribute('src'));
    audioList.audioItems.removeClass('panel-primary');
    $(panel).removeClass('panel-default');
    $(panel).addClass('panel-primary');
  });
  audioList.audioItems[0].click();
  player.pause();
});
</script>
</head>

<div class="col-md-6">
  <div class="panel panel-default audio-item" src="{{ audiofile.audio_file.url }}">
    <div class="panel-heading">
      <div class="row">
        <div class="col-sm-10">
          {{ audiofile.event.name }} | {{ audiofile.speaker }}
          <div class="panel-heading-date">{{ audiofile.date }}</div>
        </div>
        <div class="col-sm-2">
          <span class="glyphicon glyphicon-download-alt"></span>
        </div>
      </div>
    </div>
  </div>
</div>
