{% extends "base.html" %}

{% block references %}
<style>
  .select2-container {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
</style>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(() => {
  $('#week-select')
  .select2({
    data: {{ view.weeks|safe }},
    minimumResultsForSearch: -1,
  })
  .val({{ view.week}})
  .trigger('change')
  .on('change', (e) => {
    window.location = "{% url 'audio:audio-home-week' week=999 %}".replace('999', e.target.value);
  });
});
</script>
{% endblock %}

{% block content %}

<div class="col-sm-8">
  <div class="row"><h2>A/V Recording List</h2></div>

  <div class="row">
    <select class="col-sm-6" id="week-select"></select>
  </div>

  {% for audiofile in object_list %}
    {% include 'audio/audiofile_detail.html' %}
  {% empty %}
    <div class="row"><i>No audio recordings available for this week.</i></div>
  {% endfor %}

</div>

{% endblock %}
