<div class="col-sm-6">
  <div class="panel panel-default audio-item" src="{{ audiofile.audio_file.url }}">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-11">
          {{audiofile.display_name }} <span class="pull-right">{{ audiofile.speaker }}</span>
          <div class="panel-heading-date">{{ audiofile.date }}</div>
        </div>
        <div class="col-xs-1">
          {% if audiofile.request or audiofile.has_leaveslip %}
            <span class="glyphicon glyphicon-download-alt download-button
              {% if audiofile.can_download %}download-approved{% endif %}
              {% if audiofile.request.status == 'P' %}download-pending{% endif %}
              {% if audiofile.request.status == 'D' %}download-denied{% endif %}">
            </span>
          {% endif %}
          {% if audiofile.classnotes %}
            <a target="_blank"
               href="{% url 'classnotes:classnotes_detail' pk=audiofile.classnotes.id %}"
               class="classnotes-button">
              <i class="glyphicon glyphicon-book"></i>
            </a>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="panel-body">
      {% include 'audio/audio_request_detail.html' %}
    </div>
  </div>
</div>
