{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <div class="well">
    <h3 style="margin-top:0px;">Audio File Upload</h3>
    Upload files with the name in standard format: B1-01 2017-03-02 DSady.mp3
    <ul>
      <li>B1 is the class code</li>
      <li>01 is the week number</li>
      <li>2017-03-02 is the date, in year-month-day format</li>
      <li>DSady is the speaker</li>
    </ul>
  </div>
  <form class="dropzone" action="{% url "audio:audio-upload" %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
  </form>
{% endblock %}
