<head>
<style>
.audio-player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.audio-player .mejs__controls {
  margin-bottom: 5px;
  background: none;
}

.mejs__speed-selector {
  height: 150px;
}
</style>
</head>

<div class="audio-player">
  <audio id="player" controls>
    {% for audio in object_list %}
      <source src="{{ audio.audio_file.url }}" title="{{ audio.event.name }}" type="audio/mp3">
    {% endfor %}
  </audio>
</div>

<script>
$(document).ready(() => {
  $('#player').mediaelementplayer({
    audioHeight: '50',
    audioWidth: '100%',
    audioVolume: 'vertical',
    features: ['playpause', 'current', 'progress', 'duration', 'volume', 'speed', ],
  });
})
</script>
